<h1>Collections#index</h1>
<p>Find me in app/views/collections/index.html.erb</p>

<ul>
<%-  @collections.each do |collection| -%>
    <li>
    <img src="<%= collection.image =%>" />
    <a href="<%= collection.search %>"><%= collection.title =%></a> -
    <a href="<%= collection.landing %>">Landing Page</a>
    </li>
<% end %>
</ul>