<div class="container">
	<h2>Collections</h2>
	<div class="collections-wrapper">
		<%-  @collections.each do |collection| -%>
			<div class="collections-item">
			    <div class="collections-heading">
			    	<a href="<%= collection.landing %>">
			    		<img class="img-responsive" src="<%= collection.image =%>" alt="" />
			    		<div class="collections-title"><%= collection.title =%><% if is_external_url?(collection.landing) %><span class="fa fa-external-link" aria-hidden="true"></span><% end %></div>
			    	</a>
			    </div>
			</div>
		<% end %>
	</div>
</div>