<div class="well">
	<div class="nav-header">About</div>
	<ul class="nav">
		<li><a href="/collections/hearth/about">About: Home Economics?</a></li>
		<li><a href="/collections/hearth/project">About: The Hearth Project</a></li>
		<li><a href="/collections/hearth/credits">Credits</a></li>
		<li><a href="/collections/hearth/contact">Contact</a></li>
	</ul>
</div>