<div class="navbar">
	<div class="container">
        <%= render partial: 'pages/collections/hearth/title' %>
        <ul class="nav navbar-nav">
            <li><a href="/collections/hearth">Home</a></li>
            <li><a href="#">Subjects</a></li>
            <li><a href="#">Browse by Title</a></li>
            <li><a href="#">Browse by Year</a></li>
            <li><a href="#">Journal Title List</a></li>
            <li><a href="/collections/hearth/about">About</a></li>
            <li><a href="/collections/hearth/contact">Contact</a></li>
        </ul>
	</div>
</div>