<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>About: Credits</h3>
				<h4>Advisory Board</h4>
				<ul>
					<li><strong>Amy Bentley</strong>, Professor, Dept. of Nutrition and Food Studies, New York University</li>
					<li><strong>Patsy Brannon</strong>, Dean, College of Human Ecology, Cornell University</li>
					<li><strong>Mary Cassner</strong>, Librarian, Consumer and Family Studies, University of Nebraska/Lincoln</li>
					<li><strong>Ruth Deacon</strong>, Dean Emeritus, Iowa State University</li>
					<li><strong>Evelyn Frangakis</strong>, Librarian, National Agricultural Library</li>
					<li><strong>Martin Heggestad</strong>, Bibliographer, Mann Library, Cornell University</li>
					<li><strong>Eileen Keating</strong>, Rare and Manuscripts Division, Cornell University</li>
					<li><strong>Janet McCue</strong>, Director, Mann Library, Cornell University</li>
					<li><strong>Mary A. Ochs</strong>, Head, Collection Development and Preservation, Mann Library, Cornell University</li>
					<li><strong>Joy Paulson</strong>, Preservation Librarian, Mann Library, Cornell University</li>
					<li><strong>Henry Ricciuti</strong>, Professor Emeritus, Human Development, Cornell University</li>
				</ul> 
				<h4>Cornell University Mann Library Project Staff</h4>
				<ul>
					<li><strong>Mary A. Ochs</strong>, Head, Collection Development and Preservation</li>
					<li><strong>Joy Paulson</strong>, Preservation Librarian</li>
					<li><strong>Martin Heggestad</strong>, Bibliographer</li>
					<li><strong>Johanna Hartnagel</strong>,	Student Bibliographer</li>
					<li><strong>Guy Smith</strong>,	Preservation Assistant</li>
					<li><strong>Shawn Milrad</strong>, Preservation Assistant</li>
					<li><strong>Barbara DiSalvo</strong>, Copyright Specialist</li>
					<li><strong>Thomas Turner</strong>,	Metadata Librarian</li>
					<li><strong>Nathan Rupp</strong>, Metadata Librarian</li>
					<li><strong>Roswitha Clark</strong>, Technical Services Assistant</li>
					<li><strong>Tim Lynch</strong>,	Head, Information Technology Section</li>
					<li><strong>Frances Webb</strong>, Programmer/Analyst</li>
				</ul>
				<h4>Reviewers</h4>
				<h5>Home Management</h5>
				<ul>
	              	<li><strong>Ruth Deacon</strong>, Iowa State University, Emeritus</li>
					<li><strong>Francille Firebaugh</strong>, Cornell University, Emeritus</li>
					<li><strong>Marjorie Knoll</strong>, Pennsylvania State University, Emeritus</li>
					<li><strong>Rose Steidl</strong>, Cornell University, Emeritus</li>
	            </ul>
	            <h5>Child care, Human development, Family studies</h5>
	            <ul>
	            	<li><strong>Bettye M. Caldwell</strong>, University of Arkansas Medical Sciences, Emeritus</li>
					<li><strong>Julia Grant</strong>, Michigan State University</li>
					<li><strong>Willard W. Hartup</strong>, University of Minnesota, Emeritus</li>
					<li><strong>Frances D. Horowitz</strong>, City University of New York</li>
					<li><strong>Lewis P. Lipsitt</strong>, Brown University, Emeritus</li>
					<li><strong>Ross Parke</strong>, University of California at Riverside</li>
					<li><strong>Henry Ricciuti</strong>, Cornell University, Emeritus</li>
					<li><strong>Elizabeth Toon</strong>, Cornell University</li>
				</ul>
				<h5>Clothing &amp; Textiles</h5>
				<ul>
					<li><strong>Carol Avery</strong>, Tallahassee, FL</li>
					<li><strong>Nancy Breen</strong>, Cornell University</li>
					<li><strong>Patricia Cox Crews</strong>, University of Nebraska-Lincoln</li>
					<li><strong>Marilyn DeLong</strong>, University of Minnesota</li>
					<li><strong>Nancy Fair</strong>, University of Tennessee, Knoxville</li>
					<li><strong>Judy Flynn</strong>, Duxbury, MA</li>
					<li><strong>Ruth E. Hawthorne</strong>, Lacey, WA</li>
					<li><strong>Karen Herbaugh</strong>, American Textile History Museum</li>
					<li><strong>Joan Laughlin</strong>, University of Nebraska-Lincoln</li>
					<li><strong>Mary Ellen Roach-Higgins</strong>, Longmeadow, MA</li>
					<li><strong>Clare Sheridan</strong>, American Textile History Museum</li>
					<li><strong>Phyllis Torto</strong>, Briarcliff Manor, NY</li>
				</ul>
				<h5>Home Economics as a Discipline</h5>
				<ul>
					<li><strong>Karen Craig</strong>, Lafayette, LA</li>
					<li><strong>Ruth Deacon</strong>, Iowa State University, Emeritus</li>
					<li><strong>Jean Failing</strong>, Cornell University, Emeritus</li>
					<li><strong>Marjorie Kostelnik</strong>, University of Nebraska-Lincoln</li>
					<li><strong>Neosha A. Mackey</strong>, Southwest Missouri State University</li>
					<li><strong>Sharon Nickols</strong>, University of Georgia</li>
					<li><strong>Penny A. Ralston</strong>, Florida State University</li>
					<li><strong>Margaret W. Rossiter</strong>, Cornell University</li>
					<li><strong>Diana D. Shonrock</strong>, Iowa State University</li>
					<li><strong>Sarah Stage</strong>, Arizona State University</li>
					<li><strong>Virginia Vincenti</strong>, University of Wyoming</li>
				</ul>
				<h5>General (Housekeeping/Etiquette)</h5>
				<ul>
					<li><strong>Carolyn Goldstein</strong>, Lowell National Historic Park</li>
					<li><strong>Sharon Nickols</strong>, University of Georgia</li>
					<li><strong>M. Kathleen Prochaska-Cue</strong>, University of Nebraska-Lincoln</li>
					<li><strong>Eleanor Thompson</strong>, Winterthur Museum</li>
				</ul>
				<h5>Housing, Furnishings, &amp; Equipment</h5>
				<ul>
					<li><strong>Joseph Laquatra</strong>, Cornell University</li>
					<li><strong>Shelley Nickles</strong>, National Museum of American History</li>
					<li><strong>Diana D. Shonrock</strong>, Iowa State University</li>
				</ul>
				<h5>Applied Arts &amp; Design</h5>
				<ul>
					<li><strong>Jan Jennings</strong>, Cornell University</li>
					<li><strong>Diana D. Shonrock</strong>, Iowa State University</li>
					<li><strong>Eleanor Thompson</strong>, Winterthur Museum</li>
				</ul>
				<h5>Hygiene</h5>
				<ul>
					<li><strong>Rima D. Apple</strong>, University of Wisconsin</li>
					<li><strong>Kathy J. Cooke</strong>, Quinnipiac University</li>
					<li><strong>Nancy Tomes</strong>, State University of New York</li>
					<li><strong>Elizabeth Toon</strong>, Cornell University</li>
					<li><strong>Karen Wilkerson</strong>, University of Pennsylvania School of Nursing</li>
				</ul>
				<h5>Retail/Consumer Studies</h5>
				<ul>
					<li><strong>Carolyn Goldstein</strong>, Lowell National Historic Park</li>
					<li><strong>Joan S. Thomson</strong>, Pennsylvania State University</li>
				</ul>
				<h5>Food and Nutrition</h5>
				<ul>
					<li><strong>Georgene Barte</strong>, Oregon State University, Emeritus</li>
					<li><strong>Amy Bentley</strong>, New York University</li>
					<li><strong>Sharron Dalton</strong>, New York University</li>
					<li><strong>Ann A. Hertzler</strong>, Virginia Polytechnic Institute and State University, Emeritus</li>
					<li><strong>Mary Kelsey</strong>, Oregon State University, Emeritus</li>
					<li><strong>Harvey Levenstei</strong>, McMaster University, Emeritus</li>
					<li><strong>Audrey Maretzki</strong>, Pennsylvania State University</li>
					<li><strong>Heather K. Moberly</strong>, Oklahoma State University</li>
					<li><strong>Jean Peters</strong>, Oregon State University, Emeritus</li>
				</ul>
				<h5>Hotel/Restaurant/Institution Management</h5>
				<ul>
					<li><strong>Gregory Norkus</strong>, Cornell University</li>
					<li><strong>Dennis Reynolds</strong>, Cornell University</li>
					<li><strong>Diane Zabel</strong>, Pennsylvania State University</li>
				</ul>
			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/hearth/menu_about' %>
				<%= image_tag "collections/hearth/31924059803910-19.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>