<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<p class="lead"><strong>HEARTH</strong> is a core electronic collection of books and journals in Home Economics and related disciplines. Titles published between 1850 and 1950 were selected and ranked by teams of scholars for their great historical importance. The first phase of this project focused on books published between 1850 and 1925 and a small number of journals. Future phases of the project will include books published between 1926 and 1950, as well as additional journals. The full text of these materials, as well as bibliographies and essays on the wide array of subjects relating to Home Economics, are all freely accessible on this site. This is the first time a collection of this scale and scope has been made available.</p>
				<div class="collection-browse">
					<a href="#" class="btn btn-lg btn-primary">Subject</a> <a href="#" class="btn btn-lg btn-primary">Browse by Title</a> <a href="#" class="btn btn-lg btn-primary">Browse by Year</a> <a href="#" class="btn btn-lg btn-primary">Journal Title List</a>
				</div>
				<p><a href="/collections/hearth/about">About</a> | <a href="/collections/hearth/contact">Contact</a></p>
				<hr>
				<p><strong>Current online holdings:</strong></p>
				<ul>
					<li>Pages: 772,183</li>
					<li>Books: 1180 (1243 Volumes)</li>
					<li>Journals: 16 (440 Volumes)</li>
				</ul>
				<hr>
				<p><small>Additional information, images and readings on the history of Home Economics are also available at the Cornell University Library's Rare and Manuscript Collections site, "<a href="http://rmc.library.cornell.edu/homeEc/default.html">From Domesticity to Modernity: What Was Home Economics?</a>" as well as the <a href="http://he-photos.library.cornell.edu/">Human Ecology Historical Photographs collection</a>.</small></p>
			</div>
			<div class="col-sm-4">
				<div class="well">
					<p>"Home Economists in early 20th century America had a major role in the Progressive Era, the development of the welfare state, the triumph of modern hygiene and scientific medicine, the application of scientific research in a number of industries, and the popularization of important research on child development, family health, and family economics. What other group of American women did so much, all over the country, and got so little credit? ... We must do everything we can to preserve and organize records and materials from this important female ghetto."</p>
					<p><small>— Joan Jacobs Brumberg, Stephen H. Weiss Presidential Fellow and Professor, Cornell University College of Human Ecology and author of <em>The Body Project: an Intimate History of American Girls</em>.</small></p>
				</div>
				
			</div>
		</div>
	</div>
</div>