<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>About: The HEARTH Project</h3>
				<h4>Home Economics and Its Literature</h4>
				<p>The discipline of home economics (now human ecology, or consumer and family studies) played a vital part in the growth and development of our nation: it strongly influenced the growth of women's professions, the role of women in the community, public health and nutrition policy, and gender roles, among others. This essential applied discipline has long been a focus of both academic research and teaching and of agricultural extension, and progress in this field has materially affected the health and well-being of our citizens for the last 150 years. Because of the degradation of the paper on which much of the home economics literature was published, and because much of it has been considered ephemeral or insubstantial, we are in danger of losing a great deal of primary evidence that could support future investigation in the subject fields of this discipline and in American social history.</p>
				<h4>HEARTH - Home Economics Archive: Research, Tradition and History</h4>
				<p><a href="https://mannlib.cornell.edu/">Mann Library</a> at Cornell University has begun work to preserve and make available electronically essential and influential books and journals in the field of home economics, focusing on items published in the United States before 1950. We have completed a project that identified and ranked material. We also established an outline of the relationships among the <a href="#">sub-categories of the field of home economics</a>: child development, clothing and textiles, and so forth. Our approach to this project, developing bibliographies, and then having the books ranked in importance by scholars, is based on the earlier successful project to identify and preserve the <a href="/collections/chla">Core Historical Literature of Agriculture</a>.</p>
				<p>We built a database of the published works up to 1950, drawing primarily on bibliographies and library catalogs. Our guidelines for inclusion focus on widely available, commercially published materials and scholarly works. This database currently contains several thousand titles.</p>
				<p>We established a relationship with consumer and family studies librarians at other land-grant institutions who have been partners in our identification activities. Mary Ochs met with this group at ALA meetings to update them on our progress and to begin discussions about future collaboration. Our work has also led to the addition of a number of home economics topics to the subject scope for historical bibliography within the <a href="http://usain.org/Preservation/preservinitiative.html">National Preservation Plan for Agricultural Literature</a>.</p>
				<p>The development and bibliographic work was supported by a three-year Hatch Fund grant (Federal appropriations for research distributed by the Cooperative State Research, Education, and Extension Service).</p>
				<p>The next phase of the project focused on reformatting titles published before 1925. From the ranked list of titles, project staff first identified titles in the Cornell University Library collection and later worked with librarians at other research institutions to locate materials not in the Cornell collection.</p>
				<p>The approach for conversion taken by this project built on the increasingly popular methods articulated by Kenney and others, and used in the Making of America projects at the University of Michigan and Cornell University (Kenney and Chapman, 1996) and the Core Historical Literature of Agriculture project at Cornell (Olsen, 1991-1996). The procedures used by this project affirmed guidelines and best practices that are well established in the preservation community.</p>
				<p>Pages were scanned as 600 dpi bitonal images and in some cases as 400 dpi gray-scale images. All images are TIFF 6.0 and compressed using ITU Group 4. Minimal document structuring occurred after conversion, primarily linking image numbers to pagination, tagging self-referencing portions of the text, and identifying authors and titles of articles for journals. Page image files were processed to generate OCR and XML that enable searching and navigation. Full-text searching is provided via the OCR'd text.</p>
				<p>The present access system was first built for the Making of America project by the University of Michigan's Digital Library Production Service. For information about that implementation, see http://www.umdl.umich.edu/moa/moa_implement.html. Cornell University Library has used this system for its own Making of America collection. The system and its user interface have been modified somewhat for the HEARTH materials.</p>
				<p>Phase 1 of the reformatting project was funded by a two-year grant from the Institute of Museum and Library Services.</p>
			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/hearth/menu_about' %>
				<%#= image_tag "collections/chla/National-White-Wyandotte-Club.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>