<% content_for :page_title, 'Subjects - HEARTH' %>
<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Subjects</h3>
				<p>Here you can browse a list of subjects in HEARTH. Each subject features an essay, images and a bibliography of core titles for the discipline. Listed after each are some of the main sub-topics. Some of the accompanying bibliographies are quite large, hence the file size for each is listed. All bibliographies are in Adobe Acrobat PDF format. The <a href="https://get.adobe.com/reader/">free Adobe Acrobat Reader</a> for PDF's is freely available for download from Adobe Corporation.</p>
				<h4>Applied Arts and Design</h4>
				<p><a href="/collections/hearth/subjects/applied-arts" aria-label="Applied Arts and Design essay">Essay</a> | <a href="/docs/hearth/applied.pdf" aria-label="Applied Arts and Design bibliography">Bibliography (PDF, 89kb)</a></p>
				<ul>
					<li>Applied Or Decorative Art</li>
					<li>Crafts</li>
					<li>Furniture (Design, Upholstery, Refinishing, Repair)</li>
				</ul>
				<h4>Child Care, Human Development and Family Studies</h4>
				<p><a href="/collections/hearth/subjects/childcare" aria-label="Child Care, Human Development and Family Studies essay">Essay</a> | <a href="/docs/hearth/child.pdf" aria-label="Child Care, Human Development and Family Studies bibliography">Bibliography (PDF, 322kb)</a></p>
				<ul>
					<li>Child Care</li>
					<li>Parenting</li>
					<li>Child/Human Development</li>
					<li>Family Relations/Studies</li>
					<li>Human Sexuality</li>
					<li>Public Policy Related To The Above Topics</li>
				</ul>
				<h4>Clothing and Textiles</h4>
				<p><a href="/collections/hearth/subjects/clothing" aria-label="Clothing and textiles essay">Essay</a> | <a href="/docs/hearth/clothing.pdf" aria-label="Clothing and textiles bibliography">Bibliography (PDF, 247kb)</a></p>
				<ul>
					<li>Clothing Production And Upkeep (Including Sewing And Laundry Work)</li>
					<li>Fashion And Clothing Choice</li>
					<li>Textile/Fiber Science</li>
					<li>Fashion Design</li>
				</ul>
				<h4>Food and Nutrition</h4>
				<p><a href="/collections/hearth/subjects/food" aria-label="Food and nutrition essay">Essay</a> | <a href="/docs/hearth/food.pdf" aria-label="Food and nutrition bibliography">Bibliography (PDF, 165kb)</a></p>
				<ul>
					<li>Cookery / Home Cooking (Including Home Processing And Experimental Foods, But Excluding Cookbooks)</li>
					<li>Nutrition And Dietetics</li>
					<li>Food Science</li>
					<li>Marketing And Food Purchasing</li>
				</ul>
				<h4>Home Management</h4>
				<p><a href="/collections/hearth/subjects/home" aria-label="Home management essay">Essay</a> | <a href="/docs/hearth/home_mgt.pdf" aria-label="Food and nutrition bibliography">Bibliography (PDF, 71kb)</a></p>
				<ul>
					<li>Family Economics (Including Budgets)</li>
					<li>Home Management</li>
					<li>Efficiency (Ergonomics, Motion Studies)</li>
					<li>Management Of Domestic Employees</li>
					<li>Economics Of Household Production/Rural Enterprise</li>
					<li>Economics As An Academic Discipline</li>
					<li>Standard Of Living</li>
				</ul>
				<h4>Housekeeping and Etiquette</h4>
				<p><a href="/collections/hearth/about">Essay: About Home Economics</a> | <a href="/docs/hearth/housekeeping.pdf" aria-label="Housekeeping and etiquette bibliography">Bibliography (PDF, 255kb)</a></p>
				<ul>
					<li>Housekeeping Manuals (Not Including Laundry)</li>
					<li>Etiquette</li>
				</ul>
				<h4>Housing, Furnishing and Home Equipment</h4>
				<p><a href="/collections/hearth/subjects/housing" aria-label="Housing, Furnishing and Home Equipment essay">Essay</a> | <a href="/docs/hearth/housing.pdf" aria-label="Housing, furnishing and home equipment bibliography">Bibliography (PDF, 101kb)</a></p>
				<ul>
					<li>Housing (Architecture, Siting, Construction, But Only Publications Aimed At A Lay Audience)</li>
					<li>Interior Design (As Related To Efficiency And Health)</li>
					<li>Home Equipment</li>
					<li>Housing Policy</li>
				</ul>
				<h4>Hygiene</h4>
				<p><a href="/collections/hearth/subjects/hygiene" aria-label="Hygiene essay">Essay</a> | <a href="/docs/hearth/hygiene.pdf" aria-label="Hygiene bibliography">Bibliography (PDF, 134kb)</a></p>
				<ul>
					<li>Household Sanitation</li>
					<li>Care Of The Sick</li>
					<li>Personal Hygiene And Grooming</li>
					<li>Public Health</li>
				</ul>
				<h4>Institutional Management</h4>
				<p><a href="/collections/hearth/subjects/institutional" aria-label="Institutional Management essay">Essay</a> | <a href="/docs/hearth/hotel.pdf" aria-label="Institutional management bibliography">Bibliography (PDF, 33kb)</a></p>
				<ul>
					<li>Hospitality Industry</li>
					<li>Institutional Nutrition</li>
					<li>Service Agency Administration</li>
				</ul>
				<h4>Retail and Consumer Studies</h4>
				<p><a href="/collections/hearth/subjects/retail" aria-label="Retail and Consumer studies essay">Essay</a> | <a href="/docs/hearth/retail.pdf" aria-label="Retail and consumer studies bibliography">Bibliography (PDF, 18kb)</a></p>
				<ul>
					<li>Marketing/Merchandising (Including Communicating With Consumers, Home Service Merchandising)</li>
					<li>Other Retail Activities</li>
					<li>Consumer Education, Protection, And Advocacy</li>
					<li>Consumer Co-Operatives</li>
				</ul>
				<h4>Teaching and Communication</h4>
				<p><a href="/collections/hearth/about">Essay: About Home Economics</a> | <a href="/docs/hearth/teaching.pdf" aria-label="Institutional management bibliography">Bibliography (PDF, 72kb)</a></p>
				<ul>
					<li>Home Economics Education</li>
					<li>Home Economics Textbooks</li>
					<li>Home Extension (As A Topic In Itself-Extension Publications Are Excluded)</li>
				</ul>
			</div>
			<div class="sidebar">
				<%= image_tag "collections/hearth/Delineator_Advertisement.1923.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>