<%= render partial: 'pages/collections/aerialny/menu' %>
<h3>About the project</h3>
<p>The <a href="http://www.css.cornell.edu/iris/">Cornell Institute for Resource Information Sciences (IRIS)</a> maintains a large and comprehensive collection of aerial photographs for New York State dating from 1936 through 1995. The archive numbers some 50,000 images that cover 48 counties, many counties of which have at least three years of historic sequence. The photographs are primarily black and white direct contact prints, and in hard copy form they measure from 7” x 9” to 9” x 9” in size; scales vary.</p>

<p>Historic aerial photographs are valuable resources for landscape and land use analysis, assessment of environmental impacts, development projects and education. Although these images are not geo-referenced, they are nevertheless useful instruments for exploring the past by examining changes in properties, neighborhoods and land use in general. In addition, historical, chronological, environmental, or architectural information about particular sites over a period of time can also be examined. Although discrete points on the earth’s surface are not referenced, one can roughly compare land changes when these aerial photographs are examined from year to year.</p>

<p>Over the years, various users and in particular, the Cornell community consisting of faculty, students and staff, have continued to access the IRIS archive for classroom and applied research projects. While the historic character of the archive has continued to increase in value, wear and tear on the IRIS images and potential life expectancy became a significant concern. It was determined that the collection needed to be preserved yet access continued and enhanced to the best extent possible.</p>

<p>Converting the analog images to digital was determined to be the best alternative for archiving the aerial photographs and was seen as a positive alternative to enhancing user access without further degradation to the original images. As resources become available, the electronic aerial photographic library will be expanded.</p>
<h4>Project credits</h4>
<p>Funding to support the planning and development of the expanded data base and enhanced website were provided by the <a href="http://facultygrants.library.cornell.edu">2005 Faculty Grants for Digital Library Collections</a> and the Institute for Resource Information Sciences. Syracuse University provided access to portions of their collection to augment the Cornell collection. Participants include:</p>

<p><strong>IRIS Staff</strong><br>
Eugenia Barnaba, Kayla Baker, Colleen Gloster-Gray, Susan Hoskins, Stephen Smith</p>
<p><strong>Cornell University Library Staff</strong><br>
James Reidy, Melissa Kuo, Danielle Mericle, Oya Rieger, Fiona Patrick, Mira Basara and Jenn Colt-Demaree from <a href="http://dcaps.library.cornell.edu">Digital Consulting and Production Services</a>, Jessica Sowls and Robert Kibbee</p>
<p><strong>Syracuse University Map Library Staff</strong><br>
John Olson</p>
<p>Funds to support the planning and development of the prototype web site were made available through the <a href="http://www.css.cornell.edu/iris/">Institute for Resource Information Sciences (IRIS)</a>, a Smith-Lever Grant and an Internal Library Grant. Participants and in-kind contributors to the project include:</p>

<p><strong>IRIS Staff</strong><br>
Eugenia Barnaba, Susan Hoskins, Marina Lane, Hector Meza, Stephen Smith</p>
<p><strong>Cornell University Library Staff</strong><br>
Susan Greaves, David Jones</p>
<p><strong>Mann Library Staff</strong><br>
Kathryn Chiang, Jon Corson-Rikert, John Ferreira, Tim Lynch, Jaime Martindale, Janet McCue, Gail Steinhart, Elaine Westbrooks</p>
