/*
 * Digital COllections custom overrides for Simple BookReader
 */

/* Hide print and embed functionality */
#BRtoolbar .embed, .print {
    display: none;
}

/* toolbar, nav and logo */
#BRtoolbar,
div#BRnav {
	background-color: white;
}

/* Override logo so it is just text (spec'd in BookReaderDig.js) and not a background image */
#BRtoolbar a.logo {
	background-image: none;
	font-size: 16px;
	color: #222;
	text-decoration: none;
	width: auto;
	height: auto;
	margin: 10px;
	font-family: 'Montserrat', Helvetica, sans-serif; @import url(//fonts.googleapis.com/css?family=Montserrat:400,700);;
}


/* Digital link color */
#BRreturn a,
.BRfloat a.title,
.BRfloat a {
	color: #129792;
}

.BRnavCntl {
	background-color: #ccc;
}

/* Modal window with generic gray */
.BRfloatHead {
	background-color: #666;
	font-weight: normal;
}
#cboxContent {
	border-color: #666;
}

/*  Use the Digital font */
#BRreturn,
.BRfloatHead,
h3,
.BRfloat {
	font-family: 'Montserrat', Helvetica, sans-serif; 		@import
url(//fonts.googleapis.com/css?family=Montserrat:400,700);;
}



.BRfloatMeta h3 {
	margin-top: 0;
	font-weight: 400;
	font-size: 18px;
}

.BRfloatCover {
	display: none;
}
