<div class="mann-header mann-header--bees">
	<%= render partial: 'pages/collections/bees/menu' %>
	<%# stick the hero image on the home page only %>
	<% if current_page?('/collections/bees') %>
		<div class="hero">
			<div class="container">
				<div class="search-bar search-bar-home row">
					<div class="col-md-8">
						<%= render '/catalog/search_form', { :@collection_search => "Hive & the Honeybee"}  %>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div class="search-bar">
			<div class="container">
				<div class="col-md-8">
					<%= render '/catalog/search_form', { :@collection_search => "Hive & the Honeybee"}  %>
				</div>
			</div>
		</div>
	<% end %>	
</div>