<div class="navbar">
	<div class="container">
        <%= render partial: 'pages/collections/bees/title' %>
        <ul class="nav navbar-nav">
            <li><a href="/collections/bees">Home</a></li>
            <li><a href="#">Browse by Title</a></li>
            <li><a href="/collections/bees/about">About</a></li>
            <li><a href="/collections/bees/contact">Contact</a></li>
        </ul>
	</div>
</div>