<div class="navbar">
	<div class="container">
        <%= render partial: 'pages/collections/bees/title' %>
        <ul class="nav navbar-nav">
            <li><a href="/collections/bees">Home</a></li>
            <li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Hive+%26+the+Honeybee&sort=title_ssi+asc%2C+latest_date_isi+asc">Browse by Title</a></li>
            <li><a href="/collections/bees/about">About</a></li>
            <li><a href="/collections/bees/contact">Contact</a></li>
        </ul>
	</div>
</div>