<div class="navbar">
	<div class="container">
        <%= render partial: 'pages/collections/bees/title' %>
        <ul class="nav navbar-nav">
            <li><a href="/collections/bees">Home</a></li>
            <li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Hive+and+the+Honeybee&sort=title_ssi+asc%2C+latest_date_isi+asc&view=list">Browse by Title</a></li>
            <li><a href="/collections/bees/about" aria-label="About the Hive and Honeybee">About</a></li>
            <li><a href="/collections/bees/contact" aria-label="Contact the Hive and Honeybee">Contact</a></li>
        </ul>
	</div>
</div>