<div class="well">
	<div class="nav-header">About</div>
	<ul class="nav">
		<li><a href="/collections/bees/about">About</a></li>
		<li><a href="/collections/bees/faq">FAG</a></li>
		<li><a href="/collections/bees/copyright">Copyright</a></li>
		<li><a href="/collections/bees/credits">Credits</a></li>
		<li><a href="/collections/bees/contact">Contact</a></li>
	</ul>
</div>