<% content_for :page_title, 'About - The Hive and the Honeybee' %>
<%= render partial: 'pages/collections/bees/header' %>
<div class="mann-layout mann-layout--bees">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>About</h3>
				<p>In 1925, a Cornell professor of apiculture named Everett Franklin Phillips set out to create a major repository of literature on bees and beekeeping. He envisioned this library as an "accessible storehouse of our knowledge of bees and beekeeping." By 1926, Phillips had persuaded over 223 people from twenty-nine states and twenty-six foreign countries to donate thousands of books and pamphlets, and the E.F. Phillips Beekeeping Collection at Cornell was born.</p>
				<p>Perhaps Phillips' biggest coup was his ingenious plan for raising the money necessary for creating the library's endowment: he convinced hundreds of New York state beekeepers to set aside one of their hives for the library. When a hive had raised $50 from honey sales, the beekeeper's obligation was completed. Over $2000 was raised. Income from this endowment fund continues to support the library today.</p>
				<p>Seventy-five years after beekeepers helped Phillips create one of the world's finest collections of books and journals in beekeeping, a new generation of apiculturalists led efforts to digitize major parts of that collection. The idea for <em>The Hive and the Honeybee</em> emerged following a 2002 conference of the Eastern Apiculture Society, which was held on the Cornell University campus in Ithaca. In the years since then, individual beekeepers and beekeeping organizations from around the country have contributed funding to make some of the greatest works from American authors on beekeeping available online. With this generous support, collaborating staff from the University of Delaware, Mississippi State University, Mary Washington College, the Finger Lakes Beekeeping Association and Mann Library at Cornell University launched <em>The Hive and the Honeybee</em> site in the spring of 2004, offering to the public the full text of ten rare books from the Phillips Collection, chosen by a team of scholars for their historical importance and usefulness to beekeepers today.</p>
				<p>Ongoing giving by American beekeepers has continued to expand the collection, and <em>The Hive and the Honeybee</em> today consists of the full text of nearly fifty books from the Phillips library as well as the first forty volumes of the <em>American Bee Journal</em>, an influential English language beekeeping journal read by scholars and practicing beekeepers and still being published today.</p>
				<p>We hope that eventually <em>The Hive and the Honeybee</em> will contain every major pre-1925 beekeeping work in the English language. The texts in this digital collection are fully searchable, and are also part of the Core Historical Literature of Agriculture (CHLA).</p>
				<p>Beekeepers are again playing a central role in realizing a major new development for the Phillips collection. Mann Library would like to extend special thanks to the Eastern Apiculture Society and Mike Griggs for providing the initial inspiration and funding to create The Hive and the Honeybee online library. We are equally grateful to the many generous beekeeping associations, extension agencies, and individuals across the United States --from Florida to Maine and New York to Washington State --who have provided funding for the continued development of this digital collection.</p>
				<p>To make a gift toward <em>The Hive and the Honeybee</em>, please make your check payable to Cornell University and mail to Albert R. Mann Library, 237 Mann Drive, Cornell University, Ithaca, NY 14850. To find out more about supporting this growing collection, please contact Eveline Ferretti, Albert R. Mann Library (tel.: 1+607-254-4993; email: <a href="ef15@cornell.edu">ef15@cornell.edu</a>).</p>
			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/bees/menu_about' %>
				<%= image_tag "collections/bees/beekeeping-library-super.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
				<p class="caption">Brood box plaque from Phillips’ beekeeping library fund drive, 1930’s</p>
			</div>
			
		</div>
	</div>
</div>