<%= render partial: 'pages/collections/bees/header' %>
<div class="mann-layout mann-layout--bees">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>About</h3>
				<p>In 1925, a Cornell professor of apiculture named Everett Franklin Phillips set out to create a major repository of literature on bees and beekeeping. He envisioned this library as an "accessible storehouse of our knowledge of bees and beekeeping." By 1926, Phillips had persuaded over 223 people from twenty-nine states and twenty-six foreign countries to donate thousands of books and pamphlets, and the E.F. Phillips Beekeeping Collection at Cornell was born.</p>
				<p>Perhaps Phillips' biggest coup was his ingenious plan for raising the money necessary for creating the library's endowment: he convinced hundreds of New York state beekeepers to set aside one of their hives for the library. When a hive had raised $50 from honey sales, the beekeeper's obligation was completed.</p>
				<p>Seventy-five years after beekeepers helped Phillips create one of the world's finest collections of books and journals in beekeeping, a new generation of apiculturalists is leading efforts to digitize major parts of that collection. The idea for The Hive and the Honeybee emerged following the 2002 conference of the Eastern Apiculture Society, which was held on the Cornell University campus in Ithaca . In the years since then, individual beekeepers and beekeeping organizations from around the country have contributed funding to make some of the greatest works from American authors on beekeeping available via the Internet. With this generous support, collaborating staff from the University of Delaware, Mississippi State University, Mary Washington College, the Finger Lakes Beekeeping Association, and Mann Library at Cornell University launched The Hive and the Honeybee site in the spring of 2004, offering to the public the full text of ten rare books from the Phillips Collection, chosen by a team of scholars for their historical importance and usefulness to beekeepers today.</p>
				<p>Ongoing giving by American beekeepers has continued to expand the collection, and we are proud to announce that the Hive and the Honeybee today consists of the full text of over thirty books from the Phillips library as well as the first forty volumes of a landmark American publication, the American Bee Journal, an influential English language beekeeping journal read by scholars and practicing beekeepers and still being published today.</p>
				<p>We hope that eventually The Hive and the Honeybee will contain every major pre-1925 beekeeping work in the English language. The texts in this digital collection are fully searchable, and will also become part of the Core Historical Literature of Agriculture (CHLA).</p>
				<p>How fitting E.F. Phillips would find that beekeepers are again playing a central role in realizing a major new development for the Phillips collection. And how thrilled he and his original beekeeping collaborators would be to see the internet make a storehouse of beekeeping knowledge accessible to the world today.</p>
				<p>Mann Library would like to extend special thanks to the Eastern Apiculture Society and Mike Griggs for providing the initial inspiration and funding to create The Hive and the Honeybee online library. We are equally grateful to the many generous beekeeping associations, extension agencies, and individuals across the United States --from Florida to Maine and New York to Washington State --who have provided funding for the continued development of this digital collection.</p>
				<p>A downloadable <a href="#">bookmark</a> showing the website address for The Hive and the Honeybee collection is available for desktop printing. To make a gift toward The Hive and the Honeybee please make your check payable to Cornell University and mail to Albert R. Mann Library, Cornell University , Ithaca , NY 14850 . To find out more about supporting this growing collection, please contact Eveline Ferretti, Albert R. Mann Library (tel.: (607) 254-4993; email: ef15@cornell.edu).</p>
			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/bees/menu_about' %>
				<%#= image_tag "collections/hearth/Delineator_Advertisement.1923.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>