<%= render partial: 'pages/collections/bees/header' %>
<div class="mann-layout mann-layout--bees">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Contact</h3>
				<p>Mann Library...</p>
			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/hearth/menu_about' %>
				<%#= image_tag "collections/chla/National-White-Wyandotte-Club.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>