<% content_for :page_title, 'Contact - The Hive and the Honeybee' %>
<%= render partial: 'pages/collections/bees/header' %>
<div class="mann-layout mann-layout--bees">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Contact</h3>
				<p>Please use the email us at <a href="mailto:mannref-l@cornell.edu">mannref-l@cornell.edu</a> with any questions or comments you have about this collection. Be sure to check our <a href="/collections/bees/faq">Frequently Asked Questions</a> page for answers, too.</p>
				<%= image_tag "collections/bees/NBKA-1908-logo.jpg" , alt: "", class: "img-thumbnail img-responsive", style: "margin-top: 2em;" %>
				<p class="caption">Letterhead with National Beekeepers Association Logo, 1908</p>
			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/bees/menu_about' %>
			</div>
			
		</div>
	</div>
</div>