<% content_for :page_title, 'Credits - The Hive and the Honeybee' %>
<%= render partial: 'pages/collections/bees/header' %>
<div class="mann-layout mann-layout--bees">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Credits</h3>
				<p>Credits to go here</p>
			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/bees/menu_about' %>
				<%#= image_tag "collections/hearth/Delineator_Advertisement.1923.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>