<% content_for :page_title, 'Credits - The Hive and the Honeybee' %>
<%= render partial: 'pages/collections/bees/header' %>
<div class="mann-layout mann-layout--bees">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Credits</h3>
				<p>Mann Library is grateful to the Eastern Apiculture Society, numerous individuals, and the following organizations for the support that has made <em>The Hive and the Honeybee</em> possible:</p>
				<ul>
					<li>Blount County Beekeepers Association (Maryville, Tenn.)</li>
					<li>Chemung Valley Beekeepers Association (Erin, N.Y.)</li>
					<li>Cornell Cooperative Extension of Tompkins County (Ithaca, N.Y.) (Contribution made in honor of Mike Griggs)</li>
					<li>Dadant & Sons, Inc. (Hamilton, Ill.)</li>
					<li>Empire State Honey Producers Association (Lisbon, N.Y.)</li>
					<li>Finger Lakes Beekeepers Club (Ithaca, N.Y.) (Contributions made in memory of FLBC members Wilbur Comstock and Robert J. Buza and in honor of Mike Griggs and the Finger Lakes beekeeping community)</li>
					<li>Inland Empire Beekeepers Association (Spokane, Wash.)</li>
					<li>Lane County Beekeepers Association (Elmira, Ore.)</li>
					<li>Maine State Beekeepers Association (Newcastle, Maine)</li>
					<li>Merrimack Valley Beekeepers Association (Hudson, N.H.)</li>
					<li>Mid-Ohio Valley Bee Keepers Association (Bellville, W.V.)</li>
					<li>Mid-York Beekeepers Association (Chittenango, N.Y.)</li>
					<li>Montgomery County Beekeepers Association (Damascus, Md.) (Contribution made in honor of Dr. Dewey M. Caron)</li>
					<li>Nevada County Beekeeper's Association (Grass Valley, Calif.)</li>
					<li>New Hampshire Beekeepers Association (Alton, N.H.)</li>
					<li>Ontario Finger Lakes Beekeeping Club (Canandaigua, N.Y.)</li>
					<li>Pawtuckaway Beekeepers' Association (Candia, N.H.)</li>
					<li>Pennsylvania State Beekeepers Association (Canton, Penn.)</li>
					<li>Seacoast Beekeepers of New Hampshire (South Hampton, N.H.)</li>
					<li>Sonoma County Beekeepers' Association (Santa Rosa, Calif.)</li>
					<li>Southern Adirondack Beekeepers Association (Delmar, N.Y.) (Contributions made in memory of SABA members Warren A. Bower, Andrew Kennedy, Amy C. Sandler, Gerald W. Stevens, and Robert Allen Stevens)</li>
					<li>Susquehanna Beekeepers Association (Stevensville, Pa.)</li>
					<li>Tampa Bay Beekeepers Association (Tampa, Fla.)</li>
					<li>Warren County Beekeepers Association (Maineville, Ohio)</li>
				</ul>
				<p>Reviewers:</p>
				<ul>
					<li>Dr. Dewey M. Caron, Professor of Entomology & Wildlife Ecology, University of Delaware</li>
					<li>Dr. Clarence Collison, Professor of Entomology, Head, Dept. of Entomology and Plant Pathology, Mississippi State University</li>
					<li>Michael Griggs, President, Fingerlakes Beekeepers Association</li>
					<li>Dr. Wyatt A. Mangum, Mathematics Department, Mary Washington College</li>
				</ul>
			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/bees/menu_about' %>
				<%#= image_tag "collections/hearth/Delineator_Advertisement.1923.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>