<% content_for :page_title, 'The Hive and the Honeybee' %>
<%= render partial: 'pages/collections/bees/header' %>
<div class="mann-layout mann-layout--bees">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<p><strong>The Everett F. Phillips' Beekeeping Collection</strong> at Cornell's <a href="https://mannlib.cornell.edu">Albert R. Mann Library</a> is one of the largest and most complete apiculture libraries in the world. <em>The Hive and the Honey Bee</em> grew out of a presentation on the Phillips collection at the 2002 Eastern Apiculture Society conference and is something of a digital child of that print collection. Having first started out as an initial collection of ten titles deemed to be among the most historically important books in the Phillips library, with the support of beekeepers across the United States <em>The Hive and the Honeybee</em> has since grown to include over thirty key monographs as well as the first forty volumes of the <a href="/catalog/hivebees6366245">American Bee Journal</a>, covering the years 1861 through 1900 of that landmark publication. Each volume of this growing digital collection is available in full text format and is fully searchable. For more information on <em>The Hive and the Honey Bee</em> and the Phillips Collection, please see our About page.</p>
				<div class="collection-browse">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Hive+and+the+Honeybee&sort=title_ssi+asc%2C+latest_date_isi+asc&view=list" class="btn btn-lg btn-primary">Browse by Title</a>
				</div>
				<p><a href="/collections/bees/about" aria-label="About the Hive and Honeybee">About</a> | <a href="/collections/bees/contact" aria-label="Contact the Hive and Honeybee">Contact</a></p>
				<hr>
				<p><strong>Current online holdings:</strong></p>
				<ul>
					<li>Pages: 33,476</li>
					<li>Books: 48</li>
					<li>Journals: 1</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<%= image_tag "collections/bees/bee-journal-cover.png" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
		</div>
	</div>
</div>