// Variables
// -------------- //
$indonesian-primary: #e9d94a; // yellow
$font-family-indonesian:  'Rajdhani', Helvetica, Arials, sans-serif;        @import
url(//fonts.googleapis.com/css?family=Rajdhani:400,700);


.hero-indonesian {
	background: url("sets/indonesianmusic/hero-indonesian.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}
.header-indonesian {
	.collection-brand {
		font-family: $font-family-indonesian;
		font-size: 35px;
		color: $indonesian-primary;
		display: block;
		margin-bottom: .25em;
		font-weight: 700;
	}
	.collection-brand:hover, .collection-brand:focus, .collection-brand:active {
		color: $indonesian-primary;
		text-decoration: none;
	}
}
.hero-indonesian-sub {
	background: url("sets/indonesianmusic/banner.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 120px;
}
.wrapper-indonesian {
	.well {
		margin: 9em 0 0 0;
		a {
			color: $indonesian-primary;
		}
		.btn-browse {
			background: $indonesian-primary;
			border-color: $indonesian-primary;
			font-family: $font-family-indonesian;
			font-size: 24px;
			color: white;
			font-weight: 700;
		}
	}
	.nav-collection {
		margin-top: 1em;
	}
	.read-more-link {
		text-transform: uppercase;
		i {
			font-size: 80%;
		}
	}
	h1 {
		text-transform: uppercase;
		font-weight: 400;
		font-family: $font-family-indonesian;
		border-bottom: 10px solid #f4eca6;
		font-size: 40px;
	}
	.main-text {
		margin-top: 104px;
		.container {
			background: url("sets/indonesianmusic/indonesian-bg.jpg") no-repeat top right;
		}
		.col-sm-8 {
			margin-top: 1.5em;
			padding-left: 0;
		}
	}
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.wrapper-indonesian {
		.well {
			margin-top: 8em;
		}
		.nav-collection {
			margin-top: .25em;
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.hero-indonesian {
		height: 1200px;
	}
	.wrapper-indonesian {
		.well {
			margin-top: 400px;
		}
		.nav-pills.nav-collection > li > a {
			font-size: 16px;
		}
		.nav-collection {
			margin-top: .5em;
		}
	}
}
// Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
	.header-indonesian {
		.collection-brand {
			font-size: 43px;
		}
	}
	.wrapper-indonesian {
		.nav-collection {
			margin-top: 1em;
		}
	}
}