// Variables
// -------------- //
$ragamala-orange: #d3591f;

.hero-ragamala {
	background: url("sets/ragamala/hero-ragamala3.jpg") no-repeat 50% 70%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	padding-bottom: 4em;
}
.hero-ragamala-sub {
	background: url("sets/ragamala/banner.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 130px;
}
.wrapper-ragamala {
	.btn-browse {
		background: #b39f5d;
		border-color: #b39f5d;
	}
	h1 {
		color: $ragamala-orange;
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.wrapper-ragamala {
		.well {
			margin-top: -1em;
		}
	}
	.hero-ragamala {
		min-height: 700px;
	}
}

// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
// }
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }