// Variables
// -------------- //
$ragamala-orange: #d3591f;

.hero-ragamala {
	background: url("sets/ragamala/hero-ragamala3.jpg") no-repeat 50% 70%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	padding-bottom: 4em;
}
.hero-ragamala-sub {
	background: url("sets/ragamala/banner.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 130px;
}
.wrapper-ragamala {
	padding-bottom: 0 !important;
	.well {
		background: rgba(0,0,0,.8);
		border: 0;
		margin-top: 1em;
		position:relative;
		color: white;
		padding: 3em 3em 2em 3em;
		li {
			a, a:hover, a:active, a:focus {
				text-decoration: underline;
				color: white;
			}
		}
	}
	.btn-browse {
		background: #b39f5d;
		border-bottom: 0;
		border-color: #b39f5d;
		font-size: 18px;
		color: white;
		text-transform: uppercase;
	}
	// .nav-collection {
	// 	margin: 1em -15px;
	// 	li > a, li > a:hover {
	// 		background: white;
	// 		color: $dark-gray;
	// 		text-transform: uppercase;
	// 		font-size: 16px;
	// 	}
	// }
	h1 {
		color: $ragamala-orange;
		font-weight: 700;
		margin-top: 170px;
	}
	.main-text {
		margin-top: 100px;
	}
}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	.wrapper-ragamala {
		.nav-collection {
			margin-top: 2em;
		}
		.well {
			margin-top: -1em;
		}
	}
	.nav-pills.nav-collection > li > a {
		font-size: 14px;
	}
	.hero-ragamala {
		min-height: 700px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.nav-pills.nav-collection > li > a {
		font-size: 16px;
	}
}
/* Large devices (desktops, 1200px and up) */
// @media (min-width: $screen-lg) {
// }