<% content_for :page_title, 'Digital Witchcraft Collection' %>
<div class="collection-banner collection-banner-witchcraft">
	<div class="container">
		<h2>Digital Witchcraft Collection</h2>
		<%#= image_tag "collections/witchcraft/hero_1200w.jpg" , alt: "", class: "img-responsive" %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Digital+Witchcraft+Collection&view=list">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Digital Witchcraft Collection"}  %>
			</div>
			<div class="sidebar-image">
				<%= image_tag "collections/witchcraft/REX058_030_400.jpg", alt: "", class: "img-responsive" %>
				<p class="caption">
					 Balthasar Bekker. <em>The World Bewitch’d</em>. London, 1695. 
				</p>
			</div>
			<div class="sidebar-image">
				<%= image_tag "collections/witchcraft/REX058_150_400.jpg", alt: "", class: "img-responsive" %>
				<p class="caption">
					 Transcript of Trial of Maria Renata Sänger von Mossau, 1749. Open to her Inquisition sentencing. 
				</p>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4 witchcraft-layout">
			<h3>Collection History</h3>
			<p>Part of Cornell University Library’s <a href="https://rare.library.cornell.edu">Division of Rare and Manuscript Collections</a>, Cornell’s Witchcraft Collection contains over 3,000 titles documenting the history of the Inquisition and the persecution of witchcraft, primarily in Europe.</p>
			<p>The majority of the Witchcraft Collection was acquired in the 1880s through the collaborative efforts of Andrew Dickson White, Cornell’s first President, and his first librarian, George Lincoln Burr. The collection documents the earliest and the latest manifestations of the belief in witchcraft as well as its geographical boundaries, and elaborates this history with works on canon law, the Inquisition, torture, demonology, trial testimony, and narratives. The collection focuses on witchcraft not as folklore or anthropology, but as theology and as religious heresy.</p>
			<p>It features many early texts from the period when the theory of the heresy of witchcraft was being formulated, including fourteen Latin editions of the Malleus maleficarum, which codified church dogma on heresy. Four of these Latin editions were printed in the fifteenth-century, most notably the scarce first edition printed before April 14, 1487. The collection also contains other defining texts of the doctrinal discussion of demonology, such as Jean Bodin’s De la Demonmanie des sorciers (1580), Nicolas Remi’s Daemonlatreiae (1595), Henri Boguet’s Discours des sorciers(1602) and Pierre de Lancre’s Tableau de I’inconstance des mauvais anges (1612).</p>
			<p>Significant in the collection are a small and extremely rare number of works by theologians who opposed the Inquisition, such as those of Cornelius Loos, the first theologian in Germany to write against the witch hunts. The most important materials in the Witchcraft collection, however, are the court records of the trials of witches, including original manuscript depositions taken from the victims. These documents, in both original manuscript and in print, reveal the harsh outcome of the more remote doctrinal disputes. Perhaps the most significant of all manuscripts in the Witchcraft collection is the minutes of the witchcraft trial of Dietrich Flade, a sixteenth-century city judge and rector who spoke out against the cruelty and injustice of the persecutions in the 1580s. These and other trial documents are listed in the collection’s <a href="https://rmc.library.cornell.edu/EAD/htmldocs/RMM04620.html">finding aid</a>.</p>
			<p>In the 21st century, curators began building on AD White’s witchcraft collection by acquiring modern materials such as <a href="https://rmc.library.cornell.edu/EAD/htmldocs/RMM04781.html">posters and publicity for films featuring witches or sorcery</a>, and newsletters on the activities of contemporary Wiccan and Pagan communities.</p>
			<h4>Search/Browse Digitized Witchcraft Books in English</h4>
			<p>While the entire physical Witchcraft Collection is available for in-person research in Cornell Library’s Rare and Manuscript Division, 104 English language books from the collection can be read online in the Digital Witchcraft Collection. These titles were digitally scanned from microfilm by Primary Source Media in 1998. The resulting full text scans were later made available to Cornell University Library to enable free public access.</p>
			<div class="collection-browse">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Digital+Witchcraft+Collection&view=list" class="btn btn-lg btn-primary">Search or browse the collection</a>
			</div>
		</div>
	</div>
</div>