<% content_for :page_title, 'Icelandic Stereoscopes' %>
<div class="container">
	<h2>Icelandic Stereoscopes</h2>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Stereoscope+Pictures+From+Iceland&view=gallery">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Icelandic Stereoscopes"}  %>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>Stereoscope photographic prints from Iceland</h3>
			<p>This collection from the <a href="https://rare.library.cornell.edu/collections/icelandic">Fiske Icelandic Collection</a>, Cornell University Library, includes <a href="/?f%5Bcollection_tesim%5D%5B%5D=Stereoscope+Pictures+From+Iceland&view=gallery">213 stereoscopic printed images</a> taken by the photographer Magnús Ólafsson (1862-1937) and his studio, Ljósmyndastofa Magnúsar Ólafssonar (Reykjavík). The images, largely landscapes, appear to date from before ca. 1918; a few bear caption dates of 1910 or 1911. (Þórunn Sigurðardóttir, <em>Manuscript Material, Correspondence, and Graphic Material in the Fiske Icelandic Collection</em>, Islandica 48 (Ithaca: Cornell University Press, 1994), 258.)</p>	
			<a href="/catalog/ss:9415870">
				<%= image_tag "collections/stereoscopes/IceMOst037.jpg" , alt: "Ingólfsfjall. Brúin á Alviðru við Sogið", class: "img-responsive center-block" %>
			</a>
			<p class="caption text-center">
				Ingólfsfjall (Ingólfur’s Mountain). The bridge on the farmstead Alviðra on the river Sogið.
			</p>
		</div>
	</div>
</div>