<div class="row">
	<div class="col-md-7">
		<h2>Bandung Artist Collection</h2>
	</div>
	<div class="col-md-5">
		<div class="navbar">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bandung-navbar" aria-expanded="false" aria-controls="navbar">
	        Menu
	        	<span class="fa fa-bars" aria-hidden="true"></span>
	    	</button>
		    <div id="bandung-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav nav-collection">
			    	<%= link_to_in_li "Home", "/collections/bandung" %>
					<%= link_to_in_li "Ahmad Sadali", "/collections/bandung/sadali" %>
					<%= link_to_in_li "Haryadi Suadi", "/collections/bandung/suadi" %>
			  	</ul>
			</div>
		</div>
	</div>
</div>