<div class="collection-search well">
	<h3>Search or <a href="/?f[collection_tesim][]=Bandung+Artist+Collection&search_field=all_fields">browse the collection</a></h3>
	<%= render '/catalog/search_form', { :@collection_search => "Bandung Artist Collection"}  %>
</div>