<% content_for :page_title, 'Bandung Artist Collection' %>
<div class="container">
	<%= render partial: 'pages/collections/bandung/menu' %>
</div>
<div class="collection-banner hidden-xs">
	<div class="container">
		<%= image_tag "collections/bandung/haryadi_suadi_048_main-page-banner.jpg" , alt: "", class: "img-responsive" %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<%= render partial: 'pages/collections/bandung/search' %>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p><em>The creation of the Bandung Artist Collection was supported by the Grants Program for Digital Collections in Arts and Sciences, awarded to Anissa Rahadiningtyas, doctoral candidate in History of Art and Visual Studies at Cornell University, in 2019.</em></p>
			<p><em>The following introduction to the collection was written by Anissa Rahadiningtyas.</em></p>
 			<hr>
			<p>This project presents the body of works of two modern Indonesian artists, <a href="/collections/bandung/sadali">Ahmad Sadali</a> (1924-1987, Garut, Indonesia) and <a href="/collections/bandung/suadi">Haryadi Suadi</a> (1938-2016), from the 1960s to 2000s. It is part of a larger project that looks at the interrelation between religion and modernity, between Islam and modern art. Paintings, prints, and glass paintings by Sadali and Haryadi show the artists’ critical negotiations with global modernism. Their works also manifest their reinterpretations and experiences of Islam and being Muslim in Indonesia. This digitization project complemented the digital collection of modern Indonesian artists at Cornell that started with Claire Holt’s photo collection she gathered during her fieldwork in Indonesia in the 1950s.</p>
			<p>Graduated from the same art training institution in Bandung where they encountered the legacy of International Modernism through the Dutch teachers, Sadali and Haryadi represent two different trajectories of artmaking and aesthetics in the history of Indonesian modern art. The <em>Universitaire Leergang voor de Opleiding van Tekenleraren</em> (University for the Education of Art Teachers) was established as a colonial art training institution by the Dutch colonial government in 1947 and now became the <em>Fakultas Seni Rupa dan Desain, Institut Teknologi Bandung</em> (FSRD ITB – Faculty of Art and Design, Bandung Institute of Technology). As part of the first generation of artists who studied directly under the Dutch teachers, Sadali represents the artistic tradition of modernist abstraction developed in Bandung that stands out from the artistic developments in other cities. As equally a modernist in his understanding of Islam, Sadali found an affinity in abstract art and Islam as he perceived both global and universal. Sadali is known for his pioneering effort in producing knowledge and discourse of modern Islamic art in Indonesia through his works that incorporate Arabic/Quranic calligraphy with modernist abstraction.</p>
			<p>As part of the later generation who enrolled after the Dutch teachers left Indonesia, Haryadi studied formalist abstraction from Sadali and his cohorts of artists/lecturers. However, in contrast to Sadali, Haryadi developed a distinct visuality that incorporates local techniques, ways of seeing, and materialities of his Javanese/Cirebonese roots. Haryadi’s practice and approach disrupt the hegemony of Western modernism in Bandung and Indonesia by pushing forward the artistic tradition that was previously marginalized or relegated as non-art according to the logic of Western modernism. Haryadi’s works also show a different Islamic tradition developed in Java through various localized international Sufi Orders. For this reason, Haryadi’s prints, paintings, and glass paintings are a provocation to the modernist art tradition and the mainstream practice and conception of modern Islamic art popularized by Sadali that dominated the exhibitionary space in Indonesia from the 1960s onward.</p>
			<div class="collection-browse">
				<a href="/collections/bandung/sadali" class="btn btn-lg btn-primary">Ahmad Sadali</a> <a href="/collections/bandung/suadi" class="btn btn-lg btn-primary">Haryadi Suadi</a>
			</div>
		</div>
	</div>
</div>