<% content_for :page_title, 'Ahmad Sadali | Bandung Artist Collection' %>
<div class="container">
	<%= render partial: 'pages/collections/bandung/menu' %>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<%= render partial: 'pages/collections/bandung/search' %>
			<%= image_tag "collections/bandung/Sadali_14.jpg" , alt: "", class: "img-responsive" %>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>Ahmad Sadali (1924-1987, Garut, Indonesia)</h3>
			<p>The works included in this project are photographic reproductions made for Ahmad Sadali’s retrospective exhibition at Galeri Nasional Indonesia in 2014. The collection comprises of oil on canvas paintings and works on papers from the 1950s until Sadali’s final year in 1987. Ahmad Sadali is often regarded as the “Father of abstract art” in Indonesia. This collection records Sadali’s early engagement with formalist abstraction, his shift to painterly abstraction informed by the works of Mark Rothko and Antoni Tàpies, and his incorporation of Arabic/Quranic calligraphy. His experiment with Arabic/Quranic calligraphy began subtly in his works in the late 1960s as a personal and spiritual marking served to instill contemplation to God. For this reason, he is also known as one of the pioneering figures in the development of calligraphic modernism in Indonesia. In many of his paintings, Sadali gave substantial attention to texture as an expression of beauty and a manifestation of Sadali’s religiosity. Sadali produced a rich textural quality in his paintings using marble paste, gold leaves, and oil paints. Sadali’s works from the 1970s and 80s show a shift in colors as he changed from brighter colors to more subdued and earthy tones of ochre, gold, and darker shades of green and blue. Sadali stated that the earthy colors were more suited to his artistic expression, highlighting restraint, balance, and modesty.</p>
			<div class="collection-browse">
				<a href="/?f[agent_tesim][]=Sadali%2C+Ahmad&f[collection_tesim][]=Bandung+Artist+Collection&search_field=all_fields&view=gallery" class="btn btn-lg btn-primary">View works by Ahmad Sadali</a>
			</div>
		</div>
	</div>
</div>