<% content_for :page_title, 'Haryadi Suadi | Bandung Artist Collection' %>
<div class="container">
	<%= render partial: 'pages/collections/bandung/menu' %>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<%= render partial: 'pages/collections/bandung/search' %>
			<%= image_tag "collections/bandung/haryadi_suadi_044.jpg" , alt: "", class: "img-responsive" %>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>Haryadi Suadi (1939-2016, Cirebon, West Java, Indonesia)</h3>
			<p>This collection records more than 200 works that Haryadi Suadi produced from the 1960s to 2014 and consists of oil paintings, glass paintings, and prints. Prints dominate Haryadi’s works as he was trained as a printmaker in the newly opened printmaking studio at the art school in Bandung and mainly worked with woodcuts. Many of his works from the mid-1960s onward display Haryadi’s dialogue with the works of Japanese printmaker Shikō Munakata (1903-1975, Aomori, Japan), whose crude carved lines and unpolished forms informed Haryadi’s artistic sensibility. Haryadi also looked at how Munakata positioned himself as a modern Japanese artist through his rejection of Western modernism and exploration of Japanese “real” in the form of hanga or woodblock print. In the early 1970s, Haryadi marked his return to local artistic practice by exploring Cirebonese glass paintings that began with a series of destined encounters with prominent glass painter, Rastika (1942-2014 Cirebon, West Java, Indonesia). From Rastika, Haryadi learned Cirebonese glass painting techniques, patterns, and subject matters, some of which are derived from Sufi visual tradition developed in Cirebon that are replete with Sufi doctrinal teachings. Haryadi’s glass paintings show the recontextualizations of Cirebonese motifs and patterns as they inhabit Haryadi’s world of composite images. These patterns were reworked to represent a new set of ideas using new languages and methods of representation.</p>
			<div class="collection-browse">
				<a href="/?f[agent_tesim][]=Suadi%2C+Haryadi&f[collection_tesim][]=Bandung+Artist+Collection&search_field=all_fields&view=gallery" class="btn btn-lg btn-primary">View works by Haryadi Suadi</a>
			</div>
		</div>
	</div>
</div>