<div class="header-gamelan">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<a href="/gamelan" class="collection-brand">Indonesian Music Archive</a>
			</div>
			<div class="col-sm-7">
				<a class="btn btn-collection navbar-toggle" role="button" data-toggle="collapse" href="#collection-menu" aria-expanded="false" aria-controls="collection-menu"><i class="fa fa-bars"> Menu</i></a>
				<div class="collapse navbar-collapse" id="collection-menu">
					<ul class="nav nav-pills nav-collection">
						<li><a href="/gamelan">Home</a></li>
						<li><a href="/gamelan/about">About</a></li>
						<li><a href="#">Browse collection</a></li>
						<li><a href="/gamelan/resources">Resources</a></li>
						<li><a href="/gamelan/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>