<div id="main-container">
	<%= render partial: 'pages/gamelan/header' %>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div id="sidebar">
					<%#= render 'catalog/facets' %>
					[Facets go here]
				</div>
			</div>
			<div class="col-sm-8">
				<p class="lead">About the Gamelan collection</a>.</p>
				<a class="btn btn-info btn-lg btn-browse" href="/aerialny/collection?q=&search_field=all_fields">Browse the Gamelan Collection</a>
			</div>
		</div>
	</div>
</div>