body {
	font-family: $font-family-sans-serif;
	background: $body-bg; // Cornell footer color
	color: $text-color;
}

// Links
// ------------------- //

a { 
	color: $link-color;
}
a:hover {
	color: $link-color-hover;
	text-decoration: underline;
}

// Add underlines to some links for better usability/accessibility
.page_links,
.document,
.home-text,
.search-widgets {
	a {
		border-bottom: 1px dotted #999;
	}
	a:hover,
	a:active,
	a:focus {
		border-bottom: 1px solid #999;
		text-decoration: none;
	}
}
// remove underlines
.document-thumbnail {
	a, a:hover {
		border: 0;
	}
}

// remove underlines for buttons in these areas
.search-widgets {
	.btn, .btn:hover {
		border-bottom: 1px solid #ddd;
	}
	.btn:hover, .btn.active {
		border-bottom-color: #adadad;
	}
	.btn-danger {
		border-bottom-color: #d43f3a;
	}
}
.document {
	.img-thumbnail, .img-thumbnail:hover, .img-thumbnail:active, .img-thumbnail:focus,
	.btn, .btn:hover {
		border-bottom: 1px solid #ddd;
	}
	.btn-info {
		border-bottom-color: $btn-info-border;
	}
}


// Typography
// ------------------- //

p, li {
	font-size: 16px;
	line-height: 1.5em;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	margin-bottom: .75em;
}
h1 {
	margin: 1em 0 1.5em 0;
	font-size: 30px;
	font-weight: 300;
	font-family: $font-family-cul;
	text-transform: uppercase;
	// color: $orange;
}
h2 {
	font-weight: 300;
	// font-size: 24px;
}
h3 {
	margin-top: 1.5em;
}
h4 {
	// font-size: 20px;
	margin-top: 1.5em;
}
h5 {
	font-size: 16px;
	margin-top: 1em;
}
h2:first-child {
	margin-top: 0;
}

// Layout
// -------------- //
#main-container {
	padding: 1em 0 3em 0;
	background: white;
}