body {
	font-family: $font-family-sans-serif;
	background: $body-bg; // Cornell footer color
	color: $text-color;
}

// Links
// ------------------- //

a,
a:active,
a:focus { 
	color: $link-color;
	text-decoration: underline;
	-webkit-text-decoration-skip: ink;
}
a:hover {
	color: $link-color-hover;
}

// Remove underlines from buttons and dropdown menus
a.btn {
	text-decoration: none;
}
.dropdown-menu {
	a, a:hover {
		text-decoration: none;
	}
}

// Typography
// ------------------- //

p {
	font-size: 16px;
	line-height: 1.75em;
}
li {
	font-size: 16px;
	line-height: 1.5em;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	margin-bottom: .75em;
	font-weight: 400;
}
h1 {
	margin: 0 0 .75em 0;
	font-size: 30px;
}
h3 {
	margin-top: 1.5em;
}
h4 {
	margin-top: 1.5em;
	font-size: 20px;
}
h5 {
	font-size: 18px;
	margin-top: 1em;
}
h2:first-child {
	margin-top: 0;
}

// Layout
// -------------- //
#main-container {
	padding: 1em 0 3em 0;
	background: white;
}