// Header
// ------------------------- //

.header-collection {
	padding: 0 0 2em 0;
	h1 {
		margin-bottom: 0;
		a, a:hover, a:active, a:focus {
			color: $gray-dark;
			text-decoration: none;
		}
		float: left;
	}
	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}
.collection-menu {
	margin-top: 1.25em;
	.dropdown {
		float: right;
	}
	.btn {
		border-radius: 0;
		background: $gray-dark;
		border-color: $gray-dark;
		color: white;
		text-transform: uppercase;
		i {
			margin-right: .25em;
		}
	}
}
.special-collections {
	h2 {
		margin-top: .5em;
	}
	.btn-primary {
		background: $gray;
		border: 0;
	}
	p {
		margin-bottom: 1em;
	}
	.navbar-collapse {
		padding-right: 0;
	}
}
// TODO: can this be removed?
.basic-header {
	margin: 0 0 10px 0;
	h2 {
		margin-left: -15px;
		margin-top: .5em;
	}
}

// Collection banner image - e.g. Rudin
// ------------------------------------- //
.collection-banner {
	background: $gray-light;
	margin-bottom: 2em;
}
.collection-banner.banner-caption {
	background: white;
	margin-top: -1.75em;
	margin-bottom: 1em;
	.caption {
		margin-top: .25em;
		text-align: right;
		font-size: 10px;
	}
}
.collection-banner--japanesetheater {
	background: #365c7d;
	background-image: linear-gradient(bottom, rgb(56,100,130) 31%, rgb(52,84,120) 70%);
	background-image: -o-linear-gradient(bottom, rgb(56,100,130) 31%, rgb(52,84,120) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(56,100,130) 31%, rgb(52,84,120) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(56,100,130) 31%, rgb(52,84,120) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(56,100,130) 31%, rgb(52,84,120) 70%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.31, rgb(56,100,130)),
		color-stop(0.7, rgb(52,84,120))
	);
}
.collection-banner--japaneseworld {
	background: #456266;
	background-image: linear-gradient(bottom, rgb(84,119,124) 0%, rgb(69,98,102) 65%);
	background-image: -o-linear-gradient(bottom, rgb(84,119,124) 0%, rgb(69,98,102) 65%);
	background-image: -moz-linear-gradient(bottom, rgb(84,119,124) 0%, rgb(69,98,102) 65%);
	background-image: -webkit-linear-gradient(bottom, rgb(84,119,124) 0%, rgb(69,98,102) 65%);
	background-image: -ms-linear-gradient(bottom, rgb(84,119,124) 0%, rgb(69,98,102) 65%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(84,119,124)),
		color-stop(0.65, rgb(69,98,102))
	);
}

// Two column pages
// ------------------------- //
.sidebar {
	@include make-sm-column(4);
	margin-top: 1.5em;
	.nav-header {
		text-transform: uppercase;
		margin-bottom: .5em;
	}
	.collection-search {
		h3 {
			font-size: 18px;
			line-height: 1.4em;
		}
	}
}
.main-text {
	@include make-sm-column(8);
}
.sidebar-btn {
	text-align: center;
	margin-bottom: 1em;
	.btn {
		width: 100%;
		white-space: normal;
	}
}
// Floated image
// ------------------------- //

.img-right,
.img-left {
	text-align: center;
	max-width: 320px;
}
.img-right {
	margin: 0 0 30px 15px;
}
.img-left {
	margin: 0 30px 15px 0;

}
.caption {
	font-size: 12px;
	margin-top: 1em;
	margin-bottom: 1em;
}
// centered images, floated
.center-image-block {
	margin: 2em 0 1.5em 0;
	h3 {
		margin: .5em 0 0;
		font-size: 18px;
	}
}
.center-image-block.centered {
	text-align: center;
	h3 {
		margin-top: .75em;
	}
}

// Sets - as used in Ragamala
// ---------------------------- //
.set-item {
	@include make-xs-column(4);
	@include make-sm-column(2);
	text-align: center;
}
.sets {
	.row {
		margin-bottom: 2em;
	}
}
.set-link {
	margin-top: .5em;
}
.sets--3col {
	.set-item {
		@include make-sm-column(4); 
	}
}

// Collection browse
// ------------------------- //
.collection-browse {
	margin-top: 2em;
	.btn-primary {
		font-size: 16px;
		margin-bottom: 4px;
	}
}

// Default collection nav (e.g. Aerial)
// ------------------------------------- //
.nav-collection {
	margin-bottom: .5em;
	li:first-child {
		border: 0;
	}
	li > a {
		color: black;
		text-transform: uppercase;
		font-size: 14px;
		text-decoration: none;
		background: $gray-light;
	}
	li > a:hover {
		background: $portal-red;
		color: white;
	}
	.active > a, 
	.active > a:hover,
	.active > a:visited,
	.active > a:focus {
		background: black;
		color: white;
	}
}

// Default mobile nav button - aerial, sri lanka, etc.

.blacklight-pages-show {
	.navbar-toggle {
		float: none;
		text-transform: uppercase;
		background: black;
		color: white;
		border-radius: 0;
		i {
			margin-left: .25em;
			color: white;
		}
	}
	.navbar-collapse {
		.nav {
			border: 1px solid $gray;
		}
	}
	.util-links {
		.navbar-toggle {
			float: right;
		}
		.navbar-collapse {
			.nav {
				border: 0;
			}
		}
	}
}
	
// Finding aid link on landing page
// -----------------------------------
.finding-aid-link {
	i {
		margin-left: .25em;
	}
}

// Row of images like Punk Flyers
// --------------------------------------------
.image-row {
	margin-top: 2em;
	margin-bottom: 2em;
}

// Sidebar collection box
// ------------------------- //
.well-collection {
	border: 2px solid $border-color;
	margin-bottom: .75em;
	h2 {
		font-size: 18px;
		line-height: 1.2em;
		margin-bottom: 0;
	}
	a {
		font-size: 14px;
		margin-top: .5em;
		display: inline-block;
		i {
			margin-left: .25em;
		}
	}
}
.collection-label {
	color: $cornell-red;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up) 
@media (min-width: $screen-sm) { 
	.blacklight-pages-show {
		.navbar-collapse {
			.nav {
				border: 0;
			}
		}
	}
	.nav-collection {
		li {
			margin-bottom: 4px;
			margin-right: 4px;
		}
		li > a {
			padding: 5px 10px;
		}
	}
	.sidebar {
		margin-top: 0;
	}
	.column-list {
	    -moz-column-count: 3;
	    -moz-column-gap: 20px;
	    -webkit-column-count: 3;
	    -webkit-column-gap: 20px;
	    column-count: 3;
	    column-gap: 20px;
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	// Collection nav
	.nav-collection {
		float: right;
	}
}

// Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
	.nav-collection {
		li > a {
			padding: 10px 15px;
		}
	}
}