// Header
// ------------------------- //

.header-collection {
	padding: 0 0 2em 0;
	h1 {
		margin-bottom: 0;
		a, a:hover, a:active, a:focus {
			color: $gray-dark;
			text-decoration: none;
		}
		float: left;
	}
	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}
.collection-menu {
	.dropdown {
		float: right;
	}
	.btn {
		border-radius: 0;
		background: $gray-dark;
		border-color: $gray-dark;
		color: white;
		text-transform: uppercase;
		i {
			margin-right: .25em;
		}
	}
}
.collection-title {
	font-family: $font-family-cul;
	font-size: 24px;
}

// Floated image
// ------------------------- //

.img-right {
	text-align: center;
	.caption {
		font-size: 14px;
		margin: 1em 0;
	}
}


// Global rules for design-y collection pages - use a wrapper when there is a background image
// --------------------------------------------------------------------------------------------

// .wrapper {
// 	.wrapper-container {
// 		padding: 2em 2em 3em 2em;
// 		background: white;
// 	}
// 	.header-collection {
// 		h1 {
// 			a {
// 				color: white;
// 				text-shadow: 2px 2px #222222;
// 			}
// 		}
// 	}
// }
// .blacklight-pages {
// 	#main-container {
// 		padding-top: 2em;
// 		padding-bottom: 0;
// 	}
// }


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up) 
@media (min-width: $screen-sm) { 
	.collection-title {
		font-size: 30px;
	}
}

// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
// }

// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }