// Well overrides
// ------------------- //
.well {
	border-radius: 0;
	box-shadow: none;
	background: $well-bg;
}
.constraints-container {
	background: inherit;
	border: 0;
}

// Buttons
// ------------------- //
.btn:active, .btn:focus {
	box-shadow: none;
}

// Special collections layout
// ----------------------------- //
.top-link {
	font-size: 14px;
	text-align: right;
	i {
		margin-left: .25em;
		font-size: 85%;
	}
}
.header-collection {
	padding: 1.5em 0;
	h1 {
		margin-bottom: 0;
	}
}

// Special collections horizontal context nav
// --------------------------------------------- //
.nav-context-horizontal {
	li {
		float: left;
	}
	li > a {
		padding: 0 15px;
		color: $dark-gray;
		text-transform: uppercase;
	}
	li > a:hover, li > a:active, li > a:focus {
		background: inherit;
		color: $dark-gray;
	}
}

// Bootstrap overrides
// --------------------- //
.nav-pills > li {
	margin-bottom: .25em;
}



