// Well overrides
// ------------------- //
.well {
	border-radius: 0;
	box-shadow: none;
	background: $well-bg;
}
.constraints-container {
	background: inherit;
	border: 0;
}

// Buttons
// ------------------- //
.btn:active, .btn:focus {
	box-shadow: none;
}
.btn-portal, .btn-portal:hover, .btn-portal:active, .btn-portal:focus {
  border-radius: 0;
  background: $portal-red;
  color: white;
  font-family: $font-family-cul;
  text-transform: uppercase;
  font-size: 14px;
  border: 0;
}


// Bootstrap overrides
// --------------------- //
.nav-pills > li {
	margin-bottom: .25em; // this helps for wrapping pills on mobile interfaces
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background: $portal-red;
  border-color: $portal-red;
}
.pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover {
  color: $gray-dark;
}

// Top link
// ------------- //
.top-link {
  font-size: 14px;
  text-align: right;
  i {
    margin-left: .25em;
    font-size: 85%;
  }
}


// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
// @media (min-width: $screen-sm) {
// }

/* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-md) {
// }
/* Large devices (desktops, 1200px and up) */
// @media (min-width: $screen-lg) {
// }