// Well overrides
// ------------------- //
.well {
	border-radius: 0;
	box-shadow: none;
	background: $well-bg;
}
.constraints-container {
	background: inherit;
	border: 0;
}

// Buttons
// ------------------- //
.btn:active, .btn:focus {
	box-shadow: none;
}

// Special collections layout
// ----------------------------- //
.top-link {
	font-size: 14px;
	text-align: right;
	i {
		margin-left: .25em;
		font-size: 85%;
	}
}