// Overrides
// --------------- //
.panel-group .panel {
	border-radius: 0;

}

.panel-default > .panel-heading {
	background: inherit;
}
.panel {
	box-shadow: none;
}
.panel-heading.collapse-toggle .panel-title:after {
	color: $cornell-red; // chevron icon
}
.remove:hover {
	// background: $cornell-red !important;
	color: $cornell-red !important;
	// box-shadow: none;
}
.facets-heading {
	margin: 0;
}
