// Overrides
// --------------- //
.panel-group .panel {
	border-radius: 0;

}

.panel-default > .panel-heading {
	background: $border-color;
}
.panel {
	box-shadow: none;
}
.panel-heading.collapse-toggle .panel-title:after {
	color: $cornell-red; // chevron icon
}
.facets .facets-heading {
	margin: 0;
}

// Limit your search panel heading
// ----------------------------------
#facets {
	padding-bottom: 0;
	.top-panel-heading {
		border-radius: 0;
		border: 0;
		padding: 0;
	}
	.facets-toggle {
		margin: 0;
		display: block;
		float: none;
		width: 100%;
		text-align: left;
		border-radius: 0;
		font-size: 14px;
		i {
			float: right;
			padding-top: .15em;
		}
	}
}
.facet-values {
	li {
		font-size: 13px;
	}
}

// Fix word breaks for Windows - IE and FF
.facet-values .facet-label {
	-ms-word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	word-break: normal;
	hyphens: none;
}

// Override color of select facets
// ----------------------------------
.panel-success, .facet_limit-active,
.panel-success > .panel-heading, .facet_limit-active > .panel-heading,
.panel-success > .panel-heading + .panel-collapse > .panel-body, .facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
	border-color: $border-color;
}
.panel-success > .panel-heading, .facet_limit-active > .panel-heading,
.text-success, .facet-values li .selected {
	color: $text-color;
}
.text-muted, .appliedFilter .filterName:after, .facet-values .remove, .search_history .filterName, .search_history .filterSeparator {
	color: $link-color;
}
.facet-values .remove:hover {
	color: $link-color-hover;
}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	#facets {
		.top-panel-heading {
			padding: 10px 15px;
		}
	}
}


