footer {
	padding: 2em 0;
	color: $gray;
	p {
		font-size: 14px;
	}
	a {
		color: $gray-dark;
	}
}
.btn-feedback, .btn-feedback:hover, .btn-feedback:active, .btn-feedback:focus {
	border-radius: 0;
	background: $cornell-medium-blue;
	color: white;
}