// Cornell brand
// ------------------- //

.cornell-identity {
	button {
		i {
			color: white;
		}
	}
	.navbar-toggle {
		background: $gray-dark;
		margin: 0;
		padding: 9px 12px;
		border-radius: 0;
		i {
			color: white;
		}
	}
	.navbar-collapse {
		width: 100%;
		padding: 0;
	}
	.navbar-nav {
		border-bottom: 1px solid $gray-dark;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.cul-print-logo {
	display: none;
}
.util-links {
	padding-right: 0;
	li {
		margin-bottom: 0;
	}
	.nav > li > a {
		background: $gray-dark;
		color: white;
		font-size: 14px;
	}
}

// New CUL logo
.cornell-logo {
	margin: 1rem 0;
	background: url("/img/CULibraryRed.svg") no-repeat;
	.insignia {
		float: left;
		margin-right: .5em;
		width: 100px;
		height: 100px;
		text-indent: -99999em;
	}
}
.library-brand {
	a {
		text-indent: -99999em;
		display: block;
		width: 160px;
		height: 100px;
		margin-left: 150px;
	}
}

// New CUL mobile logo
.mobile-cornell-logo {
	background: url("/img/cornell-reduced-red.svg") no-repeat;
	width: 200px;
	height: 45px;
	display: block;
	text-indent: -99999em;
	margin-top: 1rem;
}
.library-brand-mobile {
	display: block;
	background: url("/img/CULWordmark.svg") no-repeat;
	text-indent: -99999em;
	width: 120px;
	height: 45px;
	margin-top: .5rem;
}


// Site brand
// ------------------- //
.site-brand {
	margin-bottom: 1.5rem;
}
.brand {
	font-family: $font-family-cul;
	color: $gray-dark;
	line-height: 1em;
	display: inline-block;
	text-decoration: none;
	font-size: 4rem;
}
.brand:hover, .brand:active, .brand:focus {
	color: $gray-dark;
	text-decoration: none;
}

// Navbar
// -------------------------
#header-navbar {
	border-bottom: 1px solid $border-color;
	padding-top: 0;
}
.navbar {
	padding: .5em 0 1em 0;
	margin-bottom: 0;
}
.nav.site-nav {
	li > a {
		color: $gray-dark;
		text-transform: uppercase;
	}
	a:hover, a:active, a:focus {
		background: inherit;
	}
}

// Bootstrap override to get branding to line up nicely on mobile
.container > .navbar-header {
	margin-left: 0;
}

// Alert/announcements
// -------------------------
.announcement {
	background: $state-warning-bg;
	color: $state-warning-text;
	padding: 12px 0 5px;
	margin-bottom: 1em;
	p {
		font-size: 14px;
	}
}
.stg-message {
	background: $state-danger-bg;
	color: $state-danger-text;
	padding: .5em 0;
	text-align: center;
}
//service alert - for outages, e.g. maps, etc.
.service-alert {
	margin-top: .5em;
	.alert {
		margin-bottom: .5em;
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.util-links {
		padding-right: 15px;
		#navbar {
			float: right;
		}
		ul {
			margin-top: .5em;
		}
		li {
			font-size: 14px;
		}
	}
	.cornell-identity {
		.navbar-collapse {
			width: auto;
		}
		.navbar-nav {
			border-bottom: 0;
		}
	}
	.site-brand {
		margin-bottom: 0;
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.util-links {
		.nav > li > a {
			padding: 10px 15px !important;
		}
	}
}
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }
