// Cornell brand
// ------------------- //

.cornell-identity {
	button {
		i {
			color: white;
		}
	}
	.navbar-toggle {
		background: $gray-dark;
		margin: 0;
		padding: 9px 12px;
		border-radius: 0;
		i {
			color: white;
		}
	}
	.navbar-collapse {
		width: 100%;
		padding: 0;
	}
	.navbar-nav {
		border-bottom: 1px solid $gray-dark;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.cul-print-logo {
	display: none;
}
.util-links {
	padding-right: 0;
	li {
		margin-bottom: 0;
	}
	.nav > li > a {
		background: $gray-dark;
		color: white;
		font-size: 14px;
	}
}

// Library brand
// ------------------- //
.brand {
	text-transform: uppercase;
	font-size: 24px;
	font-family: $font-family-cul;
	color: $gray-dark;
	line-height: 1em;
	display: inline-block;
	text-decoration: none;
}
.brand:hover, .brand:active, .brand:focus {
	color: $gray-dark;
	text-decoration: none;
}
.cul-brand {
	font-size: 16px;
	font-family: $font-family-cul;
	display: block;
	color: $gray-dark;
	text-decoration: none;
}
.cul-brand:hover, .cul-brand:active, .cul-brand:focus {
	color: $gray;
	text-decoration: none;
}
.cul {
	h1 {
		margin: 0;
		line-height: 1;
	}
}

// Navbar
// -------------------------
#header-navbar {
	border-bottom: 1px solid $border-color;
	padding-top: 0;
}
.navbar {
	padding: .5em 0 1em 0;
	margin-bottom: 0;
}
.nav.site-nav {
	li > a {
		color: $gray-dark;
		text-transform: uppercase;
	}
	a:hover, a:active, a:focus {
		background: inherit;
	}
}

// Bootstrap override to get branding to line up nicely on mobile
.container > .navbar-header {
	margin-left: 0;
}

// Alert/announcements
// -------------------------
.announcement {
	background: $state-warning-bg;
	color: $state-warning-text;
	padding: 12px 0 5px;
	margin-bottom: 1em;
	p {
		font-size: 14px;
	}
}
.stg-message {
	background: $state-danger-bg;
	color: $state-danger-text;
	padding: .5em 0;
	text-align: center;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.cul-brand {
		display: inline-block;
	}
	.brand {
		font-size: 28px;
	}
	.util-links {
		padding-right: 15px;
		#navbar {
			float: right;
		}
		ul {
			margin-top: .5em;
		}
		li {
			font-size: 14px;
		}
	}
	.cornell-identity {
		.navbar-collapse {
			width: auto;
		}
		.navbar-nav {
			border-bottom: 0;
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	// .brand {
	// 	font-size: 30px;
	// }
	.util-links {
		.nav > li > a {
			padding: 10px 15px !important;
		}
	}
}
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }
