// Cornell brand
// ------------------- //

.cornell-identity {
	background: $gray-light;
	.container {
		background: $cornell-black;
		padding: 0;
	}
	button {
		i {
			color: white;
		}
	}
	.util-links {
		padding-right: 0;
	}
}
.cul-print-logo {
	display: none;
}

// Library brand
// ------------------- //
.brand {
	text-transform: uppercase;
	font-size: 21px;
	font-family: $font-family-cul;
	color: $gray;
	line-height: 1em;
	display: inline-block;
}
.brand:hover, .brand:active, .brand:focus {
	color: $gray;
	text-decoration: none;
}
.cul-brand {
	font-size: 18px;
	font-family: $font-family-cul;
	display: inline-block;
	color: $gray;
}
.cul-brand:hover, .cul-brand:active, .cul-brand:focus {
	color: $gray;
	text-decoration: none;
}
// Beta label
.cul {
	.label-info {
		font-size: 90%;
		vertical-align: super;
		font-weight: normal;
		text-transform: uppercase;
		border-radius: 0;
		margin-left: .5em;
	}
}

// Mobile util links
// ------------------- //
.mobile-util-links {
	float: right;
	.btn {
		float: left;
		background: #444;
		color: white;
		border-radius: 0;
		display: block;
		padding: 12px 15px;
		margin-left: 1px;
	}
}


// Navbar
// -------------------------
#header-navbar {
	background: $gray-light;
	border-bottom: 1px solid $border-color;
}
.navbar {
	padding: .5em 0 1em 0;
	margin-bottom: 0;
}
// .blacklight-catalog-index {
// 	.navbar {
// 		padding: 1.5em 0 2em 0;
// 	}
// }
.nav.site-nav {
	li > a {
		color: $gray-dark;
		text-transform: uppercase;
	}
	a:hover, a:active, a:focus {
		background: inherit;
	}
}

// Bootstrap override to get branding to line up nicely on mobile
.container > .navbar-header {
	margin-left: 0;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.cul-brand {
		font-size: 21px;
	}
	.brand {
		font-size: 25px;
	}
	.util-links {
		.nav > li > a {
			padding: 10px 15px;
		}
		.nav > li > a:hover,
		.nav > li > a:active,
		.nav > li > a:focus {
			background: inherit;
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.cul-brand {
		font-size: 24px;
	}
	.brand {
		font-size: 34px;
	}
}
// Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
	.brand {
		font-size: 36px;
	}
}
