.home-text {
	margin-top: 1em;
	h2 {
		padding-bottom: .1em;
		border-bottom: 1px solid $border-color;
		margin-top: 1em;
	}
}

// Home page hero
// ------------------ //
.hero-home {
	text-align: center;
}

// Featured collections
// ----------------------- //

.featured-collections {
	h3 {
		font-size: 16px;
		line-height: 1.5em;
		margin-top: .5em;
		text-align: center;
	}
}
.featured {
	@include make-sm-column(3);
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.home-text {
		margin-top: 2.75em;
	}
}

