.home-text {
	margin-top: 3em;
	h2 {
		padding-bottom: .1em;
		border-bottom: 1px solid $footer-gray;
		margin-top: 1em;
	}
}
// Media overrides
// ------------------ //
.media-object {
	padding: 5px;
	border: 1px solid $footer-gray;
}
// Home page hero
// ------------------ //
.hero-home {
	text-align: center;
}