#main-container {
	padding: 1em 0 3em 0;
	background: white;
}

.blacklight-pages-show {
	#main-container {
		padding-top: 3em;
	}
}
// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
// @media (min-width: $screen-sm) { 
// }

