#main-container {
	padding: 1em 0 3em 0;
	background: white;
}
// Used on special collection pages
// .main-text {
// 	padding-top: 3em;
// }
// .blacklight-catalog-index,
// .blacklight-catalog-show {
// 	#main-container {
// 		padding-top: 1em;
// 	}
// }

// Collection home pages 
// ------------------------- //
.collection-title {
	font-weight: 400;
}


// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	// .blacklight-catalog-index,
	// .blacklight-catalog-show {
	// 	#main-container {
	// 		padding-top: 3em;
	// 	}
	// }
}

