#main-container {
	padding: 0 0 3em 0;
	background: white;
}
// Used on special collection pages
.main-text {
	padding-top: 3em;
}

// Collection home pages 
// ------------------------- //
.collection-title {
	padding-left: 15px;
}