#main-container {
	padding: 0 0 3em 0;
	background: white;
}
.blacklight-catalog-index,
.blacklight-catalog-show {
	#main-container {
		padding-top: 3em;
	}
}
// Used on special collection pages
.main-text {
	padding-top: 3em;
}

// Collection home pages 
// ------------------------- //
.collection-title {
	font-weight: 400;
}