// Search box
// ------------------------- //

// #search-navbar {
// 	background: $pale-gray;
// 	padding: .5em 0 .15em 0;
// 	.search-query-form {
// 		width: 100%;
// 	}
// 	.form-group.col-xs-3 {
// 		padding-right: 10px;
// 	}
// 	.form-group {
// 		margin-bottom: 0;
// 	}
// }
.btn-search {
	background: inherit;
	padding: .25em 0;
	.glyphicon {
		color: $cornell-red;
		font-size: 24px;
	}
}
.search-group {
	// width: 70%;
	padding-right: 0;
	// .search_q {
	// 	width: 100%;
	// }
}
#search_field {
	width: 100%;
}

.search-box {
	clear: both;
	margin-top: 1.5em;
	.search-query-form {
		width: 100%;
	}
	.form-group.col-xs-3 {
		padding-right: 10px;
	}
	.form-group {
		margin-bottom: 0;
	}
	.form-inline {
		.form-control {
			width: 100%;
		}
	}
}


// Search History, etc., links
// ------------------------------ //
.util-links {
	.navbar-nav {
		float: right;
	}
	.nav > li > a {
		color: white;
		font-size: 14px;
		display: inline-block;
	}
}

// Search results
// ------------------------------ //
#main-container {
	.constraints-container {
		padding: 0;
	}
}
.document-title-heading {
	font-size: 18px;
	line-height: 1.4em;
}
#sortAndPerPage, .pagination-search-widgets {
	padding-bottom: .4em;
	margin-bottom: 1.5em;
}
.document-thumbnail {
	.download-link {
		margin-top: .25em;
		float: right;
	}
}
.documentHeader {
	.bookmark_toggle {
		font-size: 12px;
	}
}

// Gallery
.thumbnail {
	border: 0;
	padding: 0;
	.caption {
		padding: 0;
	}
}
.thumbnail > img, .thumbnail a > img {
	margin-left: 0;
}

.gallery {
	.documentHeader {
		margin-bottom: .5em;
	}
	h5 {
		margin-bottom: .25em;
	}
	.blacklight-collection,
	.blacklight-date,
	.blacklight-pubdate {
		font-size: 13px;
		margin-bottom: .25em;
	}
}
// override .document border for gallery img link
.document {
	.thumbnail {
		.img-thumbnail, .img-thumbnail:hover {
			border-bottom: 1px solid #ddd;
		}
	}	
}

// Override default gallery gem styles to even out spacing and fix bootstrap col sizing
#documents.gallery .document {
	-webkit-box-flex: none !important;
	-moz-box-flex: none !important;
	-webkit-flex: none !important;
	-ms-flex: none !important;
	flex: none !important;
	min-width: auto !important;
	min-height: auto !important;
}

// Constraints
// ------------------------------ //

.catalog_startOverLink {
	background: $gray;
	border-color: $gray;
	color: white;
}
.catalog_startOverLink:hover {
	color: white;
}
.appliedFilter {
	.remove {
		background: $brand-info;
		border-color: $brand-info;
		border-color-left: white;
		color: white;
	}
}
.constraints-container {
	.btn {
		white-space: normal; // allows long labels to wrap on smaller screens
		margin-bottom: 2px; // need this for when buttons don't fit on one line
		i {
			margin-left: .4em;
		}
	}
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.util-links {
		.nav > li > a {
			padding: 10px 15px;
		}
	}
	.search-box {
		float: right;
		width: 90%;
	}
}
// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.search-box {
		width: 80%;
	}
}