// Search box
// ------------------------- //
.btn-search {
	background: inherit;
	padding: .25em 0;
	.glyphicon {
		color: $cornell-red;
		font-size: 26px;
	}
}

// Search form in both header and on collection landing pages
.search-query-form {
	.search-group {
		@include make-xs-column(6);
		@include make-md-column(8);
		padding-left: 0;
	}
	.search-select {
		@include make-xs-column(4);
		@include make-md-column(3);
		padding-left: 0;
	}
}
// Some tweaks just for search box on collection landing pages
.special-collections {
	.search-query-form {
		.search-group {
			padding-left: 15px;
		}
	}
}
.special-collections {
	.sidebar {
		.search-query-form {
			width: 100%;
			.search-group {
				@include make-xs-column(6);
				@include make-md-column(6);
			}
			.search-select {
				@include make-xs-column(4);
				@include make-md-column(4);
				padding-left: 0;
			}
		}
	}
}

#search_field {
	width: 100%;
}

.search-box {
	clear: both;
	margin-top: .75em;
	.search-query-form {
		width: 100%;
	}
	// .form-group.col-xs-3 {
	// 	padding-right: 10px;
	// }
	.form-group {
		margin-bottom: 0;
	}
	.form-inline {
		.form-control {
			width: 100%;
		}
	}
}

// Search results
// ------------------------------ //
#main-container {
	.constraints-container {
		padding: 0;
	}
}
#documents .document .document-title-heading {
	line-height: 1.6em;
	font-weight: 400;
}
#sort-dropdown, #per_page-dropdown {
	margin-bottom: .5em;
}
.document-thumbnail {
	.download-link {
		margin-top: .25em;
		float: right;
	}
}
.documentHeader {
	.bookmark_toggle {
		font-size: 12px;
	}
}
#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
	border-radius: 0;
	color: $gray-dark;
}
// Override thumbnail float for mobile
#documents .document .document-thumbnail {
	float: none;
	margin-top: 10px;
	padding-left: 0;
}

// Gallery view
// ------------------------------ //
.thumbnail {
	border: 0;
	padding: 0;
	.caption {
		padding: 0;
	}
}
.thumbnail > img, .thumbnail a > img {
	margin-left: 0;
}

#documents.gallery {
	.documentHeader {
		margin-bottom: .5em;
	}
	h5 {
		margin-bottom: .25em;
	}
	.blacklight-collection,
	.blacklight-date,
	.blacklight-pubdate,
	.blaschka-number,
	.blaschka-common-name {
		font-size: 12px;
		margin-bottom: .25em;
	}
	.document .document-title-heading {
		font-size: 14px;
		margin-top: .25em;
	}
}

// Format thumbnails
// --------------------
.format-icon {
	i {
		font-size: 3em;
		color: #d8d2c9;
	}
}

// Constraints
// ------------------------------ //

.appliedFilter {
	.remove {
		font-size: 14px;
	}
	// .remove:hover {
	// 	background: white;
	// 	border-color: #ccc;
	// 	.glyphicon {
	// 		color: $gray-dark;
	// 	}
	// }
	// .glyphicon {
	// 	color: $cornell-red;
	// }
}
.constraints-container {
	.btn {
		white-space: normal; // allows long labels to wrap on smaller screens
		margin-bottom: 2px; // need this for when buttons don't fit on one line
		i {
			margin-left: .4em;
		}
	}
}
.btn-constraint {
	background: $portal-red;
	border-color: $portal-red;
	border-radius: 0;
	color: white;
}
.btn-constraint:hover, .btn-constraint:active, .btn-constraint:focus {
	background: $portal-red;
	border-color: $portal-red;
	color: white;
}
// .constraint-value {
// 	font-size: 14px;
// }
// .text-muted, .appliedFilter .filterName:after, .facet-values .remove, .search_history .filterName, .search_history .filterSeparator, .appliedFilter .filterName:after, .facet-values .remove, .search_history .filterName, .search_history .filterSeparator {
// 	color: $gray !important;
// }

// Display labels on view buttons
// --------------------------------
.view-type {
	.caption {
		position: relative;
		font-size: 12px;
		text-transform: uppercase;
	}
	.btn {
		border-radius: 0;
	}
	
}
.view-type-group {
	.glyphicon {
		margin-right: 2px;
	}
}

// Collection search
// --------------------------------
.collection-search {
	h3 {
		margin-top: 0;
	}
	.form-inline {
		.form-control {
			width: 100%;
		}
	}
}

// Unpublished
// --------------------------------
.unpublished {
	margin-bottom: .5em;
	.label {
		font-size: 11px;
		font-weight: 400;
	}
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.util-links {
		.nav > li > a {
			padding: 10px 15px;
		}
	}
	.search-box {
		float: right;
		width: 90%;
	}
	#sort-dropdown, #per_page-dropdown {
		margin-bottom: 0;
	}
	// Put back thumbnail float
	#documents .document .document-thumbnail {
		float: right;
		margin-top: 0;
		padding-left: 20px;
	}
}
// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.search-box {
		width: 80%;
	}
	.collection-search {
		.search-query-form {
			width: 50%;
		}
	}
}