// Search box
// ------------------------- //

// #search-navbar {
// 	background: $pale-gray;
// 	padding: .5em 0 .15em 0;
// 	.search-query-form {
// 		width: 100%;
// 	}
// 	.form-group.col-xs-3 {
// 		padding-right: 10px;
// 	}
// 	.form-group {
// 		margin-bottom: 0;
// 	}
// }
.btn-search {
	background: inherit;
	padding: .25em 0;
	.glyphicon {
		color: $cornell-red;
		font-size: 24px;
	}
}
.search-group {
	// width: 70%;
	padding-right: 0;
	// .search_q {
	// 	width: 100%;
	// }
}
#search_field {
	width: 100%;
}

.search-box {
	clear: both;
	margin-top: 1.5em;
	.search-query-form {
		width: 100%;
	}
	.form-group.col-xs-3 {
		padding-right: 10px;
	}
	.form-group {
		margin-bottom: 0;
	}
	.form-inline {
		.form-control {
			width: 100%;
		}
	}
}


// Search History, etc., links
// ------------------------------ //
.util-links {
	.navbar-nav {
		float: right;
	}
	.nav > li > a {
		color: white;
		font-size: 14px;
		display: inline-block;
	}
}

// Search results
// ------------------------------ //
#main-container {
	.constraints-container {
		padding: 0;
	}
}
.document-title-heading {
	font-size: 18px;
	line-height: 1.4em;
}
#sortAndPerPage, .pagination-search-widgets {
	padding-bottom: .4em;
	margin-bottom: 1.5em;
}
.document-thumbnail {
	.download-link {
		margin-top: .25em;
		float: right;
	}
}


// Constraints
// ------------------------------ //

.catalog_startOverLink {
	background: $light-gray;
	border-color: $light-gray;
	color: white;
}
// .constraint-value {
// 	background: $light-blue;
// 	border-color: $light-blue;
// 	color: white;
// }
// .constraint-value:hover {
// 	background: $light-blue !important;
// 	border-color: $light-blue !important;
// 	color: white !important;
// }
.appliedFilter {
	.remove {
		background: $light-blue;
		border-color: $light-blue;
		border-color-left: white;
		color: white;
	}
	// .remove:hover {
	// 	background: $pale-blue;
	// }
}
.constraints-container {
	.btn {
		white-space: normal; // allows long labels to wrap on smaller screens
		margin-bottom: 2px; // need this for when buttons don't fit on one line
		i {
			margin-left: .4em;
		}
	}
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.util-links {
		.nav > li > a {
			padding: 10px 15px;
		}
	}
	.search-box {
		float: right;
		width: 90%;
	}
}
// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.search-box {
		width: 80%;
	}
}