// Image zoom
// ------------------------ //
.document-image {
	margin-bottom: 2.5em;
	width: 75%;
}
.player {
	margin-bottom: 2.5em;
}

// #main-container {
// 	.search-widgets {
// 		.btn {
// 			border-bottom: 1px solid #ccc;
// 		}
// 	}
// }

// Openseadragon viewer
// ------------------------ //
#openseadragon1 {
	 width: 320px;
	 height: 320px;
	 background-color:#000;
}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	.nav-context-horizontal {
		float: right;
		margin-right: -15px;
	}
	#openseadragon1 {
		 width: 450px;
		 height: 450px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	#openseadragon1 {
		width: 650px;
		height: 650px;
	}
}
/* Large devices (desktops, 1200px and up) */
// @media (min-width: $screen-lg) {
// }