// Metadata display
// ------------------------ //
.metadata {
	margin-top: 2em;
	dt {
		color: $gray;
		font-weight: 400;
	}
	dd {
		margin-bottom: .5em;
		word-wrap: break-word;
	}
}
.item-info {
	margin-top: 2em;
}
.col-md-9.item-info {
	margin-top: 0;
}
.more-item-info {
	margin-top: 2em;
	h2 {
		font-size: 18px;
		margin: 0 0 1em;
		text-transform: uppercase;
		font-family: $font-family-cul;
		color: $cornell-red;
	}
	h3 {
		font-family: $font-family-cul;
		font-size: 16px;
		text-transform: uppercase;
	}
}

// Collection info
// ------------------------ //
.collection-links {
	margin-left: 1.5em;
	margin-bottom: 0;
	li {
		margin-bottom: .5em;
		font-size: 14px;
	}
	i {
		font-size: 90%;
	}
	.fa-ul {
		margin-left: 1.5em;
	}
	.fa-li {
		top: .4em;
	}
}
.summary {
	margin: 0 0 1.5em 0;
	.summary-field {
		margin-top: .5em;
		display: block;
	}
	i {
		margin-left: .25em;
	}
}

#document {
	h1 {
		text-transform: none;
	}
}

// Image zoom
// ------------------------ //
.document-image {
	margin-bottom: 2.5em;
	width: 75%;
}
.player {
	margin-bottom: 2.5em;
}

// Openseadragon viewer
// ------------------------ //
#openseadragon1 {
	 width: 100%;
	 height: 320px;
	 background-color:#000;
}

#print-image img {display:none;}

// Openseadragon toolbar
#image-toolbar {
	height: 35px;
	background: $gray-darker;
}
.image-controls {
	text-align: right;
	a {
		border: 0;
		color: white;
		font-size: 20px;
		display: inline-block;
		background: $gray;
		padding: 5px 8px;
		height: 35px;	
	}
	a:hover {
		border: 0;
	}
	.download-link {
		border: 0;
		color: white;
		text-align: uppercase;
		display: block;
		font-size: 12px;
		text-transform: uppercase;
		// float: left;
		background-color: inherit;
		padding: 2px 0 0 10px;
		height: 29px; // specify height to fix DIGCOLL-380, probably due to padding
		i {
			margin-left: .25em;
		}
	}
}

// Kaltura player
// ------------------------ //
// set width for mobile devices
.video-player {
	width: 300px !important;
	height: 189px !important;
}
.av-player {
	margin-bottom: 2em;
}

// Track list
// ------------------------ //
.track-list {
	h2 {
		font-size: 18px;
		margin: 0 0 1em;
		text-transform: uppercase;
		font-family: $font-family-cul;
	}
	ul {
		padding: 0;
		list-style: none;
	}
	li {
		font-size: 14px;
		margin-bottom: .5em;
	}
	.active {
		font-weight: 700;
		a, a:hover, a:active, a:focus {
			border-bottom: 0;
		}
	}
}

// Multi-images
// ------------------------ //
.multi-images {
	margin-top: 1em;
	h2 {
		font-size: 14px;
		font-family: $font-family-cul;
		text-transform: uppercase;
		color: $cornell-red;
	}
}
.multi-image {
	margin-bottom: 1.25em;
	img {
		margin-bottom: .5em;
	}
}

// Bookmark toggle
// ------------------------ //
.bookmark-toggle {
	margin-left: -20px;
}
label.toggle_bookmark {
	min-width: auto;
}
// Download link
.download-link {
	float: left;
	margin-right: 1.5em;
	text-transform: uppercase;
	margin-top: .5em;
	i {
		padding-left: .5em;
	}
}
.bookmark_toggle {
	float: left; 
}


// Book image / text collections
// ------------------------------ //
.book-thumbnail {
	text-align: center;
}
.reader-link {
	margin-top: 1em;
	i {
		margin-left: .5em;
	}
}

// Well for non-IIIF viewer stuff
// ------------------------------- //
// .other-viewer.well {
// 	background: $gray-darker;
// }

// Catalog info
// ------------------------------ //
.catalog-info {
	margin-top: 2em;
	h2 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		color: $gray;
		margin-bottom: .5em;
		i {
			margin-right: .4em;
		}
	}
}
.catalog-title {
	font-size: 16px;
	margin-bottom: .5em;
	display: inline-block;
}
.catalog-summary,
.catalog-search {
	font-size: 90%;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.nav-context-horizontal {
		float: right;
		margin-right: -15px;
	}
	#openseadragon1 {
		 height: 600px;
	}
	.video-player {
		width: 560px !important;
		height: 315px !important;
	}
	.multi-images {
		margin-top: 0;
	}
	.multi-image-wrapper {
		height: 609px;
		overflow: scroll;
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	#openseadragon1 {
		height: 670px;
	}
	.metadata {
		margin-top: 0;
	}
	.av-player {
		margin-bottom: 0;
	}
	.multi-image-wrapper {
		margin-top: 0;
		height: 679px;
	}
}
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }