// Colors
// -----------------//

$cornell-red: #b31b1b;
$cornell-dark-red: #990f26;
$cornell-medium-blue: #0068ac;
$cornell-black: #222222;

$border-color: #dddddd;

// Tans
$light-tan: #e7e6df;

// portal 
$portal-red: #9c1515;
$warm-gray: #d7d4d4;

// Google fonts
// -----------------//

$font-family-cul: 'freight-text-pro', Georgia, serif;        @import
url(//use.typekit.net/wiq6yer.css);

