// Colors
// -----------------//

$cornell-red: #b31b1b;
$cornell-medium-blue: #0068ac;
$cornell-black: #222222;

$border-color: #dddddd;

// Tans
$light-tan: #e7e6df;

// Google fonts
// -----------------//

$font-family-cul: 'Montserrat';        @import
url(//fonts.googleapis.com/css?family=Montserrat);

