// Colors
// -----------------//

$cornell-red: #b31b1b;
$cornell-medium-blue: #0068ac;
$cornell-black: #222222;

// Grays
$pale-gray: #eeeeee;
$dark-gray: #222;
$medium-gray: #666;
$light-gray: #999;
$footer-gray: #cbcbcb;

// Catalog teals
$teal: #2aa198;
$medium-teal: #1f7972;
$dark-teal: #1f7972;

// Tans
$light-tan: #e7e6df;

// DC stuff
$graphite: #5f5c5c;
$orange: #fc3b32;
$light-blue: #5bc0de;

$well-bg: $pale-gray;


// Links
// -----------------//

$link-primary: $cornell-medium-blue;
$link-primary-hover: black;

// Google fonts
// -----------------//

$font-family-cul: 'Montserrat';        @import
url(//fonts.googleapis.com/css?family=Montserrat);

$font-family-sans-serif:  'Source Sans Pro', Helvetica, Arials, sans-serif;        @import
url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);