<% content_for :page_title, 'Ernie Paniccioli Photo Archive' %>
<div class="container">
	<h2>Ernie Paniccioli Photo Archive</h2>
</div>
<div class="collection-banner hidden-xs">
	<div class="container">
		<%= image_tag "collections/paniccioli/paniccioli-header.png" , alt: "", class: "img-responsive" %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f[collection_tesim][]=Ernie+Paniccioli+Photo+Archive&view=gallery">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Ernie Paniccioli Photo Archive"}  %>
			</div>
			<a href="https://rmc.library.cornell.edu/hiphop/">
				<%= image_tag "collections/afrika-bambaataa/Cornell_hiphop_logo_with-URL.jpg" , alt: "Cornell Hip Hop Collection", class: "img-responsive" %>
			</a>
			<%= image_tag "collections/paniccioli/paniccioli-crop.jpg" , alt: "", class: "img-responsive", style: "margin-top: 2em" %>
			<p class="caption">
				Ernie Paniccioli
			</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>This collection offers digital versions of <a href="/?f[collection_tesim][]=Ernie+Paniccioli+Photo+Archive&view=gallery">more than 18,000 photographs</a> by Ernie Paniccioli, one of Hip Hop’s most prolific and celebrated photographers. Presented by Cornell University Library’s Hip Hop archives with the permission of Ernie Paniccioli, these photographs provide an unprecedented visual history of Hip Hop culture of the 1980s, 90s, and early 2000s.</p>
			<p>Ernie Paniccioli (Feb 26th, 1947 -) was born in Brooklyn, New York, of Cree Native American and Italian parents. He spent his teenage years in Greenwich Village, immersing himself in its art and music scenes. In March of 1965 he joined the U.S. Navy. After his honorable discharge in 1971, he began experimenting with photography on the streets of New York. Fascinated with the graffiti and aerosol art appearing on the city’s buildings and trains, he began to use photography to document elements of Hip Hop culture. By the 1980s, he was a sought-after photographer in the music industry, specifically within Hip Hop. In 1987 he became the principal photographer for Word Up! and Rap Masters magazines, and his work began appearing regularly in publications such as <em>Vibe</em>, <em>The Source</em>, <em>Rolling Stone</em>, and <em>The Village Voice</em>. His photographs tell the story of Hip Hop culture’s evolution from the 1980s through the mid-2000s, and have been the subject of numerous gallery shows, along with the books <em>Who Shot Ya?: Three Decades of Hip Hop Photography</em> (2002) and <a href="https://www.amazon.com/Hip-Hop-End-World-Photography/dp/0789334410/ref=sr_1_1?ie=UTF8&qid=1543453705&sr=8-1&keywords=9780789334411">Hip-Hop at the End of the World: The Photography of Brother Ernie</a> (2018).</p>
			<p><a href="https://rmc.library.cornell.edu/hiphop/">Cornell’s Hip Hop Collection</a> received Ernie’s archive in 2012 and began the cataloging and digitization work that would ensure its permanent preservation and public access. The digital collection features examples of his most important work, including in-depth coverage of artists such as LL Cool J, Run DMC, Public Enemy, Salt N Pepa, Big Daddy Kane, Rakim, MC Lyte, KRS-One, Queen Latifah, Monie Love, De La Soul, X Clan, A Tribe Called Quest, Wu-Tang Clan, Ice Cube, Ice-T, Snoop Dogg, Guru, Notorious B.I.G., Lil’ Kim, Jay-Z, Sean “Puff Daddy” Combs, Big Pun, Lauren Hill, Lil’ Wayne, 50 Cent, Nas, and Tupac Shakur, to name only a few.</p>
			<p>The collection can be browsed in order - beginning with photographs Ernie personally selected as his “Best of the Best” - or searched by keyword for groups or individual artists. You can also search other aspects of Hip Hop’s aesthetics that interested Ernie, such as fashion, hairstyles, or jewelry. Photographic descriptions rely partly on Ernie’s own spelling and identification notes written on his slide mounts. As a result, there are some spelling inconsistencies and abbreviations. Search using alternate spellings and artist aliases. If you’re looking for images of individual artists who were part of a group, your results will be more complete if both the artist name and name of the group are searched (For instance, to find the largest number of images of Flavor Flav, search both keywords “Flav” and “Public Enemy”).</p>
			<p> Ernie Paniccioli has generously allowed Cornell’s Hip Hop Collection to open his archive online for educational purposes. To protect the rights of the photographer, image resolution is limited to what is necessary for identification purposes. Corrections or comments about descriptions or licensing inquiries can be sent to <a href="mailto:hiphopcollection@cornell.edu">hiphopcollection@cornell.edu</a>.</p>
		</div>
	</div>
</div>