// Variables
// ------------

$anthro-brown: #4e2a1a;
$font-family-anthro-display: 'Overlock', cursive;
@import url(//fonts.googleapis.com/css?family=Lancelot|Overlock);


// Custom styles
// --------------

.blacklight-pages-show {
	.special-collections {
		h2 {
			a, a:hover, a:active, a:focus {
				border: 0;
				text-decoration: none;
			}
		}
	}
}

.srilanka-header {
	h2 {
		font-family: $font-family-anthro-display;
		margin: .25em 0;
		display: inline-block;
		font-size: 48px;
		a, a:hover, a:active, a:focus {
			color: $anthro-brown;
		}
	}
	.background {
		background: url("/collections/anthrocollections/circuit.png");
		img {
			margin: 2em 0 0;
		}
		.caption p {
			text-align: right;
			font-size: 12px;
			color: $gray;
			font-style: italic;
		}
	}
}
.srilanka-header--subpage {
	background: url("/collections/srilanka/arabesque-short.png") repeat-x bottom;
	padding-bottom: 30px;
}
.srilanka-layout {
	margin: 0 0 3em 0;
	.navbar-collapse {
		padding: 0;
	}
	.well {
		background: $srilanka-pink;
	}
	.nav > li {
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.nav > li > a,
	.nav > li > a:hover,
	.nav > li > a:active,
	.nav > li > a:focus {
		border: 0;
		background: inherit;
		padding: 5px 0;
		text-decoration: underline;
	}
	.nav > li > a:hover {
		color: $srilanka-red;
	}
	.nav > .active > a, 
	.nav > .active > a:hover,
	.nav > .active > a:active,
	.nav > .active > a:focus  {
		color: $srilanka-red
	}
	.sidebar {
		margin-top: 0;
		.caption {
			margin-bottom: 2em;
		}
	}
	.main-text {
		h3 {
			font-family: $font-family-anthro-display;
			color: $srilanka-red;
			margin-top: 1em;
			font-size: 30px;
		}
		h3:first-child {
			margin-top: 5px;
		}
		.collection-search,
		.browse-links {
			margin-bottom: 2em;
			h3 {
				font-size: 16px;
				color: $gray-dark;
				font-weight: 700;
				font-family: $font-family-sans-serif;
			}
		}
		.main-text-images {
			margin-top: 4em;
			.caption {
				margin-top: .5em;
				p {
					font-size: 12px;
					color: $gray;
					font-style: italic;
				}
			}
		}
		li {
			padding-bottom: .25em;
		}
	}
	.set-item {
		@include make-xs-column(4);
		@include make-sm-column(3);
	}
}
.blacklight-pages-show .srilanka-layout .navbar-collapse .nav {
	border: 0;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.srilanka-layout {
		margin-top: 3em;
		.nav > li {
			text-align: right;
		}
		.nav > li > a {
			display: inline-block;
		}
		.navbar {
			padding-top: 0;
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {

}
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// 	// .brand {
// 	// 	font-size: 36px;
// 	// }
// }
