// Variables
// ------------

$bees-dark-blue: #015068;
$bees-yellow: #f3b61f;
$bees-gray: #adcad6;
$bees-green: #99c24d;
$bees-blue: #0080a0;


// Custom styles
// --------------


.mann-header--bees {
	h2 {
		margin-bottom: .25em;
		color: white;
	}
	h3 {
		color: $bees-yellow;
		margin-bottom: 1.3em;
	}
	.navbar-toggle {
		background: $bees-blue;
	}
	.navbar {
		background: $bees-dark-blue;
	}
	.navbar-nav > li > a {
		background: $bees-blue;
	}
	.navbar-nav > li > a:hover {
		border: 0;
		background: black;
	}
	.navbar-collapse {
		padding-left: 0;
	}
	.search-bar {
		.glyphicon {
			color: white;
			background: $bees-blue;
		}
	}
}
.mann-layout--bees {
	.well {
		background: #fff url("/collections/bees/light_honeycomb.png");
	}
	.lead {
		strong {
			color: $gray-dark;
		}
	}
	.collection-browse {
		margin-bottom: 1em;
		a {
			background: $bees-dark-blue;
		}
		a:hover {
			background: black;
		}
	}
	.sidebar {
		.nav-header {
			color: $bees-dark-blue;
		}
		a:hover {
			background-color: $bees-blue;
			color: white;
		}
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.mann-header--bees {
		.hero {
			background: url("/collections/bees/bluebee-banner2.jpg") no-repeat;
		}
	}
}
// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
// }
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }
