// Variables
// ------------

$chla-orange: #eb8f0c;
$chla-green: #668d3c;
$chla-brown: #613318;
$chla-dark-brown: #493829;


// Custom styles
// --------------


.mann-header--chla {
	h2 {
		color: $chla-orange;
	}
	.navbar-toggle {
		background: $chla-green;
	}
	.navbar {
		background: $chla-dark-brown;
	}
	.navbar-nav > li > a {
		background: $chla-brown;
	}
	.navbar-nav > li > a:hover {
		border: 0;
		background: $chla-green;
	}
	.navbar-collapse {
		padding-left: 0;
	}
	.search-bar {
		.glyphicon {
			color: white;
			background: $chla-green;
		}
	}
}
.mann-layout--chla {
	.well.highlight {
		background: url("/assets/collections/chla/upfeathers.png");
	}
	.lead {
		strong {
			color: $chla-brown;
		}
	}
	.collection-browse {
		margin-bottom: 1em;
		a {
			background: $chla-brown;
			color: white;
		}
		a:hover {
			background: $chla-green;
		}
	}
	.sidebar {
		.nav-header {
			color: $chla-brown;
		}
		a:hover {
			background-color: $chla-green;
			color: white;
		}
	}
	.jumplinks {
		padding-left: 15px;
		li {
			margin-bottom: .5em;
		}
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.mann-header--chla {
		.hero {
			background: url("/assets/collections/chla/taschenbuch3-banner.jpg") no-repeat;
		}
	}
}
// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
// }
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }
