// Variables
// ------------


// Custom styles
// --------------
.dynkin-wrapper {
	background: url("/collections/dynkin/page_bg.jpg") repeat-x top;
}
.dynkin-layout {
	background: url("/collections/dynkin/dynkin-header.png") no-repeat top;
}
.dynkin-main {
	margin-top: 16em;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
// @media (min-width: $screen-sm) { 
// }
// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
// }
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }
