// Variables
// ------------

$hearth-black: #1c1f33;
$hearth-gray: #666370;
$hearth-mauve: #9b7874;
$hearth-pink: #d33e43;
$hearth-red: #ff220c;



// Custom styles
// --------------


.mann-header--hearth {
	h2 {
		a {
			color: white;
		}
	}
	.navbar-toggle {
		background: $hearth-pink;
	}
	.navbar {
		background: $hearth-black;
	}
	.navbar-nav > li > a {
		background: $hearth-mauve;
	}
	.navbar-nav > li > a:hover {
		border: 0;
		background: $hearth-pink;
	}
	.navbar-collapse {
		padding-left: 0;
	}
	.search-bar {
		.glyphicon {
			color: white;
			background: $hearth-pink;
		}
	}
}
.mann-layout--hearth {
	.well {
		background: url("/assets/collections/hearth/contemporary_china_2.png");
	}
	.lead {
		strong {
			color: $hearth-pink;
		}
	}
	.collection-browse {
		margin-bottom: 1em;
		a {
			background: $hearth-pink;
		}
		a:hover {
			background: $hearth-red;
		}
	}
	.sidebar {
		.nav-header {
			color: $hearth-pink;
		}
		a:hover {
			background-color: $hearth-gray;
			color: white;
		}
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.mann-header--hearth {
		.hero {
			background: url("/assets/collections/hearth/delineator-banner.jpg") no-repeat;
		}
	}
}
// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
// }
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }
