// Variables
// --------------

$font-family-witchcraft-display: 'Overlock', cursive;
@import url(//fonts.googleapis.com/css?family=Lancelot|Overlock);
$witchcraft-red: #932129;


.collection-banner-may {
	background: black;
	h2 {
		font-family: $font-family-witchcraft-display;
		color: white;
		padding: .25em 0;
	}
}
.may-layout {
	h3, h4 {
		color: $witchcraft-red;
		font-family: $font-family-witchcraft-display;
	}
	.collection-browse {
		a {
			background: $witchcraft-red;
		}
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up) 
@media (min-width: $screen-sm) { 
	.collection-banner-may {
		background: black url("/collections/may-antislavery/hero_1200w.jpg") no-repeat bottom right;
		h2 {
			padding: 1em 0;
			font-size: 48px;
		}
	}
}

// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
// }

// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }