// Variables
// ------------

$chla-orange: #eb8f0c;
$chla-green: #668d3c;
$chla-brown: #613318;
$chla-dark-brown: #493829;

$srilanka-red: #9c0e05;
$srilanka-pink: #fbeee6;
$font-family-srilanka-display: 'Macondo Swash Caps', cursive;
@import url(//fonts.googleapis.com/css?family=Macondo+Swash+Caps);


// Custom styles
// --------------

.blacklight-pages-show {
	.special-collections {
		h2 {
			a, a:hover, a:active, a:focus {
				border: 0;
				text-decoration: none;
			}
		}
	}
}

.srilanka-header {
	h2 {
		font-family: $font-family-srilanka-display;
		margin: .25em 0;
		display: inline-block;
		font-size: 48px;
		a, a:hover, a:active, a:focus {
			color: $srilanka-red;
		}
	}
	.background {
		background: url("/assets/collections/srilanka/arabesque.png");
		img {
			margin: 3em 0 .5em;
		}
		.caption p {
			text-align: right;
			font-size: 12px;
			color: $gray;
			font-style: italic;
			margin-bottom: 4em;
		}
	}
}
.srilanka-layout {
	margin: 0 0 4em 0;
	.navbar-collapse {
		padding: 0;
	}
	.well {
		background: $srilanka-pink;
		border: 0;
		padding: 30px;
		p {
			margin-bottom: 0;
		}
	}
	.nav > li {
		font-size: 14px;
		text-transform: uppercase;
	}
	.nav > li > a,
	.nav > li > a:hover,
	.nav > li > a:active,
	.nav > li > a:focus {
		border: 0;
		background: inherit;
	}
	.nav > li > a:hover {
		color: $srilanka-red;
	}
	.nav > .active > a, 
	.nav > .active > a:hover,
	.nav > .active > a:active,
	.nav > .active > a:focus  {
		color: $srilanka-red
	}
	.sidebar {
		margin-top: 0;
	}
	.main-text {
		h3 {
			font-family: $font-family-srilanka-display;
			color: $srilanka-red;
			margin-top: 10px;
			font-size: 30px;
		}
	}
	.main-text {
		.collection-search,
		.browse-links {
			margin-bottom: 2em;
			h3 {
				font-size: 16px;
				// color: $srilanka-red;
				font-weight: 700;
				font-family: $font-family-sans-serif;
			}
		}
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.srilanka-layout {
		margin-top: 4em;
		.nav > li {
			text-align: right;
		}
		.nav > li > a {
			display: inline-block;
		}
		.navbar {
			padding-top: 0;
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {

}
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// 	// .brand {
// 	// 	font-size: 36px;
// 	// }
// }
