// Variables
// ------------

$font-family-tarr-serif: 'Cinzel';        @import
url(//fonts.googleapis.com/css?family=Cinzel);

// Custom styles
// --------------

.tarr-layout {
	.hero {
		background: image-url("collections/tarr/2891668.jpg") no-repeat 50% 50%;
		min-height: 600px;
		.well {
			background: rgba(255,255,255,.9);
			margin-top: 5em;
			padding: 30px;
			border: 0;
			.fa {
				font-size: 80%;
				margin-left: .5em;
			}
		}
		.form-inline {
			.form-control {
				width: 100%;
			}
		}
	}
}

.basic-header.tarr-header {
	margin-bottom: 0;
}

.tarr-header {
	h2 {
		font-family: $font-family-tarr-serif;
		margin-bottom: 0;
	}
	.subtitle {
		font-family: $font-family-tarr-serif;
		margin: 0 0 1rem 0;
		font-size: 16px;
	}
}
.tarr-info {
	background: rgba(255,255,255,.7);
	font-size: 12px;
	padding: 20px;
	margin: 3em 0 1em;
	p {
		font-size: 14px;
	}
	p:last {
		font-size: 12px;
	}
}
.doi {
	clear: both;
	margin-top: 3em;
	h4 {
		margin-top: 0;
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up) 
@media (min-width: $screen-sm) { 	
	.tarr-layout {
		.hero {
			min-height: 700px;
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	// Collection nav
	.nav-collection {
		float: right;
	}
}

// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }
