// Variables
// ------------

$ice-blue: #05b7c7;
$light-ice-blue: #abe4e9;
$dark-ice-blue: #049dab;
$font-family-tarr-serif: 'Cinzel';        @import
url(//fonts.googleapis.com/css?family=Cinzel);

// Custom styles
// --------------

.tarr-layout {
	.hero {
		background: url("/assets/collections/tarr/2891668.jpg") no-repeat 50% 50%;
		min-height: 600px;
		.well {
			background: rgba(255,255,255,.3);
			margin-top: 5em;
			padding: 30px;
			border: 0;
			i {
				font-size: 80%;
				margin-left: .5em;
			}
		}
		.form-inline {
			.form-control {
				width: 100%;
			}
		}
	}
	.btn-search {
		.glyphicon {
			color: $dark-ice-blue;
		}
	}
	.btn-primary {
		background: $ice-blue;
	}
}

.basic-header.tarr-header {
	margin-bottom: 0;
}

.tarr-header {
	h2 {
		font-family: $font-family-tarr-serif;
		margin-bottom: 0;
	}
	.subtitle {
		font-family: $font-family-tarr-serif;
		margin: 0 0 25px 0;
		font-size: 16px;
	}
	.nav-collection {
		li > a {
			text-decoration: none;
		}
		li > a:hover {
			background: $light-ice-blue;
			color: $gray-dark;
		}
		.active > a,
		.active > a:hover,
		.active > a:visited,
		.active > a:active {
			background: $ice-blue;
			color: white;
			text-decoration: none;
		}
	}
}
.tarr-rights {
	background: white;
	font-size: 12px;
	padding: 20px;
	margin: 3em 0 1em;
}
.rmc-info {
	margin: 2em 0;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up) 
@media (min-width: $screen-sm) { 	
	.tarr-layout {
		.hero {
			min-height: 650px;
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	// Collection nav
	.nav-collection {
		float: right;
	}
}

// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }
