.wordsworth-header {
	background: image-url("collections/wordsworth/masthead.jpg") no-repeat;
	height: 150px;
	margin-bottom: 2em;
}

.multi-hathi-wrapper ul {
	padding-left: 0;
	margin-left: 0;
	list-style: none;

	li {
		line-height: .75em;
		font-size: 14px;
	}
}
