<h3 id="sets">Image sets</h3>
<div class="sets">
	<div class="row">
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/21cb3f36-f380-430a-b63b-fa80c8304452_size2" class="img-thumbnail">
				<div class="set-link">
					B’Ham Southern
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/6b6fb39f-5e04-4a99-a1da-926281d8fd03_size2" class="img-thumbnail">
				<div class="set-link">
					BM Boston Terminal
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/81901ca2-c570-42a6-859e-32c30af9495f_size2" class="img-thumbnail">
				<div class="set-link">
					B&amp;O Chicago
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/8286b2b9-7f05-4c9c-b88a-f44d8a2f722c_size2" class="img-thumbnail">
				<div class="set-link">
					CNJ-(et seq)
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/66212b7d-83c4-4aeb-8275-d104f791499d_size2" class="img-thumbnail">
				<div class="set-link">
					CNW Chicago
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/ad1361ec-d1fd-4115-a038-bd9484d5084f_size2" class="img-thumbnail">
				<div class="set-link">
					CRI Industry Siding
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/16373113-17f8-44c6-9716-359cd762537c_size2" class="img-thumbnail">
				<div class="set-link">
					Denver’s Burnham Yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/6bb794d6-8aae-4e30-aacd-31116750dc97_size2" class="img-thumbnail">
				<div class="set-link">
					DMIR
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/3553fd22-0a9f-4031-b383-c62018338d33_size2" class="img-thumbnail">
				<div class="set-link">
					GNRR by Zumwinkle
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/922bd60e-31c7-4f57-8261-05509b3d23ce_size2" class="img-thumbnail">
				<div class="set-link">
					GNRR MPLS Jct
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/2e1b7526-d595-459d-89bf-333783560f91_size2" class="img-thumbnail">
				<div class="set-link">
					ICRR
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/183e716a-a622-4432-ae10-0bb04403447b_size2" class="img-thumbnail">
				<div class="set-link">
					KC Terminal
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/ba6d39be-ca8b-4a73-ae4c-f6b92318f1bb_size2" class="img-thumbnail">
				<div class="set-link">
					LIRR &amp; NYC
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/93116c69-a560-4c64-a660-3cd5f1450320_size2" class="img-thumbnail">
				<div class="set-link">
					LN Birmingham
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/ebaf3322-acf2-4c02-a206-cb7a85840ea7_size2" class="img-thumbnail">
				<div class="set-link">
					MILW
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/171116b0-8f42-4df6-b7a5-5097e0e625ac_size2" class="img-thumbnail">
				<div class="set-link">
					NP &amp; GNRR, Spokane WA
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/f6a0af8b-7155-4bce-bfd8-7a8aab8f9b91_size2" class="img-thumbnail">
				<div class="set-link">
					NW Norfolk and Portsmouth
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/8d47ecee-e059-4568-9480-e7006121e183_size2" class="img-thumbnail">
				<div class="set-link">
					NYC and NH
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/045e7a99-dfbe-4d25-b3c3-0b498e16c8a7_size2" class="img-thumbnail">
				<div class="set-link">
					Photos of Commission
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/219a7685-eb74-4d42-8e1a-ae26a8b39c4d_size2" class="img-thumbnail">
				<div class="set-link">
					PRR by Bartley
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/a4519fd9-beeb-4660-b65b-269a41a9dbc7_size2" class="img-thumbnail">
				<div class="set-link">
					PRR Enola Yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/f7a1bf7b-7c98-479f-9a69-771a0f5a719a_size2" class="img-thumbnail">
				<div class="set-link">
					RDG Harrisburg
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/4ba15322-28fa-474d-b088-a976b1a01068_size2" class="img-thumbnail">
				<div class="set-link">
					Southern Rwy
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/d3b76f80-5187-47fa-8a98-e95fc8721dd4_size2" class="img-thumbnail">
				<div class="set-link">
					SSP Los Angeles
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/0c5639ef-d171-49ce-a115-28e2c6f837b5_size2" class="img-thumbnail">
				<div class="set-link">
					SP Oakland
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/01a0b2d5-1a27-4143-9ab5-6890def7a72a_size2" class="img-thumbnail">
				<div class="set-link">
					SP Pacific Div., El Paso
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/d87eca80-2619-4f8e-a32b-3e891bd5601c_size2" class="img-thumbnail">
				<div class="set-link">
					SP Portland, OR
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/69b4111b-aa95-44d2-b1d4-ebe777258226_size2" class="img-thumbnail">
				<div class="set-link">
					SP San Francisco
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/9bdcf72f-c2f4-4d34-a300-a352972761ee_size2" class="img-thumbnail">
				<div class="set-link">
					T&amp;P
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/ff1f8e02-5461-4edf-90bf-07ff07776079_size2" class="img-thumbnail">
				<div class="set-link">
					TRRA
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/f32840c1-f828-43d2-b571-80c11b1071d1_size2" class="img-thumbnail">
				<div class="set-link">
					UP Denver
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/cc678e74-5bb0-40fc-a09f-c974195cbc86_size2" class="img-thumbnail">
				<div class="set-link">
					UP facilities Idaho
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="#">
				<img src="http://stor.artstor.org/stor/3567cf6f-ba94-4a37-bc8f-3ca0ccde4cbf_size2" class="img-thumbnail">
				<div class="set-link">
					Washington DC Union Station
				</div>
			</a>
		</div>
	</div>
</div>

