<h3 id="sets">Sets</h3>
<div class="sets">
	<div class="row">
		<div class="set-item">
			<a href="http://localhost:3000/?f%5Bset_title_tesim%5D%5B%5D=Birmingham+Southern+Railroad%3A+Industries+and+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/21cb3f36-f380-430a-b63b-fa80c8304452_size2" class="img-thumbnail">
				<div class="set-link">
					Birmingham Southern Railroad: Industries and Yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Boston+and+Maine+Railroad+%28B%26M%29%3A+Boston+Terminal+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/6b6fb39f-5e04-4a99-a1da-926281d8fd03_size2" class="img-thumbnail">
				<div class="set-link">
					Boston and Maine Railroad (B&amp;M): Boston Terminal Yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Baltimore+and+Ohio+Railroad+%28B%26O%29%3A+Chicago+Division&view=gallery">
				<img src="http://stor.artstor.org/stor/81901ca2-c570-42a6-859e-32c30af9495f_size2" class="img-thumbnail">
				<div class="set-link">
					Baltimore and Ohio Railroad (B&amp;O): Chicago Division
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Central+Railroad+of+New+Jersey%3A+Buttonwood+Yards+and+Wilkes-Barre+Interchange&view=gallery">
				<img src="http://stor.artstor.org/stor/8286b2b9-7f05-4c9c-b88a-f44d8a2f722c_size2" class="img-thumbnail">
				<div class="set-link">
					Central Railroad of New Jersey: Buttonwood Yards and Wilkes-Barre Interchange
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Chicago+%26+North+Western+Railway%3A+Chicago+Terminal+Division%2C+Proviso+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/66212b7d-83c4-4aeb-8275-d104f791499d_size2" class="img-thumbnail">
				<div class="set-link">
					Chicago &amp; North Western Railway: Chicago Terminal Division, Proviso Yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Chicago+River+and+Indiana+Railroad%3A+Chicago+Industries+and+Union+Stock+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/ad1361ec-d1fd-4115-a038-bd9484d5084f_size2" class="img-thumbnail">
				<div class="set-link">
					Chicago River and Indiana Railroad: Chicago Industries and Union Stock Yards
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Chicago%2C+Milwaukee%2C+St.+Paul+and+Pacific+Railroad+%28The+Milwaukee+Road%29%3A+locomotives+and+rolling+stock&view=gallery">
				<img src="http://stor.artstor.org/stor/ebaf3322-acf2-4c02-a206-cb7a85840ea7_size2" class="img-thumbnail">
				<div class="set-link">
					Chicago, Milwaukee, St. Paul and Pacific Railroad (The Milwaukee Road): locomotives and rolling stock
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Chicago%2C+Rock+Island+and+Pacific+Railroad%3A+Missouri%2FKansas+Division%2C+Kansas+City+Terminal+and+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/183e716a-a622-4432-ae10-0bb04403447b_size2" class="img-thumbnail">
				<div class="set-link">
					Chicago, Rock Island and Pacific Railroad: Missouri/Kansas Division, Kansas City Terminal and Yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Denver’s+Burnham+Yards%3A+The+Rio+Grande+%28DRGW%29%2C+Colorado+%26+Southern%2C+and+Santa+Fe+Railway+%28ATSF%29+facilities&view=gallery">
				<img src="http://stor.artstor.org/stor/16373113-17f8-44c6-9716-359cd762537c_size2" class="img-thumbnail">
				<div class="set-link">
					Denver’s Burnham Yards: The Rio Grande (DRGW), Colorado & Southern, and Santa Fe Railway (ATSF) facilities
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Duluth%2C+Missabe+and+Iron+Range+Railway%3A+mining+and+shipping+operations&view=gallery">
				<img src="http://stor.artstor.org/stor/6bb794d6-8aae-4e30-aacd-31116750dc97_size2" class="img-thumbnail">
				<div class="set-link">
					Duluth, Missabe and Iron Range Railway: mining and shipping operations
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Great+Northern+Railway%3A+Everett+and+Seattle%2C+Washington&view=gallery">
				<img src="http://stor.artstor.org/stor/3553fd22-0a9f-4031-b383-c62018338d33_size2" class="img-thumbnail">
				<div class="set-link">
					Great Northern Railway: Everett and Seattle, Washington
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Great+Northern+Railway%3A+Minneapolis+Junction&view=gallery">
				<img src="http://stor.artstor.org/stor/922bd60e-31c7-4f57-8261-05509b3d23ce_size2" class="img-thumbnail">
				<div class="set-link">
					Great Northern Railway: Minneapolis Junction
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Illinois+Central+Railroad%3A+Memphis+Division&view=gallery">
				<img src="http://stor.artstor.org/stor/2e1b7526-d595-459d-89bf-333783560f91_size2" class="img-thumbnail">
				<div class="set-link">
					Illinois Central Railroad: Memphis Division
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Long+Island+Railroad+%28LIRR%29%3A+Car+Float+operations+at+Long+Island+City+and+Hudson+River+Railyards&view=gallery">
				<img src="http://stor.artstor.org/stor/ba6d39be-ca8b-4a73-ae4c-f6b92318f1bb_size2" class="img-thumbnail">
				<div class="set-link">
					Long Island Railroad (LIRR): Car Float operations at Long Island City and Hudson River Railyards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Louisville+and+Nashville+Railroad+%28L%26N%29%3A+Birmingham+Division%2C+yards%2C+passenger+terminals%2C+and+industries&view=gallery">
				<img src="http://stor.artstor.org/stor/93116c69-a560-4c64-a660-3cd5f1450320_size2" class="img-thumbnail">
				<div class="set-link">
					Louisville and Nashville Railroad (L&amp;N): Birmingham Division, yards, passenger terminals, and industries
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=New+York+Central+Railroad+%28NYCRR%29+Cleveland+Division+Collinwood+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/b3b004b1-b952-4a5d-bc13-c7665f5d3306_size2" class="img-thumbnail">
				<div class="set-link">
					New York Central Railroad (NYCRR): Cleveland Division, Collinwood Yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=New+York%2C+New+Haven+and+Hartford+Railroad%3A+Yards+and+Tracks+from+New+York+City+to+Boston%2C+Massachusetts&view=gallery">
				<img src="http://stor.artstor.org/stor/8d47ecee-e059-4568-9480-e7006121e183_size2" class="img-thumbnail">
				<div class="set-link">
					New York, New Haven and Hartford Railroad: Yards and Tracks from New York City to Boston, Massachusetts
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Norfolk+and+Western+Railroad%3A+Norfolk+Terminal+and+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/f6a0af8b-7155-4bce-bfd8-7a8aab8f9b91_size2" class="img-thumbnail">
				<div class="set-link">
					Norfolk and Western Railroad: Norfolk Terminal and Yards
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Northern+Pacific+Railroad+and+Great+Northern+Railway%3A+facilities+in+Spokane%2C+Washington&view=gallery">
				<img src="http://stor.artstor.org/stor/171116b0-8f42-4df6-b7a5-5097e0e625ac_size2" class="img-thumbnail">
				<div class="set-link">
					Northern Pacific Railroad and Great Northern Railway: facilities in Spokane, Washington
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Pennsylvania+Railroad%3A+Enola+Yards%2C+Rutherford+Yards%2C+Harrisburg+Penn+Station&view=gallery">
				<img src="http://stor.artstor.org/stor/a4519fd9-beeb-4660-b65b-269a41a9dbc7_size2" class="img-thumbnail">
				<div class="set-link">
					Pennsylvania Railroad: Enola Yards, Rutherford Yards, Harrisburg Penn Station
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Pennsylvania+Railroad%3A+Philadelphia+Division&view=gallery">
				<img src="http://stor.artstor.org/stor/219a7685-eb74-4d42-8e1a-ae26a8b39c4d_size2" class="img-thumbnail">
				<div class="set-link">
					Pennsylvania Railroad: Philadelphia Division
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Reading+Railroad%3A+Rutherford+Yards+and+Steelton+Industries&view=gallery">
				<img src="http://stor.artstor.org/stor/f7a1bf7b-7c98-479f-9a69-771a0f5a719a_size2" class="img-thumbnail">
				<div class="set-link">
					Reading Railroad: Rutherford Yards and Steelton Industries
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Southern+Pacific+Railroad%3A+Brooklyn+Yards+%28Portland%2C+Oregon%29&view=gallery">
				<img src="http://stor.artstor.org/stor/d87eca80-2619-4f8e-a32b-3e891bd5601c_size2" class="img-thumbnail">
				<div class="set-link">
					Southern Pacific Railroad: Brooklyn Yards (Portland, Oregon)
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Southern+Pacific+Railroad%3A+Coast+Division%2C+San+Francisco&view=gallery">
				<img src="http://stor.artstor.org/stor/69b4111b-aa95-44d2-b1d4-ebe777258226_size2" class="img-thumbnail">
				<div class="set-link">
					Southern Pacific Railroad: Coast Division, San Francisco
				</div>
			</a>
		</div>	
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Southern+Pacific+Railroad%3A+Los+Angeles+SoPac+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/d3b76f80-5187-47fa-8a98-e95fc8721dd4_size2" class="img-thumbnail">
				<div class="set-link">
					Southern Pacific Railroad: Los Angeles SoPac Yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Southern+Pacific+Railroad%3A+Pacific+Division%2C+El+Paso+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/01a0b2d5-1a27-4143-9ab5-6890def7a72a_size2" class="img-thumbnail">
				<div class="set-link">
					Southern Pacific Railroad: Pacific Division, El Paso Yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Southern+Pacific+Railroad%3A+Western+Division%2C+West+Oakland+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/0c5639ef-d171-49ce-a115-28e2c6f837b5_size2" class="img-thumbnail">
				<div class="set-link">
					Southern Pacific Railroad: Western Division, West Oakland Yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Southern+Railway%3A+Inman+Yards+and+Atlanta+Terminal&view=gallery">
				<img src="http://stor.artstor.org/stor/4ba15322-28fa-474d-b088-a976b1a01068_size2" class="img-thumbnail">
				<div class="set-link">
					Southern Railway: Inman Yards and Atlanta Terminal
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Terminal+Railroad+Association+of+St.+Louis%3A+St.+Louis+Union+Station+and+surrounding+yards&view=gallery">
				<img src="http://stor.artstor.org/stor/ff1f8e02-5461-4edf-90bf-07ff07776079_size2" class="img-thumbnail">
				<div class="set-link">
					Terminal Railroad Association of St. Louis: St. Louis Union Station and surrounding yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Texas+and+Pacific+Railway%3A+El+Paso+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/9bdcf72f-c2f4-4d34-a300-a352972761ee_size2" class="img-thumbnail">
				<div class="set-link">
					Texas and Pacific Railway: El Paso Yards
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=U.S.+President%27s+Railroad+Commission&view=gallery">
				<img src="http://stor.artstor.org/stor/045e7a99-dfbe-4d25-b3c3-0b498e16c8a7_size2" class="img-thumbnail">
				<div class="set-link">
					U.S. President's Railroad Commission
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Union+Pacific+Railroad%3A+Denver+Union+Terminal+and+Freight+Houses&view=gallery">
				<img src="http://stor.artstor.org/stor/f32840c1-f828-43d2-b571-80c11b1071d1_size2" class="img-thumbnail">
				<div class="set-link">
					Union Pacific Railroad: Denver Union Terminal and Freight Houses
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Union+Pacific+Railroad%3A+Pocatello%2C+Idaho+passenger+depot+and+freight+yards&view=gallery">
				<img src="http://stor.artstor.org/stor/cc678e74-5bb0-40fc-a09f-c974195cbc86_size2" class="img-thumbnail">
				<div class="set-link">
					Union Pacific Railroad: Pocatello, Idaho passenger depot and freight yards
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bset_title_tesim%5D%5B%5D=Washington+Terminal+Co.+Railroad%3A+Washington+D.C.+Union+Station+and+Potomac+Yards&view=gallery">
				<img src="http://stor.artstor.org/stor/3567cf6f-ba94-4a37-bc8f-3ca0ccde4cbf_size2" class="img-thumbnail">
				<div class="set-link">
					Washington Terminal Co. Railroad: Washington D.C. Union Station and Potomac Yards
				</div>
			</a>
		</div>
		
	</div>
</div>

