<% content_for :page_title, 'Language of Flowers' %>
<%= render partial: 'pages/collections/flowers/header' %>
<div class="mann-layout mann-layout--flowers">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<p>The <strong>Language of Flowers</strong> includes <a href="/?f[collection_tesim][]=Language+of+Flowers&f[format_tesim][]=Book">92 rare texts</a> on the art of expressing emotions, sentiments and moral lessons through floral arrangements, all dating from the early 19th century through the 1950’s. Replete with exquisite, intricately detailed hand-colored plates, this collection provides a look into the history of the use of flowers in Western culture as well as popular perceptions of nature and society.</p>
				<p>With roots in the Turkish Sélam floral code of the 18th century, the art of florigraphy first became popular in France in the early 1800s. Building on the floral dictionaries developed by their French predecessors, scholars, writers, and moralists of Victorian England and North America favored floral symbolism as a popular medium for expressing moralistic sentiments, while love-struck amateur poets often used the Language of Flowers to encode surreptitious messages of passion.</p>
				<p><a href="https://mannlib.cornell.edu/use/collections/special">Mann Library’s Special Collections</a> is home to more than 120 rare volumes donated by award-winning garden writer Isabel Zucker ’26. Generous giving by her daughter Judith Zucker Clark '53 supported initial conservation treatments of this beautiful, historical collection.</p>
				<p>The books presented here also join the titles contributed from the collections of the Chicago Botanic Garden’s Lenhardt Library to form the <a href="https://www.biodiversitylibrary.org/browse/collection/LanguageofFlowers">Language of Flowers collection</a> of the <a href="https://www.biodiversitylibrary.org/">Biodiversity Heritage Library</a>.</p>

				<div class="collection-browse">
					<a href="/?f[collection_tesim][]=Language+of+Flowers&f[format_tesim][]=Book" class="btn btn-lg btn-primary">Browse the Collection</a>
				</div>
			</div>
			<div class="col-sm-4">
				<%= image_tag "collections/flowers/snowdrop_crocus_TheRomanceofNature_1836" , alt: "", class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>
