<% content_for :page_title, 'Knowledge of the World in Early Modern Japan' %>
<div class="container">
	<h2>Knowledge of the World in Early Modern Japan</h2>
</div>
<div class="collection-banner collection-banner--japaneseworld hidden-xs">
	<div class="container">
		<%= image_tag "collections/japaneseworld/composite.jpg" , alt: "", class: "img-responsive" %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f[collection_tesim][]=Knowledge+of+the+World+in+Early+Modern+Japan&view=gallery">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Knowledge of the World in Early Modern Japan"}  %>
			</div>
			<a href="/catalog/ss:517911">
				<%= image_tag "collections/japaneseworld/517911.jpg" , alt: "横濱開港見聞誌 / Yokohama kaikō kenbunshi / An Account of Things Observed Upon the Opening of the Port of Yokohama", class: "img-responsive" %>
			</a>
			<p class="caption">
				横濱開港見聞誌 / Yokohama kaikō kenbunshi / An Account of Things Observed Upon the Opening of the Port of Yokohama
			</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>About the Collection</h3>
			<p>For the majority of the period covered in this database (17th to 19th centuries), scholars have traditionally characterized Japan as a “closed country” (sakoku), as its rulers permitted only limited contact with the Chinese and Dutch in controlled areas of Nagasaki, and threatened death to any Japanese who might leave the country or profess “foreign beliefs” (such as Christianity). In recent decades, however, much research has challenged conventional assumptions regarding Japan’s “isolation,” revealing how closely its ruling clan and intellectuals followed events and the fundamentals of knowledge in other parts of the world. In fact, in 1853, when Commodore Perry rode his “black ships” into a Japanese harbor with an order to open Japan to foreign trade, he was met by a representative of Japan’s ruling clan who spoke with him in English. After Perry’s intrusion, and especially with the opening of ports at Kobe and Yokohama for foreign trade, curiosity about “outsiders” reached the level of popular culture, with many depictions of the “strange habits” of foreigners. Far more than just curiosities, these books represented Japan’s initial attempts to understand the west and modernize itself accordingly, and are therefore of importance in understanding the formation of modern Japan.</p>
			<p>William Elliot Griffis (1843-1928) gathered the books and maps in this collection during and after his career as a pioneering educator in 1870s Japan, and the four components of the archive reflect his personal interests. Griffis, who served for a decade as minister of Ithaca’s First Congregational Church, was fascinated by the saga of Christianity in Japan, and gathered both anti-Christian texts and materials representing the re-emergence of Christianity in Japan in the 1870s, including an extremely rare, illegal hymnal used in underground worship (so little-encountered that it has been nicknamed “the phantom hymnal”). Griffis researched and wrote extensively on Korea, and the Japanese works on Korea in his collection form a fascinating subsection with deep political interest. Particularly notable here is the Chinbirok, an account of the 1590s invasion of Korea from the Korean point of view. The re-emergence of this Korean invasion as a popular topic in the 1850s hints already of Korea as an area of imperialist interest as Japan attempted to establish itself as a modern, western-style nation. The other components of the collection deal with Japanese knowledge of foreign countries (primarily European) before the opening of Japan, including an 18th century Japanese copy of a Dutch medical book (with comparison to an original copy) and an extensive, 13-volume Dutch-Japanese dictionary, as well as reports on events in continental Asia, and popular, pictorial materials on westerners and western countries after the “opening” of Japan.</p>
			<p>See <a href="/collections/japanesetheater">Theatre Prints and Books from Early Modern Japan</a> for more Japanese woodblocks.</p>
			<h3>Contact</h3>
			<p>For questions about this collection, please contact Kroch Asia Library reference staff at <a href="mailto:asiaref@cornell.edu">asiaref@cornell.edu</a>.</p>
		</div>
	</div>
</div>