<% content_for :page_title, 'Liberian Law Collection' %>
<div class="container">
	<h2>Liberian Law Collection</h2>
</div>
<div class="collection-banner hidden-xs">
	<div class="container">
		<%= image_tag "collections/liberian/hero-liberian.jpg" , alt: "", class: "img-responsive" %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f[collection_tesim][]=Liberian+Law+Collection">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Liberian Law Collection"}  %>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>A subpart of the <a href="https://rmc.library.cornell.edu/EAD/htmldocs/KCL04039l.html">Milton R. Konvitz Liberian Codification Project</a> archives housed at the <a href="https://catherwood.library.cornell.edu/kheel">Kheel Center</a>, these documents are a partial reflection of Konvitz’s work. Beginning in the 1950s, and for nearly thirty years, Konvitz directed the Liberian Codification Project which organized and annotated the official body of statutory laws that is still in force in the Republic of Liberia today. The project both preserved copies of law dating from the mid-19th Century onwards, and produced the Liberian Code of Laws Revised (1973) which made the country’s laws more broadly accessible. Konvitz also edited the opinions of Liberia's Supreme Court which were then published as the Liberian Law Reports.</p>
			<p>The documents in this digitized collection include printed session laws and statutes, including many works which are now rare or difficult to obtain.  The collection was partially digitized in 2015.</p>
			<p>Please see a <a href="/docs/liberian/konvitz.pdf">full listing of the documents (PDF)</a> held by Cornell Law Library in print. A number of these documents have been extensively annotated by Konvitz in the margins. These form a dispersed set of notes that he made while working towards a completed set of codified laws. Copies of these annotated documents are not currently available online, but can be made available to researchers. Contact the Cornell Law Library for assistance in this regard.</p>
		</div>
	</div>
</div>