<% content_for :page_title, 'Scottsboro Trials Collection' %>
<div class="container">
	<h2>Scottsboro Trials Collection</h2>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f[collection_tesim][]=Scottsboro+Trials+Collection">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Scottsboro Trials Collection"}  %>
			</div>
			<%= image_tag "collections/scottsboro/scottsboro.jpg" , alt: "", class: "img-responsive" %>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>In the 1930s, nine young African-American men were tried for raping two white women in a train freight car in a groundbreaking case that tested the limits of race relations in the United States. Cornell Law School alumnus Samuel S. Leibowitz (J.D. 1915) represented these teenagers, who came to be known as the "Scottsboro Boys," in several proceedings. He kindly gave several important original documents and artifacts to the Cornell Law Library.</p>
			<p>The items in this collection include digitized copies of briefs, motions and other trial documents concerning the many Scottsboro Trials.  Additional items in the physical collection include photos, later published material about the trials, and portions of the model train that Liebowitz famously used as a trial exhibit to depict the location and movement of the parties in question.</p>
			<p>The legacy of the Scottsboro Trials centers on the idea of justice in the court system, the right to a fair trial, and efforts to overcome racial prejudice in the South.  Two landmark U.S. Supreme Court decisions flowed from these cases, establishing that criminal defendants are entitled to effective counsel, <em>Powell v. Alabama</em>, 287 U.S. 45 (1932), and that African-Americans cannot be systematically excluded from criminal juries, <em>Norris v. Alabama</em>, 294 U.S. 587 (1935).  This collection is a somber reminder of a period of American history when racism obstructed justice. It is also a reminder of the constant effort needed by dedicated lawyers and judges for the legal system to function properly.</p>
		</div>
	</div>
</div>