<div id="main-container" class="wrapper wrapper-indonesian">
	<%= render partial: 'pages/indonesianmusic/header' %>
	<div class="hero hero-indonesian-sub">
		<div class="container">
	      	<h1>About</h1>
	    </div>
	</div>
	<div class="main-text">
		<div class="container">
			<div class="col-sm-8">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis mattis massa, a convallis mauris. Nunc est lacus, ultricies sed vehicula a, semper ac ex. Nunc sodales dolor eget aliquam aliquet. Fusce eu eleifend elit. Maecenas purus neque, rhoncus et finibus ac, porttitor in ligula. In pulvinar dolor id justo fermentum bibendum. Donec placerat varius dui in dictum. Nunc dolor purus, placerat sit amet facilisis at, tincidunt ac dui. Fusce mi leo, scelerisque ac congue vel, venenatis vitae arcu. Curabitur aliquam finibus ligula eget lacinia.</p>
				<p>Cras nisl mauris, egestas eu hendrerit sit amet, vulputate non quam. Maecenas in purus ac tellus efficitur pellentesque quis eget nulla. Etiam nec eros vitae neque condimentum tempor. Nunc interdum consectetur velit. Nulla tincidunt consequat tristique. Proin sagittis orci vitae aliquam interdum. Nunc metus lorem, sollicitudin at vehicula sed, interdum a ex. In hac habitasse platea dictumst.</p>
				<p>Ut laoreet dictum massa, non mattis lacus iaculis eu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur egestas posuere nisl vel facilisis. Morbi ante eros, malesuada ut enim eu, bibendum viverra nisi. Etiam erat lorem, sodales vitae gravida vitae, iaculis lobortis enim. Nulla placerat tempor blandit. Nunc rutrum placerat justo ut porttitor. Fusce eget egestas lectus. Duis et hendrerit dolor. Donec in consectetur lorem. Nunc sed dolor interdum, eleifend enim in, porta odio.</p>
				<p>Suspendisse interdum nibh ac egestas interdum. Fusce non posuere nulla. Suspendisse ornare sit amet felis convallis faucibus. Nam sit amet pulvinar eros, at ultricies dolor. Sed eget imperdiet nunc. Phasellus suscipit eu dui tincidunt maximus. Morbi sagittis lectus magna, eget venenatis tellus aliquet ac. Ut quis erat porttitor, ullamcorper turpis nec, imperdiet ipsum. Integer id volutpat risus. Cras laoreet pharetra odio. Suspendisse tempor nibh sed enim laoreet, consectetur finibus eros viverra. Integer nulla velit, iaculis sed nisi ut, tempor auctor sapien. Integer vitae molestie eros.</p>
				<p>Donec mattis eleifend pharetra. Nulla mattis sit amet ipsum sit amet tincidunt. Phasellus volutpat dictum lectus id commodo. Pellentesque sed libero at magna faucibus bibendum in porta arcu. Vestibulum eget turpis ut dolor luctus dignissim vitae eu orci. Nam imperdiet dictum posuere. Quisque euismod, velit sed condimentum accumsan, magna leo condimentum ante, et dapibus arcu urna ut nunc. Fusce molestie dui non orci interdum, sed luctus arcu cursus. </p>
			</div>
		</div>
	</div>
</div>