<div id="main-container" class="wrapper wrapper-indonesian">
	<%= render partial: 'pages/indonesianmusic/header' %>
	<div class="hero hero-indonesian">
		<div class="container">
			<div class="col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6">
			    <div class="well">
			    	<p class="lead">Sed feugiat, erat non feugiat sodales, nisi nulla varius velit, sit amet condimentum sapien risus interdum turpis. Sed tempus sapien eget quam vulputate interdum. Morbi mattis metus a neque convallis...  <a href="/indonesianmusic/about" class="read-more-link">Read more <i class="fa fa-chevron-right"></i></a></p>
			    	<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&per_page=50&q=&search_field=all_fields&view=gallery" class="btn btn-browse btn-lg">Browse collection</a>
			    </div>
			</div>
		</div>
	</div>
</div>