<div id="main-container" class="wrapper wrapper-indonesian">
	<%= render partial: 'pages/indonesianmusic/header' %>
	<div class="hero hero-indonesian-sub">
		<div class="container">
	      	<h1>Resources</h1>
	    </div>
	</div>
	<div class="main-text">
		<div class="container">
			<div class="col-sm-8">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis mattis massa, a convallis mauris. Nunc est lacus, ultricies sed vehicula a, semper ac ex. Nunc sodales dolor eget aliquam aliquet. Fusce eu eleifend elit. Maecenas purus neque, rhoncus et finibus ac, porttitor in ligula. In pulvinar dolor id justo fermentum bibendum. Donec placerat varius dui in dictum. Nunc dolor purus, placerat sit amet facilisis at, tincidunt ac dui. Fusce mi leo, scelerisque ac congue vel, venenatis vitae arcu. Curabitur aliquam finibus ligula eget lacinia.</p>
				<p>Cras nisl mauris, egestas eu hendrerit sit amet, vulputate non quam. Maecenas in purus ac tellus efficitur pellentesque quis eget nulla. Etiam nec eros vitae neque condimentum tempor. Nunc interdum consectetur velit. Nulla tincidunt consequat tristique. Proin sagittis orci vitae aliquam interdum. Nunc metus lorem, sollicitudin at vehicula sed, interdum a ex. In hac habitasse platea dictumst.</p>

			</div>
		</div>
	</div>
</div>