<% content_for :page_title, 'Rudin Slavery Collection' %>
<div class="container">
	<h2>Rudin Slavery Collection</h2>
</div>
<div class="collection-banner hidden-xs">
	<div class="container">
		<a href="/catalog/ss:21813139"><%= image_tag "collections/rudin/21813139.jpg" , alt: "Harpers Weekly Engraving, 'The Effects of the Proclamation'", class: "img-responsive", title: "Harpers Weekly Engraving, 'The Effects of the Proclamation'" %></a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Rudin+Slavery+Collection&view=gallery">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Rudin Slavery Collection"}  %>
			</div>
			<a href="/catalog/ss:21813545">
				<%= image_tag "collections/rudin/21813545.png" , alt: "Deed of freedom for 14 year old Henry Blake", class: "img-responsive" %>
			</a>
			<p class="caption">
				Deed of freedom for 14 year old Henry Blake
			</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>The Gail and Stephen Rudin Collection on Slavery in America</h3>
			<p>In 2002 Gail Gifford Rudin ’56 and her husband, Stephen Rudin, donated their significant collection on the history of American slavery to Cornell University Library.  In the years since, the Rudins have gifted multiple collections of manuscript documents and letters, carefully collected by Stephen Rudin who gathered artifacts on topics ranging from English and American literature, the American Civil War, the development of the Atomic Bomb, letters by American Presidents, and many more.</p>
			<p>Especially important among their many gifts is the Rudin collection on the history of slavery in America, comprised of more than 500 documents, letters, and other items on the history of the sale, hire, purchase and debt payment of slaves in eighteenth- and nineteenth-century America. With his collection, Mr. Rudin sought to demonstrate how slavery was intertwined in the common economic and social practices of everyday American life, and with the goal that this terrible aspect of American history will be more fully revealed and understood.</p>
			<p>Through estate appraisals, wills, manumissions, taxation and insurance records, slave auction advertisements, correspondence, engravings, and other records, the collection offers important insights into the institution of slavery in American from the eighteenth century through the Civil War.</p>
			<p>Cornell gratefully acknowledges Gail and Stephen Rudin for their generous gifts to Cornell University Library, including the financial support that made this digital collection possible.</p>
			<p>Visit the complete <a href="http://rmc.library.cornell.edu/EAD/htmldocs/RMM04681.html">finding aid</a> for the physical collection, housed in Cornell Library’s <a href="https://rare.library.cornell.edu">Division of Rare and Manuscript Collections</a>.</p>
			<hr>
			<p><small>Note: Given the subject of this digital collection, viewers should be aware that the historical documents preserved herein include deeply disturbing racist imagery and/or painful descriptions of the institution of human chattel enslavement, primarily of Africans and African Americans, as it existed in the United States in the 18th and 19th centuries.</small></p>
		</div>
	</div>
</div>