<% content_for :page_title, 'Nuclear Fallout Pamphlets' %>
<div class="container">
	<h2>Nuclear Fallout Pamphlets</h2>

	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Nuclear+Fallout+Pamphlets">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Nuclear Fallout Pamphlets"}  %>
			</div>
			<a href="/catalog/ss:24354772">
				<%= image_tag "https://stor.artstor.org/stor/cc76be21-e28a-459a-ae92-acb39a1790cf_size3" , alt: "The Family Fallout Shelter", class: "img-responsive" %>
			</a>
			<p class="caption">
				The Family Fallout Shelter
			</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p><small><em>The following introduction to the collection was written by Ji Hyun Lee, PhD candidate in English, recipient of a 2018 Digital Collections in Arts and Sciences grant.</em></small></p>
			<p>On August 6, 1945, the world changed forever: nuclear war became a possibility. The <a href="https://rmc.library.cornell.edu/EAD/htmldocs/RMM08584.html">Nuclear Fallout Shelter and Safety Collection, 1959-1961</a>, held by the <a href="https://rare.library.cornell.edu">Division of Rare and Manuscript Collections</a>, contains pamphlets, booklets, and newsletters issued by the United States federal and state governments that instruct citizens on how to prepare for and survive a nuclear attack. Encapsulating the heyday of American civil defense, this collection is relevant not only as a piece of Americana but also as an investigative tool into the values and mores of the United States during the early Cold War. It gives insight into the debate about governmental versus individual responsibility during a time of war; with documents titled “<a href="/catalog/ss:24354776">Personal Preparedness in the Nuclear Age</a>” and “<a href="/catalog/ss:24354772">The Family Fallout Shelter</a>,” an image emerges of a country that puts enormous emphasis on individualism and family values. These digitized Cold War materials will not only support the study of history but also benefit research and teaching in multiple disciplines, such as lending context to the explosion of apocalyptic fiction in the 20th and 21st centuries as well as adding dimensionality to the current appeal of survivalism and prepper culture.</p>
			
			<p><small><em>This page is under construction; please check back for updates.</em></small></p>
		</div>
	</div>
</div>