<% content_for :page_title, 'Mysteries at Eleusis: Images of Inscriptions' %>
<div class="container">
	<h2>Mysteries at Eleusis: Images of Inscriptions</h2>
</div>
<div class="collection-banner hidden-xs">
	<div class="container">
		<a href="/catalog/ss:456661"><%= image_tag "collections/eleusis/456661.jpg" , alt: "Fragment a of decree concerning sacrifices", class: "img-responsive", title: "Fragment a of decree concerning sacrifices" %></a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Mysteries+at+Eleusis%3A+Images+of+Inscriptions&view=gallery">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Mysteries at Eleusis: Images of Inscriptions"}  %>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>About the project</h3>
			<p>This database consists of images of ancient inscriptions on stone from Eleusis. The images currently available are derived from photographs copyrighted by Professor Kevin Clinton (Department of Classics). Images from museums will be added as permission from the museums is granted; in the meantime only thumbnail views can be presented. All the photographs will be printed in Professor Clinton's edition of all documents of the Sanctuary of Demeter and Kore and the public documents of the deme, currently being published by the Archaeological Society at Athens. See Eleusis, The Inscriptions on Stone: Documents of the Sanctuary of the Two Goddesses and Public Documents of the Deme, Volume IA (Text) and IB (Plates), Athens 2005 (ISSN 1105-7785, Set 960-8145-48-1, The Archaeological Society at Athens, Panepistimiou 22, Athens 106 72). Volume II (Commentary) is in press.</p>
			<h3>Significance of the collection for digital scholarship</h3>
			<p>The documents are all from the sanctuary of the Eleusinian Mysteries, at Eleusis, a town belonging to Athens. "The Mysteries," as they were officially called, are usually recognized today, as they were in ancient times, as one of the most important religious cults in ancient Greece. Walter Burkert, for example, wrote: "The words mystical, mystery, mysterious are still common today. Their origins are in the ancient Greek cult, in particular the most famous one, the Eleusinian Mysteries" (Homo Necans, 248).</p>
			<p>The festival culminated in secret rites within the sanctuary of Demeter and Kore at Eleusis, which was located about fourteen miles west of Athens. Hundreds of people from all over the Greek world converged annually on Athens and Eleusis to take part in the sacred rites over the course of a week, and they were pledged to secrecy on penalty of death. Cicero said of the Mysteries that Athens had given to mankind "nothing finer..., and as they are called an initiation (initia), so indeed do we learn in them the basic principles of life, and from them acquire not only a way of living in happiness but also a way of dying with greater hope" (De legibus, 2.36).</p>
			<p>Several Roman emperors, including Augustus, Hadrian, and Marcus Aurelius, made the journey to Eleusis and became initiates. By the end of antiquity the Mysteries had left their mark on Christianity, certainly in terminology, such as "mystery" (the word for "sacrament" in the Greek Orthodox Church), "mystagogue," "mystic," and probably in other significant ways, which remain a subject of debate. Thus mystery ritual constitutes a tradition that extends, in varying form, from Archaic Greece to our own day.</p>
			<h3>References</h3>
			<table class="table table-striped table-responsive">
				<thead>
				  	<tr>
						<th scope="col">Full name</th>
						<th scope="col">Abbreviation</th>
				  	</tr>
				</thead>
				<tbody>
			  		<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
			  		</tr>
			  		<tr>
						<td><strong>Other corpus</strong></td>
						<td>&nbsp;</td>
			  		</tr>
			  		<tr>
						<td>Corpus inscriptionum graecarum</td>
						<td>CIG</td>
			  		</tr>
				  	<tr>
						<td>Corpus inscriptionum latinarum</td>
						<td>CIL</td>
			  		</tr>
			 		<tr>
						<td>Graindor, Paul. Marbres et textes antiques d'epoque imp&eacute;riale, Ghent, 1922.</td>
						<td>Graindor, Marbres</td>
			  		</tr>
			  		<tr>
						<td>Document number in <span class="italic">Eleusis, The Inscriptions on Stone: Documents of the Sanctuary of the Two Goddesses and Public Documents of the Deme</span>, Athens 2005</td>
						<td>IE</td>
			  		</tr>
			  		<tr>
						<td>Inscriptiones graecae</td>
						<td>IG</td>
			  		</tr>
			  		<tr>
						<td>Inscriptiones Italiae</td>
						<td>II</td>
			  		</tr>
			  		<tr>
						<td>Clinton, Kevin. The Sacred Officials of the Eleusinian Mysteries (Transactions of the American Philosophical Society, 64.3), Philadelphia, 1974.</td>
						<td>Sacred Officials</td>
			  		</tr>
			  		<tr>
						<td>Supplementum epigraphicum graecum</td>
						<td>SEG</td>
			  		</tr>
			  		<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
			  		</tr>
			  		<tr>
						<td><strong>Other journal</strong></td>
						<td>&nbsp;</td>
			  		</tr>
			  		<tr>
						<td>American Journal of Archaeology</td>
						<td>AJA</td>
			  		</tr>
			  		<tr>
						<td>Annual of the British School at Athens</td>
						<td>BSA </td>
			  		</tr>
			  <tr>
				<td>Annuario della Scuola archeologica di Atene e delle Missioni italiane 
				  in Oriente</td>
				<td>ASAtene </td>
			  </tr>
			  <tr>
				<td>Archaiologike Ephemeris</td>
				<td>AE</td>
			  </tr>
			  <tr>
				<td>Bulletin de correspondance hell&#x00E9;nique</td>
				<td>BCH</td>
			  </tr>
			  <tr>
				<td>Deltion</td>
				<td>Deltion</td>
			  </tr>
			  <tr>
				<td>Eleusiniaka</td>
				<td>Eleusiniaka</td>
			  </tr>
			  <tr>
				<td>Hellenika</td>
				<td>Hellenika</td>
			  </tr>
			  <tr>
				<td>Hesperia. Journal of the American School of Classical Studies at Athens.</td>
				<td>Hesperia</td>
			  </tr>
			  <tr>
				<td>Jahrbuch des Deutschen Arch&#x00E4;ologischen Instituts</td>
				<td>JdI</td>
			  </tr>
			  <tr>
				<td> Mitteilungen des Deutschen Arch&#x00E4;ologischen Instituts, 
				  Athenische Abteilung</td>
				<td>AM</td>
			  </tr>
			  <tr>
				<td>Philistor</td>
				<td>Philistor</td>
			  </tr>
			  <tr>
				<td>Polemon</td>
				<td>Polemon</td>
			  </tr>
			  <tr>
				<td>Praktika</td>
				<td>Praktika</td>
			  </tr>
			  <tr>
				<td>Revue des &#x00E9;tudes grecques</td>
				<td>REG</td>
			  </tr>
			  <tr>
				<td>Zeitschrift f&#x00FC;r Papyrologie und Epigraphik</td>
				<td>ZPE</td>
			  </tr>
			</tbody>
			</table>
			<h3>Contact</h3>
			<address>
				Cornell University<br>
				Department of Classics<br>
				Goldwin Smith Hall<br>
				Cornell University<br>
				Ithaca, NY 14853
			</address>
			<p>For questions about this collection, please email <a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a> or use our <a href="https://cornell.qualtrics.com/jfe/form/SV_22YsXiyJ86f8rMp">feedback form</a>.</p>
			<h3>Credits</h3>
			<p>The original internet database was produced in 1997-99 largely through the assistance of Nora Dimitrova and Gregory Clinton, with the support of a grant from the Gladys Krieble Delmas Foundation. The data in the non-image fields have been drawn from a database compiled by K. Clinton.</p>
			<p><strong>Digitization and Image Migration</strong><br>
				Danielle Mericle, Rhea Garen, Mira Basara</p>
			<p><strong>Metadata Design and Conversion</strong><br>
				Nancy Holcomb, Marty Kurth, Greg Nehler, Rick Silterra, Nancy Solla</p>
			<p><strong>Luna Database Creation and Collection Development</strong><br>
				Gale Halpern, Rick Silterra, David Jones</p>
			<p><strong>Web Design</strong><br>
				Melissa Kuo</p>
			<p><strong>Copyright</strong><br>
				Fiona Patrick</p>
			<p><strong>Project Management</strong><br>
				Danielle Mericle</p>
			<p>This project has been made possible by the <a href="https://wayback.archive-it.org/2566/20130606172336/http://dcaps.library.cornell.edu/facultygrants/index.php">Faculty Grants for Digital Library Collections: Advancing E-Scholarship</a> program.</p>
		</div>
	</div>
</div>