<% content_for :page_title, 'Digital Tamang' %>
<div class="container">
	<h2>Digital Tamang</h2>
	<div class="clearfix">
		<div class="pull-right img-right">
			<a href="/catalog/ss:2593906">
			<%= image_tag "http://stor.artstor.org/stor/385c38bb-50d8-4af4-bca5-3c7eb77cea66_size3" , alt: "Lamas Performing Mask Dance Ritual", class: "img-thumbnail img-responsive" %>
			</a>
			<p class="caption">
				<a href="/catalog/ss:2593906">lamaharu mukhando nach prastut gardai (लामाहरु मुखंडो नाच प्रस्तुत गर्दै / Lamas Performing Mask Dance Ritual)</a>
			</p>
		</div>
		<p>This collection of photographs originates from ethnographic fieldwork conducted by Cornell Anthropology Professors Kathryn March and David Holmberg on the Tamang of central highland Nepal. The images, collected between 1970 and 2007, provide a unique view of this community over a 37 year period, and offer insight into the culture, art, religious ceremonies, and daily life of the Tamang people for scholars and researchers, and more importantly, for the community itself. Members of the community collaborated on this project, providing invaluable input and helping to identify and describe the photographs. This collection joins an important body of existing Tamang and regionally-focused digital resources housed by Cornell University, and aims to help preserve, understand, and promote Tamang heritage.</p>
	</div>
	<div class="well collection-search">
		<h3>Search Digital Tamang or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Digital+Tamang">browse the collection</a></h3>
		<%= render '/catalog/search_form', { :@collection_search => "Digital Tamang"}  %>	
	</div>
	<h3>Additional resources</h3>
	<ul>
		<li><a href="https://ecommons.cornell.edu/handle/1813/9995">Tamang Historical Documents</a></li>
		<li><a href="http://ebooks.library.cornell.edu/r/regmi/">Regmi Research Series Collection</a></li>
		<li><a href="https://ecommons.cornell.edu/handle/1813/24179">Nepali Textbooks</a></li>
 		<li><a href="https://ecommons.cornell.edu/handle/1813/52207">Nepal Through Nepali: Learning Culture through Language (forthcoming)</a></li>
	</ul>
</div>