<div class="site-plan">
	<%= image_tag "collections/tell-en-nasbeh/plan-of-plans.jpg" , alt: "Overview plan of Tell-en-nasbeh", usemap: "#site-plan", id: "site-plan", width: "600", height: "735", class: "img-responsive" %>
	<map name="site-plan" id="site-plan">
		<area alt="Plan 73" title="Plan 73 (2 images)" href="/catalog/ss:19102628" shape="rect" coords="79,80,154,156">
		<area alt="Plan 57" title="Plan 57" href="/catalog/ss:19102626" shape="rect" coords="158,3,234,76">
		<area alt="Plan 58" title="Plan 58" href="/catalog/ss:19102627" shape="rect" coords="236,2,312,77">
		<area alt="Plan 74" title="Plan 74 (2 images)" href="/catalog/ss:19102630" shape="rect" coords="156,80,234,154">
		<area alt="Plan 75" title="Plan 75 (2 images)" href="/catalog/ss:19102632" shape="rect" coords="235,80,314,155">
		<area alt="Plan 76" title="Plan 76" href="/catalog/ss:19102634" shape="rect" coords="316,80,394,155">
		<area alt="Plan 89" title="Plan 89" href="/catalog/ss:19102635" shape="rect" coords="3,159,79,234">
		<area alt="Plan 90" title="Plan 90 (2 images)" href="/catalog/ss:19102636" shape="rect" coords="80,159,156,234">
		<area alt="Plan 91" title="Plan 91 (2 images)" href="/catalog/ss:19102638" shape="rect" coords="158,158,236,232">
		<area alt="Plan 92" title="Plan 92" href="/catalog/ss:19102640" shape="rect" coords="239,158,313,232">
		<area alt="Plan 93" title="Plan 93 (3 images)" href="/catalog/ss:19102641" shape="rect" coords="314,158,389,232">
		<area alt="Plan 106" title="Plan 106" href="/catalog/ss:19102642" shape="rect" coords="4,236,79,286">
		<area alt="Plan 107" title="Plan 107" href="/catalog/ss:19102643" shape="rect" coords="80,236,155,286">
		<area alt="Plan 108 unavailable" title="Plan 108 unavailable" shape="rect" coords="158,235,233,285">
		<area alt="Plan 109" title="Plan 109 (2 images)" href="/catalog/ss:19102646" shape="rect" coords="237,235,312,285">
		<area alt="Plan 110" title="Plan 110 (2 images)" href="/catalog/ss:19102647" shape="rect" coords="315,235,390,285">
		<area alt="Plan 123" title="Plan 123" href="/catalog/ss:19102648" shape="rect" coords="3,288,78,362">
		<area alt="Plan 124" title="Plan 124 (2 images)" href="/catalog/ss:19102650" shape="rect" coords="80,288,155,362">
		<area alt="Plan 125" title="Plan 125" href="/catalog/ss:19102651" shape="rect" coords="157,287,234,361">
		<area alt="Plan 126" title="Plan 126" href="/catalog/ss:19102652" shape="rect" coords="235,287,312,363">
		<area alt="Plan 127" title="Plan 127" href="/catalog/ss:19102653" shape="rect" coords="313,287,390,363">
		<area alt="Plan 128 unavailable" title="Plan 128 unavailable" shape="rect" coords="394,289,471,365">
		<area alt="Plan 140" title="Plan 140" href="/catalog/ss:19102654" shape="rect" coords="4,365,78,441">
		<area alt="Plan 141" title="Plan 141" href="/catalog/ss:19102655" shape="rect" coords="79,365,155,441">
		<area alt="Plan 142" title="Plan 142" href="/catalog/ss:19102656" shape="rect" coords="157,363,233,439">
		<area alt="Plan 143" title="Plan 143" href="/catalog/ss:19102657" shape="rect" coords="235,365,311,441">
		<area alt="Plan 144" title="Plan 144 (2 images)" href="/catalog/ss:19102659" shape="rect" coords="313,365,389,441">
		<area alt="Plan 145" title="Plan 145" href="/catalog/ss:19102660" shape="rect" coords="391,365,467,441">
		<area alt="Plan 158" title="Plan 158" href="/catalog/ss:19102661" shape="rect" coords="79,442,155,518">
		<area alt="Plan 159" title="Plan 159" href="/catalog/ss:19102662" shape="rect" coords="156,442,234,518">
		<area alt="Plan 160" title="Plan 160" href="/catalog/ss:19102663" shape="rect" coords="235,442,313,518">
		<area alt="Plan 161 unavailable" title="Plan 161 unavailable" shape="rect" coords="314,443,392,519">
		<area alt="Plan 162" title="Plan 162" href="/catalog/ss:19102664" shape="rect" coords="392,442,470,518">
		<area  alt="Plan 163" title="Plan 163" href="/catalog/ss:19102665" shape="rect" coords="470,494,599,545">
		<area alt="Plan 176" title="Plan 176" href="/catalog/ss:19102666" shape="rect" coords="157,521,235,596">
		<area alt="Plan 177" title="Plan 177" href="/catalog/ss:19102667" shape="rect" coords="235,519,313,597">
		<area alt="Plan 178" title="Plan 178" href="/catalog/ss:19102668" shape="rect" coords="314,521,392,599">
		<area alt="Plan 179" title="Plan 179" href="/catalog/ss:19102669" shape="rect" coords="392,519,470,597">
		<area alt="Plan 194" title="Plan 194" href="/catalog/ss:19102671" shape="rect" coords="235,597,313,675">
		<area alt="Plan 195" title="Plan 195" href="/catalog/ss:19102672" shape="rect" coords="315,599,393,675">
		<area alt="Plan 196" title="Plan 196" href="/catalog/ss:19102673" shape="rect" coords="393,598,469,674">
	</map>
</div>