<div class="row basic-header">
	<div class="col-md-8">
		<h2>The Digitizing Tell en-Naṣbeh (Biblical Mizpah of Benjamin) Project</h2>
	</div>
	<div class="col-md-4">
		<div class="navbar">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#aerialny-navbar" aria-expanded="false" aria-controls="navbar">
	        Menu
	        	<i class="fa fa-bars"></i>
	    	</button>
		    <div id="aerialny-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav nav-collection">
			    	<%= link_to_in_li "Browse images", "#plan" %>
					<%= link_to_in_li "Bibliography", "#bibliography" %>
					<%= link_to_in_li "Image credits", "#credits" %>
			  	</ul>
			</div>
		</div>
	</div>
</div>