<% content_for :page_title, 'Digitizing Tell en-Naṣbeh, Biblical Mizpah of Benjamin' %>
<div class="container">
	<h2>Digitizing Tell en-Naṣbeh, Biblical Mizpah of Benjamin</h2>
	<%= render partial: 'pages/collections/tell-en-nasbeh/image_map' %>



</div>