<% content_for :page_title, 'Digitizing Tell en-Naṣbeh, Biblical Mizpah of Benjamin' %>
<div class="container">
	<h2>Digitizing Tell en-Naṣbeh, Biblical Mizpah of Benjamin</h2>
	<div class="well">
		<p>Tell en-Naṣbeh, ancient Mizpah of Benjamin, is located 12 km north of Jerusalem in the West Bank. Approximately two thirds of this three hectare, primarily Iron Age, site was excavated by a team from Pacific School of Religion in Berkeley, CA, between 1926–1935 under the direction of W. F. Badé. Tell en-Naṣbeh is one of the most broadly excavated sites in the southern Levant, making it of great importance for those interested in studying house construction, settlement planning and social organization. The full set of 1:100 plans has, until now, only been available to those able to travel to Berkeley. The goal of this digitization project is to make these important plans available to students and scholars at Cornell and around the world.</p>
	</div>
</div>