<div class="row">
	<div class="col-md-8">
		<h2>New York State Historical Dendrochronology Project</h2>
	</div>
	<div class="col-md-4">
		<div class="navbar">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dendro-navbar" aria-expanded="false" aria-controls="navbar">
	        Menu
	        	<i class="fa fa-bars"></i>
	    	</button>
		    <div id="dendro-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav nav-collection">
			    	<%= link_to_in_li "Home", "/collections/nys-dendro" %>
					<%= link_to_in_li "Sites", "/collections/nys-dendro/sites" %>
			  	</ul>
			</div>
		</div>
	</div>
</div>