<% content_for :page_title, 'New York State Historical Dendrochronology Project' %>
<div class="container">
	<%= render partial: 'pages/collections/nys-dendro/menu' %>
</div>
<div class="collection-banner hidden-xs">
	<div class="container">
		<a href="/catalog/ss:22142874" title="C-NY-AAC-7-A"><%= image_tag "collections/nys-dendro/22142874.jpg" , alt: "C-NY-AAC-7-A'", class: "img-responsive", title: "C-NY-AAC-7-A" %></a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3><a href="/collections/nys-dendro/sites">Browse by site</a> | <a href="/?f%5Bcollection_tesim%5D%5B%5D=19th+Century+Prison+Reform+Collection">Browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "New York State Historical Dendrochronology Project"}  %>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>In botany, a tree is a perennial plant with an elongated stem, or trunk, supporting branches and leaves in most species. In some usages, the definition of a tree may be narrower, including only woody plants with secondary growth, plants that are usable as lumber or plants above a specified height. Trees are not a taxonomic group but include a variety of plant species that have independently evolved a woody trunk and branches as a way to tower above other plants to compete for sunlight. Trees tend to be long-lived, some reaching several thousand years old. In looser definitions, the taller palms, tree ferns, bananas and bamboos are also trees. Trees have been in existence for 370 million years. It is estimated that there are just over 3 trillion mature trees in the world.[1]</p>

			<p>A tree typically has many secondary branches supported clear of the ground by the trunk. This trunk typically contains woody tissue for strength, and vascular tissue to carry materials from one part of the tree to another. For most trees it is surrounded by a layer of bark which serves as a protective barrier. Below the ground, the roots branch and spread out widely; they serve to anchor the tree and extract moisture and nutrients from the soil. Above ground, the branches divide into smaller branches and shoots. The shoots typically bear leaves, which capture light energy and convert it into sugars by photosynthesis, providing the food for the tree's growth and development.</p>
			<div class="collection-browse">
				<a href="/collections/nys-dendro/sites" class="btn btn-primary">Browse by site</a>
			</div>
		</div>
	</div>
</div>