<% content_for :page_title, 'New York State Historical Dendrochronology Project' %>
<div class="container">
	<h2>New York State Historical Dendrochronology Project</h2>
</div>
<div class="collection-banner hidden-xs">
	<div class="container">
		<a href="/catalog/ss:22142874" title="C-NY-AAC-7-A"><%= image_tag "collections/nys-dendro/22142874.jpg" , alt: "C-NY-AAC-7-A'", class: "img-responsive", title: "C-NY-AAC-7-A" %></a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=NYS+Historical+Dendrochronology">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "New York State Historical Dendrochronology Project"}  %>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>The New York State Historical Dendrochronology Project collects and uses dendrochronology to date wood samples from structures across upstate New York to provide precise dates of their construction, modification, and building history. The collection is comprised of approximately 67 sites and 680 samples, whose tree-ring chronologies have date ranges from 1448 to the early 1900s, plus nearly 250 samples from 13 modern forest sites that currently date from the early 1720 to 2016, to calendar-date our historic chronologies. Along with the tree-ring dates, pertinent historical information about a structure and the surrounding region, plus further details about the samples, can be used for historical, ecological, and climatological research on local, regional, and larger spatial scales and on annual to multi-century time scales. The digitization of the physical samples and all associated materials will provide easy access to this collection and will be of value to those in dendrochronology, history, archaeology, environmental and earth sciences, as well as museums, historical societies, and individuals interested in the history of the region.</p>
		</div>
	</div>
</div>