<div class="row">
	<div class="col-md-5">
		<h2>Scottsboro Trials Collection</h2>
	</div>
	<div class="col-md-7">
		<div class="navbar">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#scottsboro-navbar" aria-expanded="false" aria-controls="navbar">
	        Menu
	        	<i class="fa fa-bars"></i>
	    	</button>
		    <div id="scottsboro-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav nav-collection">
			    	<%= link_to_in_li "Home", "/collections/aerialny" %>
					<%= link_to_in_li "Using the Collection", "/collections/scottsboro/using" %>
					<%= link_to_in_li "About the Project", "/collections/scottsboro/about" %>
					<%= link_to_in_li "Contact", "/collections/scottsboro/contact" %>
			  	</ul>
			</div>
		</div>
	</div>
</div>