<% content_for :page_title, 'Scottsboro Trials Collection' %>
<div class="container">
	<%= render partial: 'pages/collections/scottsboro/menu' %>
	<div class="row">
		<div class="col-sm-8">
			<div class="well">
				<p>This collection presents a series of historical aerial photographs of the state of New York. It was produced under a Cornell University Library Faculty Grant to Eugenia M. Barnaba, Program Leader, Resource Inventory <a href="https://iris.cals.cornell.edu/">Cornell Institute for Resource Information Sciences</a>.</p>
			</div>
			<p><a href="/?f%5Bcollection_tesim%5D%5B%5D=New+York+State+Aerial+Photographs&view=maps" class="btn btn-default">Browse collection by map</a></p>
		</div>
		<div class="col-sm-4">
			<%= image_tag "collections/aerialny/nycounty.jpg" , alt: "Map illustration of New York state", class: "img-thumbnail img-responsive" %>
		</div>
	</div>
</div>