<div class="cornell-identity">
    <div class="container">
      <div class="cornell-logo">
        <a href="http://www.cornell.edu"><%= image_tag "cornell-black.gif" , alt: "Cornell University" %></a>
      </div>
    </div>
</div>