<div class="cornell-identity">
    <div class="container">
      	<div class="cornell-logo col-xs-8 col-sm-6">
        	<a href="http://www.cornell.edu"><%= image_tag "cornell-black.gif" , alt: "Cornell University" %></a>
      	</div>
      	<div class="util-links col-xs-4 col-sm-6">
          <%= render :partial=>'/user_util_links' %>
        </div>
    </div>
</div>