<footer>
	<div class="container">
		<div class="pull-right">
			<a href="/contact" class="btn btn-feedback">Feedback</a>
			<a href="https://github.com/cul-it/singlecore-library-cornell-edu/wiki/Release-notes" class="release-notes">Release notes</a>
		</div>
		<p>Copyright &copy; 2015 <a href="http://www.library.cornell.edu">Cornell University Library</a> | <a href="http://www.library.cornell.edu/privacy">Privacy</a> | <a href="https://www.library.cornell.edu/about/inside/policies/public-domain">Guidelines for Use</a></p>
	</div>
</footer>