<footer>
	<div class="container">
		<p>Copyright &copy; 2015 Cornell University Library | <a href="http://www.library.cornell.edu/privacy">Privacy</a> | <a href="/">Digital Collections</a></p>
	</div>
</footer>