<footer>
	<div class="container">
		<div class="pull-right dc-footer-brand">
			<a class="cul-brand" href="http://www.library.cornell.edu">Cornell University Library</a>
      		<%= link_to application_name, root_path, class: "brand" %>
		</div>
		<p>Copyright &copy; 2015 <a href="http://www.library.cornell.edu">Cornell University Library</a> | <a href="http://www.library.cornell.edu/privacy">Privacy</a> | <a href="/contact">Contact us</a></p>
	</div>
</footer>