<footer>
	<div class="container">
		<p>Copyright &copy; 2015 <a href="http://www.library.cornell.edu">Cornell University Library</a> | <a href="http://www.library.cornell.edu/privacy">Privacy</a></p>
		<p><a href="/">Cornell University Library Digital Collections</a></p>
	</div>
</footer>