<footer>
	<div class="container">
		<div class="pull-right">
			<a href="https://cornell.qualtrics.com/jfe/form/SV_22YsXiyJ86f8rMp" class="btn btn-feedback" target="_blank" title="Feedback form opens in a new window">Send us feedback</a>
		</div>
		<h2>CUL Digital Collections</h2>
		<p><a href="/" aria-label="Digital Collections home page">Home</a> / <a href="/about">About</a> / <a href="http://hdl.handle.net/1813.001/CULCopyright">Guidelines for Use</a> / <a href="http://digital.library.cornell.edu/collections">Browse Collections</a> / <a href="/contact">Contact</a></p>
	</div>
</footer>
<div class="cornell-footer" role="contentinfo">
	<div class="container">
		<p class="pull-right">
			<a href="https://www.library.cornell.edu/web-accessibility">Web Accessibility Assistance</a>
		</p>
		<p>©2020 <a href="https://library.cornell.edu">Cornell University Library</a> / <a href="http://www.library.cornell.edu/privacy">Privacy</a></p>
	</div>
</div>