<footer>
	<div class="container">
		<p>Copyright &copy; 2015 <a href="http://www.library.cornell.edu">Cornell University Library</a> | <a href="http://www.library.cornell.edu/privacy">Privacy</a> | <a href="https://www.library.cornell.edu/about/inside/policies/public-domain">Guidelines for Use</a> | <a href="/contact">Feedback</a></p>
	</div>
</footer>