<footer>
	<div class="container">
		<h2>CUL Digital Collections</h2>
		<p><a href="/">Home</a> / <a href="https://www.library.cornell.edu/about/inside/policies/public-domain">Guidelines for use</a> / <a href="http://newcatalog.library.cornell.edu/digitalcollections">All digital collections</a> / <a href="/contact">Contact</a></p>
	</div>
</footer>
<div class="cornell-footer">
	<div class="container">
		<div class="pull-right">
			<div class="survey">
	          <h3>Help us improve this site!</h3> 
	          <p class="text-right"><a href="https://cornell.qualtrics.com/SE/?SID=SV_6xJYx0iSrV5pDE1" target="_blank" class="btn btn-feedback">Take a brief survey</a></p>
		     </div>
		</div>
		<!-- <div class="pull-right">
			<a href="/contact" class="btn btn-feedback">Feedback</a>
		</div> -->
		<h3>Cornell University Library</h3>
		<p><strong>Library Resources:</strong> <a href="http://www.library.cornell.edu">Library Website</a> / <a href="http://newcatalog.library.cornell.edu/search">Search</a> / <a href="http://newcatalog.library.cornell.edu">Catalog</a> / <a href="http://encompass.library.cornell.edu/cgi-bin/checkIP.cgi?access=gateway_standard&amp;url=http://cornell.summon.serialssolutions.com/">Articles &amp; Full-Text</a> / <a href="http://newcatalog.library.cornell.edu/databases">Databases</a> / <a href="http://erms.library.cornell.edu/">E-Journal Titles</a> / <a href="http://www.library.cornell.edu/visual-resources">Images</a></p>
		<p>© 2016 Cornell University Library / (607) 255-4144 / <a href="http://www.library.cornell.edu/privacy">Privacy</a></p>
	</div>
</div>