<div id="header-navbar" class="navbar" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 cul">
                <a class="cul-brand" href="https://library.cornell.edu">Cornell University Library</a>
                <h1><%= link_to "Digital Collections", root_path, class: "brand" %></h1>
            </div>
        </div>
    </div>
</div>
