<div class="seneca-header">
	<h2><a href="/collections/seneca">Onöndowa'ga:' (Seneca) Haudenosaunee Archaeological Materials, circa 1688-1754</a></h2>
	<div class="navbar">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#seneca-navbar" aria-expanded="false" aria-controls="navbar">
        Menu
        	<span class="fa fa-bars" aria-hidden="true"></span>
    	</button>
	    <div id="seneca-navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav nav-collection">
		    	<%= link_to_in_li "Home", "/collections/seneca" %>
				<%= link_to_in_li "White Springs", "/collections/seneca/white-springs" %>
				<%= link_to_in_li "Townley-Read", "/collections/seneca/townley-read" %>
				<%= link_to_in_li "View full collection", "/?f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&view=gallery" %>
		  	</ul>
		</div>
	</div>
</div>

