<div class="well highlight chla">
	<div class="nav-header">About</div>
	<ul class="nav jumplinks">
		<li><a href="/collections/chla2/about">Background</a></li>
		<li><a href="/collections/chla2/brittle">Brittle Books</a></li>
		<li><a href="/collections/chla2/technical">Technical Details</a></li>
		<li><a href="/collections/chla2/faq">FAQ</a></li>
		<li><a href="/collections/chla2/copyright">Copyright</a></li>
		<li><a href="/collections/chla2/funding">Funding</a></li>
		<li><a href="/collections/chla2/contact">Contact</a></li>
	</ul>
</div>