<% content_for :page_title, 'The Problem of Brittle Books - Core Historical Literature of Agriculture' %>
<div class="container">
	<%= render partial: 'pages/collections/chla2/menu' %>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<%= render partial: 'pages/collections/chla2/menu_about' %>
			<%= image_tag "collections/chla/brittle-books.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>The Problem of Brittle Books</h3>
			<p>Hundreds of thousands of books in Cornell University's Albert R. Mann Library were originally printed on paper that becomes brittle over time. Between 1850 and 1950 publishers used acidic paper to print books and magazines, not realizing that acidic paper disintegrates with exposure to air, becomes brittle over time and crumbles into dust. About half of Mann's collection is printed on this type of paper, and the image at right is an example of the deterioration that comes with age.</p>
			<p>An early adopter of scanning and digitizing as a preservation technology, Mann Library began scanning the titles of this collection in 1994. At the time this was a very expensive method of preservation compared to the “gold standard” of microfilming. The library could never afford to scan the more than 350,000 volumes in our collection that were threatened by embrittlement, and it was difficult to decide which to prioritize for digitization first. Working with scholars in the field, the Core Historical Literature of Agriculture was identified: those books and journals that represented the most important publications in the agricultural sciences between 1850 and 1950. Over 3,000 volumes of books and journals, well over a million pages, have been digitally preserved for posterity.</p>
			<p>Mann plans to continue preserving the Core Historical Literature of Agriculture, and we have established a similar collection that focuses on the historical literature of home economics and human ecology. Visit <a href="/collections/hearth">Home Economics Archive: Research, Tradition and History (HEARTH)</a>.</p>
		</div>
	</div>
</div>