<% content_for :page_title, 'Contact - Core Historical Literature of Agriculture' %>
<div class="container">
	<%= render partial: 'pages/collections/chla2/menu' %>
	<h3>Contact</h3>
	<p>Please use the email us at <a href="mailto:mannref-l@cornell.edu?subject=CHLA Feedback">mannref-l@cornell.edu</a> with any questions or comments you have about this collection. Be sure to check our <a href="/collections/chla2/faq">Frequently Asked Questions</a> page for answers, too.</p>
</div>