<% content_for :page_title, 'Copyright - Core Historical Literature of Agriculture' %>
<div class="container">
	<%= render partial: 'pages/collections/chla2/menu' %>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<%= render partial: 'pages/collections/chla2/menu_about' %>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>Funding Agencies</h3>
			<p>Funding agencies that made CHLA a reality include the following:</p>
			<ul>
				<li>Class of 1956 gift (College of Agriculture &amp; Life Sciences Challenge)</li>
				<li>College of Agriculture &amp; Life Sciences Office for Research</li>
				<li>National Agriculture Library (NAL)</li>
				<li>National Endowment for the Humanities (NEH)</li>
				<li>The Rockefeller Foundation</li>
				<li>United States Agricultural Information Network (USAIN)</li>
				<li>United States Department of Agriculture (USDA)</li>
				<li>United States Department of Education, Title IIC</li>
			</ul>
		</div>
	</div>
</div>