<% content_for :page_title, 'Core Historical Literature of Agriculture' %>
<div class="container">
	<%= render partial: 'pages/collections/chla2/menu' %>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="well highlight chla collection-search">
				<h3>Search or <a href="/catalog?f%5Bcollection_tesim%5D%5B%5D=Lindsay+Cooper+Digital+Archive">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Lindsay Cooper Digital Archive"}  %>	
			</div>
			<%= image_tag "collections/chla/chla-chicken.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>The Core Historical Literature of Agriculture (CHLA) is primarily a collection of landmark agricultural texts published between the early nineteenth century and the middle to late twentieth century. These full-text materials cover agricultural economics, agricultural engineering, animal science, crops and their protection, food science, forestry, human nutrition, rural sociology, and soil science. Teams of scholars selected the titles in this collection for their historical and scientific importance. Their evaluations and 4,500 core titles are detailed in the seven volume series <em>The Literature of the Agricultural Sciences</em>, Wallace C. Olsen, series editor.</p>
			<blockquote>
				<p>"History celebrates the battlefields whereon we meet our death, but scorns to speak of the plowed fields whereby we thrive. It knows the names of the king's bastards but cannot tell us the origin of wheat. This is the way of human folly."</p>
				<p><small>Jean-Henri Fabre</small></p>
			</blockquote>
			<p><strong>Current online holdings:</strong></p>
			<ul>
				<li>Pages: 1,131,908</li>
				<li>Books: 2,084 (2,160 Volumes)</li>
				<li>Journals: 36 (934 Volumes)</li>
			</ul>
		</div>
	</div>
</div>