<% content_for :page_title, 'Technical Details - Core Historical Literature of Agriculture' %>
<div class="container">
	<%= render partial: 'pages/collections/chla2/menu' %>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<%= render partial: 'pages/collections/chla2/menu_about' %>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>Technical Details</h3>
			<p>The materials in the CHLA collection were scanned from brittle paper originals. Scanning was outsourced to service vendors at various times from 1994 to present. Early in the project, images were captured at 600 DPI in bitonal TIFF image format and compressed using CCITT Group 4. Simple document structuring occurred either at the point of conversion or during on-campus processing, primarily linking image numbers to pagination and tagging self-referencing portions of the text. Further conversion of CHLA materials included optical character recognition (OCR) of the page images. In the case of serials, extensive low-level indexing was added post-conversion to allow for increased access to the articles contained in each issue.</p>
			<p>CHLA originally operated on the Dienst system, then migrated to a “middleware” developed by the University of Michigan, migrated again to the <a href="http://dlxs.org">DLXS platform</a>, and migrated most recently to its present platform, <a href="http://samvera.org/">Samvera</a>, an open source repository.</p>
		</div>
	</div>
</div>