<%= render partial: 'pages/aerialny/menu' %>
<div class="pull-right col-sm-5 img-right">
	<%= image_tag "sets/aerialny/nycounty.jpg" , alt: "Map illustration of New York state", class: "img-thumbnail img-responsive" %>
</div>
<p>This collection presents a series of historical aerial photographs of the state of New York. It was produced under a Cornell University Library Faculty Grant to Eugenia M. Barnaba, Program Leader, Resource Inventory <a href="http://www.css.cornell.edu/iris/">Cornell Institute for Resource Information Sciences</a>.</p>
<ul>
	<li><a href="/aerialny/using">Using the collection</a></li>
	<li><a href="/aerialny/about">About the project</a></li>
	<li><a href="/aerialny/contact">Contact</a></li>
</ul>		
						