<%= content_for :page_title, 'Contact Us' %>
<div class="container">
	<h2>About This Site</h2>
	<p>Launched in December 2015, the Cornell University Library (CUL) Digital Collections portal aggregates CUL’s rich digital collections content into a single interface, with the goal of enabling easier access and discovery of these resources. Sources for this content currently include:</p>
	<ul>
		<li><a href="http://sscommons.org/">Shared Shelf Commons</a></li>
		<li>Text based content migrated from a content management system (DLXS) that has been discontinued</li>
		<li>Streaming audiovisual files housed in <a href="https://dcaps.library.cornell.edu/initiatives/kaltura">Kaltura</a></li>
	</ul>
	<p>In addition, we are in the process of adding content from other sources, including:</p>
	<ul>
		<li><a href="https://www.hathitrust.org/">HathiTrust</a></li>
		<li><a href="https://ecommons.cornell.edu">eCommons</a></li>
		<li>Custom digital collections built in other platforms, such as Drupal. </li>
	</ul>
	<p>This website was built by staff from CUL’s <a href="https://www.library.cornell.edu/dsps">Digital Scholarship and Preservation Services</a>, <a href="https://confluence.cornell.edu/display/culit/CUL+Information+Technology">Information Technology</a>, and <a href="https://lts.library.cornell.edu">Library Technical Services</a> departments, and is powered by <a href="http://projectblacklight.org/">Blacklight</a>, SOLR, Fedora and IIIF. It is currently maintained by <a href="https://dcaps.library.cornell.edu/">Digital Consulting &amp; Production Services (DCAPS)</a>.</p>
	<p>For questions regarding content, technology, or anything else, please email us at <a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a>, or fill out our <a href="https://cornell.qualtrics.com/jfe/form/SV_22YsXiyJ86f8rMp" target="_blank" title="Feedback form opens in a new window">feedback form</a>.</p>
</div>