<%= content_for :page_title, 'Contact Us - Cornell University Library Digital Collections' %>
<div id="main-container">
	<div class="container">
		<h2>Contact us</h2>
		<p>Please contact Digital Consulting &amp; Production Services (DCAPS) for questions regarding this website or any of our digital collections.</p>
		<p><strong><a href="http://dcaps.library.cornell.edu">Digital Consulting &amp; Production Services (DCAPS)</a></strong><br>
			218 Olin Library<br>
			Cornell University<br>
			<a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a>
		</p>
	</div>
</div>