<%= content_for :page_title, 'Contact Us - Cornell University Library Digital Collections' %>
<div id="main-container">
	<div class="container">
		<h2>Contact us</h2>
		<p>Please contact Digital Consulting &amp; Production Services (DCAPS) for questions or feedback about this website or any of our digital collections.</p>
		<p><strong>Digital Consulting &amp; Production Services (DCAPS)</strong><br>
			218 Olin Library<br>
			Cornell University<br>
			Ithaca, NY 14853<br>
			<a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a><br>
			<a href="http://dcaps.library.cornell.edu">Website</a>
		</p>
	</div>
</div>