<%= content_for :page_title, 'Contact Us' %>
<div class="container">
	<h2>Contact Us</h2>
	<p>Your comments and questions are valuable to us. Please send feedback through our <a href="https://cornell.qualtrics.com/jfe/form/SV_22YsXiyJ86f8rMp" target="_blank">online form</a>, or email <a href="https://dcaps.library.cornell.edu">Digital Consulting &amp; Production Services</a> at <a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a>.</p>
	<p>If you are seeking permission to reproduce an image you see in these collections, please review the <a href="https://www.library.cornell.edu/about/policies/public-domain">Guidelines for Using Text, Images, Audio, and Video from Cornell University Library Collections</a>.</p>
    <p>To request a high-resolution image from these collections, please contact <a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a> and supply the URL of the image you are requesting. Please note that there may be a charge associated with such requests. We may not be able to fulfill all requests for images.</p>
	<p><strong>Digital Consulting &amp; Production Services (DCAPS)</strong><br>
		218 Olin Library<br>
		Cornell University<br>
		Ithaca, NY 14853<br>
		<a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a><br>
		<a href="http://dcaps.library.cornell.edu">Website</a>
	</p>
</div>