<% content_for :page_title, 'Acknowledgements - Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<a href="/catalog/ss:20107880"><%= image_tag "collections/blaschka/20107880.jpg" , alt: "Eudendrium ramosum", class: "img-responsive" %></a>
			</div>
			<div class="main-text">
				<h3>Acknowledgements</h3>

				<p>The Department of Ecology and Evolutionary Biology would like to acknowledge the generosity of numerous Cornell alumni and friends in funding the initial restoration of over 170 sculptures in Cornell University’s collection of Blaschka invertebrates:</p>
				<ul>
					<li>Barlow Ware</li>
					<li>Paul Feeny and Mary Berens</li>
					<li>Marjorie Geisler</li>
				</ul>
				<p>The continued restoration of the collection will proceed as funding allows. It is possible to support the collection through our <a href="https://www.giving.cornell.edu/give/?gifttype=3&gifttype2=78&comments=Blaschka%20collection%20%23021514">online giving page</a>. For more information about supporting the Blaschka collection at Cornell, please contact Dr. Drew Harvell (Department of Ecology and Evolutionary Biology), <a href="mailto:cdh5@cornell.edu">cdh5@cornell.edu</a>, or Sharon Detzer, (Alumni Affairs, College of Agriculture and Life Sciences), <a href="sld4@cornell.edu">sld4@cornell.edu</a>, 607-255-1915.</p>

			</div>
		</div>
	</div>
</div>