<% content_for :page_title, 'Contact - Core Historical Literature of Agriculture' %>
<%= render partial: 'pages/collections/chla/header' %>
<div class="mann-layout mann-layout--chla">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Contact</h3>

				<p>Mann Library...</p>

			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/chla/menu_about' %>
			</div>
		</div>
	</div>
</div>