<% content_for :page_title, 'Blaschka Sea Life Drawings - Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/blaschka/menu_about' %>
				<%#= image_tag "collections/chla/VegetablesofNYbearsfoot.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			<div class="main-text">
				<h3>Blaschka Sea Life Drawings</h3>

				<p>In 1863, Leopold Blaschka moved from Czechoslovakia to Dresden, Germany where his earliest exhibit, 100 or so glass orchids, had inspired the director of Dresden's natural history museum to commission a group of glass sea anemones for an artificial aquarium.</p>

				<p>The first step in creating a glass model was to make a detailed drawing from which to work. In their later work the Blaschkas used actual preserved or live specimens as models, but until that time they relied on book illustrations for models.</p>

				<%= image_tag "collections/blaschka/drawing.jpg" , alt: "", class: "img-responsive center-block" %>
				<p class="caption center-block">Preparatory Blaschka drawing for octopus model (facsimile courtesy of the Rakow Research Library of The Corning Museum of Glass)</p>

				<p class="text-right"><a href="/collections/blaschka/technique">Blaschka Glass Technique &raquo;</a></p>

			</div>
		</div>
	</div>
</div>