<% content_for :page_title, 'Exhibits of Blaschka sea life sculptures at Cornell - Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<a href="/catalog/ss:20107951"><%= image_tag "collections/blaschka/20107951.jpg" , alt: "Leuckartiara octona", class: "img-responsive" %></a>
			</div>
			<div class="main-text">
				<h3>Exhibits of Blaschka sea life sculptures at Cornell</h3>

				<h4>Corson Mudd Hall, Tower Road (Atrium, Ground Floor)</h4>
				<p>Corson Mudd Hall is open 8am – 5pm Mondays through Fridays</p>

				<h4>Albert R. Mann Library, Agricultural Quad, Tower Road (2nd Floor)</h4>
				<p>Exhibit will be viewable 8am – 6pm Mondays through Fridays, 12pm – 6pm Saturdays, 10am – 6pm Sundays during the school year. Opening hours change when school is not in session; to confirm hours, please visit the <a href="https://mann.library.cornell.edu/full-hours">Mann Library website</a>, or call 607-255-5406.</p>

			</div>
		</div>
	</div>
</div>