<% content_for :page_title, 'History of the Blaschka Collection - Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/blaschka/menu_about' %>
				<%#= image_tag "collections/chla/VegetablesofNYbearsfoot.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			<div class="main-text">
				<h3>History of the Blaschka Collection</h3>

				<p>The story of Cornell's collection of Blaschka glass invertebrates began in the fall of 1882. President Andrew Dickson White, in his continuous effort to create a great university, readily acceded to the suggestion of the young Professor John Henry Comstock that they take a field trip to Rochester to look at the samples of the glass invertebrates at Ward's Natural Science Establishment.</p>

				<p>Founded in 1873 by Henry Ward, a student of the famed naturalist Louis Agassiz, this emporium of specimens, casts, models and other educational supplies, was the North American agent for the Blaschka glass invertebrates. Ward's catalog for 1878 offered 630 of their models; by 1888 they listed 700.</p>

				<p>Cornell's collection of these glass creatures contains about 570 models, some of which are on exhibit at Corson Mudd Hall and the Herbert F. Johnson Museum, making Cornell one of the few universities in the world where students and the public can view these wondrous creations. Because of their extreme fragility and conservation needs however, most of this collection is stored at the Corning Museum of Glass, awaiting funding for restoration and new cabinets.</p>

				<%= image_tag "collections/blaschka/Wards.jpg" , alt: "", class: "img-responsive center-block" %>
				<p class="caption center-block">Page from Catalogue of Glass Models of Invertebrate Animals, Ward's Natural Science Establishment, by H. A. Ward, Rochester, N.Y., 1878 (facsimile courtesy of the Rakow Research Library of The Corning Museum of Glass, Corning, N.Y.)</p>

				<p class="text-right"><a href="/collections/blaschka/influences">Influences &raquo;</a></p>

			</div>
		</div>
	</div>
</div>