<% content_for :page_title, 'Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-sm-offset-5 text">
				<p>Cornell University is one of a handful of academic institutions in the United States with a collection of glass invertebrates created by renowned 19th century glass artists Leopold and Rudolf Blaschka. Under the direction of curator Dr. Drew Harvell, Cornell's Department of Ecology and Evolutionary Biology has undertaken the full restoration of this unique glass sculpture collection. A selection of restored invertebrates is on view in the atrium of Corson Hall on Tower Road on the Cornell campus, among them some extraordinary jellyfish, sea anemones and nudibranchs. A smaller number is on exhibit at the Johnson Museum of Art, and an additional display of restored pieces opened in the Albert R. Mann Library in June 2010. Collaboration between the Dept. of Ecology and Evolutionary Biology and Mann Library has also made an online gallery of the larger Cornell Blaschka collection available for use by scholars and educators.</p>
				<p>Efforts to restore the full collection of Blaschka invertebrate models at Cornell are ongoing, funded entirely through gift support. Cornell University has restored approximately 170 of the 570 items in the collection thus far and restoration work will continue as funding allows.</p>
				<div class="well search collection-search">
					<p>Search the collection or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Cornell+Collection+of+Blaschka+Invertebrate+Models">browse by Blaschka number</a>.</p>
					<%= render '/catalog/search_form', { :@collection_search => "Cornell Collection of Blaschka Invertebrate Models"}  %>
				</div>
				<div class="callout clearfix">
					<h3>Blaschka models in print and film</h3>
					<a href="http://www.ucpress.edu/book.php?isbn=9780520285682"><%= image_tag "collections/blaschka/sea-of-glass-cover.jpg" , alt: "A Sea of Glass, by Drew Harvell", class: "img-responsive" %></a>
					<a href="http://fragilelegacy.info/"><%= image_tag "collections/blaschka/fragile-legacy.jpg" , alt: "Fragile Legacy, a film by David O. Browne", class: "img-responsive" %></a>
				</div>
				<p class="note">For more information on the Cornell Blaschka collection and its importance to the study of ocean biology, please see a webcast of <a href="http://www.mannlib.cornell.edu/podcasts/out-teeming-sea">Dr. Drew Harvell's June 2010 lecture at Mann Library</a>.</p>
			</div>
		</div>
	</div>
</div>