<% content_for :page_title, 'Influences - Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/blaschka/menu_about' %>
				<%#= image_tag "collections/chla/VegetablesofNYbearsfoot.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			<div class="main-text">
				<h3>Influences</h3>

				<div class="pull-right img-right">
					<%= image_tag "collections/blaschka/Gosse.jpg" , alt: "", class: "img-responsive" %>
				</div>

				<h4>Phillip Gosse</h4>
				<p>The difficulties of retaining color and shape in marine invertebrate specimens preserved in alcohol led the Blaschkas to turn to book illustrations as models for their early work. The illustrations in these books were lithographed, drawn on a smooth limestone surface and printed from the stone. This process was much faster than engraving an image on a metal plate and thus lowered the cost of producing an illustrated book. Lithography enabled publishers to print affordable illustrated books, which greatly increased their popularity.</p>
				<p>For his initial group of sea anemones, Leopold used the illustrations in Phillip Gosse's Actinologia Britannica: A History of British Sea Anemones and later used A Naturalist's Rambles on the Devonshire Coast by the same author as a source. An influential English naturalist, Gosse was an early popularizer of the marine aquarium, a structure made possible by the recent availability of inexpensive plate glass. In this book, Gosse describes how marine creatures can be kept alive in water oxygenated by seaweed and writes that he had successfully preserved marine animals this way for 11 months---a feat previously believed impossible. The new popularity of aquariums focused attention on marine invertebrates and doubtlessly helped to create a demand for the Blaschkas' glass models.</p>

				<h4>Ernst Haeckel</h4>
				<div class="pull-right img-right">
					<%= image_tag "collections/blaschka/Haeckel.jpg" , alt: "", class: "img-responsive" %>
				</div>
				<p>Besides Gosse, another stimulus for the increased interest in marine invertebrates was the work of Ernst Haeckel (1834-1919), an influential German zoologist and evolutionist.</p>	
				<p>Haeckel, one of whose areas of research was marine biology, became a friend of the Blaschkas and loaned them books from his library. Some of his scientific drawings provided preparatory material for a small number of the Blaschka's models.</p>
				<p>Biologists may know Haeckel for his statement "Ontogeny recapitulates phylogeny," but the general public is more familiar with his stunning drawings of related biological groupings reproduced in Art Forms in Nature, published in sections from 1899-1904. The amazing forms depicted in this book had a significant influence on decorative design at the time, and the illustrations are considered a landmark of applied art.</p>

				<p class="text-right"><a href="/collections/blaschka/drawings">Blaschka Sea Life Drawings &raquo;</a></p>

			</div>
		</div>
	</div>
</div>