<% content_for :page_title, 'Leopold and Rudolf Blaschka - Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/blaschka/menu_about' %>
			</div>
			<div class="main-text">
				<h3>Leopold and Rudolf Blaschka</h3>

				<p>The father and son team of Leopold and Rudolf Blaschka were the culmination of a long line of glass artisans from Bohemia, a glassmaking center of Czechoslovakia. As a young man, Leopold was strongly drawn to painting but in the interests of practicality, apprenticed to a jewelry maker and gem cutter before joining his father as a glassworker. He became an extraordinarily skilled lampworker, a skill that he taught his son when Rudolf became his father's sole assistant. Lampworking is a method used to fashion intricate and delicate forms from glass rods and tubes heated in a flame until they are soft enough to be manipulated into shapes.</p>

				<%= image_tag "collections/blaschka/leopold-rudolf.jpg" , alt: "", class: "img-responsive center-block" %>
				<p class="caption center-block">Leopold (1822-1895) and Rudolf (1857-1939) Blaschka (courtesy of the Rakow Research Library of The Corning Museum of Glass)</p>

				<p class="text-right"><a href="/collections/blaschka/history">History of the Blaschka Collection &raquo;</a></p>

			</div>
		</div>
	</div>
</div>