<% content_for :page_title, 'Life and Work of the Blaschkas - Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/blaschka/menu_about' %>
				<a href="/catalog/ss:20107727"><%= image_tag "collections/blaschka/20107727.jpg" , alt: "Kophobelemnon stelliferum", class: "img-responsive" %></a>
			</div>
			<div class="main-text">
				<h3>Life and Work of the Blaschkas</h3>

				<p>Before Jacques Cousteau and the aqualung, before Kodachrome and underwater photography - there were the Blaschkas, father and son glassworkers who produced some of the most extraordinary glass objects that have ever been made. Their work has been described as "an artistic marvel in the field of science and a scientific marvel in the field of art."</p>

				<p>Artifacts inevitably reflect the cultural values leading to their creation. In 19th century Europe and America, an explosion of interest in science and education directly affected Leopold and Rudolf Blaschka. Reflecting these interests, new museums were built and opened to the public. They differed from earlier museums not only by admitting the public but also by featuring collections that illustrated science and natural history and often displayed systematic arrangements of plants and animals.</p>

				<p>Leopold Blaschka solved a problem that challenged the curators of these new natural history museums-the display of marine invertebrates. Unlike specimens with backbones, which could be stuffed and mounted, invertebrates had to be preserved in alcohol and inevitably lost their colors and shapes. Glass proved to be the ideal material to recreate these fragile forms.</p>

				<p>Although the father and son team of Leopold and Rudolf Blaschka were not the only makers of natural history educational models in the 19th century, they were the only ones creating glass models. Other model makers used wax or papier maché, neither of which has the precision of detail or longevity found in glass. The two Blaschkas, descendents of a long line of Bohemian glassworkers, created their thousands of glass models without the assistance of others. Between 1863 and 1936, they supplied museums and universities all over the world with stunningly lifelike models of plants and animals. Their work culminated in the Ware Collection of Glass Plants at the Harvard Museum of Natural History, completed by Rudolf in the 1930s.</p>

				<p class="text-right"><a href="/collections/blaschka/leopold-rudolf">Leopold and Rudolf Blaschka &raquo;</a></p>

			</div>
		</div>
	</div>
</div>