<% content_for :page_title, 'Exhibits of Blaschka sea life sculptures at Cornell - Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<a href="/catalog/ss:20108071"><%= image_tag "collections/blaschka/20108071.jpg" , alt: "", class: "img-responsive" %></a>
			</div>
			<div class="main-text">
				<h3>Support the Blaschka Collection</h3>

				<p>Due to their age and fragility Cornell's Collection of Blaschka Invertebrates are in need of restoration. Thanks to generous giving from alumni and friends, Cornell has restored 170 of 400 items from the collection under the supervision of ecology and evolutionary biology professor Drew Harvell. The opportunity exists to assist in the continuation of the Blaschka restoration program, which will make these beautiful and scientifically precise works of art viewable to the public. To make a gift in support of the Blaschka invertebrate collection at Cornell, please visit our <a href="https://www.giving.cornell.edu/give/?gifttype=3&gifttype2=78&comments=Blaschka%20collection%20%23021514">online giving form</a>. For more information, please contact <a href="mailto:cdh5@cornell.edu">Dr. Drew Harvell</a> (Department of Ecology and Evolutionary Biology) or <a href="mailto:sld4@cornell.edu">Sharon Detzer</a>, (Alumni Affairs, College of Agriculture and Life Sciences), 607-255-1915.</p>

			</div>
		</div>
	</div>
</div>