<% content_for :page_title, 'Blaschka Glass Technique - Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/blaschka/menu_about' %>
				<%#= image_tag "collections/chla/VegetablesofNYbearsfoot.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			<div class="main-text">
				<h3>Blaschka Glass Technique</h3>

				<p>The Blaschkas' models varied greatly in complexity and in their method of construction. Component parts were formed from both clear and colored glass using a combination of lampworking and glassblowing. The parts were then either fused together or assembled with adhesives, probably hide glue. Where necessary, other materials were used in the construction: fine copper wires were added to reinforce delicate tentacles and gills and painted paper was cleverly incorporated to represent internal structures. Surfaces were painted with colors mixed with gum or glue.</p>

				<a href="/catalog/ss:20107814"><%= image_tag "collections/blaschka/20107814.jpg" , alt: "", class: "img-responsive center-block" %></a>

				<p class="text-right"><a href="/collections/blaschka/today">Blaschka Sea Life Collection Today &raquo;</a></p>

			</div>
		</div>
	</div>
</div>