<% content_for :page_title, 'Blaschka Sea Life Collection Today - Cornell Collection of Blaschka Invertebrate Models' %>
<%= render partial: 'pages/collections/blaschka/header' %>
<div class="blaschka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/blaschka/menu_about' %>
				<%#= image_tag "collections/chla/VegetablesofNYbearsfoot.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			<div class="main-text">
				<h3>Blaschka Sea Life Collection Today</h3>

				<p>In the latter half of the 19th century, Leopold and Rudolf Blaschka created their glass models of marine invertebrates for educational purposes. Today we see photographs, film and videos of undersea creatures in more color, detail and motion than their models could ever show. Yet looking a t these artifacts now, our eyes are entranced less by their teaching function than by their marvelous craft. We have seen the vivid images of undersea life, but here we have strange objects of wonder: soft bodies rendered perfectly in a hard and brittle medium. They have been created with a breathtaking artistry and an unending devotion to mastering a difficult material. We see a virtuosic level of craft that has become priceless in our own era of global manufacturing. And perhaps in the future, might the Blaschkas' glass invertebrates once again fulfill their original educational mission? As earth's oceans are degraded, as their numbers of endangered or threatened inhabitants grows, these 19th century teaching devices could conceivably furnish exquisitely rendered records of what has been lost for students of the 22nd century.</p>

				<a href="/catalog/ss:20107912"><%= image_tag "collections/blaschka/20107912.jpg" , alt: "", class: "img-responsive center-block" %></a>

			</div>
		</div>
	</div>
</div>