<h2>International Workers’ Order (IWO) and Jewish People's Fraternal Order (JPFO)</h2>
<div class="navbar">
	<ul class="nav navbar-nav nav-collection">
    	<%= link_to_in_li "Browse images", "/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29" %>
		<%= link_to_in_li "Bibliography", "#bibliography" %>
  	</ul>
</div>
