<% content_for :page_title, 'Eugene B. Dynkin Collection of Mathematics Interviews' %>
<div class="container">


	<div class="dynkin-header">

		<h2>Eugene B. Dynkin Collection of Mathematics Interviews</h2>
	</div>
	<h3>An introduction by Eugene Dynkin</h3>
	<!--<div class="pull-right img-right">
		<a href="/catalog/ss:20864752">
		<%= image_tag "collections/railroad/5003pb60f004.jpg" , alt: "", class: "img-responsive" %>
		</a>
		<p class="caption">
			CNW Locomotive #1653 at platform in passenger terminal (fireman side)
		</p>
	</div> -->

	<p>For more than a half of century, I recorded conversations with many mathematicians.  First, I recorded an interview with Harald Cramér during his visit to Moscow in 1955. Informal contacts with Western colleagues were impossible during the Stalin era. We were excited by the chance of a contact with a famous Swedish mathematician whose contribution to probability theory and statistics we knew very well. I tape recorded his talk on the history of mathematics in Scandinavia and his recitation, by my request, of the Swedish national anthem.</p>

  <p>The next opportunity came in 1966 at the International Congress of Mathematicians in Moscow. This was the first Congress I was able to attend. At International Congresses in Stockholm, Nice and Vancouver, my invited addresses were delivered at my request by colleagues because, like most Soviet mathematicians, I was not permitted to travel to the Western countries. However, I was able to record a few conversations with foreigners in Moscow and in Poland (where I visited on two private invitations).</p>

 <p>After my emigration from the Soviet Union in 1976, I interviewed many mathematicians around the world. However, my contacts with friends and colleagues in the USSR were severed, and the Russian part of my collection was restricted to conversations with émigrés. This changed with Gorbachev’s perestroika. In 1989 I visited Moscow on an exchange program between the National Academy of Sciences of the USA and its Soviet counterpart. This was an exciting time when people liberated from a heavy pressure of the regime were ready to discuss openly all topics. With the end of the Cold War, contacts flourished during our numerous meetings in Russia, the USA, and other countries. Many of my former students became faculty members at American Universities.</p>

 <p>The majority of the interviewees work in probability theory and related fields. This is the part of mathematics that I concentrated on during the majority of my career. A substantial portion of the recording was done at conferences and workshops in this area. Mostly we talked in my hotel room or in my house when people visited Cornell University. In a few cases, recording was done in a restaurant, in a car, and even in a boat.</p>

 <p>Typically I asked my interlocutors about their family history, their first steps in mathematics, about their school and university years, teachers and colleagues, and their research. A number of distinguished mathematicians talked about their students, their seminars, and the history of mathematics in their countries. We discussed with my Russian friends the situation in the USSR after my departure, and specifically, the problems of those who wanted to emigrate.</p>

<p>After coming to the West, I was especially interested in educational systems in various countries. Among other subjects of conversation, there were the history of probability theory at important international centers (including Cornell University) and stories about famous mathematicians such as Gelfand and Kolmogorov, Doob and Feller, Hardy and Ramanujan, Neyman and Pearson. I also recorded some music performed by interviewees. The Collection contains a few interviews with economists, physicists, and biologists. Some of my interviews were with graduate students and postdoctoral scholars. Now many of them are well established members of the mathematical community.</p>

 <p>Originally the recordings were not intended for circulation outside of a small group of people. Recently some colleagues of mine suggested that the recordings might be of interest for a wider public, especially for young scholars and possibly, for future historians of mathematics. The decision to preserve the collection of interviews and to make them available on the web was supported by the Cornell University Library. The permission of the interviewees was requested before uploading, and in a few cases, a minor portion of a recording was excluded at their request.</p>

 <p>All interviews are in English or Russian. Through the American Mathematical Society, some funds were made available for the translation of the Russian-language so that it would be accessible to the international community. An English transcription of the highlights for a part of interviews is provided, and this part should be gradually expanded. In addition, there are footnotes to help readers who are not familiar with the specifics of the educational system and/or life in the former Soviet Union.</p>

 <p>The site also contains photographs of the interviewees at various stages of their careers. The main sources are:  (a) the private collection of Eugene Dynkin, (b) the Oberwolfach photo collection, and (c) photos provided by interviewees. In addition, there are a few photos of distinguished late mathematicians discussed in a number of interviews. Biographical data are presented for them and for all interviewees.</p>

	<div class="collection-search well">
		<h3>Search the Eugene B. Dynkin Collection of Mathematics Interviews or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Eugene+B.+Dynkin+Collection+of+Mathematics+Interviews">browse the collection</a></h3>
		<%= render '/catalog/search_form', { :@collection_search => "Eugene B. Dynkin Collection of Mathematics Interviews"}  %>
	</div>

	<%= render partial: 'pages/collections/dynkin/sets' %>
	<%= render partial: 'pages/top' %>
</div>
