body {
	font-family: $font-family-sans-serif;
	// background: $footer-gray; // footer color
	color: $dark-gray;
}

// Links
// ------------------- //

a { 
	color: $link-primary;
}
a:hover {
	color: $link-primary-hover;
	text-decoration: underline;
}

// Add underlines to links in main content area
#content,
footer {
	a {
		border-bottom: 1px dotted $footer-gray;
	}
	a:hover,
	a:active,
	a:focus {
		border-bottom: 1px solid $footer-gray;
		text-decoration: none;
	}
}

// Typography
// ------------------- //

p, li {
	font-size: 16px;
	line-height: 1.5em;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	margin-bottom: .75em;
}
h1 {
	margin-top: 0;
	font-size: 34px;
	font-weight: 300;
	// color: $orange;
}
h2 {
	font-weight: 300;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}

// Well overrides
// ------------------- //
.well {
	border-radius: 0;
	box-shadow: none;
	background: $well-bg;
}
.constraints-container {
	background: inherit;
	border: 0;
}