.blacklight-ragamala {
	.hero {
		background: url("hero-ragamala.jpg") no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 600px;
	}
	.home-text {
		color: white;
		.well {
			background: rgba(0,0,0,.8);
			border: 0;
		}
	}

}