.blacklight-ragamala {
	.hero {
		background: url("hero-ragamala.jpg") no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}
}