// Colors
// -----------------//

$cornell-red: #b31b1b;
$cornell-medium-blue: #0068ac;

// Grays
$pale-gray: #e4e3e3;
$dark-gray: #222;
$medium-gray: #666;
$light-gray: #999;
$footer-gray: #cbcbcb;

// Tans
$light-tan: #e7e6df;

// DC stuff
$graphite: #5f5c5c;


// Links
// -----------------//

$link-primary: $cornell-medium-blue;
$link-primary-hover: black;

// Google fonts
// -----------------//

$font-family-cul: 'Montserrat';        @import
url(//fonts.googleapis.com/css?family=Montserrat);

$font-family-sans-serif:  'Source Sans Pro', Helvetica, Arials, sans-serif;        @import
url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);