
<div id="content" class="<%= main_content_classes %>">
	<div class="row">
		<div class="col-sm-8 collection-description">
			<div class="well">
				<h2>About the collection</h2>
				<p>We are beginning development on an interacti​ve portal to explore the architectural evolution of Bastides in the South of France. Professor Emeritus John W. Reps explored urban landscapes and developments worldwide. His spirit of discovery and the breadth of his travels made him not only a pioneering scholar in American urban planning history, but also a quintessential urban explorer.​</p>
				<!--a class="btn btn-danger btn-lg" href="#">Visit the collection website <i class="fa fa-external-link"></i></a -->
			</div>
		</div>
		<div class="col-sm-4 collection-img">
			<a href="#"><%= image_tag "collection-reps-bastides.jpg" , alt: "", class: "img-thumbnail" %></a>
			<p class="text-muted"><small>Image caption with link to item view</small></p>
		</div>
	</div>
	<h2>Resources</h2>
	<ul>
		<li>List of resources</li>
		<li>List of resources</li>
		<li>List of resources</li>
		<li>List of resources</li>
		<li>List of resources</li>
		<li>List of resources</li>
	</ul>
	<h2>Contact</h2>
	<p>For questions about this collection, please contact us at dcaps@cornell.edu.</p>
</div>
