<div class="well">
	<h2>About the collection</h2>
	<ul class="list-unstyled collection-links">
		<li><a href="/collections/chla">CHLA website<i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
		<li><a href="https://newcatalog.library.cornell.edu/catalog/3304935">Catalog record<i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
	</ul>
</div>