<div class="well">
	<h2>About the collection</h2>
	<ul class="list-unstyled collection-links">
		<li><a href="/collections/bees">Hive and the Honeybee website</a> | <a href="https://newcatalog.library.cornell.edu/catalog/5042155" aria-label="Hive and the Honeybee catalog record">Catalog record<i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
		<li><a href="/collections/chla">CHLA website</a> | <a href="https://newcatalog.library.cornell.edu/catalog/3304935" aria-label="CHLA catalog record">Catalog record<i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
	</ul>
</div>