<div class="well">
	<h2>About the Collection</h2>
	<ul class="fa-ul collection-links">
		<li><i class="fa-li fa fa-external-link" aria-hidden="true"></i><a href="/collections/language-of-flowers">Language of Flowers website</a></li>
	</ul>
</div>