<div class="well">
	<h2>About the Collection</h2>
	<ul class="fa-ul collection-links">
		<li><i class="fa-li fa fa-external-link" aria-hidden="true"></i><a href="/collections/chla">CHLA website</a></li>
		<li><i class="fa-li fa fa-external-link" aria-hidden="true"></i><a href="https://newcatalog.library.cornell.edu/catalog/3304935">Catalog record</a></li>
	</ul>
</div>