<%# @members_ids = render_document_show_field_value(:document => @document, :field => 'member_ids_ssim') %>


<%# if @members_ids.present? %>
	<h2>Articles</h2>
<%# end %> 

       <ul>
<% get_articles(document).each do |issue| %>
        <li>
           <%#= issue["id"] %>
           <%= link_to issue["title_tesim"][0], issue["reader_link_ssi"], "aria-label" => issue["reader_link_ssi"] %> <%#= issue["title_tesim"][0] %>
	    </li>
  <%# old_date = date %>
<% end %>
         </ul>

