<% document = locals[:document] %>
<% collection_nickname = (render_index_field_value document, :field => 'collection_nickname_ssi').present? ? (render_index_field_value document, :field => 'collection_nickname_ssi') : '' %>
<% if collection_nickname == 'blaschka' %>
    <% if (render_index_field_value document, :field => 'common_name_tesim').present? %>
        <div class="blaschka-common-name"><%= render_index_field_label document, :field => 'common_name_tesim' %> <%= render_index_field_value document, :field => 'common_name_tesim' %></div>
    <% end %>
    <% if (render_index_field_value document, :field => 'identifier_blaschka_isi').present? %>
        <div class="blaschka-number"><%= render_index_field_label document, :field => 'identifier_blaschka_isi' %> <%= render_index_field_value document, :field => 'identifier_blaschka_isi' %></div>
    <% end %>
<% end %>