<% if query_has_constraints? %>
    <div id="appliedParams" class="clearfix constraints-container">
        <%=link_to t('blacklight.search.start_over'), start_over_path, :class => "catalog_startOverLink btn", :id=>"startOverLink", :title => "Digital Collections home" %>
        <%= render_constraints(params) %>
    </div>
<% end %>
