<% @members_ids = render_document_show_field_value(:document => @document, :field => 'member_ids_ssim') %>


<%# if @members_ids.present? %>
	<h2>Folders</h2>
<%# end %> 

       <ul>
<% get_ezra_folders(document).each do |issue| %>
        <li>
           <%= link_to issue["title_tesim"][0], "/catalog/"+issue["id"], "aria-label" => issue["id"] %> <%#= issue["title_tesim"][0] %>
	    </li>
  <%# old_date = date %>
<% end %>
         </ul>

