<div class="hero" role="complementary" id="maincontent">
  <div class="container home-text">
    <div class="home-search">
      <div class="row">
        <div class="col-sm-8">
          <%= render_search_bar  %>
        </div>
        <div class="col-sm-4 home-browse">
          or <a href="/collections">browse collections<i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8">
        <div class="well">
          <h1><%= t('blacklight.welcome') %></h1>
          <p>We're transitioning to a new, more integrated search platform for our digital collections. Search this site, <a href="/collections">browse a list of collections</a>, or <a href="/about">learn more about this site</a>.</p>
          <p>Comments or questions about this site? Please <a href="/contact">contact us</a> and let us know what you think.</p>
        </div>
        <a class="image-credits" href="/image-credits">Image credits</a>
      </div>
    </div>
  </div>
</div>
<%= render 'recently_added' %>

<script type="text/javascript">
  jQuery(document).ready(function() { 
  var randomImages = ['blaschka','hill','jcm-iceland','tell-en-nasbeh', 'sterrett','rmc','anthro','straight','vicos'];
  var rndNum = Math.floor(Math.random() * randomImages.length); 
  jQuery(".hero").css({ background: "url('/hero/" + randomImages[rndNum] + ".jpg') no-repeat" }); });
</script>