<div class="hero" role="complementary">
  <div class="container home-text">
    <div class="home-search">
      <div class="row">
        <div class="col-sm-8">
          <%= render_search_bar  %>
        </div>
        <div class="col-sm-4 home-browse">
          or <a href="/collections">browse collections<span class="fa fa-arrow-right" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'recently_added' %>

<script type="text/javascript">
  jQuery(document).ready(function() { 
  var randomImages = ['blaschka','hill','jcm-iceland','tell-en-nasbeh', 'sterrett','rmc','anthro','straight','vicos'];
  var rndNum = Math.floor(Math.random() * randomImages.length); 
  jQuery(".hero").css({ background: "url('/hero/" + randomImages[rndNum] + ".jpg') no-repeat" }); });
</script>