<%if current_page?('/ragamala') %>
<div id="content" class="col-sm-12">
  <div class="home-text col-sm-6 col-sm-offset-6">
    <div class="well">
      <h1>Ragamala Paintings</h1>
      <p>The project involves photographing and digitizing a slide collection of Indian Raga Mala paintings, which were recently gifted to Cornell and are perhaps the world’s greatest collection of images in this genre. The collection will be used in teaching South Asian art history classes at Cornell and elsewhere, supporting global scholarship activities. The paintings will also be useful for research into Indic regional histories, courts, and cultures. For instance, scholar at Columbia University who are working on premodern Indian courtly culture are particularly eager to have the Ragamala collection at their fingertips.</p>
      <a class="btn btn-default" href="/?f%5BCollection_tesim%5D%5B%5D=Ragamala+Paintings&page=1&per_page=50&view=gallery">Browse collection</a>
    </div>
  </div>
</div>

<% else %>
<div class="home-text">
  <div class="well">
    <h1><%= t('blacklight.welcome') %></h1>
    <p>We're transitioning to a new, more integrated search platform for our digital collections. In the meantime you can search this site, or <a href="http://newcatalog.library.cornell.edu/digitalcollections">view a complete list of our digital collections</a>.</p>
  </div>
  <h2>Recently added</h2>
  <div class="media">
    <div class="media-left media-middle">
      <a href="/ragamala">
        <%= image_tag "thumb/thumb-ragamala.jpg" , alt: "", class: "media-object" %>
      </a>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="/ragamala">Ragamala Paintings</a></h4>
    </div>
  </div>
</div>

<% end %>