<% @project = render_document_show_field_value(:document => @document, :field => 'project_id_ssi') %>
<% @asset = request.original_url.split('ss')[1].split(':')[1] %>

<div class="col-md-9">
  <div id="openseadragon1"></div>
  <script>
  //<![CDATA[
      function initOpenSeadragon() {
          OpenSeadragon ({
    			id: "openseadragon1",
    			minZoomImageRatio: 1,
    			prefixUrl: "/images/",
    			showNavigator: true,
    			tileSources: "http://s3.amazonaws.com/sharedshelftosolr.library.cornell.edu/public/<%= @project %>/<%= @asset %>/image/info.json"
    		});
      }
      window.onload = initOpenSeadragon;
      document.addEventListener("page:load", initOpenSeadragon); // Initialize when using turbolinks
  //]]>
  </script>
  <%= render 'show_download' %>
</div>