<h2>Issue list</h2>
<ul>
<% get_chla_issues(document).each do |issue| %>

        <li>
          <%= issue["title_tesim"][0] %>:
		     <%= link_to "Read Issue","http://reader.library.cornell.edu/docviewer/digital?id="+issue["id"], "aria-label" => issue["id"] %> |  <%= link_to "View Table of Contents","/catalog/"+issue["id"], "aria-label" => issue["id"] %>
	    </li>
<% end %>
</ul>
