<% @members_ids = render_document_show_field_value(:document => @document, :field => 'member_ids_ssim') %>


<% if @members_ids.present? %>
	<h2>Issue list</h2>
<% end %> 
<ul>
<% get_chla_issues(document).each do |issue| %>

        <li>
          <%= issue["title_tesim"][0] %>:
		     <%= link_to "Read Issue","http://reader.library.cornell.edu/docviewer/digital?id="+issue["id"], "aria-label" => issue["id"] %> |  <%= link_to "View Table of Contents","/catalog/"+issue["id"], "aria-label" => issue["id"] %>
	    </li>
<% end %>
</ul>
