<% @members_ids = render_document_show_field_value(:document => @document, :field => 'member_ids_ssim') %>


<% if @members_ids.present? %>
	<h2>Issue list</h2>
<% end %> 
<ul>
<% count = 0 %>
<% old_date = "" %>
<% get_chla_issues(document).each do |issue| %>
<% date = issue["date_tesim"][0] %>
 <% if count == 0 %>
    <b>  <%= issue["date_tesim"][0] %>  </b>
      <% count = count + 1 %>
 <% else %>
     <% if count > 0 and date != old_date %>
         <% date = issue["date_tesim"][0] %>
       <b>  <%= issue["date_tesim"][0] %> </b>
     <% end %>
 <% end %>      
        <li>
           <%= link_to issue["date_display_tesim"][0], "/catalog/"+issue["id"], "aria-label" => issue["id"] %> <%= issue["title_tesim"][0] %>
	    </li>
  <% old_date = date %>
<% end %>
</ul>
