<% if get_zorn_multiviews(@document).length > 1 %>
<h3>Additional views</h3>

<% get_zorn_multiviews(@document).each do |image| %>
	<% if image["id"] != @document["id"] %>
	<div>
				<a href="/catalog/<%= image['id'] %>" data-turbolinks="false">
		    <img src='<%= image["media_URL_size_2_tesim"][0] %>' class="img-responsive" />
				<span class="caption">
					<%= image['title_tesim'][0] %>
					</span
			</a>
			</div>
			<% end %>
<% end %>
<% end %>
