<% if get_multiviews(@document).length > 1 %>
	<h2>Additional views</h2>
	<div class="multi-image-wrapper">
		<% get_multiviews(@document).each do |image| %>
			<% if image["id"] != @document["id"] %>
				<div class="multi-image">
					<a href="/catalog/<%= image['id'] %>" data-turbolinks="false" aria-label="<%= image['id'] %>">
						<%= render_thumbnail(image, {class: "img-responsive" }) %>
						<span class="caption">
							<%= image['title_tesim'].present? ? image['title_tesim'][0] : '' %>
						</span>
					</a>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>
