<% status = publication_status(document) %>
<% if status != "Published" && ENV["COLLECTIONS"] == "development" %>
   	<% if status == "Unpublished" %>
	   <div class="unpublished">
	   		<span class="label label-primary">Unpublished</span>
	   </div>
   	<% end %>
   	<% if status == "Suppressed" %>
	   <div class="unpublished">
	   		<span class="label label-primary">Suppressed</span>
	   </div>
   	<% end %>
<% end %>