  <% if document["status_ssi"]!= "Published" && ENV["COLLECTIONS"] == "development" %>
   <% if document["status_ssi"].present? %>
	   <div class="unpublished">
	   		<span class="label label-primary">Unpublished</span>
	   </div>
   <% end %>
   <% end %>