<% # bookmark/folder functions -%>
<% if document["title_tesim"].present? && document["translation_title_tesim"].present? %>
  	<h1>
    	<%= document["title_tesim"][0] %> / <%= document["translation_title_tesim"][0] %>
  	</h1>
<% elsif document["translation_title_tesim"].present? %>
	<h1>
	    <%= document["translation_title_tesim"][0] %>
	</h1>
<% else %>
  <%= render_document_heading(document, :tag => :h1) %>
<% end %>
