<% @download_url = render_document_show_field_value(:document => @document, :field => 'media_URL_tesim') %>

<ul class="fa-ul download-list">
	<li><a href="<%= @download_url %>" class="btn btn-default"><i class="fa fa-download"></i>Download</a></a></li>
</ul>