<% @collection_website = render_document_show_field_value(:document => @document, :field => 'collection_website_tesim') %>
<% @download_url = render_document_show_field_value(:document => @document, :field => 'media_URL_tesim') %>

<ul class="fa-ul download-list">
	<% if @collection_website.present? %>
		<li><i class="fa-li fa fa-desktop"></i><a href="<%= @collection_website %>">Collection website</a></li>
	<% end %>
	<li><i class="fa-li fa fa-download"></i><a href="<%= @download_url %>">Download image</a></li>
	<li><i class="fa-li fa fa-external-link"></i><a href="#">View collection in Shared Shelf Commons</a></li>
</ul>