<%- if (render_index_field_value :document => document, :field => "media_URL_size_3_tesim").present? && tn = render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
<div class="document-thumbnail">
	<% thumb = render_index_field_value :document => document, :field => "media_URL_size_3_tesim"  %>
	<% thumb = "<img src='" + thumb + "' class='img-responsive' width='150'>" %>
	<a class="cover-image-wrapper" href="<%= catalog_path document %>">
		<%= thumb.html_safe %>
	</a>
</div> 

<%- elsif (render_index_field_value :document => document, :field => "active_fedora_model_ssi").present? && tn = render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
<div class="document-thumbnail">
	<% page_turner = pubstmt_to_id(render_index_field_value :document => document, :field => 'pubstmt_idno_tesim')%>
	<% thumb =  "http://hydrastg.library.cornell.edu/fedora/objects/" + page_turner + "/datastreams/thumbnailImage/content"  %>
	<% thumb = "<img src='" + thumb + "' class='img-responsive' width='150'>" %>
	<a class="cover-image-wrapper" href="<%= catalog_path document %>">
		<%= thumb.html_safe %>
	</a>
</div> 
<%- end %>