<h2>Track list</h2>
<ul>
<% get_tracks(document).each do |track| %>
	<% if track["id"] == document[:id] %>
        <li class="active">
    <% else %>
        <li>
    <% end %>
		    Track <%= track["track_isi"] %>: <%= link_to track["title_tesim"][0],"/catalog/"+track["id"] %>  
	    </li>
<% end %>
</ul>