<div class="other-viewer well pdf">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div data-no-turbolink>
        <% if (render_document_show_field_value(:document => @document, :field => 'filename_tesim')).present? %>
          <iframe src = "/ViewerJS/?zoom=page-width#https://s3.amazonaws.com/digital-assets.library.cornell.edu/<%= @project %>/<%= render_document_show_field_value(:document => @document, :field => 'filename_tesim') %>" width='100%' height="600"
          name="<%= render_document_show_field_value(:document => @document, :field => 'title_tesim') %>"
          allowfullscreen webkitallowfullscreen></iframe>
        <% end %>
      </div>
    </div>
  </div>
</div>