<%# @identifier= render_document_show_field_value(:document => @document, :field => 'id_number_ssi') %>
<div class="other-viewer well">
  <% if @project == "616" && render_document_show_field_value(:document => @document, :field => 'occasion_tesim').present? %>
    <div class="row">
      <div class="col-md-8">
  <% end %>

  <div id="kaltura-player" class="av-player">
    <%# using Kaltura "Portal player" %>
    <div id="kaltura_player_1474482853" style="width: 560px; height: 315px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject" class="video-player">
      <span itemprop="name" content="<%= @title %>"></span>
      <span itemprop="description" content=""></span>
      <span itemprop="duration" content=""></span>
      <span itemprop="thumbnail" content="https://cdnsecakmi.kaltura.com/p/518251/sp/51825100/thumbnail/entry_id/<%= @kaltura %>/version/0/acv/51"></span>
      <span itemprop="width" content="560"></span>
      <span itemprop="height" content="315"></span>
    </div>
    <script src="https://cdnapisec.kaltura.com/p/518251/sp/51825100/embedIframeJs/uiconf_id/36571211/partner_id/518251?autoembed=true&entry_id=<%= @kaltura %>&playerId=kaltura_player_1474482853&cache_st=1474482853&width=550&height=412&flashvars[streamerType]=auto"></script>
  </div>
  <% if @project == "616" && render_document_show_field_value(:document => @document, :field => 'occasion_tesim').present? %>
    </div>
  <% end %>
  <% if @project == "616" && render_document_show_field_value(:document => @document, :field => 'occasion_tesim').present? %>
      <div class="col-md-4 track-list">
        <% if @project == "616" && render_document_show_field_value(:document => @document, :field => 'occasion_tesim').present? %>
          <%= render 'track_list', :document => @document %>
        <% end %>
      </div>
    </div>
  <% end%>
</div>