<div class="other-viewer well">
  <div class="row">
    <div class="col-md-8">
      <div class="av-player">
        <%# using Kaltura "Standard playlist" %>
        <div id="kaltura_player_1524510631" style="width: 560px; height: 450px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject" class="playlist-player">
          <span itemprop="name" content=""></span>
          <span itemprop="description" content=""></span>
          <span itemprop="duration" content=""></span>
          <span itemprop="thumbnailUrl" content=""></span>
          <span itemprop="uploadDate" content=""></span>
          <span itemprop="width" content="560"></span>
          <span itemprop="height" content="450"></span>
        </div> 
        <script src="https://cdnapisec.kaltura.com/p/518251/sp/51825100/embedIframeJs/uiconf_id/42328781/partner_id/518251?autoembed=true&playerId=kaltura_player_1524510631&cache_st=1524510631&width=560&height=450&flashvars[streamerType]=auto&flashvars[playlistAPI.kpl0Id]=<%= @kaltura_playlist %>"></script>
      </div>
    </div>
  </div>
</div>