<div id="content" class="col-sm-12">

<% if ENV["COLLECTIONS"] == "development" %> 
	  	<%= render_document_main_content_partial %>
<% else %>
<% if render_document_show_field_value(:document => @document, :field => 'adler_status') != 'Suppress for portal' %>

	<% if render_document_show_field_value(:document => @document, :field => 'collection_tesim') == "Adler Hip hop Archive" || render_document_show_field_value(:document => @document, :field => 'status_ssi') == "Published"  || render_document_show_field_value(:document => @document, :field => 'active_fedora_model_ssi') == "Book" %> 
  	<%= render_document_main_content_partial %>
<% end %> 
	  <% end %>
	  <% end %>
</div>