<div id="content" class="col-sm-12">
  	<%= render_document_main_content_partial %>
</div>

<%# remove sidebar on item view %>
<!-- <div id="sidebar" class="<%= show_sidebar_classes %>">
   <%= render_document_sidebar_partial %>
</div> -->