<div id="content" class="col-sm-12">
  <% show = "no" %>
<% if ENV["COLLECTIONS"] == "production" %>
<% if render_document_show_field_value(:document => @document, :field => 'collection_tesim').include?("Adler Hip Hop Archive")%>
  <% if !render_document_show_field_value(:document => @document, :field => 'adler_status').present?%>
    <% show = "yes" %>
    <% end %>
  <% end %>
  <% if render_document_show_field_value(:document => @document, :field => 'status_ssi')  == "Published"%>
    <% show = "yes" %>
  <% end %>
  <% if render_document_show_field_value(:document => @document, :field => 'active_fedora_model_ssi') == "Book" %>
    <% if render_document_show_field_value(:document => @document, :field => 'collection_tesim').include?("Huntington") || render_document_show_field_value(:document => @document, :field => 'collection_tesim').include?("Alfredo") %>
      <% show = "yes" %>
    <% end %>
  <% end %>
  <% if render_document_show_field_value(:document => @document, :field => 'collection_tesim').include?("Indonesian") %>
    <% show = "yes" %>
  <% end %>
<% end %>


<% if ENV["COLLECTIONS"] == "development" %>
<% if render_document_show_field_value(:document => @document, :field => 'adler_status') == 'Suppress for portal'%>
  <% show = "no" %>
<% else %>
<% show = "yes" %>
<% end %>
<% end %>

<%if show == "yes" %>

  	<%= render_document_main_content_partial %>

<% else %>
<h1>Item restricted</h1>
<% end %>
</div>
