<div class="well doi">
<h4>Persistent Identifier for this Collection</h4>
<p>http://doi.org/10.7298/X4M61H5R</p>
<p><strong>Suggested citation:</strong></p>
<p>Tarr, Ralph Stockman & Cornell University Library (2014). Historic Glacial Images of Alaska and Greenland from the Ralph Stockman Tarr expeditions (1896; 1905-1911). Cornell University Library. doi.org/10.7298/X4M61H5R</p>
</div>