<div class="row basic-header tarr-header">
	<div class="col-md-5">
		<h2>Historic Glacial Images of Alaska and Greenland</h2>
		<div class="subtitle">from the Ralph Stockman Tarr expeditions (1896; 1905-1911)</div>
	</div>
	<div class="col-md-7">
		<ul class="nav navbar-nav nav-pills">
	    	<li><a href="/collections/tarr">Home</a></li>
			<li><a href="/collections/tarr/about">About</a></li>
			<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Historic+Glacial+Images+of+Alaska+and+Greenland">Browse collection</a></li>
			<li><a href="/collections/tarr/resources">Resources</a></li>
			<li><a href="/collections/tarr/contact">Contact</a></li>
	  	</ul>
	</div>
</div>