<% content_for :page_title, 'About - Historic Glacial Images of Alaska and Greenland' %>
<div class="container">
	<%= render partial: 'pages/collections/tarr/menu' %>
	<h3>About</h3>

	<div class="pull-right img-right"><%= image_tag "collections/tarr/tarr.jpg" , alt: "Ralph Stockman Tarr", class: "img-thumbnail img-responsive" %>
	<div class="caption">Ralph Stockman Tarr</div>
	</div>

	<p>Cornell professor Ralph Stockman Tarr (1864-1912) and his students and collaborators organized several expeditions to glaciated areas in Greenland and Alaska. We are in the process of digitizing approximately 2,000 photographs from these expeditions. Because glaciers are a dynamic landform, especially given current climate change, it is interesting to compare these historic photographs with more recent ones to document their changes over time.</p>

	<p>A very few of the photographs were published in scientific publications, including the seminal 498-page book “<a href="http://newcatalog.library.cornell.edu/catalog/43889">Alaska Glacier Studies</a>” by Tarr and his Ph.D. student Lawrence Martin, published in 1914 by the National Geographic Society (who funded several of the trips to Alaska). Unfortunately, Tarr died suddenly in 1912 at age 48, and Martin (a faculty member at the University of Wisconsin) moved on to other projects. Thus, many of the photographs have not been otherwise published or cataloged and have only been rarely viewed over the past 100 years.</p>

	<p>In particular, there are about 300 photos from the 1896 Perry Expedition to Greenland including Cornell glacier that was named during the expedition. There are about 1,300 photographs from expeditions to Alaska in 1905, 1906, 1909, and 1911. Martin made trips to Alaska in 1910 and 1913 without Tarr and some of these images are available at NSIDC (see below) and the University of Alaska, Fairbanks as part of the <a href="http://nwda.orbiscascade.org/ark:/80444/xv57134">William O. Field collection</a>. Finally, there are about 300 glacier-related lantern slides that were used in teaching that were taken during the expeditions and are from other sources. The photographs and lantern slides digitized as part of this project are housed in the <a href="https://rare.library.cornell.edu/">Division of Rare and Manuscript Collections</a> at Cornell University in the <a href="http://resolver.library.cornell.edu/cgi-bin/EADresolver?id=RMA00092">Ralph Stockman Tarr Papers</a> and the <a href="http://resolver.library.cornell.edu/cgi-bin/EADresolver?id=RMA00856">Oscar Diedrich von Engeln Papers</a>.</p>

	<div class="pull-left img-left">
		<%= image_tag "collections/tarr/von-engeln.jpg" , alt: "O. D. von Engeln", class: "img-thumbnail img-responsive" %>
		<div class="caption">Cornell faculty member and alum O. D. von Engeln developing negatives in the sea water among the icebergs in a photo published in an article he wrote for National Geographic entitled "Photography in Glacial Alaska" (1910)</div>
	</div>

	<p>We plan to add these images to the 10,000 historic glacier photographs at the <a href="http://nsidc.org/data/g00472">National Snow and Ice Data Center (NSIDC)</a> in Boulder, Colorado. Already available at NSIDC are 24 digitized images from Cornell Ph.D. Lawrence Martin’s trips to Alaska including several taken during trips with Tarr.</p>

	<p>Tarr and collaborators made frequent reference to photographs from earlier Alaska expeditions, like the 1899 Harriman expedition. Some of these photos can be found at the <a href="http://content.lib.washington.edu/harrimanweb/index.html">University of Washington</a> and a journal by Cornell ornithologist <a href="http://rmc.library.cornell.edu/Alaska/Default.html">Louis Agassiz Fuertes</a> is available online.</p>

	<p>The digitization project is a collaboration between the <a href="http://www.library.cornell.edu">Cornell University Library</a>, Aaron Sachs, Cornell Department of History, Matt Pritchard, Department of Earth &amp; Atmospheric Sciences, and Julie Elliott of Purdue University. It is funded by the <a href="http://dcaps.library.cornell.edu/initiatives/asgrants">Grants Program for Digital Collections in Arts and Sciences</a> at Cornell University.</p>

	<%= render partial: 'pages/collections/tarr/doi' %>
</div>