<div class="container">
	<%= render partial: 'pages/collections/tarr/menu' %>
	<h3>Contact</h3>
	<p>For questions about this collection, please contact:</p>

	<p><strong>Division of Rare and Manuscript Collections</strong><br />
	Cornell University<br />
	rareref@cornell.edu<br />
	<a href="https://rare.library.cornell.edu">Website</a></p>

	<p><strong>Matthew Pritchard</strong><br />
	Associate Professor<br />
	Earth and Atmospheric Sciences<br />
	Cornell University<br />
	mp337@cornell.edu<br />
	<a href="http://www.geo.cornell.edu/eas/PeoplePlaces/Faculty/matt/Pritchard.html">Website</a></p>

	<p><strong>Julie Elliott</strong><br />
	Assistant Professor<br />
	Earth Atmospheric Planetary Sciences<br />
	Purdue University<br />
	julieelliott@purdue.edu<br />
	<a href="http://www.eaps.purdue.edu/people/faculty-pages/julie-elliott.html">Bio</a></p>

	<p>For questions about this website, please contact <a href="http://dcaps.library.cornell.edu">Digital Consulting &amp; Production Services</a> at dcaps@cornell.edu.</p>
</div>