<% content_for :page_title, 'Resources - Historic Glacial Images of Alaska and Greenland' %>
<div class="container">
	<%= render partial: 'pages/collections/tarr/menu' %>
	<h3>Resources</h3>
	<ul>
		<li>The 1906 Cornell expedition to Alaska is described in Bill Alley's book (including photographs and quotations from field notebooks from the Cornell archives): "<a href="http://newcatalog.library.cornell.edu/catalog/8547864">Rivers of Ice: The Yakutat Bay expedition of 1906</a>" Outskirts Press, 93 pp.(2012)</li>
		<li>The Cornell participants brought back specimens of fungi from their 1896 Greenland expedition that are housed at Cornell and described in the&nbsp;presentation "<a href="http://www.cornell.edu/video/more-mushroom-alumni">More Mushroom Alumni</a>."</li>
		<li>Glacier images from the digitized collection were displayed alongside modern views as part of an exhibit called "Historic Ice" at Cornell's Mann Library from November 2015-January 2016 that is described in articles from <a href="https://mannlib.cornell.edu/news/ice-stories">Mann Library</a>&nbsp;and the <a href="http://cornellsun.com/2015/11/30/images-of-glaciers-from-c-u-expeditions-on-display/">Cornell Daily Sun</a>.</li>
		<li>To open the "Historic Ice" exhibit, Matt Pritchard gave a public lecture on November 10, 2015 entitled "Glacier Change in Greenland and Alaska Since the Pioneering Cornell Expeditions Led by R.S. Tarr (1896-1911)" that you can watch on <a href="https://www.youtube.com/watch?v=Wyx7Rss1AbM">YouTube</a>.</li>
		<li>An older (November 2013), but slightly longer presentation by Matt Pritchard about R. S. Tarr and the digitization project is available online through the Glacier Lecture Series that opened a new glacier permanent display at the Paleontological Research Institution's Museum of the Earth, entitled: "Watching Glaciers Change From Space - Links to Pioneering Cornell Glaciologist Ralph Stockman Tarr (1864-1912)" is available here on <a href="https://www.youtube.com/watch?v=Otp_UOS-1Uc">YouTube</a>.</li>
		<li>Additional digitized photographs of <a href="/?f%5Bcollection_tesim%5D%5B%5D=Images+from+the+Rare+Book+and+Manuscript+Collections&q=von+Engeln&search_field=all_fields">Oscar D. von Engeln</a> and <a href="/?utf8=✓&f%5Bcollection_tesim%5D%5B%5D=Images+from+the+Rare+Book+and+Manuscript+Collections&q=tarr&search_field=all_fields">R. S. Tarr</a> during the glacier exhibitions and of von Engeln sitting at the the Tarr Memorial Boulder in later years can be found in <a href="/collections/rmc">Images from the Rare and Manuscript Collections</a>.</li>
		<li>Digitized photographs of the two memorials to R. S. Tarr on the Cornell campus (boulder outside of McGraw Hall and stained glass window in Sage Chapel) can be found in <a href="/?f%5Bcollection_tesim%5D%5B%5D=Campus+Artifacts%2C+Art+%26+Memorabilia&q=Tarr&search_field=all_fields">Campus Artifacts, Art &amp; Memorabilia</a>.</li>
		<li><a href="http://resolver.library.cornell.edu/cgi-bin/EADresolver?id=RMA00092">Guide to the Ralph Stockman Tarr Papers</a>, Division of Rare and Manuscript Collections</li>
		<li><a href="http://resolver.library.cornell.edu/cgi-bin/EADresolver?id=RMA00856">Guide to the Oscar Diedrich von Engeln Papers, 1866-1965</a>, Division of Rare and Manuscript Collections.</li>
	</ul>
	<%= render partial: 'pages/collections/tarr/doi' %>
</div>