<%# stick the hero image on the home page only %>
<% if current_page?('/collections/srilanka') %>
	<div class="srilanka-header">
		<div class="container">
			<h2><a href="/collections/srilanka">Depicting the Sri Lankan Vernacular</a></h2>
		</div>
		<div class="background">
			<div class="container">
				<%= image_tag "collections/srilanka/banner.jpg" , alt: "", class: "img-responsive" %>
				<div class="caption">
					<p><a href="/catalog/ss:11087020">Householders rethatching Dwelling #33 after the paddy harvest</a>; <a href="/catalog/ss:14160990">Dwelling #33 Plan</a></p>
				</div>
			</div>
		</div>
	</div>
<%# or just display the header %>
<% else %>
	<div class="srilanka-header srilanka-header--subpage">
		<div class="container">
			<h2><a href="/collections/srilanka">Depicting the Sri Lankan Vernacular</a></h2>
		</div>
	<% end %>
</div>