<div class="navbar">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#srilanka-navbar" aria-expanded="false" aria-controls="navbar">
        Menu
        <i class="fa fa-bars"></i>
    </button>
    <div id="srilanka-navbar" class="collapse navbar-collapse">
      <ul class="nav">
        <%= link_to_in_li "Home", "/collections/srilanka" %>
        <%= link_to_in_li "Browse the Collection", "/collections/srilanka/browse" %>
        <%= link_to_in_li "Resources", "/collections/srilanka/resources" %>
      </ul>
    </div>
</div>