<div class="navbar">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#srilanka-navbar" aria-expanded="false" aria-controls="navbar">
        Menu
        <i class="fa fa-bars"></i>
    </button>
    <div id="srilanka-navbar" class="collapse navbar-collapse">
      <ul class="nav">
        <li class="active"><a href="/collections/srilanka">Home</a></li>
        <li><a href="#">Browse the Collection</a></li>
        <li><a href="/collections/srilanka/about">About</a></li>
        <li><a href="/collections/srilanka/resources">Resources</a></li>
        <li><a href="/collections/srilanka/contact">Contact</a></li>
      </ul>
    </div>
</div>