<h3 id="sets">Image sets</h3>
<div class="sets">
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Colombo&view=gallery">
				<img src="http://stor.artstor.org/stor/ad10bcc1-ee9a-458e-86cd-4828032201ed_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Colombo
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2301&view=gallery">
				<img src="http://stor.artstor.org/stor/da50da15-163c-4b79-b523-c89865d21e01_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #1
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2303&view=gallery">
				<img src="http://stor.artstor.org/stor/ba2288b3-05d9-416e-8bb0-88c6e8d1801e_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #3
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2305&view=gallery">
				<img src="http://stor.artstor.org/stor/b83e19f7-5a1a-4889-987b-23277bbb8756_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #5
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2306&view=gallery">
				<img src="http://stor.artstor.org/stor/ebe864f8-4ac3-4438-9189-0acecb2ee150_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #6
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2307&view=gallery">
				<img src="http://stor.artstor.org/stor/36952547-f243-4dc9-a92b-894b6e6c85f6_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #7
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2309&view=gallery">
				<img src="http://stor.artstor.org/stor/9d29e531-1c1b-402b-910d-373e523db585_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #9
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2310&view=gallery">
				<img src="http://stor.artstor.org/stor/4fb474f2-7eed-4b5e-8e19-88f5763dd483_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #10
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2311&view=gallery">
				<img src="http://stor.artstor.org/stor/b8ecb28f-ff97-499b-9010-ccbf85277126_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #11
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2312&view=gallery">
				<img src="http://stor.artstor.org/stor/a80a82d3-c72a-43b5-96e5-5dc77e6108da_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #12
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2313&view=gallery">
				<img src="http://stor.artstor.org/stor/64934a0a-25cc-4b13-8ef1-67316ff3ebbb_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #13
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2314&view=gallery">
				<img src="http://stor.artstor.org/stor/ce190b96-2af1-4d91-ad73-93286433b398_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #14
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2316&view=gallery">
				<img src="http://stor.artstor.org/stor/7bb3d943-a20f-4c96-993f-85dd30b079de_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #16
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2317&view=gallery">
				<img src="http://stor.artstor.org/stor/00e4e17b-00c5-46c2-9b9b-369f210ec0df_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #17
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2318&view=gallery">
				<img src="http://stor.artstor.org/stor/bd78bfff-f7d4-408a-9e2f-ae7df0a4299f_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #18
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2319&view=gallery">
				<img src="http://stor.artstor.org/stor/99936787-441b-494a-87ec-3ba84f4f5db3_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #19
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2320&view=gallery">
				<img src="http://stor.artstor.org/stor/a68961be-0ab4-4a3d-bfd4-f5634f02fd59_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #20
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2324&view=gallery">
				<img src="http://stor.artstor.org/stor/107afd1f-1f00-44ed-875b-0b785c3f2ab8_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #24
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2325&view=gallery">
				<img src="http://stor.artstor.org/stor/c9dbc8b2-e1e5-49c6-b56f-66af263f61be_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #25
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2326&view=gallery">
				<img src="http://stor.artstor.org/stor/6c39509f-2e80-4cd3-9ba1-4e6578ebbd91_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #26
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2327&view=gallery">
				<img src="http://stor.artstor.org/stor/5966dcd4-98fb-4397-aeda-ab533c141733_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #27
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2328&view=gallery">
				<img src="http://stor.artstor.org/stor/5e7dc25f-f809-4c7b-bc8a-b92c8b11c74d_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #28
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2329&view=gallery">
				<img src="http://stor.artstor.org/stor/935a6d40-62ad-4ad7-8112-e23b0942864a_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #29
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2331&view=gallery">
				<img src="http://stor.artstor.org/stor/71721b7c-b4f2-4f8f-b355-4703412ae0ba_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #31
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2332&view=gallery">
				<img src="http://stor.artstor.org/stor/7bf14f48-7361-4728-a91a-e21a3fd4d13f_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #32
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2333&view=gallery">
				<img src="http://stor.artstor.org/stor/49d5665f-7a9d-4b2f-b496-b5fbc07953d2_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #33
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2334&view=gallery">
				<img src="http://stor.artstor.org/stor/48f7c081-d964-44db-9f09-4e84bb916172_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #34
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2336&view=gallery">
				<img src="http://stor.artstor.org/stor/33c959d0-ec6d-417b-b122-314d9180132b_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #36
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2338&view=gallery">
				<img src="http://stor.artstor.org/stor/a48d4f67-f87d-4e5e-9654-c96788966ff2_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #38
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2339&view=gallery">
				<img src="http://stor.artstor.org/stor/44aa7b4e-a763-4029-9e3f-79404484900d_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #39
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2343&view=gallery">
				<img src="http://stor.artstor.org/stor/012bcffd-4bde-4840-a5d3-86b7a1ef942f_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #43
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2345&view=gallery">
				<img src="http://stor.artstor.org/stor/211e5feb-8076-40c9-819d-a2019ff0036f_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #45
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2346&view=gallery">
				<img src="http://stor.artstor.org/stor/40792ede-5552-4466-9f75-3b241c7ce22d_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #46
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Dwelling+%2358&view=gallery">
				<img src="http://stor.artstor.org/stor/82ab3309-8dd4-4eb1-a2c6-cb7202952cb9_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Dwelling #58
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Hunnasgirya&view=gallery">
				<img src="http://stor.artstor.org/stor/48bca7ac-0faa-4e27-9bd4-333aef9a1b18_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Hunnasgirya
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Knuckels%20Conservation%20Area&view=gallery">
				<img src="http://stor.artstor.org/stor/756603ac-8878-4aab-98b1-2f297e915196_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Knuckels Conservation Area
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Koggala&view=gallery">
				<img src="http://stor.artstor.org/stor/2c9a4fbc-5f95-484b-8dd5-64b064df2144_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Koggala
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Kotmale&view=gallery">
				<img src="http://stor.artstor.org/stor/1a7a256a-7c26-4edb-a8e0-a99026373e40_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Kotmale
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Maps&view=gallery">
				<img src="http://stor.artstor.org/stor/c7533dd6-8c0e-42e8-b73b-8f9712aca3aa_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Maps
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Mimure&view=gallery">
				<img src="http://stor.artstor.org/stor/8032bf4f-c6e7-4a1d-81dc-848ac5422731_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Mimure
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Nitre+Cave&view=gallery">
				<img src="http://stor.artstor.org/stor/e28c4c8b-5031-4c97-bafc-7b63b06b6a37_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Nitre Cave
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Rantembe&view=gallery">
				<img src="http://stor.artstor.org/stor/0a63daf5-a326-417d-8f11-3be8dbf68fc3_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Rantembe
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&f%5Bset_title_tesim%5D%5B%5D=Victoria%20Reservoir&view=gallery">
				<img src="http://stor.artstor.org/stor/e39d4d3f-41bf-4434-9bab-4a24796dc828_size2" class="img-thumbnail" alt="">
				<div class="caption">
					Victoria Reservoir
				</div>
			</a>
		</div>
	</div>
</div>

