<% content_for :page_title, 'About - Depicting the Sri Lankan Vernacular' %>
<%= render partial: 'pages/collections/srilanka/header' %>
<div class="srilanka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/srilanka/menu' %>
			</div>
			<div class="main-text">
				<h3>About</h3>
				<p>[ corbet's gap and skeen images will go here when the collection is in the portal]</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in lorem rutrum, convallis ipsum vitae, elementum risus. Praesent elementum, quam ac eleifend pulvinar, ex arcu fermentum velit, vel convallis felis purus a lacus. Donec vel rhoncus leo, vitae ullamcorper nisl. Etiam vulputate massa et rhoncus eleifend. Vestibulum facilisis faucibus iaculis. Etiam lacinia dictum orci, at accumsan odio vestibulum et. Nulla ut leo in sem bibendum viverra. Donec luctus malesuada eros nec eleifend.</p>
				<p>Duis vitae mauris vitae velit cursus vehicula. Cras convallis libero eget odio tristique, sit amet laoreet lorem imperdiet. Vivamus mattis condimentum aliquet. Aliquam ut rhoncus ex. Mauris eu eleifend urna, quis venenatis ex. Pellentesque ut ultrices ipsum, ut feugiat ligula. Nullam quis placerat dui. Nunc augue lorem, interdum eu tempus et, rhoncus vitae risus. Morbi venenatis lorem ante, sit amet faucibus diam convallis laoreet. Mauris cursus tempus arcu, sed facilisis enim ornare ut. Nam ultrices tellus vitae tincidunt bibendum. Aenean tincidunt justo nisi, quis vestibulum nulla pulvinar ac. Sed ac varius mi. Donec pharetra egestas tortor sit amet scelerisque. Maecenas dignissim cursus enim ut bibendum.</p>
			</div>
		</div>
	</div>
</div>