<% content_for :page_title, 'Browse the Collection - Depicting the Sri Lankan Vernacular' %>
<%= render partial: 'pages/collections/srilanka/header' %>
<div class="srilanka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/srilanka/menu' %>
			</div>
			<div class="main-text">
				<h3>Browse the Collection</h3>
				<p>Select a set of images below, or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Depicting+the+Sri+Lankan+Vernacular&view=gallery">browse the full collection</a>.</p> 
				<%= render partial: 'pages/collections/srilanka/sets' %>
			</div>
		</div>
	</div>
</div>