<% content_for :page_title, 'Resources - Depicting the Sri Lankan Vernacular' %>
<%= render partial: 'pages/collections/srilanka/header' %>
<div class="srilanka-layout" role="complementary">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/srilanka/menu' %>
			</div>
			<div class="main-text">
				<h3>Fountains of Paradise</h3>
				<div id="kaltura_player_1512066489" style="width: 560px; height: 395px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject"> <span itemprop="name" content="The Fountains of Paradise"></span> <span itemprop="description" content=""></span> <span itemprop="duration" content="3430"></span> <span itemprop="thumbnail" content="https://cfvod.kaltura.com/p/518251/sp/51825100/thumbnail/entry_id/1_in1cfo0f/version/100031"></span> <span itemprop="width" content="560"></span> <span itemprop="height" content="395"></span> </div> <script src="https://cdnapisec.kaltura.com/p/518251/sp/51825100/embedIframeJs/uiconf_id/28601761/partner_id/518251?autoembed=true&entry_id=1_in1cfo0f&playerId=kaltura_player_1512066489&cache_st=1512066489&width=560&height=395&flashvars[streamerType]=auto"></script>
			</div>
		</div>
	</div>
</div>