<% content_for :page_title, 'Depicting the Sri Lankan Vernacular' %>
<%= render partial: 'pages/collections/srilanka/header' %>
<div class="srilanka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/srilanka/menu' %>
				
			</div>
			<div class="main-text">
				<h3>Foreword</h3>
				<p><em>By Carlin MacDougall</em></p>
				<p>Bonnie MacDougall worked on this digital collection during the last years of her life, up until her death in November 2017. The site and its digital records represent over fifty years of inquiry into life in a remote Sri Lankan village. This ethnographic research began as a collaborative project between Bonnie and her husband, Robert “Scotty” MacDougall, who died in 1987. Both this site and the previously published digital collection, Beyond the Taj: Architectural Traditions and Landscape in South Asia, highlight Robert’s photographs and are an effort to posthumously make his visual record of South Asia accessible to a wider audience. Bonnie continued her research in Sri Lanka after Robert’s death and had the opportunity to witness the changing cultural ways of traditional village life over the full arc of her academic career. The collection is a record of the past as well as a resource for future generations for whom the Sri Lankan vernacular is becoming more removed in space and time. The site is also a testament to an enduring academic partnership to which Bonnie was deeply committed.</p>
				<h3>Introduction</h3>
				<p><em>By Bonnie MacDougall</em></p>
				<p>This collection of <a href="/collections/srilanka/browse">original photographs and drawings</a> is drawn from ethnographic research on architecture and traditional domestic life in Sri Lanka, conducted in various periods between 1965 and 2012, by Bonnie and Robert MacDougall. These original images, as well as other visual records, pertain to lifeways and hereditary practices in the Central Highlands, and more particularly to a single remote Sinhala community, Mimure,* in the hinterlands of the Kandy District. Although the collection is focused primarily on images, it also includes information on additional publications (under <a href="/collections/srilanka/resources">Resources</a> as addenda) pertaining to the community. In this way, it joins a vigorous twentieth-century ethnographic record to the little Sri Lankan community, which is otherwise regrettably without a significant visual dimension.</p>
				<p>The idea of the unchanging village setting has long figured prominently in the public and nationalistic imagination in Sri Lanka as the locale of traditional practices and values. In his seminal work, <em>Medieval Sinhalese Art</em> (1908), the activist and art historian Ananda Coomaraswamy framed his concern for traditional settings and practices as a historic preservation issue. He decried the decline of traditional craftsmanship, lamenting, “I have tried to make a picture of it before it was too late.” The village community as the font of authentic tradition and culture is also depicted in Sri Lankan literature and film, and more recently, in museum and commercial re-creations of village life, some of which are documented in photographs in this collection (e.g., the agricultural exhibit at the National Museum).</p>
				<p>This collection was made possible by the Podell Emeriti Award and Cornell’s <a href="https://dcaps.library.cornell.edu/grants/aap">Grants Program for Digital Collections in the College of Architecture, Art and Planning</a>. Special thanks to Marsha Taichman and Cornell University Library’s <a href="https://dcaps.library.cornell.edu">Digital Consulting &amp; Production Services</a>.</p>
  
  				<hr>
				<p><small>*Some texts refer to Mimure by its pseudonym, “Rangama.” Bonnie and Robert MacDougall originally used the pseudonym to protect the identity of the village and its people. <em>Rangama</em> means “golden village” in Sinhala.</small></p>

				<h3>Contact</h3>
				<p>For questions about this collection, please email <a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a>, or submit our <a href="https://cornell.qualtrics.com/jfe/form/SV_22YsXiyJ86f8rMp" target="_blank">feedback form</a>.</p>
			</div>
		</div>
	</div>
</div>