<% content_for :page_title, 'Resources - Depicting the Sri Lankan Vernacular' %>
<%= render partial: 'pages/collections/srilanka/header' %>
<div class="srilanka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/srilanka/menu' %>
				<%= image_tag "http://stor.artstor.org/stor/ce7aec31-3409-48dd-8f7f-464cc15a694c_size3" , alt: "", class: "img-responsive img-thumbnail" %>
				<p class="caption"><a href="/catalog/ss:12930054">Corbet's Gap in Knuckles Conservation Forest
</a></p>
				<%= image_tag "http://stor.artstor.org/stor/b1188d2d-5b0d-40af-ae87-cc8de6f3cf43_size3" , alt: "", class: "img-responsive img-thumbnail" %>
				<p class="caption"><a href="/catalog/ss:12929904">Knuckles Coffee Plantation</a></p>
			</div>
			<div class="main-text">
				<h3>Resources</h3>
				<h4>Print and Electronic Texts</h4>
				<ul>
					<li>Gopala Iyer, M. R. Ry. <em>Sri Lalitha Navaratnam Maniadi Sastiram</em>. Cornell eCommons, 1914.  <a href="http://hdl.handle.net/1813/8358">http://hdl.handle.net/1813/8358</a>. Accessed 10 June 2018.</li>
					<li>MacDougall, Bonnie G. “The Sinhala House, Landscape Experience and Domestic Order in Kandyan, Sri Lanka.” <em>Asia’s Old Dwellings: Tradition, Resilience, and Change</em>, edited by Ronald G. Knapp, Oxford University Press, 2003, pp. 71‒90.</li>
					<li>MacDougall, Bonnie G. Text into Form: Dwelling, Cosmos and Design Theory in Traditional South Asia. Cornell eCommons, 2008. <a href="http://hdl.handle.net/1813/10307">http://hdl.handle.net/1813/10307</a>. Accessed 10 June 2018.</li>
					<li>MacDougall, Bonnie G. <em>Text into Form: Dwelling, Cosmos and Design Theory in Traditional South Asia</em>. Cornell University, 2008.</li>
					<li>MacDougall, Bonnie G. <em>The Sinhala Mayimataya, A Translation into English</em>. Cornell eCommons, University, 2008. <a href="http://hdl.handle.net/1813/10765">http://hdl.handle.net/1813/10765</a>. Accessed 10 June 2018.</li>
					<li>MacDougall, Bonnie G. <em>The Uluwahu Paenima, A Translation into English</em>. Cornell eCommons, 2008. <a href="http://hdl.handle.net/1813/10766">http://hdl.handle.net/1813/10766</a>. Accessed 10 June 2018.</li>
					<li>MacDougall, Bonnie G., and Christobelle Amarasingam. <em>Sri Lalitha Navaratnam Manaiadi Sastiram, A Translation into English</em>. Cornell eCommons, 2008. <a href="http://hdl.handle.net/1813/10767">http://hdl.handle.net/1813/10767</a>. Accessed 10 June 2018.</li>
					<li>MacDougall, Robert Duncan, and Bonnie G. MacDougall. <em>Sinhalese Domestic Life in Space and Time</em>. South Asia Program, Cornell University, 1977.</li>
					<li><em>The Sinhala Mayimataya</em>. Cornell eCommons, 1837, <a href="http://hdl.handle.net/1813/8361">http://hdl.handle.net/1813/8361</a>. Accessed 10 June 2018.</li>
					<li><em>The Uluwahu Paenima</em>. Cornell eCommons, n.d. <a href="http://hdl.handle.net/1813/8360">http://hdl.handle.net/1813/8360</a>. Accessed 10 June 2018.</li>
				</ul>

				<h4>Videos and DVDs</h4>
				<ul>
					<li><em>The Fountains of Paradise</em>. Sandra Nichols and Carol Mon Pere, Paramus, NJ: Time-Life Video, 1984. Videocasette (VHS), 57 min. This documentary film explores the human and environmental impact of the Mahaweli water management project in central Sri Lanka.</li>
					<li><em>Suriya Arana</em>. <a href="http://somadissa.com/filmography/">Somaratne Dissanayake</a>, Gampaha, Sri Lanka: Nimsara Entertainment, 2004. DVD, ca. 108 min. This children’s film portrays the friendship that develops between a youth being taught how to hunt by his father and a novice Buddhist monk he meets in the jungle. It dramatizes their different attitudes, and the harrowing incident that leads the young hunter to join the Buddhist order. Filmed in the forested areas of the Knuckles Mountain Range near Mimure, and accompanied by music, it is said to be the highest-grossing Sinhalafilm of all time. In Sinhala.</li>
					<li>Knuckles Forest Preserve. Video. <a href="/collections/srilanka/knuckles">Government of Sri Lanka</a>.</li>
				</ul>
				<h4>Website</h4>
				<ul>
					<li>MacDougall, Bonnie G., Robert D. MacDougall, and Margaret Webster. Beyond the Taj: Architectural Traditions and Landscape Experience in South Asia. Cornell U, 2007, <a href="http://beyondthetaj.library.cornell.edu/">http://beyondthetaj.library.cornell.edu/</a>. Accessed 10 June 2018.</li>
				</ul>
			</div>
		</div>
	</div>
</div>