<% content_for :page_title, 'Resources - Depicting the Sri Lankan Vernacular' %>
<%= render partial: 'pages/collections/srilanka/header' %>
<div class="srilanka-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/srilanka/menu' %>
			</div>
			<div class="main-text">
				<h3>Resources</h3>
				<ul>
					<li>MacDougall, Bonnie G. (2008), <a href="http://hdl.handle.net/1813/10307">Text Into Form: Dwelling, Cosmos and Design Theory in Traditional South Asia</a>. 295pp.</li>
					<li>MacDougall, Robert D.; MacDougall, Bonnie G. (1977), <a href="http://hdl.handle.net/1813/3025">Sinhalese Domestic Life In Space and Time</a>. Cornell University South Asia Program, Occasional Monographs and Thesis no. 5, Ithaca, New York, 1977.</li>
					<li>MacDougall, Bonnie G (2008), <a href="http://hdl.handle.net/1813/10765">The Sinhala Mayimataya, A Translation Into English</a>.</li>
					<li>Anon (1837), <a href="http://hdl.handle.net/1813/8361">The Sinhala Mayimataya</a>.</li>
					<li>MacDougall, Bonnie G.; Amarasingam Christobelle (2008), <a href="http://hdl.handle.net/1813/10767">Sri Lalitha Navaratnam Manaidi Sastiram, A Translation Into English</a>.</li>
					<li>Iyer, P.R.G., (1914), <a href="http://hdl.handle.net/1813/8358">Sri Lalitha Navaratnam Manaiadi Sasitiram</a>, Madras.</li>
					<li>MacDougall, Bonnie G. (2008), <a href="http://hdl.handle.net/1813/10766">The Uluwahu Paenima, A Translation Into English</a>.</li>
					<li>Anon (nd), <a href="http://hdl.handle.net/1813/8360">Uluwahu Paenima</a></li>
					<li>Bonnie G. MacDougall (2004), The Sinhala house, landscape experience and domestic order in Kandyan Sri Lanka    in Ronald G. Knapp (ed.) Asia's Old Dwellings, Tradition, Resilience and Change.   Oxford University Press   pp.71-90.</li>
					
					
				</ul>
				<h4>Videos</h4>
				<ul>
					<li>Fountains of Paradise (1984) a documentary film by Sandra Nichols on the human and environmental impact of the Mahaweli water management project in central Sri Lanka. <a href="/collections/srilanka/fountains">Video of Fountains of Paradise</a>.</li>
					<li>Suriya Arana (2004), a children's film by <a href="http://somadissa.com/filmography/">Somaratne Dissanayake</a> said to be the highest grossing Sinhalafilm of all time. Filmed in the forested areas of the Knuckles mountain range near Mimure.</li>
					<li><a href="/collections/srilanka/knuckles">Knuckles Forest Preserve (Video)</a></li>
				</ul>
				<h4>Websites</h4>
				<ul>
					<li><a href="http://beyondthetaj.library.cornell.edu/">Beyond the Taj: Architectural Traditions and Landscape Experience in South Asia</a></li>
				</ul>
				<div class="row-fluid main-text-images">
					<div class="col-sm-6">
						<%= image_tag "http://stor.artstor.org/stor/ce7aec31-3409-48dd-8f7f-464cc15a694c_size3" , alt: "", class: "img-responsive img-thumbnail" %>
						<div class="caption">
							<p><a href="/catalog/ss:12930054">Knuckles Conservation Forest. Corbet's Gap</a></p>
						</div>
					</div>
					<div class="col-sm-6">
						<%= image_tag "http://stor.artstor.org/stor/b1188d2d-5b0d-40af-ae87-cc8de6f3cf43_size3" , alt: "", class: "img-responsive img-thumbnail" %>
						<div class="caption">
							<p><a href="/catalog/ss:12929904">Pata Dumbara Knuckles Coffee Plantation. Coffee Districts</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>