<%# stick the hero image on the home page only %>
<% if current_page?('/collections/anthrocollections') %>
	<div class="anthro-header">
		<div class="container">
			<h2><a href="/collections/anthrocollections">Selections from the Cornell Anthropology Collections</a></h2>
		</div>
		<div class="background">
			<div class="container">
				<%= image_tag "collections/anthrocollections/composite.jpg" , alt: "", class: "img-responsive" %>
			</div>
		</div>
	</div>
<%# or just display the header %>
<% else %>
	<div class="anthro-header anthro-header--subpage">
		<div class="container">
			<h2><a href="/collections/anthrocollections">Selections from the Cornell Anthropology Collections</a></h2>
		</div>
	<% end %>
</div>