<div class="collection-search well">
    <h3>Search or <a href="/?f[collection_tesim][]=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">browse the collection</a></h3>
    <%= render '/catalog/search_form', { :@collection_search => "Selections from the Cornell Anthropology Collections"}  %>
</div>