<% content_for :page_title, 'Browse the Collection - Selections from the Cornell Anthropology Collections' %>
<%= render partial: 'pages/collections/anthrocollections/header' %>
<div class="anthro-layout" role="complementary">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/anthrocollections/menu' %>
			</div>
			<div class="main-text">
				<h3>About the Collection</h3>
				<p>Located in 150 McGraw Hall, part of the original University Museum, the Anthropology Collections include approximately 20,000 items representing human activity around the world from the Lower Paleolithic to the present. Archaeological and ethnographic materials are about equally represented.</p>
				<p>The Collections are primarily a teaching and research tool and are not open on a regular schedule, but can be visited by appointment by individuals and groups. Classes up to 20 students can easily arrange sessions in the Collections to work with particular materials, and many items can be signed out by faculty for use in classes when a full visit to the Collections is not warranted.</p>
				<p>In addition to regular classes, individual students can arrange to do guided independent research using the Collections on a wide range of projects. Recent examples have included Hopi kachina dolls, Mississippian pottery, and projectile point typology. Non-Cornell groups, including Ithaca school groups and others, are also welcome to arrange visits, although the Cornell community necessarily takes precedence.</p>
				<p>Even when not open, we have an exhibit gallery in the first-floor hallway of McGraw Hall where visitors can always see selections from the Collections. A larger exhibit space is in the Department seminar room, 215 McGraw, where classes and department colloquia are held. The current exhibits are "People and Their Stuff" in the hallway gallery, and "The First Century of Anthropology at Cornell: 1870-1970" in the 215 gallery.</p>
				<p>The Curator since 2005 is Frederic W. Gleach.</p>
				<p>Learn more about the <a href="https://anthropology.cornell.edu/history-anthropology-collections">history of the Anthropology Collections</a>.</p>
			</div>
		</div>
	</div>
</div>