<% content_for :page_title, 'Browse the Collection - Selections from the Cornell Anthropology Collections' %>
<%= render partial: 'pages/collections/anthrocollections/header' %>
<div class="anthro-layout" role="complementary">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/anthrocollections/menu' %>
			</div>
			<div class="main-text">
				<h3>Browse the Collection</h3>
				<p><a href="/?f[collection_tesim][]=Selections+from+the+Cornell+Anthropology+Collections">Browse the Cornell Anthropology Collections</a>, or select a subset of items from the list below.</p>
				<p>Selected items are drawn from 8 categories, selected for their significance and anticipated utility for a variety of users. These are:</p>
				<ol>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Ndembu+masks+and+costumes&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Ndembu masks and costumes</a>, collected by Victor and Edith Turner during fieldwork in Zambia that was subsequently published in seminal anthropological works including <em>The Forest of Symbols: Aspects of Ndembu Ritual</em> (Cornell University Press: 1970).</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Yir+Yoront+ethnographic+collection&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Yir Yoront ethnographic collection</a>, objects of ritual and daily life collected by Lauriston Sharp, former Goldwin Smith Professor of Anthropology and Asian Studies at Cornell University, during fieldwork with the Yir Yoront, an aboriginal group on the Cape York Peninsula of western Australia.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Hmong+clothing+and+textiles&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Hmong clothing and textiles</a>, collected by Lauriston and Ruth Sharp in Thailand in the 1960s. These are supplemented for comparative purposes by a few examples of needlework produced by Hmong communities in the US since the 1990s, collected by curator Frederic Gleach.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Georgia+Slave+Cabin+archaeological+collection&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Georgia Slave Cabin archaeological collection</a>, from excavations by Robert Ascher and Charles Fairbanks in 1969, published in <em>Historical Archaeology</em> in 1971. This was one of the first excavations and publications of an African-American site.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Amazonian+ceramics&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Amazonian ceramics</a>, collected by and for C. Fred Hartt, first Cornell University Professor of Geology, during expeditions in 1868-9. This was among the first archaeological work done in the Amazon, a region where the archaeological record is still not well known.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Precolumbian+Peruvian+textiles+and+ceramics&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Precolumbian Peruvian textiles and ceramics</a>, including two major donations. These represent a variety of cultures and periods from the region, allowing comparative and chronological study.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Danish+Neolithic+stone+tools&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Danish Neolithic stone tools</a>. These include flaked and ground daggers and axes, along with polishing stones used to produce the ground pieces, spindle-whorls used in textile production, sickles for harvesting grain, and other implements documenting lifestyles of the period.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Early+20th-century+items+from+the+Philippines+and+neighboring+island+nations&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Early 20th-century items from the Philippines and neighboring island nations</a>. This collection offers a unique view into the socio-political world of the Pacific, and the applications of missionization and military force in the region.</li>
				</ol>
			</div>
		</div>
	</div>
</div>