<% content_for :page_title, 'Copyright - Core Historical Literature of Agriculture' %>
<%= render partial: 'pages/collections/chla/header' %>
<div class="mann-layout mann-layout--chla">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Funding Agencies</h3>
				<p>Funding agencies that made CHLA a reality include the following:</p>
				<ul>
					<li>Class of 1956 gift (College of Agriculture &amp; Life Sciences Challenge)</li>
					<li>College of Agriculture &amp; Life Sciences Office for Research</li>
					<li>National Agriculture Library (NAL)</li>
					<li>National Endowment for the Humanities (NEH)</li>
					<li>The Rockefeller Foundation</li>
					<li>United States Agricultural Information Network (USAIN)</li>
					<li>United States Department of Agriculture (USDA)</li>
					<li>United States Department of Education, Title IIC</li>
				</ul>
			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/chla/menu_about' %>
			</div>
		</div>
	</div>
</div>