<% content_for :page_title, 'Language of Flowers' %>
<%= render partial: 'pages/collections/language-of-flowers/header' %>
<div class="mann-layout mann-layout--flowers">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<p><strong>Mann Library’s <a href="/?f%5Bcollection_tesim%5D%5B%5D=Language+of+Flowers">Language of Flowers Collection</a></strong> was donated to the Library by award-winning garden writer Isabel Zucker ‘26, and generous giving by Mrs. Zucker's daughter, Judith Zucker Clark '53 supported initial conservation treatments of this beautiful, historical collection. Dating from the early 19th century through the 1950s, the 147 volumes in the collection include many classic texts on the art of expressing emotions, sentiments and moral lessons through floral arrangements. With roots in the Turkish Sélam floral code of the 18th century, the art of florigraphy first became popular in France in the early 1800s. Building on the floral dictionaries developed by their French predecessors, scholars, writers, and moralists of Victorian England and North America favored floral symbolism as a popular medium for expressing moralistic sentiments, while love-struck amateur poets often used the Language of Flowers to encode surreptitious messages of passion. Replete with exquisite, intricately detailed hand-colored plates, the Language of Flowers Collection at Mann Library documents the history of the use of flowers in Western culture as well as popular perceptions of nature and society.</p>

				<div class="collection-browse">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Language+of+Flowers" class="btn btn-lg btn-primary">Browse the Collection</a>
				</div>
			</div>
			<div class="col-sm-4">
				<a href="/catalog/ss:24354772">
					<%= image_tag "collections/flowers/snowdrop_crocus_TheRomanceofNature_1836" , alt: "", class: "img-responsive" %>
				</a>
			</div>
		</div>
	</div>
</div>
