<div class="header-collection">
	<div class="container">
		<div class="row">
			<div class="collection-brand">
				<h1 class="collection-title"><a href="/bolivian">The Alfredo Montalvo<br>Bolivian Digital Pamphlets Collection</a></h1>
			</div>
			<div class="collection-menu">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  	<span class="fa fa-bars"></span>
				    <span class="hidden-xs">Menu</span>
				  </button>
				  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
				    	<li><a href="/bolivian">Home</a></li>
						<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=The+Alfred+Montalvo+Bolivian+Digital+Pamphlets+Collection">Browse collection</a></li>
						<li><a href="/bolivian/about">About the collection</a></li>
						<li><a href="/bolivian/contact">Contact</a></li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>