<div id="main-container">
	<%= render partial: 'pages/bolivian/header' %>
	<div class="container collection-text">
		<h2>About the collection</h2>

		<p>This collection of 715 digitized works comes principally from a donation made to Cornell by the Bolivian bookseller, Alfredo Montalvo, who has supplied the university with library materials for over a quarter century. The pamphlets document a century of Bolivian literate culture, beginning in 1848. They show a nation's struggle to establish viable institutions, to develop its economy, to educate its children and the back and forth of political argument. In their aggregate these pamphlets capture the energy of the Bolivian people-sometimes misdirected, often contentious, but never quiescent.</p>

		<p>Readers will also want to consult complimentary collections of Bolivian pamphlets. The University of Pittsburgh holds some 1,200 items, cataloged under the heading "Bolivian Pamphlets in the University of Pittsburgh Libraries." Yale shows 243 Bolivian items in its Guide to Latin American Pamphlets from the Yale University Library. Both of these collections have their paper originals microfilmed to enhance their preservation and access. Harvard's recently-announced <a href="http://vc.lib.harvard.edu/vc/deliver/home?_collection=LAP">Latin American Pamphlet Digital Collection</a> includes 898 Bolivian items.</p>
	</div>
</div>