<div id="main-container">
	<%= render partial: 'pages/bolivian/header' %>
	<div class="container collection-text">
		<%# this could also be a carousel if the people want it %>
		<!-- <a href="/catalog/ss:200735" title="View image">
			<%= image_tag "sets/aerialny/banner.jpg" , alt: "Image from the New York Aerial Photographs collection", class: "img-thumbnail img-responsive banner" %>
		</a> -->
		<div class="row">
			<div class="col-sm-3">
				<div id="sidebar">
					<%#= render 'catalog/facets' %>
					[Facets go here]
				</div>
			</div>
			<div class="col-sm-9">
				<div class="pull-right img-right">
					<a href="/catalog/bol:0154">
						<%= image_tag "sets/bolivian/bolivian.gif" , alt: "", class: "img-thumbnail img-responsive" %>
					</a>
					<p class="caption">
						<a href="/catalog/bol:0154">Una controversia juridica Litijio Atocha</a>
					</p>
				</div>
				<p>Pamphlets &mdash; brief, printed works with paper covers &mdash; are an important mode of publication in Latin America. Both a format and a genre, pamphlets provide a vehicle for rapid and cheap dissemination of ideas. They are, in many ways, the analog ancestor of blogs.</p>

				<p>This is a collection of 715 digitized pamphlets documenting a century of Bolivian literate culture, beginning in 1848. They show a nation's struggle to establish viable institututions, to develop its economy, to educate its children and the back and forth of political argument. In their aggregate these pamphlets capture the energy of the Bolivian people-sometimes misdirected, often contentious, but never quiescent.</p>

				<p>This collection comes principally from a donation made to Cornell by the Bolivian bookseller, Alfredo Montalvo, who has supplied the university with library materials for over a quarter century.

				<ul>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=The+Alfred+Montalvo+Bolivian+Digital+Pamphlets+Collection">Browse the collection</a></li>
					<li><a href="/bolivian/about">About the collection</a></li>
					<li><a href="/bolivian/contact">Contact</a></li>
			  	</ul>
			</div>
		</div>
	</div>
</div>