<div class="row basic-header">
	<div class="col-md-6">
		<h2>The Cornell Wordsworth Collection</h2>
	</div>
	<div class="col-md-6">
		<div class="navbar">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#aerialny-navbar" aria-expanded="false" aria-controls="navbar">
	        Menu
	        	<i class="fa fa-bars"></i>
	    	</button>
		    <div id="aerialny-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav nav-collection">
					<%= link_to_in_li "Browse collection", "/?f%5Bcollection_tesim%5D%5B%5D=Wordsworth+Collection" %>
			    	<%= link_to_in_li "Resources", "#resources" %>
					<%= link_to_in_li "About the project", "#about" %>
			  	</ul>
			</div>
		</div>
	</div>
</div>