<div class="row">
	<div class="col-md-7">
		<h2>19th Century Prison Reform Collection</h2>
	</div>
	<div class="col-md-5">
		<div class="navbar">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#prison-navbar" aria-expanded="false" aria-controls="navbar">
	        Menu
	        	<span class="fa fa-bars" aria-hidden="true"></span>
	    	</button>
		    <div id="prison-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav nav-collection">
			    	<%= link_to_in_li "Home", "/collections/prison-reform" %>
					<%= link_to_in_li "Further Reading", "/collections/prison-reform/further-reading" %>
					<%= link_to_in_li "Bibliography", "/collections/prison-reform/bibliography" %>
			  	</ul>
			</div>
		</div>
	</div>
</div>