<div class="sets sets--3col">
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers%E2%80%99+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Black+Jewish+Relations">
				<img src="http://stor.artstor.org/stor/ca5cb010-45c5-4eb6-aec9-26b5699f2a48_size2" class="img-thumbnail">
				<div class="set-link">
					Black Jewish Relations
				</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Camps">
				<img src="http://stor.artstor.org/stor/108739c8-3b66-4f38-aa8d-bbc4719793d9_size2" class="img-thumbnail">
				<div class="set-link">Camps</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Chagall">
				<img src="http://stor.artstor.org/stor/89e97773-2d36-4220-b9ea-305024591f14_size2" class="img-thumbnail">
				<div class="set-link">Chagall</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Cold+War">
				<img src="http://stor.artstor.org/stor/918eb51f-bf49-4d52-80f6-b902f2367717_size2" class="img-thumbnail">
				<div class="set-link">Cold War</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Conferences%2C+Conventions%2C+Meetings">
				<img src="http://stor.artstor.org/stor/2bf7c636-286d-4746-81a5-f697bf4ed52d_size2" class="img-thumbnail">
				<div class="set-link">Conferences, Conventions, Meetings</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Culture+Front">
				<img src="http://stor.artstor.org/stor/f540d120-38fa-4f40-a2eb-8d3968b5150a_size2" class="img-thumbnail">
				<div class="set-link">Culture Front</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Education">
				<img src="http://stor.artstor.org/stor/30d21431-6664-4c7f-b162-cf5776adb672_size2" class="img-thumbnail">
				<div class="set-link">Education</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Einstein">
				<img src="http://stor.artstor.org/stor/d816f2f0-c75b-4c62-a0cd-937a896d6f10_size2" class="img-thumbnail">
				<div class="set-link">Einstein</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Exhibit+and+Collection+Highlights">
				<img src="http://stor.artstor.org/stor/63a31545-f0fa-45c1-a0fc-bfc7cde917bb_size2" class="img-thumbnail">
				<div class="set-link">Exhibit and Collection Highlights</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Jewish+Anti-Fascist+Committee">
				<img src="http://stor.artstor.org/stor/5d0344d3-da07-4334-9cbe-000c21e11b36_size2" class="img-thumbnail">
				<div class="set-link">Jewish Anti-Fascist Committee</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=IWO+and+JPFO+Affiliated+Publications+and+Publishing">
				<img src="http://stor.artstor.org/stor/9634ce23-6431-4916-b3fb-5563f26662c5_size2" class="img-thumbnail">
				<div class="set-link">IWO and JPFO Affiliated Publications and Publishing</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Poland">
				<img src="http://stor.artstor.org/stor/e2ee63dc-0951-451f-a398-4365400d5f39_size2" class="img-thumbnail">
				<div class="set-link">Poland</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Popular+Front+Years">
				<%= image_tag "collections/iwo-jpfo/19043049-3.jpg" , alt: "", class: "img-thumbnail" %>
				<div class="set-link">Popular Front Years</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Postwar+Reconstruction+and+Relief">
				<img src="http://stor.artstor.org/stor/263623d2-45a3-4376-b98b-eaa166157aac_size2" class="img-thumbnail">
				<div class="set-link">Postwar Reconstruction and Relief</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Visual">
				<img src="http://stor.artstor.org/stor/69723dc5-00d6-4788-8e41-83b6e7f22a88_size2" class="img-thumbnail">
				<div class="set-link">Visual</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Warsaw+Ghetto">
				<img src="http://stor.artstor.org/stor/bbb098a3-ea18-441e-bf18-7ef1b18a723a_size2" alt="" class="img-thumbnail">
				<div class="set-link">Warsaw Ghetto</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=Women%27s+Work">
				<img src="http://stor.artstor.org/stor/b1da8f75-f9db-4e15-93ff-1b07914ebf99_size2" class="img-thumbnail">
				<div class="set-link">Women's Work</div>
			</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29&f%5Bset_title_tesim%5D%5B%5D=World+War+II+Jewish+Tanks+and+Poems">
				<img src="http://stor.artstor.org/stor/7d9817b0-78cc-44bd-a70b-e6f4bb457ba6_size2" class="img-thumbnail">
				<div class="set-link">World War II Jewish Tanks and Poems</div>
			</a>
		</div>
	</div>
</div>