<% content_for :page_title, '19th Century Prison Reform Collection' %>
<div class="container">
	<%= render partial: 'pages/collections/prison-reform/menu' %>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=19th+Century+Prison+Reform+Collection">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "19th Century Prison Reform Collection"}  %>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>Bibliography</h3>
			<ul>
				<li><em>13th</em>. Dir. Ava DuVernay. Netflix, 7 Oct. 2016.</li>
				<li>Alexander, Michelle. <em>The New Jim Crow: Mass Incarceration in the Age of Colorblindness</em>. New York: New Press, 2012.</li>
				<li>Barber, John Warner, 1798-1885. <em>Historical Collections of the State of New York: Containing a General Collection of the Most Interesting Facts, Traditions, Biographical Sketches, Anecdotes, &amp;c. Relating to Its History And Antiquities: With Geographical Descriptions of Every Township In the State</em>. New York: Published for the authors, by S. Tuttle, 1842.</li>
				<li>Cayuga Asylum for Destitute Children. "The Orphan's Friend" in <em>Reports, Rules, Regulations and Statistics of the Cayuga Asylum for Destitute Children Together with Act of Incorporation, By-Laws, etc</em>. Auburn, N.Y.: Daily advertiser and Weekly journal printing house, 1882.</li>
				<li>Christianson, Scott. <em>With Liberty for Some: 500 Years of Imprisonment in America</em>. Boston: Northeastern University Press, 1998.</li>
				<li>Cromwell, Paul F, and George G Killinger. <em>Penology: the Evolution of Corrections in America</em>. St. Paul, Minn.: West Pub. Co., 1973.</li>
				<li>Davis, Angela Y. <em>Are Prisons Obsolete?</em>. New York: Seven Stories Press, 2003.
				<li><em>Enos Thompson Throop Papers, #1157</em>. Division of Rare and Manuscript Collections, Cornell University Library.</li>
				<li>Escobar, Martha D. <em>Captivity beyond Prisons: Criminalization Experiences of Latina (Im)Migrants</em>. Austin: University of Texas Press, 2016.</li>
				<li>“Facts About the Over-Incarceration of Women in the United States,” <em>American Civil Liberties Union</em> (December 12, 2007), <a href="http://www.aclu.org/womens-rights/facts-about-over-incarceration-women-united-states">http://www.aclu.org/womens-rights/facts-about-over-incarceration-women-united-states</a>.</li>
				<li>Foucault, Michel. <em>Discipline and Punish: the Birth of the Prison</em>. 2nd Vintage Books ed. New York: Vintage Books, 1995.</li>
				<li>Gottschalk, Marie. <em>The Prison and the Gallows: the Politics of Mass Incarceration in America</em>. Cambridge: Cambridge University Press, 2006.</li>
				<li>Hirsch, Adam Jay. <em>The Rise of the Penitentiary: Prisons and Punishment in Early America</em>. New Haven: Yale University Press, 1992.</li>
				<li>Ignatieff, Michael. <em>A Just Measure of Pain: the Penitentiary in the Industrial Revolution, 1750-1850</em>. New York: Pantheon Books, 1978.</li>
				<li><em>James Madison Letter and Lithograph, #6456</em>. Division of Rare and Manuscript Collections, Cornell University Library.</li>
				<li>Kerley, Kent R., ed. <em>The Encyclopedia of Corrections</em>. Hoboken, NJ, USA: Wiley Blackwell, 
				2017.</li>
				<li>Knudson, Evelyn Fish. <em>William Throope and Adrian Scrope: the family tradition, history of the Scrope family and the barony of Bolton, Bolton Castle, proceedings at the trial of Adrian Scrope, the regicides and the ancestral chart of Adrian Scrope</em>. East St. Louis, Ill.: Priv. print. by A.J. Throop and D.A. Throop, 1943.</li>
				<li>Lewis, Orlando Faulkland. <em>The Development of American Prisons and Prison Customs, 1776-
				1845: with Special Reference to Early Institutions in the State of New York</em>. [Albany?]: Prison Association of New York, 1922.</li>
				<li>Lewis, W. David. <em>From Newgate to Dannemora: the Rise of the Penitentiary in New York, 1796-1848</em>. Ithaca, N.Y.: Cornell University Press, 1965.</li>
				<li>Lowell, Josephine Shaw. <em>Some Facts Concerning the Jails, Penitentiaries and Poorhouses of the State of New York</em>. [New York: Lowell?, 1881.</li>
				<li>McKelvey, Blake. <em>American Prisons: a History of Good Intentions</em>. Montclair, N.J.: P. Smith, 1977.</li>
				<li>---. <em>American Prisons: a Study in American Social History Prior to 1915</em>. Chicago, Ill.: The University of Chicago press, 1936.</li>
				<li>McLennan, Rebecca M. <em>The Crisis of Imprisonment: Protest, Politics, and the Making of the American Penal State, 1776-1941</em>. Cambridge: Cambridge University Press, 2008.</li>
				<li>Murakawa, Naomi. <em>The First Civil Right: How Liberals Built Prison America</em>. Oxford: Oxford University Press, 2014.</li>
				<li>New York. <em>Fourth Annual Report of the Inspectors of State Prisons of the State of New York</em>. Albany: s.n., 1852.</li>
				<li>Oliver, Peter. <em>Terror to Evil-Doers: Prisons and Punishments in Nineteenth-Century Ontario</em>. Toronto: Published for the Osgoode Society for Canadian Legal History by University of Toronto Press, 1998.</li>
				<li>Packard, Frederick A. <em>Memorandum of a Late Visit to the Auburn Penitentiary</em>. Philadelphia: J. Harding, printer, 1842.</li>
				<li>Pillsbury, Samuel H. “Understanding Penal Reform: The Dynamic of Change,” <em>Journal of 
				Criminal Law and Criminology</em>, 80, 1989, 726–80.</li>
				<li>Powers, Gershom. <em>A Brief Account of the Construction, Management, and Discipline &amp;c. &amp;c. the New York State Prison at Auburn: Together with a Comendium on Criminal Law. Also a Report of the Trial of an Officer of Said Prison for Whipping a Convict</em>. Auburn, N.Y.: Printed by U.F. Doubleday, 1826.</li>
				<li>Prison Association of New York. <em>Memorial of the Prison Association to the Governor of the State of New York: Adopted December 1, 1870</em>. New York: Union Print. House, 1870.</li>
				<li>Roberts, Leonard H. “The Historic Roots of American Prison Reform: A Story of Progress and 
				Failure.” <em>Journal of Correctional Education</em>, 36, 1985, 106–9.</li>
				<li>Rothman, David J. <em>Conscience and Convenience: the Asylum and Its Alternatives in Progressive America</em>. Boston: Little, Brown, 1980. </li>
				<li>---. <em>The Discovery of the Asylum: Social Order and Disorder in the New Republic</em>. Rev. ed. Boston: Little, Brown, 1990.</li>
				<li>Rubin, Ashley T. "Professionalizing Prison: Primitive Professionalization and the Administrative Defense of Eastern State Penitentiary, 1829-1879: Professionalizing Prison." <em>Law &am; Social Inquiry</em>, vol. 43, no. 1, 2018, 182-211.</li>
				<li>Smith, Caleb. <em>The Prison and the American Imagination</em>. New Haven: Yale University Press, 2009.</li>
				<li>Storke, Elliot G. <em>History of Cayuga County, New York: with Illustrations and Biographical Sketches of Some of Its Prominent Men and Pioneers</em>. Syracuse, New York: D. Mason, 1879.</li>
				<li>Seymour, Horatio, and Andrew Dickson White. <em>Fourth of July at Auburn Prison: Proceedings, and Addresses of Horatio Seymour</em>. Utica, N.Y.: Observer Office Print, 1879.</li>
				<li>“Thomas J. Wharton to James Madison, 18 April 1828,” <em>Founders Online</em>, National Archives, last modified June 13, 2018, http://founders.archives.gov/documents/Madison/99-02-02-1384.</li>
				<li>Tocqueville, Alexis de. D<em>emocracy in America</em>. Ed. Eduardo. Nolla and James T. Schleifer. English ed. Indianapolis: Liberty Fund, 2012.</li>
				<li><em>U.S. Constitution</em>. Art./Amend. XIII, Sec. 1</li>
				<li>Wiebe, Robert. <em>The Search for Order, 1877–1920</em>. New York: Hill and Wang, 1966.</li>
			</ul>
			<%= render partial: 'pages/top' %>
		</div>
	</div>
</div>