<% content_for :page_title, '19th Century Prison Reform Collection' %>
<div class="container">
	<%= render partial: 'pages/collections/prison-reform/menu' %>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=19th+Century+Prison+Reform+Collection">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "19th Century Prison Reform Collection"}  %>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>Further Reading</h3>
			<h4>More from the Cornell Archives</h4>
			<ul>
				<li><em>American Association for Labor Legislation Records</em>. 5001. Kheel Center for Labor-
				Management Documentation and Archives, Martin P. Catherwood Library, Cornell University.</li>
				<li><em>British Prison Reform Items</em>, #8037. Division of Rare and Manuscript Collections, Cornell University Library.</li>
				<li><em>National Committee on Prisons and Prison Labor Pamphlets and Leaflets</em>. 5966. Kheel Center for Labor-Management Documentation and Archives, Martin P. Catherwood Library, Cornell University.</li>
				<li>Prison Association of New York. <em>Report of Special Committee to the Prison Association of New York on Convict Labor</em>. New York: N.p., 1885. [in Kroch Libraries Rare and Manuscript Collections]</li>
			</ul>
			<h4>Other Digital Archives and Podcasts</h4>
			<ul>
				<li><em>Eastern State Penitentiary</em>, n.d. <a href="http://www.easternstate.org/">http://www.easternstate.org/</a>.
				<li>Handley-Cousins, Sarah, and Elizabeth G Masarik. “The Auburn System: Prisons and 
				Punishment in the 19th Century United States.” <em>DIG: A History Podcast</em>, 11 Mar. 2018, <a href="https://digpodcast.org/2018/03/11/auburn/">https://digpodcast.org/2018/03/11/auburn/</a>.</li>
				<li>Michel, Laura. "Pennsylvania Prison Society." <em>The Encyclopedia of Greater Philadelphia</em>, 2016. <a href="http://philadelphiaencyclopedia.org/archive/pennsylvania-prison-society/">http://philadelphiaencyclopedia.org/archive/pennsylvania-prison-society/</a>.</li>
				<li>Lincoln Center’s Honors Class. <em>Paved with Good Intentions: Origins of the New York 
				Penitentiary</em>, 2018. <a href="https://nyprisonorigins.com/">https://nyprisonorigins.com/</a>.</li>
			</ul>
			<h4>The Pennsylvania System</h4>
			<ul>
				<li>Bache, Franklin. <em>Observations and Reflections on the Penitentiary System: A Letter from 
				Franklin Bache</em>. Philadelphia: Jesper Harding,1829, <a href="https://babel.hathitrust.org/cgi/pt?id=hvd.32044054999487;view=1up;seq=5">https://babel.hathitrust.org/cgi/pt?id=hvd.32044054999487;view=1up;seq=5</a>. (Primary Source)</li>
				<li>Blake, Alexander V. <em>Prison Discipline: The Auburn and Pennsylvania Systems Compared</em>. New York: Craighead &amp; Allen, 1839, <a href="http://www.loc.gov/rr/frd/Military_Law/Lieber_Collection/pdf/Prison-Discipline.pdf">http://www.loc.gov/rr/frd/Military_Law/Lieber_Collection/pdf/Prison-Discipline.pdf</a>. (Primary Source)</li>
				<li>Meranze, Michael. <em>Laboratories of Virtue: Punishment, Revolution, and Authority in 
				Philadelphia, 1760–1834</em>. Chapel Hill: University of North Carolina Press, 1996. (Secondary Source)</li>
				<li>Penrose, Charles B. <em>Report of the joint committee of the legislature of Pennsylvania, relative to the Eastern State Penitentiary</em>. Harrisburg: Welsh &amp; Patterson, 1834, <a href="https://archive.org/details/reportofjointcom00penn_8">https://archive.org/details/reportofjointcom00penn_8</a>. (Primary Source)</li>
				<li>Sheehan, Glenn W., “Eastern State Penitentiary: A Study in ‘Progressive’ Penology,” 
				<em>Archaeology</em>, 45, 1992, 44–47. (Secondary Source)
				Teeters, Negley K. “The Pennsylvania Prison Society: A Century and a Half of Penal Reform,” 
				<em>Journal of Criminal Law and Criminology</em>, 28, 1938, 374–79. (Secondary Source)</li>
				<li>——. <em>They Were in Prison: A History of the Pennsylvania Prison Society, 1787–1937</em>. 
				Philadelphia: John C. Winston Company, 1937. (Secondary Source)</li>
			</ul>
			<h4>Prisons and Slavery in the South</h4>
			<ul>
				<li>Ayers, Edward L. <em>Vengeance and Justice: Crime and Punishment in the 19th Century American South</em>. New York: Oxford University Press, 1984.</li>
				<li>Blackmon, Douglas A. <em>Slavery by Another Name: the Re-Enslavement of Black Americans from the Civil War to World War II</em>. 1st Anchor Books ed. New York: Anchor Books, 2009.</li>
				<li>Hartman, Saidiya V. <em>Scenes of Subjection: Terror, Slavery, and Self-Making in Nineteenth-Century America</em>. New York: Oxford University Press, 1997.</li>
				<li>Hindus, Michael Stephen. <em>Prison and Plantation: Crime, Justice, and Authority in 
				Massachusetts and South Carolina, 1767-1878</em>. Chapel Hill: University of North Carolina Press, 1980.</li>
			</ul>
			<h4>Autobiography of an Auburn Prisoner</h4>
			<ul>
				<li>Reed, Austin. <em>The Life and the Adventures of a Haunted Convict</em>. Ed. Caleb Smith. First edition. New York: Random House, 2016.</li>
			</ul>
			<%= render partial: 'pages/top' %>
		</div>
	</div>
</div>