<% content_for :page_title, '19th Century Prison Reform Collection' %>
<div class="container">
	<h2>19th Century Prison Reform Collection</h2>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=19th+Century+Prison+Reform+Collection">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "19th Century Prison Reform Collection"}  %>
			</div>
			<!-- <a href="/catalog/ss:19043106"><%= image_tag "collections/iwo-jpfo/marcantonio.png" , alt: "", class: "img-thumbnail img-responsive" %></a>
			<p class="caption"><a href="/catalog/ss:19043106">Security with FDR: Your Vote Is Your Weapon, Use It!</a>, 1944, page 19.</p> -->
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>Text to come.</p>

			<!-- <div class="center-block text-center center-image-block">
				<a href="/catalog/ss:20632119"><%= image_tag "http://stor.artstor.org/stor/e519314a-467d-4b12-a93f-e67f0990be54_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:20632119">Chagall Autographed Letter Asking New York French Consulate to Aid Rubin Saltzman in Regard to Jewish Children's Orphanage in France</a>, French, 1945</p>
			</div> -->

			<%= render partial: 'pages/top' %>
		</div>
	</div>
</div>