<div class="header-collection">
	<div class="container">
		<div class="collection-brand">
			<h1 class="collection-title"><a href="/ragamala">Ragamala</a></h1>
			<!-- <div class="dropdown">
			  	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			  	<span class="fa fa-bars"></span>
			    <span class="hidden-xs">Menu</span>
			  	</button>
			  	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			    	<li><a href="/ragamala">Home</a></li>
					<li><a href="/ragamala/about">About</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&per_page=50&q=&search_field=all_fields&view=gallery">Browse collection</a></li>
					<li><a href="/ragamala/resources">Resources</a></li>
					<li><a href="/ragamala/contact">Contact</a></li>
			  	</ul>
			</div> -->
		</div>
	</div>
</div>