<div class="header-ragamala">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<%= image_tag "sets/ragamala/logo-ragamala.png" , alt: "Ragamala", class: "img-responsive" %>
			</div>
			<div class="col-sm-4">
				<ul class="nav nav-pills nav-collection hidden-xs">
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&per_page=50&q=&search_field=all_fields&view=gallery">Browse collection</a></li>
				</ul>
			</div>
		</div>

	</div>
</div>