<h3>Sets</h3>
<div class="sets">
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+4%3A+Gujarat&view=gallery">
				<img src="http://stor.artstor.org/stor//08232591-8375-4ca0-8783-2295bffbf33e_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+4%3A+Gujarat&view=gallery">Set 4: Gujarat</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+5%3A+Bundi+style&view=gallery">
				<img src="http://stor.artstor.org/stor//3c01e3e9-98e5-4f85-ad32-a55998be986c_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+5%3A+Bundi+style&view=gallery">Set 5: Bundi Style</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+7%3A+The+so-called+Chawand+Ragamala&view=gallery">
				<img src="http://stor.artstor.org/stor//40963649-e0ee-4025-928c-523b5163b66a_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+7%3A+The+so-called+Chawand+Ragamala&view=gallery">Set 7: The so-called Chawand Ragamala</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+8%3A+Provincial+Mughal&view=gallery">
				<img src="http://stor.artstor.org/stor//e4ed8581-26df-4daa-b8b8-13895e760f6a_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+8%3A+Provincial+Mughal&view=gallery">Set 8: Provincial Mughal</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+12%3A+Bundi&view=gallery"><img src="http://stor.artstor.org/stor//21f381e0-ef41-4a90-b372-798539fae812_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+12%3A+Bundi&view=gallery">Set 12: Bundi</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+13%3A+Mewar&view=gallery">
				<img src="http://stor.artstor.org/stor//99fab42d-6a24-495a-a355-48a8514fe949_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+13%3A+Mewar&view=gallery">Set 13: Mewar</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+17%3A+Rajasthan&view=gallery"><img src="http://stor.artstor.org/stor//b4499120-5187-4ffd-93c0-8925e5d6f345_size2" class="img-thumbnail"></a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+17%3A+Rajasthan&view=gallery">Set 17: Rajasthan</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+20%3A+The+so-called+Boston+Ragamala.+Malwa+%28I%29&view=gallery">
				<img src="http://stor.artstor.org/stor//4d9e4acf-d062-4a79-b75b-aee17d890ebf_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+20%3A+The+so-called+Boston+Ragamala.+Malwa+%28I%29&view=gallery">Set 20: The so-called Boston Ragamala. Malwa (I)</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+21%3A+Malwa&view=gallery">
				<img src="http://stor.artstor.org/stor//efce1d5f-e766-4672-93fb-acc8d0802d1e_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&
			f%5Bset_title_tesim%5D%5B%5D=Set+21%3A+Malwa&view=gallery">Set 21: Malwa</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+22%3A+Malwa+%28II%29&view=gallery">
				<img src="http://stor.artstor.org/stor//0e10b99b-6f8f-41fb-9a5f-b68e494846b2_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+22%3A+Malwa+%28II%29&view=gallery">Set 22: Malwa (II)</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+25%3A+Malwa&view=gallery">
				<img src="http://stor.artstor.org/stor//53f077e4-714f-437e-a284-1de65f00d36a_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+25%3A+Malwa&view=gallery">Set 25: Malwa</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+30%3A+Malwa+%28III%29&view=gallery">
				<img src="http://stor.artstor.org/stor//e9841577-69fe-41bb-92f7-186c2db78d8f_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+30%3A+Malwa+%28III%29&view=gallery">Set 30: Malwa (III)</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+31%3A+Malwa+%28III%29&view=gallery">
				<img src="http://stor.artstor.org/stor//e4fc2d19-5dc0-4b77-af63-8ca794dd912a_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+31%3A+Malwa+%28III%29&view=gallery">Set 31: Malwa (III)</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+32%3A+Malwa&view=gallery">
				<img src="http://stor.artstor.org/stor//db815c46-619c-484a-9071-94003376d279_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+32%3A+Malwa&view=gallery">Set 32: Malwa</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+33%3A+Malwa&view=gallery">
				<img src="http://stor.artstor.org/stor//a619a249-0375-4169-a25e-a8f67e1f6bc3_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+33%3A+Malwa&view=gallery">Set 33: Malwa</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+34%3A+Malwa+%28III%29&view=gallery">
				<img src="http://stor.artstor.org/stor//b782dd33-bf76-43da-a397-99ab2e5c82ca_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+34%3A+Malwa+%28III%29&view=gallery">Set 34: Malwa (III)</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+35%3A+Mewar&view=gallery">
				<img src="http://stor.artstor.org/stor//5b15d440-7cd8-400d-8591-202842894b8d_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+35%3A+Mewar&view=gallery">Set 35: Mewar</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+36%3A+Sirohi&view=gallery">
				<img src="http://stor.artstor.org/stor//b53dfcac-c17d-4e56-a6b9-09e394e0a6a0_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+36%3A+Sirohi&view=gallery">Set 36: Sirohi</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+37%3A+Sirohi&view=gallery">
				<img src="http://stor.artstor.org/stor//4a0f58cb-b0ea-4cc6-8b9e-38cec7f9c832_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+37%3A+Sirohi&view=gallery">Set 37: Sirohi</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+38%3A+Sirohi+or+Marwar&view=gallery">
				<img src="http://stor.artstor.org/stor//7a416bb2-8298-4c01-aedf-f2a4fe862e0c_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+38%3A+Sirohi+or+Marwar&view=gallery">Set 38: Sirohi or Marwar</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+42%3A+Bundi%2FKotah&view=gallery">
				<img src="http://stor.artstor.org/stor//bf394237-f886-4484-9d9d-aa904b5646bb_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+42%3A+Bundi%2FKotah&view=gallery">Set 42: Bundi/Kotah</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+43%3A+Amber&view=gallery">
				<img src="http://stor.artstor.org/stor//0dbe2919-1381-4a99-b3e3-ea3ecfcbb027_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+43%3A+Amber&view=gallery">Set 43: Amber</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+44%3A+Amber&view=gallery">
				<img src="http://stor.artstor.org/stor//99ca6f51-ca75-4512-a72f-e16b00f75a45_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+44%3A+Amber&view=gallery">Set 44: Amber</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+45%3A+Amber&view=gallery">
				<img src="http://stor.artstor.org/stor//72b17c3b-cdf8-4733-bb1e-ca6b190b2a4e_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+45%3A+Amber&view=gallery">Set 45: Amber</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+46%3A+Amber&view=gallery">
				<img src="http://stor.artstor.org/stor//900572f9-d8ed-4b96-9491-f9da69f1f0a3_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+46%3A+Amber&view=gallery">Set 46: Amber</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+48%3A+Amber&view=gallery">
				<img src="http://stor.artstor.org/stor//df3b469e-7669-4289-b16f-41996bc455f6_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+48%3A+Amber&view=gallery">Set 48: Amber</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+66%3A+Bundi%2FKotah&view=gallery">
				<img src="http://stor.artstor.org/stor//19c845ec-5c29-41a1-97c6-061a5ca74349_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+66%3A+Bundi%2FKotah&view=gallery">Set 66: Bundi/Kotah</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+67%3A+Bundi%2FKotah&view=gallery">
				<img src="http://stor.artstor.org/stor//f216c02b-860c-458a-9bb2-dcedff0b39fc_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&
			f%5Bset_title_tesim%5D%5B%5D=Set+67%3A+Bundi%2FKotah&view=gallery">Set 67: Bundi/Kotah</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+100%3A+Central+India&view=gallery">
				<img src="http://stor.artstor.org/stor//a55c4283-6e13-44ee-b981-f21779a14f58_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+100%3A+Central+India&view=gallery">Set 100: Central India</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+103%3A+Bundi%2FKotah&view=gallery">
				<img src="http://stor.artstor.org/stor//4803c331-7604-404f-a644-50df1ae671ea_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+103%3A+Bundi%2FKotah&view=gallery">Set 103: Bundi/Kotah</a>
		</div>
	</div>
	<div class="row">
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+104%3A+Bundi%2FKotah&view=gallery">
				<img src="http://stor.artstor.org/stor//f5e2d87e-34ac-4bac-8688-2396c1702ac4_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+104%3A+Bundi%2FKotah&view=gallery">Set 104: Bundi/Kotah</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+105%3A+Bundi%2FKotah&view=gallery">
				<img src="http://stor.artstor.org/stor//d75eb7ba-0ce9-4da6-a8b6-26cf7f1f0012_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+105%3A+Bundi%2FKotah&view=gallery">Set 105: Bundi/Kotah</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+106%3A+Bundi%2FKotah&view=gallery">
				<img src="http://stor.artstor.org/stor//193ab6dd-71c2-4038-81de-c95312c0d230_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+106%3A+Bundi%2FKotah&view=gallery">Set 106: Bundi/Kotah</a>
		</div>
		<div class="set-item">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+109%3A+Rajasthan&view=gallery">
				<img src="http://stor.artstor.org/stor//56e6ce40-1cba-4a7b-8d05-d47ed42c7e63_size2" class="img-thumbnail">
			</a>
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings&f%5Bset_title_tesim%5D%5B%5D=Set+109%3A+Rajasthan&view=gallery">Set 109: Rajasthan</a>
		</div>
	</div>
</div>

