<div id="main-container" class="wrapper-ragamala">
	<%= render partial: 'pages/ragamala/header' %>
	<div class="hero hero-ragamala">
		<div class="container">
			<div class="col-sm-6 col-sm-offset-6">
			    <div class="well">
			      	<h1>Contact</h1>
				    <p>Content to come.</p>
			    </div>
			</div>
		</div>
	</div>
</div>