<div id="main-container" class="wrapper wrapper-ragamala">
	<%= render partial: 'pages/ragamala/header' %>
	<div class="hero hero-ragamala-sub">
		<div class="container">
			<h1>Contact</h1>
		</div>
	</div>
	<div class="main-text">
		<div class="container">
			<p>Content to come</p>
		</div>
	</div>
</div>