<div id="main-container">
	<%= render partial: 'pages/ragamala/header' %>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div id="sidebar">
					<%#= render 'catalog/facets' %>
					[Facets go here]
				</div>
			</div>
			<div class="col-sm-9">
				<h2>Contact</h2>
				<p>Content to come.</h2>
			</div>
		</div>
	</div>
</div>