<div id="content" class="col-sm-12">
  <div class="home-text col-sm-6 col-sm-offset-6">
    <div class="well">
      <h1>Ragamala Paintings</h1>
      <p>The project involves photographing and digitizing a slide collection of Indian Raga Mala paintings, which were recently gifted to Cornell and are perhaps the world’s greatest collection of images in this genre. The collection will be used in teaching South Asian art history classes at Cornell and elsewhere, supporting global scholarship activities. The paintings will also be useful for research into Indic regional histories, courts, and cultures. For instance, scholar at Columbia University who are working on premodern Indian courtly culture are particularly eager to have the Ragamala collection at their fingertips.</p>
      <a class="btn btn-default" href="/?f%5BCollection_tesim%5D%5B%5D=Ragamala+Paintings&page=1&per_page=50&view=gallery&subject=ragamala">Browse collection</a>
    </div>
  </div>
</div>