<div id="main-container" class="wrapper-ragamala">
	<div class="header-ragamala">
		<div class="container">
			<%= image_tag "sets/ragamala/logo-ragamala.png" , alt: "Ragamala", class: "img-responsive" %>
		</div>
	</div>
	<div class="hero hero-ragamala">
		<div class="container">
			<div class="col-sm-6 col-sm-offset-6">
			    <div class="well">
			      	<h1>Ragamala Paintings</h1>
				    <p>The project involves photographing and digitizing a slide collection of Indian Raga Mala paintings, which were recently gifted to Cornell and are perhaps the world’s greatest collection of images in this genre. The collection will be used in teaching South Asian art history classes at Cornell and elsewhere, supporting global scholarship activities. The paintings will also be useful for research into Indic regional histories, courts, and cultures. For instance, scholar at Columbia University who are working on premodern Indian courtly culture are particularly eager to have the Ragamala collection at their fingertips.</p>
				    <ul class="nav nav-pills">
				    	<li class="active"><a href="/?f%5BCollection_tesim%5D%5B%5D=Ragamala+Paintings&page=1&per_page=50&view=gallery&subject=ragamala">Browse collection</a></li>
				      	<li><a href="#resources">Resources<i class="fa fa-arrow-down"></i></a></li>
				      	<li><a href="#contact">Contact<i class="fa fa-arrow-down"></i></a></li>
				    </ul>
			    </div>
			</div>
		</div>
	</div>
	<div class="container main-text">
		<h2 id="resources">Resources</h2>
			<ul>
				<li><a href="http://www.metmuseum.org/exhibitions/listings/2014/ragamala">Ragamala: Picturing Sound</a></li>
				<li><a href="http://en.wikipedia.org/wiki/Ragamala_paintings">Ragamala paintings</a></li>
				<li><a href="http://dulwichonview.org.uk/2012/01/20/what-is-ragamala/">What is Ragamala?</a></li>
			</ul>
		<h2 id="contact">Contact</h2>
		<p>Contact info goes here</p>
		<p class="top-link"><a href="#top">Top<i class="fa fa-arrow-up"></i></a></p>
	</div>
</div>