<div id="main-container">
	<div class="row">
		<div class="col-sm-6">
			<h2><%= image_tag "sets/ragamala/logo-ragamala.png", alt: "Ragamala Paintings" %></h2>
		</div>
		<div class="col-sm-6">
			<ul class="nav nav-pills">
			  <li role="presentation"><a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings">Search Ragamala Paintings</a></li>
			  <li role="presentation"><a href="#sets">Sets</a></li>
			  <li role="presentation"><a href="#resources">Resources</a></li>
			</ul>
		</div>
	</div>
	<div class="pull-right col-sm-5 img-right">
		<a href="/catalog/ss:3796595">
		<%= image_tag "sets/ragamala/RM_B2_03_05.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
		</a>
		<p class="caption">
			<a href="/catalog/ss:3796595">Set 22: Malwa (II), Ghandar</a>
		</p>
	</div>
	<p>Rāgamālā is a unique form of Indian painting that flourished in the regional courts of the Indic world from the 16th through the 19th centuries. The term translates as a garland, mālā, of rāgas, meaning melodic types or tonal frameworks. Rāgamālā painting combines iconography, musical codes, and poetry to indicate the time of day or season appropriate to the raga and its mood.</p>
	<p>The rāgamālā systematizes rāgas by conceiving of them as families, headed by a male deity, and populated with his wives and their sons, in orderly groups. This is the principal finding of Klaus Ebeling in his seminal work Ragamala Painting, published in 1973.</p>
	<p>Cornell’s Rāgamālā collection consists of some 4000 photographs Klaus Ebeling took between 1967 and 1972 as he visited museums and private collections all over the world working on Ragamala Painting. Fifty years later the slides were gifted to Cornell, thanks to musicologist Joep Bor. The Ebeling collection is among the world’s great assemblages of images in this genre. There have been numerous subsequent studies of regional traditions of rāgamālā painting &mdash; Ebeling’s collection includes them all.</p>
	<%= render partial: 'pages/ragamala/sets' %>
	<h3 id="resources">Resources</h3>
	<ul>
		<li><a href="http://www.metmuseum.org/exhibitions/listings/2014/ragamala">Ragamala: Picturing Sound</a></li>
		<li><a href="http://en.wikipedia.org/wiki/Ragamala_paintings">Ragamala paintings</a></li>
		<li><a href="http://dulwichonview.org.uk/2012/01/20/what-is-ragamala/">What is Ragamala?</a></li>
	</ul>
</div>

