<div id="content" class="col-sm-12">
	<div class="home-text col-sm-6 col-sm-offset-6">
		<div class="well">
		  <h1>Ragamala Paintings Page 2</h1>
		  <p>More stuff about Ragamala.</p>
		  <a class="btn btn-default" href="/?f%5BCollection_tesim%5D%5B%5D=Ragamala+Paintings&page=1&per_page=50&view=gallery">Browse collection</a>
		</div>
	</div>
</div>
