<div id="main-container" class="wrapper-ragamala">
	<%= render partial: 'pages/ragamala/header' %>
	<div class="hero hero-ragamala">
		<div class="container">
			<div class="col-sm-6 col-sm-offset-6">
			    <div class="well">
			      	<h1>Resources</h1>
				    <ul>
						<li><a href="http://www.metmuseum.org/exhibitions/listings/2014/ragamala">Ragamala: Picturing Sound</a></li>
						<li><a href="http://en.wikipedia.org/wiki/Ragamala_paintings">Ragamala paintings</a></li>
						<li><a href="http://dulwichonview.org.uk/2012/01/20/what-is-ragamala/">What is Ragamala?</a></li>
					</ul>
			    </div>
			</div>
		</div>
	</div>
</div>