<div id="main-container">
	<%= render partial: 'pages/ragamala/header' %>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div id="sidebar">
					<%#= render 'catalog/facets' %>
					[Facets go here]
				</div>
			</div>
			<div class="col-sm-9">
				<h2>Resources</h2>
				<ul>
				<li><a href="http://www.metmuseum.org/exhibitions/listings/2014/ragamala">Ragamala: Picturing Sound</a></li>
				<li><a href="http://en.wikipedia.org/wiki/Ragamala_paintings">Ragamala paintings</a></li>
				<li><a href="http://dulwichonview.org.uk/2012/01/20/what-is-ragamala/">What is Ragamala?</a></li>
			</ul>
			</div>
		</div>
	</div>
</div>