<div id="main-container" class="wrapper wrapper-ragamala">
	<%= render partial: 'pages/ragamala/header' %>
	<div class="hero hero-ragamala-sub">
		<div class="container">
			<h1>Resources</h1>
		</div>
	</div>
	<div class="main-text">
		<div class="container">
			<ul>
				<li><a href="http://www.metmuseum.org/exhibitions/listings/2014/ragamala">Ragamala: Picturing Sound</a></li>
				<li><a href="http://en.wikipedia.org/wiki/Ragamala_paintings">Ragamala paintings</a></li>
				<li><a href="http://dulwichonview.org.uk/2012/01/20/what-is-ragamala/">What is Ragamala?</a></li>
			</ul>
		</div>
	</div>
</div>