<% content_for :page_title, 'Afrika Bambaataa Vinyl Collection' %>
<div class="container">
	<h2>Afrika Bambaataa Vinyl Collection</h2>
</div>
<div class="collection-banner hidden-xs">
	<div class="container">
		<%= image_tag "collections/afrika-bambaataa/banner.png" , alt: "", class: "img-responsive" %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Afrika+Bambaataa+Vinyl+Collection&view=gallery">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Afrika Bambaataa Vinyl Collection"}  %>
			</div>
			<div class="sidebar-image">
				<a href="https://rmc.library.cornell.edu/hiphop/">
					<%= image_tag "collections/afrika-bambaataa/Cornell_hiphop_logo_with-URL.jpg" , alt: "Cornell Hip Hop Collection", class: "chhc-logo" %>
				</a>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>The Numbered Vinyl Records of Afrika Bambaataa</h3>

			<p>This digital collection contains images of selected 12” vinyl records from Afrika Bambaataa’s music collection--records that he numbered, signed with his name, and often annotated as he acquired them from the late 1960s into the early 1980s. The collection shows nearly 1,400 of the earliest 12” records Bambaataa owned, representing a small subset of his famed record collection. Starting around 1980, Bambaataa abandoned the practice of numbering his vinyl. According to Bambaataa, he stopped numbering his records when his collection became too large to track with numbers.</p>

			<p>Bambaataa’s early vinyl record collection offers essential information on Hip Hop culture’s many visual and sonic influences. You will see an eclectic mix of soul, funk, rock, R&B, disco, and African and Latin music--genres that formed the basis of Hip Hop’s musical identity before recorded "rap music" was popularized by the entertainment industry beginning in 1979. You will also find a diverse tapestry of album art documenting the many looks, attitudes and ideas that artists contributed to the era.</p>

			<p><a href="/?f%5Bcollection_tesim%5D%5B%5D=Afrika+Bambaataa+Vinyl+Collection&view=gallery">Browse or search images of Bambaataa’s numbered vinyl</a></p>

			<p>The collection can be browsed in the order Bambaaataa acquired his records. It can also be searched by title, artist, or by categories of alterations or annotations such as “Zulu Nation Sure Shots,” albums on which he indicated his preferred tracks, or albums that have had their labels obscured in an effort to prevent others from identifying them. Other details have also been catalogued, such as when two copies of  a record are housed together. There are some gaps in the numbered sequence because some records were dispersed or lost over the years.</p>

			<p><a href="https://rmc.library.cornell.edu/EAD/htmldocs/RMM08094.html">Browse or search Bambaataa’s entire archive</a></p>

			<p>Thousands of additional records are listed in the <a href="https://rmc.library.cornell.edu/EAD/htmldocs/RMM08094.html">finding aid for Bambaataa’s archive</a>, which arrived at Cornell University in three container trucks in 2013. The archive, totaling nearly 600 cubic feet, includes not only his music collection (more than 30,000 records as well as cassette tapes and CDs), but papers such as notebooks, lyrics sheets and set lists, flyers, photographs, stage costumes, unique audio and video recordings, books, magazines, and other publications, and materials documenting the activities of the Universal Zulu Nation, the influential world-wide organization Bambaataa founded.</p>

			<p>Bambaataa’s archive is part of the Cornell Hip Hop Collection. It opened for public research in October of 2019, upon the completion of cataloging, preservation, and descriptive work supported by a grant from the <a href="http://neh.gov">National Endowment for the Humanities (NEH)</a> to Cornell University Library’s Division of Rare and Manuscript Collections. Questions or comments can be sent to <a href="mailto:rareref@cornell.edu">rareref@cornell.edu</a>.</p>
		</div>
	</div>
</div>