<% content_for :page_title, 'Afrika Bambaataa Hip Hop Archive' %>
<div class="container">
	<h2>Afrika Bambaataa Hip Hop Archive</h2>
</div>
<div class="collection-banner hidden-xs">
	<div class="container">
		<%= image_tag "collections/afrika-bambaataa/banner.png" , alt: "", class: "img-responsive" %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Afrika+Bambaataa+Hip+Hop+Archive&view=gallery">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Afrika Bambaataa Hip Hop Archive"}  %>
			</div>
			<!-- <a href="/catalog/ss:21813545">
				<%= image_tag "collections/rudin/21813545.png" , alt: "Deed of freedom for 14 year old Henry Blake", class: "img-responsive" %>
			</a>
			<p class="caption">
				Deed of freedom for 14 year old Henry Blake
			</p> -->
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>Text to come</p>
		</div>
	</div>
</div>