<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h2>Reuleaux Kinematic Mechanisms Collection</h2>
		</div>
		<div class="col-sm-4">
			<div class="navbar">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#kmoddl-navbar" aria-expanded="false" aria-controls="navbar">
		        Menu
		        	<i class="fa fa-bars"></i>
		    	</button>
			    <div id="kmoddl-navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav nav-collection">
				    	<%= link_to_in_li "Home", "/collections/kmoddl" %>
						<%= link_to_in_li "About KMODDL", "/collections/kmoddl/about" %>
				  	</ul>
				</div>
			</div>
		</div>
	</div>
</div>