<% content_for :page_title, 'Reuleaux Kinematic Mechanisms Collection' %>
<%= render partial: 'pages/collections/kmoddl/header' %>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="#browse">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Reuleaux Kinematic Mechanisms Collection"}  %>
			</div>
			<a href="/catalog/ss:372568">
				<%= image_tag "https://stor.artstor.org/stor/c05a0138-ba45-4793-9ec3-ab2815be0b69_size3" , alt: "Two Coupled Spur Gear Sets for Reverse Motion", class: "img-responsive" %>
			</a>
			<p class="caption">
				Two Coupled Spur Gear Sets for Reverse Motion
			</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>The Kinematics Models for Design Digital Library (KMODDL) was developed at Cornell University in 2003-2005 as an open access, multimedia resource for learning and teaching about kinematics – the geometry of pure motion – and the history and theory of machines. The core of KMODDL is the <a href="/catalog?f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection">Reuleaux Collection of Mechanisms and Machines</a>, an important collection of 19th-century machine elements held by Cornell University’s Sibley School of Mechanical and Aerospace Engineering. The Reuleaux Collection at Cornell University comprises more than 200 models developed by Franz Reuleaux (1829-1905), the founder of kinematics, for teaching and researching the principles of mechanical motion. The KMODDL Collection in the Cornell University Library Digital Portal provides online access to the Reuleaux Collection via still and moving images and descriptions of the models. Books and full-text documents related to KMODDL are located in the <a href="https://ecommons.cornell.edu/handle/1813/57656">eCommons</a> repository.</p>

			<p>The original KMODDL digital resource was a collection in the National Science Digital Library, developed through a collaborative grant with the faculty of the Cornell University College of Engineering, the Cornell University Library, and several external partners. The original site has been archived and is made available via the <a href="http://wayback.archive-it.org/2566/20180418122029/http:/kmoddl.library.cornell.edu/">WayBack Machine Archive-It</a> service. (NOTE: not all resources or navigation are functional on this archived version of the KMODDL website.)</p>

			<p>Further background on Kinematics, the Reuleaux Collection and the KMODDL project can be found under <a href="/collections/kmoddl/about">About KMODDL</a> based on information written for the original site.</p>

			<h3 id="browse">Browse the Collection</h3>
			<p>The <a href="/?f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&view=gallery">Reuleaux models</a> are classified according to the alphanumeric system employed in the catalog of the manufacturer, Gustav Voigt. The letter in a model's ID (e.g., D14 or S35) refers to a class of mechanism; the number is a specific instance of the class. This classification scheme is a simplified version of the taxonomy of machine elements elaborated in Reuleaux's work.</p>
			<h4>Model Classes (Voigt Taxonomy)</h4>
			<div class="row">
				<div class="col-md-6">
					<ul class="list-unstyled">
						<li><a href="/?_=1598624802519&f%5Bcollection_tesim%5D%5B%5D=Reuleaux+Kinematic+Mechanisms+Collection&f%5Bset_title_tesim%5D%5B%5D=A.+Lower+Element+Pairs&view=gallery">A. Lower Element Pairs</a></li>
						<li><a href="/?_=1598624848989&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=B.+Higher+Element+Pairs&view=gallery">B. Higher Element Pairs</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=C.+Simple+Kinematic+Chains&view=gallery">C. Simple Kinematic Chains</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=D.+Crank+Mechanisms&view=gallery">D. Crank Mechanisms</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=E.+Excentric+Slider+Cranks&view=gallery">E. Excentric Slider Cranks</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=F.+Crank+Chamber+Mechanisms&view=gallery">F. Crank Chamber Mechanisms</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=G.+Simple+Gear+Trains&view=gallery">G. Simple Gear Trains</a></li>
						<li><a href="/?_=1598624960608&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=H.+Model+Support+Pedestals&view=gallery">H. Model Support Pedestals</a></li>
						<li><a href="/?_=1599667018821&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=I.+Chamber+Wheel+Mechanisms&view=gallery">I. Chamber Wheel Mechanisms</a></li>
						<li type="K"><a href="/?_=1598624960608&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=K.+Complex+Slider+Crank+Mechanisms&view=gallery">K. Complex Slider Crank Mechanisms</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=L.+Positive+Return+Constant+Breadth+Cams&view=gallery">L. Positive Return Constant Breadth Cams</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=M.+Screw+Mechanisms&view=gallery">M. Screw Mechanisms</a></li>
						<li><a href="/?_=1598624848989&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=N.+Ratchet+Mechanisms&view=gallery">N. Ratchet Mechanisms</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="list-unstyled">
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=O.+Planetary+Gear+Trains&view=gallery">O. Planetary Gear Trains</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=P.+Jointed+Couplings&view=gallery">P. Jointed Couplings</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=Q.+Gear+Teeth+Profiles&view=gallery">Q. Gear Teeth Profiles</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=R.+Cycloid+Rolling+Models&view=gallery">R. Cycloid Rolling Models</a></li>
						<li><a href="/?_=1598624848989&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=S.+Straight-line+Mechanisms&view=gallery">S. Straight-line Mechanisms</a></li>
						<li><a href="/?_=1598624848989&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=T.+Parallel+Guide+Mechanisms&view=gallery">T. Parallel Guide Mechanisms</a></li>
						<li><a href="/?_=1598624960608&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=U.+Rotating+Arm+Guide+Mechanisms&view=gallery">U. Rotating Arm Guide Mechanisms</a></li>
						<li><a href="/?_=1598624848989&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=V.+Belt+Drive+Mechanisms&view=gallery">V. Belt Drive Mechanisms</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=W.+Friction+Wheels&view=gallery">W. Friction Wheels</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=X.+Clock+Escapements&view=gallery">X. Clock Escapements</a></li>
						<li><a href="/?_=1598624848989&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=Y.+Reversing+and+Shifting+Belt+and+Gear+Mechanisms&view=gallery">Y. Reversing and Shifting Belt and Gear Mechanisms</a></li>
						<li><a href="/?_=1598624960607&f[collection_tesim][]=Reuleaux+Kinematic+Mechanisms+Collection&f[set_title_tesim][]=Z.+Coupling+Mechanisms&view=gallery">Z. Coupling Mechanisms</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>