<div class="beyondthetaj-header">
	<div class="container">
		<h2><a href="/collections/srilanka">Beyond the Taj</a></h2>
		<div class="collection-tag">Architectural Traditions and Landscape Experience in South Asia</div>
	</div>
</div>