<% content_for :page_title, 'Beyond the Taj: Architectural Traditions and Landscape Experience in South Asia' %>
<div class="beyondthetaj-header">
	<div class="container">
		<h2><a href="/collections/srilanka">Beyond the Taj: Architectural Traditions and Landscape Experience in South Asia</a></h2>
	</div>
</div>
<div class="srilanka-layout" role="complementary">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<div class="collection-search well">
				    <h3>Search or <a href="/?f[collection_tesim][]=Beyond+the+Taj%3A+Architectural+Traditions+and+Landscape+Experience+in+South+Asia&view=gallery">browse the collection</a></h3>
				    <%= render '/catalog/search_form', { :@collection_search => "Beyond the Taj: Architectural Traditions and Landscape Experience in South Asia"}  %>
				</div>
				<div class="sidebar-image">
					<%= image_tag "collections/beyondthetaj/330_0027.jpg" , alt: "", class: "img-responsive" %>
					<p class="caption">
						Professor Robert MacDougall, (B.Arch 1963, Ph.D. Anthropology, 1971) was a member of the faculty in the Department of Architecture from 1972 until 1987. From 1979-1987 he was the dean of the School of Continuing Education.
					</p>
				</div>
				<div class="sidebar-image">
					<a href="/catalog/ss:3858549">
						<%= image_tag "https://stor.artstor.org/stor/437dd6de-f8ba-4995-8c61-687c4b7f858b_size3" , alt: "", class: "img-responsive" %>
						<p class="caption">Stupa 1</p>
					</a>
				</div>
				<div class="sidebar-image">
					<a href="/catalog/ss:3857677">
						<%= image_tag "https://stor.artstor.org/stor/5606d3c8-3ee4-40c5-a66e-c172167404b2_size3" , alt: "", class: "img-responsive" %>
						<p class="caption">Buddha Sculpture</p>
					</a>
				</div>
			</div>
			<div class="main-text">
				<div class="well">
					<p class="mb-0"><strong>Beyond the Taj</strong> is a collection of visual and written materials assembled to support instruction and research on South Asian architectural expression in the joint perspectives of architecture and ethnography. The visual core of the collection consists of approximately 7000 photographs of works of architecture, pilgrimage locales and domestic life taken in India and Sri Lanka by Professor Robert D. “Scotty” MacDougall (1940-1987), an anthropologist and an architect.</p>
				</div>
				<h3>About</h3>
				<p>This digital collection references the canonical works or “major moments” that have come to be regarded as important in the study of South Asian architectural traditions. Images of rites, festivals and customary practices enrich and clarify the material record and situate canonical architecture in broader understandings of landscape experience and artistic production. A sub collection of images from 89 Aiyanar temples in Tamil Nadu, South India is one special aspect of this database. It draws on Robert MacDougall’s unfinished study of a folk tradition. Another unique aspect of the database is a collection of images of domestic architecture and community life in Sri Lanka. These images are drawn from a joint ethnographic study conducted by Professors Robert MacDougall and Bonnie G. MacDougall in the Kandyan highlands. The Sri Lanka images are linked to a monograph from that community study, Sinhalese Domestic Life in Space and Time. It appears with other digitized written resources on South Asian architecture that have been developed as part of this overall project by Bonnie G. MacDougall. They can be found on eCommons as part of the <a href="http://ecommons.cornell.edu/handle/1813/1460">MacDougall South Asian Architecture Collection</a>.</p>
				<p>This digital collection is a result of a long-term collaboration between Professor Bonnie G. MacDougall, Department of Architecture and Margaret N. Webster, Director of the George W. & Adelaide Knight Visual Resources Facility in the <a href="http://aap.cornell.edu/">College of Architecture, Art and Planning</a>. It has been made possible by a 2004 grant from <a href="https://wayback.archive-it.org/2566/20130606172336/http://dcaps.library.cornell.edu/facultygrants/index.php">Faculty Grants for Digital Library Collections: Advancing E-Scholarship program</a> (Danielle Mericle, Project Manager) and a 2006 Faculty Innovation Teaching Award (Noni Korf Vidal, Project Manager) from the Office of the Provost, Cornell University. Funds were provided in prior years by the President’s Fund on Educational Initiatives, Cornell University, the Dean’s Office in the College of Architecture, Art and Planning and the Cornell South Asia Program. These sources of support are gratefully acknowledged.</p>
				<p><em>- Bonnie Graham MacDougall, December 2008</em></p>
				<h3>Resources</h3>
				<ul>
					<li><a href="http://ecommons.cornell.edu/handle/1813/1460">Macdougall South Asian Architecture Collection</a></li>

					<li>MacDougall, Bonnie G. (2008), Text Into Form: Dwelling, Cosmos and Design Theory in Traditional South Asia. 295pp.<br>
					URL: <a href="http://hdl.handle.net/1813/10307">http://hdl.handle.net/1813/10307</a></li>

					<li>MacDougall, Bonnie G. (1996), Jantar Mantar: Architecture, Astronomy, and Solar Kingship in Princely India. Ithaca, NY: Cornell Journal of Architecture, 1996.<br>
					URL: <a href="http://hdl.handle.net/1813/2977">http://hdl.handle.net/1813/2977</a></li>

					<li>MacDougall, Robert D.; MacDougall, Bonnie G. (1977), Sinhalese Domestic Life In Space and Time. Cornell University South Asia Program, Occasional Monographs and Thesis no. 5, Ithaca, New York, 1977.<br>
					URL: <a href="http://hdl.handle.net/1813/3025">http://hdl.handle.net/1813/3025</a></li>

					<li>MacDougall, Bonnie G (2008), The Sinhala Mayimataya, A Translation Into English<br>
					URL: <a href="http://hdl.handle.net/1813/10765">http://hdl.handle.net/1813/10765</a></li>

					<li>Anon (1837), The Sinhala Mayimataya.<br>
					URL: <a href="http://hdl.handle.net/1813/8361">http://hdl.handle.net/1813/8361</a></li>

					<li>MacDougall, Bonnie G.; Amarasingam Christobelle (2008), Sri Lalitha Navaratnam Manaidi Sastiram, A Translation Into English<br>
					URL: <a href="http://hdl.handle.net/1813/10767">http://hdl.handle.net/1813/10767</a></li>

					<li>Iyer, P.R.G., (1914), Sri Lalitha Navaratnam Manaiadi Sasitiram, Madras.<br>
					URL: <a href="http://hdl.handle.net/1813/8358">http://hdl.handle.net/1813/8358</a></li>

					<li>MacDougall, Bonnie G. (2008), The Uluwahu Paenima, A Translation Into English.The Uluwahu Paenima, A Translation Into English.<br>
					URL: <a href="http://hdl.handle.net/1813/10766">http://hdl.handle.net/1813/10766</a></li>

					<li>Anon (nd), Uluwahu Paenima
					URL: http://hdl.handle.net/1813/8360</li>
				</ul>
				<p>Additional online visual resources on South Asian architecture and landscape experience:</p>
				<ul>
					<li><a href="/collections/srilanka">Depicting the Sri Lankan Vernacular</a></li>
					<li><a href="https://dsal.uchicago.edu/images/aiis/">American Institute of Indian Studies Photo Archive</a></li>
					<li><a href="http://www.digitalhimalaya.com/collections/">Digital Himalaya</a></li>
					<li><a href="https://huntingtonarchive.org/">The Huntington Archive of Asian Art</a></li>
					<li><a href="https://asi.nic.in/">Archaeological Survey of India</a></li>
				</ul>
				<h3>Credits</h3>


				<p><strong>Principals</strong><br>
				    Bonnie Graham MacDougall, Associate Professor of Architecture<br>
				    Margaret Webster, Director, Knight Visual Resources Facility<br>
				    Noni Korf Vidal, Project Manager, Faculty Innovation in Teaching Grant<br>
				    Danielle Mericle, Project Manager, Digital Consulting and Production Services</p>
				<p><strong>Knight Visual Resources Facility</strong><br>
				    Harriet Brittain, Jaideep Chatterjee, Roxann Gupta, Carol LaGrow, Sudha Narayanan, Prajna Rao</p>
				<p><strong>Slide & Text Digitization</strong><br>
				    Mira Basara, Judith Johnson, David Jones, Danielle Mericle, Rhea Garen, Jessica Sowls
				    <a href="https://dcaps.library.cornell.edu">Digital Consulting and Production Services (DCAPS)</a></p>
				<p><strong>Metadata Creation and Design</strong><br>
				    Nancy Holcomb, Marty Kurth, Greg Nehler, Rick Silterra, Nancy Solla, Glen Wiley</p>
				<p><strong>Luna Database Creation and Collection Development</strong><br>
				    Mira Basara, Gale Halpern, David Jones, Rick Silterra, Surinder Ghangas</p>
				<p><strong>Web Design:</strong>	Melissa Kuo</p>
				<p><strong>Copyright:</strong> Fiona Patrick</p>
				<p><strong>Project Management</strong>: Danielle Mericle</p>
				<p>This project has been made possible by the <a href="https://wayback.archive-it.org/2566/20130606172336/http://dcaps.library.cornell.edu/facultygrants/index.php">Faculty Grants for Digital Library Collections: Advancing E-Scholarship</a> program and a 2006 Faculty Innovation Teaching Award from the Office of the Provost, Cornell University.</p>

				<h3>Contact</h3>
				<p>For questions about this collection, please email <a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a>, or submit our <a href="https://cornell.qualtrics.com/jfe/form/SV_22YsXiyJ86f8rMp" target="_blank">feedback form</a>.</p>
			</div>
		</div>
	</div>
</div>