<% content_for :page_title, 'ART 2301 Printmaking Student Portfolios' %>
<div class="container">
	<h2>ART 2301 Printmaking Student Portfolios</h2>
	<div class="pull-right img-right">
		<a href="/catalog/ss:22112410">
		<%= image_tag "http://stor.artstor.org/stor/8576845a-ddf6-4fd8-b2f8-4ba39393e017_size4" , alt: "Calle Obispo by Gwyneth Haidar", class: "img-responsive" %>
		</a>
		<p class="caption">
			Calle Obispo by Gwyneth Haidar
		</p>
	</div>
	<p>The collection is comprised of scanned fine art print portfolios from Associate Professor of Art Gregory Page’s ART 2301: Introduction to Print Media classes. Themes and collaborators of the portfolios include historical artists, museum exhibitions, and projects at the Cornell Botanic Gardens, to name only a few.  Collaborators for these projects include the Johnson Museum of Art, Cornell Botanic Gardens and the departments of Entomology and Biology all at Cornell University.</p>

	<p>The project from the fall 2017 semester is entitled Impressions from Rembrandt. The work is a response to the concurrent exhibition <em><a href="https://museum.cornell.edu/exhibitions/lines-of-inquiry-learning-from-rembrandt-etchings">Lines of Inquiry: Learning from Rembrandt Etchings</a></em> at the Herbert F. Johnson Museum of Art at Cornell University in Ithaca, New York. Collaborators included Andrew C. Weislogel, Curator, Earlier European and American Art, and Cathy Klimaszewski, Associate Director and Curator of Education, both at the museum.</p>
	<div class="collection-search well">
		<h3>Search ART 2301 Printmaking Student Portfolios or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios">browse the collection</a></h3>
		<%= render '/catalog/search_form', { :@collection_search => "ART 2301 Printmaking Student Portfolios"}  %>
	</div>
	<h3>Artists</h3>
	<div class="column-list">
		<ul>
			<li><a href="http://localhost:3000/?_=1516651420514&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Ahmed%2C+Aiza&view=gallery">Aiza Ahmed</a></li>
			<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Berry%2C+Jenna&view=gallery">Jenna Berry</a></li>
			<li><a href="http://localhost:3000/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Breibart%2C+Olivia&view=gallery">Olivia Breibart</a></li>
			<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Chalfant%2C+Madison&view=gallery">Madison Chalfant</a></li>
			<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Chung%2C+Ji+Weon&view=gallery">Ji Weon Chung</a></li>
			<li><a href="/?_=1516651648812&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Ely%2C+Catherine&view=gallery">Catherine Ely</a></li>
			<li><a href="/?_=1516651668410&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Haidar%2C+Gwyneth&view=gallery">Gwyneth Haidar</a></li>
			<li><a href="/?_=1516651684313&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Kang%2C+Rina&view=gallery">Rina Kang</a></li>
			<li><a href="/?_=1516651699770&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Kim%2C+Tyra&view=gallery">Tyra Kim</a></li>
			<li><a href="/?_=1516651715674&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Kopyto%2C+Ruth&view=gallery">Ruth Kopyto</a></li>
			<li><a href="/?_=1516651730040&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Mpamaugo%2C+Kelechuckwu&view=gallery">Kelechuckwu Mpamaugo</a></li>
			<li><a href="/?_=1516651747297&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Pica+Limbaseanu%2C+Ian&view=gallery">Ian Pica Limbaseanu</a></li>
			<li><a href="/?_=1516651765051&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Plowe%2C+Lucy&view=gallery">Lucy Plowe</a></li>
			<li><a href="/?_=1516651780174&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Wu%2C+Michelle&view=gallery">Michelle Wu</a></li>
		</ul>
	</div>
	<h3>Contact</h3>
	<p>For questions about this collection, please email <a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a> or use our <a href="https://cornell.qualtrics.com/jfe/form/SV_22YsXiyJ86f8rMp">online form</a>.</p>
	<%= render partial: 'pages/top' %>

</div>