<% content_for :page_title, 'ART 2301 Printmaking Student Portfolios' %>
<div class="container">
	<h2>ART 2301 Printmaking Student Portfolios</h2>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Art 2301 Printmaking Student Portfolios"}  %>
			</div>
			<a href="/catalog/ss:22112410">
			<%= image_tag "http://stor.artstor.org/stor/8576845a-ddf6-4fd8-b2f8-4ba39393e017_size4" , alt: "Calle Obispo by Gwyneth Haidar", class: "img-responsive" %>
			</a>
			<p class="caption">
				Calle Obispo by Gwyneth Haidar
			</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>The collection is comprised of scanned fine art print portfolios from Associate Professor of Art Gregory Page’s ART 2301: Introduction to Print Media classes. Themes and collaborators of the portfolios include historical artists, museum exhibitions, and projects at the Cornell Botanic Gardens, to name only a few. Collaborators for these projects include the Johnson Museum of Art, Cornell Botanic Gardens and the departments of Entomology and Biology all at Cornell University.</p>

			<h3>Spring 2018</h3>

			<p>The Spring 2018 class collaborated with Todd Bittner, Director of the Natural areas at the Cornell Botanic Gardens and Mark Whitmore, Forest Entomologist, Department of Natural Resources at Cornell University. Throughout the semester the students visited locations in the NY state area affected by Emerald Ash Borer and the Hemlock Woolly Adelgid to get a better understanding of the plight of the Hemlock and Ash trees. In addition, the students participated in the creation of a site-specific art installation directed by Todd Bittner at Beebe Lake to bring awareness to the Cornell University Community.</p>

			<p>The works convey an understanding and sense of the destruction and endangerment of the Hemlock and Ash trees in our region taking place through the invasive insects such as the Emerald Ash Borer and the Hemlock Woolly Adelgid. The overall mission for the project is to be a part of an effort to developing a constituency for the plight of the Hemlock and Ash trees on a larger scale.</p>

			<p>The works in the portfolio contain prints with a variety of lithographic processes including stone, and plate photo-lithography. Each print measures 11”x 15” and was printed on various archival grade fine art papers in a limited edition of 20 prints.</p>

			<h4>Artists</h4>
			<div class="column-list">
				<ul>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Bejoulev%2C+Kiril&view=gallery">Kiril Bejoulev</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Colbran%2C+Mark&view=gallery">Mark Colbran</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Dong%2C+Linqi&view=gallery">Linqi Dong</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Evans%2C+Brianna&view=gallery">Brianna Evans</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Flieger%2C+Lucy&view=gallery">Lucy Flieger</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Guclu%2C+Simge&view=gallery">Simge Guclu</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Hatcher%2C+Louise&view=gallery">Louise Hatcher</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Kuchera%2C+Anna&view=gallery">Anna Kuchera</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Mi%2C+Yao&view=gallery">Yao Mi</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Pahwa%2C+Abhika&view=gallery">Abhika Pahwa</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Park%2C+HeeSoo&view=gallery">HeeSoo Park</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Williams%2C+Lauren&view=gallery">Lauren Williams</a></li>
				</ul>
			</div>		

			<h3>Fall 2017</h3>
			<p>The project from the fall 2017 semester is entitled Impressions from Rembrandt. The work is a response to the exhibition <em><a href="https://museum.cornell.edu/exhibitions/lines-of-inquiry-learning-from-rembrandt-etchings">Lines of Inquiry: Learning from Rembrandt Etchings</a></em> (September 23-December 17, 2017) at the Herbert F. Johnson Museum of Art at Cornell University in Ithaca, New York. Collaborators included Andrew C. Weislogel, Curator, Earlier European and American Art, and Cathy Klimaszewski, Associate Director and Curator of Education, both at the museum.</p>
			<h4>Artists</h4>
			<div class="column-list">
				<ul>
					<li><a href="/?_=1516651420514&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Ahmed%2C+Aiza&view=gallery">Aiza Ahmed</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Berry%2C+Jenna&view=gallery">Jenna Berry</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Breibart%2C+Olivia&view=gallery">Olivia Breibart</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Chalfant%2C+Madison&view=gallery">Madison Chalfant</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Chung%2C+Ji+Weon&view=gallery">Ji Weon Chung</a></li>
					<li><a href="/?_=1516651648812&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Ely%2C+Catherine&view=gallery">Catherine Ely</a></li>
					<li><a href="/?_=1516651668410&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Haidar%2C+Gwyneth&view=gallery">Gwyneth Haidar</a></li>
					<li><a href="/?_=1516651684313&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Kang%2C+Rina&view=gallery">Rina Kang</a></li>
					<li><a href="/?_=1516651699770&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Kim%2C+Tyra&view=gallery">Tyra Kim</a></li>
					<li><a href="/?_=1516651715674&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Kopyto%2C+Ruth&view=gallery">Ruth Kopyto</a></li>
					<li><a href="/?_=1516651730040&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Mpamaugo%2C+Kelechuckwu&view=gallery">Kelechuckwu Mpamaugo</a></li>
					<li><a href="/?_=1516651747297&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Pica+Limbaseanu%2C+Ian&view=gallery">Ian Pica Limbaseanu</a></li>
					<li><a href="/?_=1516651765051&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Plowe%2C+Lucy&view=gallery">Lucy Plowe</a></li>
					<li><a href="/?_=1516651780174&f%5Bcollection_tesim%5D%5B%5D=Art+2301+Printmaking+Student+Portfolios&f%5Bcreator_facet_tesim%5D%5B%5D=Wu%2C+Michelle&view=gallery">Michelle Wu</a></li>
				</ul>
			</div>
			<h3>Contact</h3>
			<p>For questions about this collection, please email <a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a> or use our <a href="https://cornell.qualtrics.com/jfe/form/SV_22YsXiyJ86f8rMp">online form</a>.</p>
			<%= render partial: 'pages/top' %>
		</div>
	</div>
</div>