<div class="row">
	<div class="col-md-5">
		<h2>New York Aerial Photographs</h2>
	</div>
	<div class="col-md-7">
		<ul class="nav nav-pills nav-collection">
	    	<li><a href="/collection/aerialny">Home</a></li>
	    	<!-- <li><a href="/?f%5Bcollection_tesim%5D%5B%5D=New+York+State+Aerial+Photographs&view=maps">Browse the collection</a></li> -->
			<li><a href="/collection/aerialny/using">Using the collection</a></li>
			<li><a href="/collection/aerialny/about">About the project</a></li>
			<li><a href="/collection/aerialny/contact">Contact</a></li>
	  	</ul>
	</div>
</div>