<div class="row">
	<div class="col-sm-5">
		<h2>New York Aerial Photographs</h2>
	</div>
	<div class="col-sm-7">
		<ul class="nav nav-pills nav-collection">
	    	<li><a href="/aerialny">Home</a></li>
	    	<!-- <li><a href="/?f%5Bcollection_tesim%5D%5B%5D=New+York+State+Aerial+Photographs&view=maps">Browse the collection</a></li> -->
			<li><a href="/aerialny/using">Using the collection</a></li>
			<li><a href="/aerialny/about">About the project</a></li>
			<li><a href="/aerialny/contact">Contact</a></li>
	  	</ul>
	</div>
</div>
<!-- <div class="pull-right collection-menu">
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  	<span class="fa fa-bars"></span>
	    <span class="hidden-xs">Menu</span>
	  </button>
	  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
	    	<li><a href="/aerialny">Home</a></li>
	    	<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=New+York+State+Aerial+Photographs&view=maps">Browse the collection</a></li>
			<li><a href="/aerialny/using">Using the collection</a></li>
			<li><a href="/aerialny/about">About the project</a></li>
			<li><a href="/aerialny/contact">Contact</a></li>
	  </ul>
	</div>
</div>
<h2>New York State Aerial Photographs</h2> -->