<% content_for :page_title, 'Samuel May Anti-Slavery Collection' %>
<div class="collection-banner collection-banner-may">
	<div class="container">
		<h2>Samuel J. May Anti-Slavery Collection</h2>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f[collection_tesim][]=Samuel+J.+May+Anti-Slavery+Collection&view=list">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Samuel J. May Anti-Slavery Collection"}  %>
			</div>
			<div class="sidebar-image">
				<%= image_tag "collections/may-antislavery/IMG_4267_400.jpg", alt: "", class: "img-responsive" %>
				<p class="caption">
					 Engraved frontispiece portrait of Harriet Tubman from: Sarah H. Bradford. Scenes in the Life of Harriet Tubman. W.J. Moses, printer, Auburn, N.Y., 1869.
				</p>
			</div>
			<div class="sidebar-image">
				<%= image_tag "collections/may-antislavery/IMG_4158_400.jpg", alt: "", class: "img-responsive" %>
				<p class="caption">
					 Engraved portrait of Fredrick Douglass from: Life and Times of Frederick Douglass: His Early Life as a Slave, His Escape from Bondage, and His Complete History to the Present Time, written by himself with an introduction by George L. Ruffin. Park Pub. Co., 1881.
				</p>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4 may-layout">
			<h3>Collection Description</h3>
			<h4>Cornell's Anti-Slavery and Civil War Collections</h4>
			<p>Cornell University Library began collecting materials on abolitionists, the anti-slavery movement and the American Civil War during the 1860s, thanks to Cornell's first President, Andrew Dickson White. Even before his arrival at Cornell, as a history professor White used his lectures at the University of Michigan to respond to the issues of the War by pointing out to his students as many examples as he could of societies that valued the rights of free men, and inviting abolitionists such as Wendell Phillips and Frederick Douglass to lecture to students. He also developed his own collection of documents, pamphlets, and letters on the progress of the Civil War. He saved the letters his students sent him from the battlefield, and gathered maps, newspapers, prints, clippings, and other ephemera. When White's personal library was transferred to Cornell in 1891, his Civil War collection contained hundreds of bound volumes of pamphlets, documenting all aspects of the War—social, political, military, and religious.
			Fredrick Douglass Portrait
			
			<h4>The May Anti-Slavery Collection</h4>

			<p>In 1870, just five years after Cornell’s founding, White was instrumental in bringing an extensive collection of slavery and abolitionist materials gathered by his close friend, Reverend Samuel Joseph May, to the Cornell Library. Numbering over 10,000 titles, May's pamphlets document the anti-slavery struggle at the local, regional, and national levels. Much of the May Anti-Slavery Collection was considered ephemeral or fugitive, and many of these pamphlets remain scarce today. Sermons, position papers, offprints, local Anti-Slavery Society newsletters, speeches, poetry anthologies, freedmen's testimonies, broadsides, and Anti-Slavery Fair keepsakes all document the social and political implications of the abolitionist movement and the fight for equality and human rights.</p>

			<p>News of the arrival of Samuel May's collection at Cornell spread, and in 1874 the abolitionists William Lloyd Garrison, Wendell Phillips, and Gerrit Smith, wrote, signed, and circulated an appeal to their friends and supporters in America and Great Britain, urging that it was of "great importance that the literature of the Anti-Slavery movement...be preserved and handed down, that the purposes and the spirit, the methods and the aims of the Abolitionists should be clearly known and understood by future generations." The effort was successful, bringing in further scarce and original manuscripts and publications to Ithaca, allowing the Cornell Library to develop an Anti-Slavery collection that is unique for its depth and coverage at a time well before other research libraries began collecting the subject.</p>
			<h4>The May Anti-Slavery Collection Pamphlets online</h4>

			<p>The pamphlets in Samuel J. May's Anti-Slavery library have been digitized and their texts are searchable online. The collection was digitized in 1999 with $331,000 in funding provided by a grant from the "Save America's Treasures" initiative, a public-private partnership between the White House Millennium Council and National Trust for Historic Preservation, administered by the National Endowment for the Humanities. It was one of 62 projects funded nationwide in 1999, and one of only two awards made to libraries.</p>
			<div class="collection-browse">
				<a href="/?f[collection_tesim][]=Samuel+J.+May+Anti-Slavery+Collection&view=list" class="btn btn-lg btn-primary">Search or browse the collection</a>
			</div>
		</div>
	</div>
</div>