<h2>Indonesian Music Archive</h2>	

<div class="well clearfix">
	<div class="pull-right col-sm-5 img-right">
		<%= image_tag "sets/indonesianmusic/thumb.jpg" , alt: "Map illustration of New York state", class: "img-thumbnail img-responsive" %>
	</div>
	<p>Sed feugiat, erat non feugiat sodales, nisi nulla varius velit, sit amet condimentum sapien risus interdum turpis. Sed tempus sapien eget quam vulputate interdum. Morbi mattis metus a neque convallis...</p>			
</div>
