<% content_for :page_title, 'Theatre Prints and Books from Early Modern Japan' %>
<div class="container">
	<h2>Theatre Prints and Books from Early Modern Japan</h2>
</div>
<div class="collection-banner collection-banner--japanesetheater hidden-xs">
	<div class="container">
		<%= image_tag "collections/japanesetheater/composite.jpg" , alt: "", class: "img-responsive" %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f[collection_tesim][]=Theatre+Prints+and+Books+from+Early+Modern+Japan&view=gallery">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Theatre Prints and Books from Early Modern Japan"}  %>
			</div>
			<a href="/catalog/ss:54858">
				<%= image_tag "collections/japanesetheater/54858.jpg" , alt: "時代世話劇種本　心中天の網島 / Jidaisewa kabuki no tanehon Shinjū ten no Amijima", class: "img-responsive" %>
			</a>
			<p class="caption">
				時代世話劇種本　心中天の網島 / Jidaisewa kabuki no tanehon Shinjū ten no Amijima
			</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>Theater, and kabuki in particular, was the cultural center of urban life for the non-political elite of Japan’s early modern period, occupying a place in everyday imagination akin to that of television and film in contemporary popular culture. Although not everyone could afford to see a day of plays at a major theater on a regular basis, the plots of staged dramas nonetheless became well-known through word of mouth, printed images and popular fiction that mirrored action on the stage. Revered actors, though classified by the government as “non-people,” enjoyed enormous fame and wealth, and much like modern celebrities, had a cult of fans and followers who identified with them through images of their heroes onstage and off. Through the wealth of printed materials on early modern theater, we can explore not only the content of particular plays, their staging, costumes and actors, but also the realm of popular culture in early modern Japan, the values and interests of Japan’s urban populace.</p>
			<p>The materials on Japanese theater gathered in this archive derive from three distinct collections: the William Elliot Griffis Collection, given to Cornell in 1914; the Maeda Ai Collection, acquired by the library in 1998; and a private, Ithaca-area collection that has been made available on request to the University for research, exhibition or teaching purposes. The library materials consist of woodblock printed books on the theater, from the eighteenth through late nineteenth century, while the bulk of the private collection is single sheet prints, from the same period. Materials on kabuki dominate both collections, although there are also materials on nō, kyōgen, puppet theater, dance and other performance traditions. Highlights of the collections include a color-printed kyōka (comic poetry) album that takes kabuki as its subject; Bakin and Toyokuni’s surrealistic Pictorial of Actor-Famous Sites; and single sheet prints of actors backstage, preparing costumes and makeup.</p>
			<h3>Contact</h3>
			<p>For questions about this collection, please contact Kroch Asia Library reference staff at <a href="mailto:asiaref@cornell.edu">asiaref@cornell.edu</a>.</p>
		</div>
	</div>
</div>