<div class="row basic-header">
	<div class="col-md-5">
		<h2>New York Aerial Photographs</h2>
	</div>
	<div class="col-md-7">
		<ul class="nav navbar-nav nav-collection">
	    	<li><a href="/collection/aerialny">Home</a></li>
			<li><a href="/collection/aerialny/using">Using the collection</a></li>
			<li><a href="/collection/aerialny/about">About the project</a></li>
			<li><a href="/collection/aerialny/contact">Contact</a></li>
	  	</ul>
	</div>
</div>