<div class="navbar">
	<div class="container">
        <div class="col-md-6">
            <%= render partial: 'pages/collections/chla/title' %>
        </div>
        <div class="col-md-6">
            <ul class="nav navbar-nav">
                <li><a href="/collections/chla">Home</a></li>
                <li><a href="#">Browse by Title</a></li>
                <li><a href="#">Browse by Year</a></li>
                <li><a href="#">Journal Title List</a></li>
                <li><a href="/collections/chla/about">About</a></li>
                <li><a href="/collections/chla/contact">Contact</a></li>
            </ul>
        </div>
	</div>
</div>