<div class="nav-header">About</div>
<ul class="nav">
	<li><a href="/collections/chla/about">Background</a></li>
	<li><a href="/collections/chla/brittle">Brittle Books</a></li>
	<li><a href="#">Technical Details</a></li>
	<li><a href="#">Contact</a></li>
</ul>