<div class="navbar">
	<div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#chla-navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Menu</span>
            <i class="fa fa-bars"></i>
        </button>
        <div id="chla-navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/collections/chla">Home</a></li>
            <li><a href="#">Browse by Title</a></li>
            <li><a href="#">Browse by Year</a></li>
            <li><a href="#">Journal Title List</a></li>
            <li><a href="/collections/chla/about">About</a></li>
            <li><a href="/collections/chla/contact">Contact</a></li>
          </ul>
        </div>
	</div>
</div>