<div class="navbar">
	<div class="container">
        <%= render partial: 'pages/collections/chla/title' %>
        <ul class="nav navbar-nav">
            <li><a href="/collections/chla">Home</a></li>
            <li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Core+Historical+Literature+of+Agriculture&sort=title_ssi+asc%2C+latest_date_isi+asc">Browse by Title</a></li>
            <li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Core+Historical+Literature+of+Agriculture&sort=latest_date_isi+asc%2C+title_tesi+asc">Browse by Year</a></li>
            <li><a href="/?f%5Bcollection_tesim%5D%5B%5D=Core+Historical+Literature+of+Agriculture&f%5Bformat_tesim%5D%5B%5D=Journal&sort=title_ssi+asc%2C+latest_date_isi+asc">Journal Title List</a></li>
            <li><a href="/collections/chla/about">About</a></li>
            <li><a href="/collections/chla/contact">Contact</a></li>
        </ul>
	</div>
</div>