<div class="well highlight">
	<div class="nav-header">About</div>
	<ul class="nav jumplinks">
		<li><a href="/collections/chla/about">Background</a></li>
		<li><a href="/collections/chla/brittle">Brittle Books</a></li>
		<li><a href="/collections/chla/technical">Technical Details</a></li>
		<li><a href="/collections/chla/faq">FAQ</a></li>
		<li><a href="/collections/chla/contact">Contact</a></li>
	</ul>
</div>