<%= render partial: 'pages/collections/chla/header' %>
<div class="chla-layout">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/chla/menu_about' %>
				<%= image_tag "collections/chla/Taschenbuch-5.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			<div class="main-text">
				<h3>Background of this collection</h3>

				<p>United States history cannot fully be understood without studying its rural life and agricultural heritage. Agriculture fueled the social and economic engine which built our nation, which generated our state and local governments, which stimulated and regulated pioneering, farming, land tenure, and the trading of agricultural commodities. Much of what defines the national character of Americans, our cultural values and morés, is rooted in our agrarian past. The farm family was the basic social unit molding American life for nearly 200 years. Agriculture has transformed the American countryside and provided its rural strength. Due to the centrality of agriculture in the American experience, economic, social, and cultural historians, as well as those in science and technology, have been fascinated by the published record of agriculture and rural life, and must utilize it regularly.</p>

				<p>The story of American agriculture is captured in a broad band of documentary resources ranging from the memoirs and transactions of early agriculture societies to newspapers and almanacs; family, community, and corporate archives; and state and county extension service publications. The evolution of farm and rural life and agricultural economy is chronicled in the agriculture periodical press and the numerous local, regional, and national farm journals that exhorted, informed, and shaped the opinions, values, and concerns of early farm families. Journals such as Country Life in America, Cappers' Farmer, and Farm and Family have much to tell historians about the daily activities, issues, and practices of the time.</p>

				<p>As rural life changed, so did the content of the literature aimed at the farm family. These materials form a premier scholarly resource to document the experience of the individual farm family, the establishment and evolution of farm communities, the pressures affecting rural culture, and the shifting and evolution in rural culture in response to national and world events. Supplementing the published literature are the diaries, letters, photographs, and farm records that are critical resources to understand rural life, its role and place in American society.</p>

				<p>During the 19th century, the farm unit shifted its orientation from the family and the immediate community to the market, and to the expanding urban-industrial society. For nearly 100 years, employment in the American agricultural and food system remained nearly constant at about 35 million while the population soared. With these changing demographics came shifts in attitudes about rural life, community and family values, and the management of the farm enterprise. These shifts had a profound effect on farm families, on rural communities, and on the economy of the nation.</p>

				<p>The historical literature of agriculture chronicles the beginning of an era in which the pressures of population and the opportunities of urban and global markets resulted in an agricultural system which is arguably the most productive in the world, but which is also a major contributor to environmental degradation. The negative effects of modern agriculture were somewhat unanticipated, making the story of agriculture's transformation of major interest to cultural historians chronicling the history of the environmental and agricultural worker's rights movements, and the rise of the land conservation ethic.</p>

				<p>The literature of agriculture is replete with information about sustainable agricultural methods, observations, production, and effects. Until the 1940s, farmers did not use pesticides and chemical fertilizers in quantity. The record of pre-World War II agriculture is almost entirely a literature of what we now call "alternative" agriculture. In land-grant university libraries across the country, 19th and early 20th century books and journals -- now seriously embrittled and deteriorating -- are in demand as we begin yet another agricultural transformation. This time the transformation is along ecological and environmental lines rather than economic and technological.</p>

			</div>
		</div>
	</div>
</div>