<%= render partial: 'pages/collections/chla/header' %>
<div class="mann-layout mann-layout--chla">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>The Problem of Brittle Books</h3>

				<p>Hundreds of thousands of books in Cornell University's Albert R. Mann Library were originally printed on paper that becomes brittle over time. Between 1850 and 1950 publishers used acidic paper to print books and magazines, not realizing that acidic paper disintegrates with exposure to air, becomes brittle over time and crumbles into dust. About half of Mann's collection is printed on this type of paper, and the page at left is an example of the deterioration that comes with age.</p>

				<p>For several years Mann has used a preservation technology that produces satisfying results: scanning and digitizing. This technique, though more expensive than microfilming, produces an excellent quality, acid-free facsimile of the scanned original as well as a digital file from which a microfilm reel and a web version of each title can be created.  The new, acid-free version is cataloged, shelved for patrons to use and will remain durable for hundreds of years.</p>

				<p>Scanning also generates an electronic file of the book that Mann posts online for public use. This means we have both an acid-free copy of the book and that we can share an electronic version with the community of scholars and students where there is copyright clearance. Finally, scanning and digitizing allow us to make a microfilm copy of each book for permanent storage at National Underground Storage.</p>

				<p>With more than 350,000 volumes in our collection threatened by embrittlement, it was hard to decide which to digitize first. Working with scholars in the field, we identified the Core Historical Literature of Agriculture - those books and journals that represent the most important publications in the agricultural sciences between 1850 and 1950. So far we've scanned and digitized more than 2,000 of these books for posterity.</p>

				<p>Mann plans to continue preserving the Core Historical Literature of Agriculture, and we have established a similar collection that focuses on the historical literature of home economics and human ecology. Visit Home Economics Archive: Research, Tradition and History (HEARTH) at http://hearth.library.cornell.edu.</p>

			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/chla/menu_about' %>
				<%= image_tag "collections/chla/Taschenbuch-5.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
		</div>
	</div>
</div>