<%= render partial: 'pages/collections/chla/header' %>
<div class="container">
	<div class="row">
		<div class="sidebar">
			<%= render partial: 'pages/collections/chla/menu_about' %>
		</div>
		<div class="main-text">
			<h3>Contact</h3>

			<p>Mann Library...</p>

		</div>
	</div>
</div>