<% content_for :page_title, 'Contact - Core Historical Literature of Agriculture' %>
<%= render partial: 'pages/collections/chla/header' %>
<div class="mann-layout mann-layout--chla">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Contact</h3>

				<p>Please use the email us at <a href="mailto:mann-ref@cornell.edu">mann-ref@cornell.edu</a> with any questions or comments you have about this collection. Be sure to check our <a href="/collections/chla/faq">Frequently Asked Questions</a> page for answers, too.</p>

			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/chla/menu_about' %>
			</div>
		</div>
	</div>
</div>