<% content_for :page_title, 'Copyright - Core Historical Literature of Agriculture' %>
<%= render partial: 'pages/collections/chla/header' %>
<div class="mann-layout mann-layout--chla">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Copyright</h3>
				<p>Mann Library is offering broad public access to many of the most important publications of historical agriculture and rural life in its collections. Access is intended to benefit education, research and scholarship. Some materials in these collections may be protected by U.S. Copyright Law (<a href="http://www4.law.cornell.edu/uscode/17/">Title 17, U.S.C.</a>) and/or by the copyright or neighboring-rights laws of other nations. Additionally, the reproduction of some materials may be restricted by terms of copyright ownership or licensing agreements. Transmission or reproduction of protected items beyond that allowed by fair use requires the written permission of the copyright owners.</p>
				<p>The nature of historical collections is such that copyright or other information about restrictions may be difficult or even impossible to determine. Whenever possible, Mann Library provides information about copyright owners or other restrictions within each record file. Unless otherwise noted, titles are considered to be in the public domain.</p>
				<p>As a publicly supported institution, Mann Library generally does not own rights to material in its collections. Therefore it does not charge permission fees for use of such material and cannot give or deny permission to publish or otherwise distribute material in its collections. It is the obligation of the user to determine and satisfy copyright or other use restrictions when publishing or otherwise distributing materials found in the Mann Library collections.</p>
				<p>Mann Library would like to be made aware of any copyright which is not properly identified so that appropriate information may be provided in the future. Please <a href="/collections/chla/contact">contact us</a>.
			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/chla/menu_about' %>
			</div>
		</div>
	</div>
</div>