<%= render partial: 'pages/collections/chla/header' %>
<div class="mann-layout mann-layout--chla">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<p class="lead"><strong>The Core Historical Literature of Agriculture (CHLA)</strong> is a core electronic collection of agricultural texts published between the early nineteenth century and the middle to late twentieth century. Full-text materials cover agricultural economics, agricultural engineering, animal science, crops and their protection, food science,forestry, human nutrition, rural sociology, and soil science. Scholars have selected the titles in this collection for their historical importance. Their evaluations and 4,500 core titles are detailed in the seven volume series <em>The Literature of the Agricultural Sciences</em>, Wallace C. Olsen, series editor.</p>
				<div class="collection-browse">
					<a href="#" class="btn btn-primary">Browse by Title</a> <a href="#" class="btn btn-primary">Browse by Year</a> <a href="#" class="btn btn-primary">Journal Title List</a>
				</div>
				<p><a href="/collections/chla/about">About the collection</a> | <a href="/collections/chla/contact">Contact</a></p>
			</div>
			<div class="col-sm-4">
				<div class="well.highlight">
					<p>"History celebrates the battlefields whereon we meet our death, but scorns to speak of the plowed fields whereby we thrive. It knows the names of the king's bastards but cannot tell us the origin of wheat. This is the way of human folly."</p>
					<p><small>— Jean-Henri Fabre</small></p>
				</div>
				<p><strong>Current online holdings:</strong></p>
				<ul>
					<li>Pages: 1,131,908</li>
					<li>Books: 2,084 (2,160 Volumes)</li>
					<li>Journals: 36 (934 Volumes)</li>
				</ul>
			</div>
		</div>
	</div>
</div>