<%= render partial: 'pages/collections/chla/header' %>
<div class="chla-layout">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Technical Details</h3>

				<p>The materials in the CHLA collection were scanned from brittle paper originals. The conversion of the materials was outsourced to service vendors at various times from 1992 to 2003. The images were captured at 600 DPI in bitonal TIFF image format and compressed using CCITT Group 4. Simple document structuring occurred either at the point of conversion or during on-campus processing, primarily linking image numbers to pagination and tagging self-referencing portions of the text. Further conversion of CHLA materials included optical character recognition of the page images. In the case of serials, extensive low-level indexing was added post-conversion to allow for increased access to the articles contained in each issue.</p>
				<p>The present access system is powered by DLXS (http://dlxs.org), which was first built for the Making of America project by the University of Michigan's Digital Library Production Service (http://www.umdl.umich.edu). The Cornell University Library has used this system for HEARTH, the Home Economics Archive digital library collection (http://hearth.library.cornell.edu), and an earlier version of the software for its own Making of America collection (http://cdl.library.cornell.edu/moa). The system and its user interface have been modified somewhat for the CHLA materials.</p>

			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/chla/menu_about' %>
			</div>
			
		</div>
	</div>
</div>