<h2>Indonesian Music Archive</h2>	
<p>The <a href="/?f%5Bcollection_tesim%5D%5B%5D=Indonesian+Music+Archive">Indonesian Music Archive</a> comprises around 193 hours of audio recordings made in Indonesia, on some 210 reels of quarter-inch tape. The majority of the recordings are of gamelan music from Central Java; a smaller number, accounting for about 30 hours, are from Lombok. The recordings from Central Java were made by some of the first researchers to reach a high level of competence in learning to play gamelan, realizing the ideal of “bi-musicality” advocated by Mantle Hood. Most of the recordings were made between 1975 and 1977; a smaller number were made by Marty Hatch in 1970 and 1971. The choice of what and whom to record was thus very well informed, and the researchers had established relationships with the leading musicians of the time. The smaller portion of the archive is significant in a different way, documenting the music and rituals of the Sasak people of the island of Lombok, who have received comparatively little scholarly attention. The recordings were made by Judith Ecklund in the 1970s in conjunction with the research for her dissertation in anthropology, which she completed at Cornell in 1977.  Both collections are owned by the <a href="http://music.library.cornell.edu">Sidney Cox Library of Music and Dance</a>.</p>
<div class="collection-search" style="margin-top: 2em;">
	<h3>Search Indonesian Music Archive</h3>
	<%= render '/catalog/search_form', { :@collection_search => "Indonesian Music Archive"}  %>	
</div>
<div class="collection-browse">
	Or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Indonesian+Music+Archive">browse the collection »</a>
</div>