<h2>Indonesian Music Archive</h2>
<div class="well">	
	<p>The <a href="/?f%5Bcollection_tesim%5D%5B%5D=Indonesian+Music+Archive">Indonesian Music Archive</a> consists of approximately 193 hours of
	audio recordings made in Indonesia. The collection began its life as the
	“Archive of Field Recordings,” a project initiated by then-graduate
	student John Pemberton (PhD 1989, now in the anthropology department at
	Columbia University) that brought together and documented reel-to-reel
	recordings of Central Javanese gamelan and vocal music, most of them
	made in the 1970s in the court cities of Surakarta and Yogyakarta. Many
	of these recordings were made by Pemberton himself. Others were made by
	fellow Cornellians Nancy Florida (PhD 1990), Jennifer Lindsay (MA 1980),
	and Emeritus Professor Martin Hatch, while still others were contributed
	by fellow researchers and enthusiasts of Javanese gamelan, including
	Alan Feinstein, Alex Dea, and Laurie Kottmeyer.</p>
	<p>The archive also includes recordings of the music and rituals of the
	Sasak people of the island of Lombok, made by Judith Ecklund (PhD 1977)
	as part of her dissertation research, and recordings of sung verse from
	Aceh, made by Emeritus Professor James Siegel in 1968.</p>
</div>
<div class="collection-search" style="margin-top: 2em;">
	<h3>Search Indonesian Music Archive</h3>
	<%= render '/catalog/search_form', { :@collection_search => "Indonesian Music Archive"}  %>	
</div>
<div class="collection-browse">
	<p>Or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Indonesian+Music+Archive">browse the collection »</a></p>
</div>