<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Menu</span>
	<i class="fa fa-bars"></i>
</button>
<div id="navbar" class="collapse navbar-collapse">
    <ul class="list-inline">
	  <%= render_nav_actions do |config, action|%>
	    <li><%= action %></li>
	  <% end %>
	  	<li><a href="/collections">All Collections</a></li>
	</ul>
</div><!--/.nav-collapse -->