<% content_for :page_title, 'Subjects: Applied Arts and Design - HEARTH' %>
<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Subjects: Applied Arts and Design</h3>
				<p>One of the central beliefs of the early home economists was that the environment in which people live has a powerful impact on their physical, emotional, and moral well-being. While the pioneers in the field were primarily concerned with the basics of food, shelter, and clothing, they also recognized the importance of aesthetic considerations. One of the goals in early home economics education was to train homemakers in basic principles of art and design so as to enable them to make good choices in purchasing practical and decorative objects for the home and arranging them in tasteful and effective ways. A common theme was the relationship between beauty and utility: home economists frequently argued, for example, that elaborate dust-catching draperies should be eliminated in favor of simpler furnishings that would be both more attractive and easier to maintain.</p>
				<p>
				In the early decades, however, design was generally considered a secondary consideration, and home economists saw themselves as consumers rather than as creators. The scope of home economics as a field gradually began to widen, and by the 1920s and 1930s, colleges of home economics were beginning to offer training aimed at preparing students for careers in interior decoration and costume and textile design. The faculty and graduates of these programs did work that had a significant impact on many people's lives, although, on the whole, designers trained as home economists tended not to be as visible and widely recognized as those educated in art schools, as their emphasis generally was on the needs and concerns of middle-income families on limited budgets.</p>
				<p><em>- Martin Heggestad, Mann Library</em></p>
				<p><a href="/docs/hearth/applied.pdf">Bibliography (PDF, 89kb)</a> | <a href="/collections/hearth/subjects">Back to Subjects</a></p>
			</div>
			<div class="sidebar">
				<%= image_tag "collections/hearth/arts_26c.gif" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>