<% content_for :page_title, 'Subjects: Child Care, Human Development and Family Studies - HEARTH' %>
<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Subjects: Child Care, Human Development and Family Studies</h3>
				<p>From the beginning, home economists were deeply concerned with the impact of environmental factors on human well-being. At the turn of the century, their primary focus was on the basics of nutrition and sanitation, but by the 1920s, many home economists were turning their attention to the physical and emotional development of children with the goal of promoting optimal adjustment in the face of often harsh economic and social realities. As a result, they engaged in various forms of advocacy, education, and research.</p>
				<p>In the 1920s, home economists were involved in establishing the first nursery schools in the United States. One of these pioneers was Edna Nobel White, who was the director of the Merrill-Palmer School of Motherhood and Home Training (later the Merrill-Palmer Institute) in Detroit, which became a renowned center for the study of child development and parent education. The research conducted at Merrill-Palmer had a profound impact on child-rearing practices in this country. In short order, nursery schools were opened in the schools of home economics in a number of universities. Some institutions also set up "practice apartments" in which students could gain hands-on experience in caring for infants. Typically, a baby from a local orphanage would be placed in the apartments for a period of one year before being put up for adoption. Although this practice may seem startling from today's point of view, by most accounts the children thrived with all the attention they were given, and, because they were "scientifically" reared, they were seen as highly desirable adoptees.</p>
				<p>Home economists also actively promoted education in marriage and family life for high school and college students. Such courses were common by the 1930s and 1940s and were quite popular. Instructors often encouraged frank discussion of topics such as courtship, sexuality, family planning, marital conflict, economic problems of young families, and employment of women outside the home. Contrary to stereotypes, home economists were not particularly concerned with promoting traditional gender roles or the nuclear family as a normative structure. Instead, they recognized the variety of family arrangements in American society at that time and were well aware of the vulnerability of women, especially those with young children, to such calamities as widowhood, desertion, or illness or disability of their husbands. Although the faculty and students in schools of home economics were overwhelmingly female, many efforts were made to encourage men and boys to educate themselves and become involved in child care and family life.</p>
				<p>Departments of child development or human development in colleges of home economics have often had a somewhat precarious status, tending to be underfunded and somewhat marginal. Researchers in the field have often had to turn to more established disciplines such as psychology and sociology for journals and conferences to present their findings. Thus, home economists' contributions to the study of human development, while significant, have not always been highly visible or appreciated.</p>
				<p><em>- Martin Heggestad, Mann Library</em></p>
				<p><a href="/docs/hearth/child.pdf">Bibliography (PDF, 322kb)</a> | <a href="/collections/hearth/subjects">Back to Subjects</a></p>
			</div>
			<div class="sidebar">
				<%= image_tag "collections/hearth/child_10c.gif" , alt: "", class: "img-thumbnail img-responsive" %>
				<%= image_tag "collections/hearth/child_10b.gif" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>