<% content_for :page_title, 'Subjects: Clothing and Textiles - HEARTH' %>
<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Subjects: Clothing and Textiles</h3>
				<p>Early home economists were concerned with helping women to provide clothing for themselves and their families in efficient and economical ways. By the early twentieth century, ambitious programs in clothing and textiles were being established in many schools of home economics. Courses were offered both for consumers and for students seeking careers in the textile and clothing industries. The subjects covered included fabric composition, clothing selection for the consumer, home sewing and mending, clothing design and production, and business aspects of the textile and clothing industries. Eventually, extension services also reached out to consumers, educating them on various aspects of clothing and fabric purchasing and home sewing, and junior and senior high schools began teaching these skills to their students.</p>
				<p>Home economists inside and outside of the academy made important contributions on various research and policy issues. By the 1920s, the need for standardization in labeling had become apparent, in order to give consumers information about the content and care requirements of textile products. Home economists worked with consumer and industry groups and with government agencies such as the Federal Trade Commission and the Bureau of Human Nutrition and Home Economics to develop such standards. The need for clear labeling became even more apparent as greater numbers of synthetic fibers began to come on the market in the 1940s.</p>
				<p>Home economists also undertook extensive studies of use and care of fabrics and apparel, investigating questions of durability and colorfastness and determining optimal methods and products for washing, stain removal, and drying. Another concern was safety; as early as the 1910s, home economists were advocating for and testing treatments to make fabrics flame retardant. In the early 1940s, home economists working for the U.S. Department of Agriculture completed a major anthropometric study that helped established standard sizes in clothing for women.</p>
				<p>Academic researchers were interested in more than just the practicalities of keeping people clothed. From the 1920s onward, there was a growing interest in the social and psychological aspects of costume. Home economists conducted historical research and empirical investigations, applying theoretical frameworks from sociology and psychology to clothing. They investigated questions such as: Why do people dress as they do? What messages does clothing convey and what needs do particular styles of dress fulfill for individuals? How does costume relate to social stratification and ethnic identity? To gender roles? To the life cycle? Thus home economists have had a major influence not only on how we dress and what we wear, but on how we understand clothing as an important social practice.</p>
				<p><em>- Martin Heggestad, Mann Library</em></p>
				<p><a href="/docs/hearth/clothing.pdf" aria-label="Clothing and textiles bibliography">Bibliography (PDF, 247kb)</a> | <a href="/collections/hearth/subjects">Back to Subjects</a></p>
			</div>
			<div class="sidebar">
				<%= image_tag "collections/hearth/textiles_28c.gif" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>