<% content_for :page_title, 'Subjects: Food and Nutrition - HEARTH' %>
<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Subjects: Food and Nutrition</h3>
				<p>Food was a central concern of what was to become home economics. One of the movement's main goals was to use modern principles of science and efficiency to supply this basic human need. In the nineteenth century, the food supply was unreliable. The quality of basic ingredients such as flour and sugar was inconsistent, and lack of refrigeration and the absence of basic standards of sanitation meant that healthful plant and animal food products were often not readily obtainable for most consumers. Kitchen equipment was also primitive by today's standards; it was not until after World War I that indoor plumbing, electricity, and gas stoves became widely available. Cookbooks were only gradually coming into general use, and most people continued to prepare food using traditional techniques that were handed down from one generation to the next.</p>
				<p>Starting in the 1870s, cooking schools were established in a number of large east-coast cities. One of the most famous of these was the Boston Cooking School. Fannie Farmer was its best-known principal, and the school published an influential magazine. Maria Parloa, who taught at the Boston Cooking School in addition to managing her own school, was another important figure. Thousands of homemakers flocked to classes at these establishments, eager to learn how to prepare healthful and appetizing meals on a modest budget.</p>
				<p>Other early home economists promoted a variety of rationalized, and even utopian, schemes for food preparation. Ellen Richards, for example, founded the New England Kitchen in 1890, which sold inexpensive and nutritious food to working-class Bostonians for them to take home and eat. This experiment was not a success, as the people targeted by Richards' plan resented the implied paternalism of her efforts to improve their eating habits. The New England Kitchen exemplified the shortcomings of home economists' approach to food: in emphasizing nutritive value and convenience, too often they did not sufficiently take into account the sensual, communal side of eating. They also frequently sought to impose Anglo cooking styles on immigrant and minority groups.</p>
				<p>Home economists nonetheless did have an important impact on food and nutrition practices in the United States. Faculty working in nutrition departments in colleges of home economics made major research contributions in the field of food science. Home economists also pursued careers as nutrition educators, for example with the Cooperative Extension Service of the U.S. Department of Agriculture, and as dieticians in hospitals and schools (see also the Hotel/ Restaurant/ Institution Management category). Many home economists also wrote on nutrition and food preparation for newspapers and women's magazines or went to work for the companies that were manufacturing modern, reliable kitchen equipment and foodstuff, promoting these products to a public eager to be free of the drudgery and uncertainty of traditional cooking (see also the Retail/ Consumer Studies category).</p>
				<p>The books and periodicals on this list are primarily works on food preparation and nutrition education intended for a popular audience or for nutrition educators. For nutrition science research, please see <a href="/collections/chla">Core Historical Literature of Agriculture</a>.</p>
				<p><em>- Martin Heggestad, Mann Library</em></p>
				<p><a href="/docs/hearth/food.pdf" aria-label="Food and nutrition bibliography">Bibliography (PDF, 165kb)</a> | <a href="/collections/hearth/subjects">Back to Subjects</a></p>
			</div>
			<div class="sidebar">
				<%= image_tag "collections/hearth/food_36a.gif" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>