<% content_for :page_title, 'Subjects: Home Management - HEARTH' %>
<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Subjects: Home Management</h3>
				<p>One of the central goals of the early home economists was effective management of the home according to modern principles of efficiency and economics. Home management experts used methods taken from time and motion studies in industry to streamline household tasks such as food preparation, dishwashing, and laundry. Researchers carefully studied homemakers as they went about their work, quantifying productivity and making recommendations concerning the best ways to organize household work and living spaces.</p>
				<p>Home economists sought to educate the public through courses taught in schools, colleges, and extension services and through articles in popular publications. They found an eager audience-as more women entered the paid workforce, less time was available for housework, and there was a clear need for means of managing time effectively. Also, as new consumer products such as dishwashers and washing machines came on the market, consumers were eager for advice about how to select and use these items.</p>
				<p>Home management experts were concerned as well with helping homemakers to make the best use of limited financial resources. They provided education and counseling on budgeting and spending, seeking to help consumers to make good decisions to achieve the greatest possible level of health and comfort in a particular household.</p>
				<p><em>- Martin Heggestad, Mann Library</em></p>
				<p><a href="/docs/hearth/food.pdf" aria-label="Food and nutrition bibliography">Bibliography (PDF, 165kb)</a> | <a href="/collections/hearth/subjects">Back to Subjects</a></p>
			</div>
			<div class="sidebar">
				<%= image_tag "collections/hearth/hmgt_12.gif" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>