<% content_for :page_title, 'Subjects: Housing, Furnishing and Home Equipment - HEARTH' %>
<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Subjects: Housing, Furnishing and Home Equipment</h3>
				<p>Home economists were always deeply concerned with homes and the furnishings and appliances they contained. These physical objects were of interest, not as ends in themselves, but as means for people to live their lives in safe, healthful, efficient, and economical ways. From the early days of the field, as it began taking shape in the late nineteenth century, home economists were researchers, educators, and activists in efforts to improve housing. They studied heating systems, ventilation, waste disposal, water supply, fire prevention, laundry arrangements, and kitchen equipment in order to determine optimal living conditions for various types of families. Research often focused on studying the labor-saving devices that became available during the first half of the twentieth century, such as the vacuum cleaner and the dishwasher. Educators sought to provide consumers with information needed to make good choices in renting, buying, and outfitting their homes. In doing so, they included attention to financial concerns such as negotiating leases and mortgages. Starting especially with the advent of New Deal legislation in the 1930s, home economists became involved with issues of housing policy, as availability of affordable, good-quality housing was coming increasingly to be seen as a matter of public concern.</p>
				<p><em>- Martin Heggestad, Mann Library</em></p>
				<p><a href="/docs/hearth/housing.pdf" aria-label="Housing, furnishing and home equipment bibliography">Bibliography (PDF, 101kb)</a> | <a href="/collections/hearth/subjects">Back to Subjects</a></p>
			</div>
			<div class="sidebar">
				<%= image_tag "collections/hearth/hfhe_22.gif" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>