<% content_for :page_title, 'Subjects: Hygiene - HEARTH' %>
<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Subjects: Hygiene</h3>
				<p>Home economists have often been portrayed as being obsessed with dust and germs and intent on inventing endless busywork for women, but such stereotypes hide the real contributions they made to health and well-being. When the home economics movement came into being at the end of the 1800s, infectious disease was the leading cause of death in the United States. Tuberculosis, influenza, typhoid, pneumonia, and diphtheria were among the many illnesses that threatened public health. Living conditions remained poor for most people, and access to safe food, water, and sewage systems was limited. This was true in rural areas, where poverty and isolation were common, as well as in the rapidly growing cities, where industrialization and large-scale immigration presented new challenges. Starting in the 1860s and 1870s, when Louis Pasteur formulated what became known as the germ theory of disease, scientists gradually came to understand the causes of infectious diseases, but until the development of antibiotics after World War II, there were few treatments.</p>
				<p>The most effective approach was prevention, and it was here that home economists made significant contributions to public health. They reached a wide audience by working as health educators; teaching in schools, colleges, universities, and extension services; and writing articles for the popular press. In doing so, they contributed to public knowledge on a varietyof issues. One of the most important of these was food preparation. Home economists taught homemakers and institutional cooks about refrigeration, cooking food to adequate temperatures, proper kitchen sanitation, and safe canning techniques. Other concerns were advocating sanitary toilets and urging construction of wells and septic systems, projects that helped prevent diseases spread by feces, such as hookworm and typhoid. Home economists also believed that dust and household dirt were major sources of health problems such as tuberculosis, but this assumption was disproved by later scientific research.</p>
				<p>Hygiene was a major concern of the early home economists. Ellen Richards, for example, taught sanitation at MIT. Starting around 1920, however, home economists tended to move into other fields, such as nutrition and textiles, that offered more career opportunities, while health issues were dealt with more in the hard sciences and in the professions of nursing and public health. Also, improvements in public sanitation (for example, the wider availability of sewage systems and of food inspection) led to a decline in infectious diseases and thus a decreasing need for the largely household-based measures taught by home economists.</p>
				<p><em>- Martin Heggestad, Mann Library</em></p>
				<p><a href="/docs/hearth/hygiene.pdf" aria-label="Hygiene bibliography">Bibliography (PDF, 134kb)</a> | <a href="/collections/hearth/subjects">Back to Subjects</a></p>
			</div>
			<div class="sidebar">
				<%= image_tag "collections/hearth/hygiene_photo.gif" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>