<% content_for :page_title, 'Subjects: Institional Management - HEARTH' %>
<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Subjects: Institional Management</h3>
				<p>In 1890, Ellen Richards established the New England Kitchen, a social experiment designed to provide working-class Bostonians with inexpensive and nutritious food for them to take home and eat. The experiment was a failure, as it soon became apparent that people preferred to choose and prepare their own food, but several years later, in 1894, Richards established the first school lunch program, a considerably more successful endeavor. After that, home economists worked in food service and in other aspects of managing a variety of institutions, including schools, colleges, orphanages, hospitals, prisons, military facilities, hotels, and restaurants. In 1910, the American Home Economics Association formed the Institution Economics section, and matters related to institutional management-especially school lunches-were popular topics of discussion at conferences and in periodicals.</p>
				<p>The American Dietetic Association was formed in 1917 as an offshoot of the AHEA, and by the 1920s programs in institutional management were being established in many schools of home economics in land-grant and other universities. In addition, at some universities, schools of hotel and restaurant management were affiliated with schools of home economics and trained students for a wide variety of careers in the hospitality industry. Dietetics gradually became established as a profession, although even after World War II the home economics teacher at many schools was also expected to take responsibility for the school lunch. Faculty in institutional management programs were involved in research and development of procedures and equipment for institutional kitchens and trained generations of dieticians and administrators. They sought to develop economical, convenient, and nutritious meals that could be prepared in quantity for the increasing numbers of Americans who were eating meals outside of their homes.</p>
				<p><em>- Martin Heggestad, Mann Library</em></p>
				<p><a href="/docs/hearth/hotel.pdf" aria-label="Institutional management bibliography">Bibliography (PDF, 33kb)</a> | <a href="/collections/hearth/subjects">Back to Subjects</a></p>
			</div>
			<div class="sidebar">
				<%= image_tag "collections/hearth/imgt_photo.gif" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>