<% content_for :page_title, 'Subjects: Retail and Consumer Studies - HEARTH' %>
<%= render partial: 'pages/collections/hearth/header' %>
<div class="mann-layout mann-layout--hearth">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Subjects: Retail and Consumer Studies</h3>
				<p>Early home economists who worked outside of the home were generally employed in education and other public-sector and nonprofit fields. Starting in the 1920s, however, large numbers of home economists took jobs with commercial employers. They went to work for manufacturers of foodstuffs, appliances, clothing, home furnishings, and cleaning products or for retail concerns such as the department store and supermarket chains and the mail-order firms that sold these products. In addition, many home economists found employment in the hospitality industry, in advertising, or in women's magazines and other media. They also worked for utilities, such as the electric companies that were bringing power to urban and rural areas of the United States. As this trend established itself, the Home Economics in Business section took on an active and growing role in the American Home Economics Association.</p>
				<p>Mary Purchase, a professor in the Department of Textiles and Apparel, performed chemical research in the 1950s on the ability of commercially marketed laundry detergents to remove stains. In taking jobs with private employers, home economists typically attempted to carry a reform agenda into the marketplace. Home economists who worked as educators promoted products that they believed to be scientifically sound, efficient, economical, and healthful, encouraging consumers to use their budgets wisely and effectively. Those who worked for commercial enterprises saw themselves as advocating similar values. They believed that they could represent the interests of women consumers in the largely male business world and educate women about consumer products and services. Thus they sought to play a mediating role that would in theory benefit both sides.</p>
				<p>A typical example of a home economist working for a private company might be a staff member in the home economics department of a manufacturer of baking mixes. Her job would be to test products in the company kitchen, write recipe booklets, work on product development and advertising, and respond to consumer questions and complaints. Such home economists in business based their work on the assumption that corporate interests and public interests were complementary, or at least could be reconciled through the tact and hard work of dedicated female employees. In reality, this was not always the case, and many women found themselves in poorly defined and sometimes difficult situations. As was often the case with women employees at that time, they typically earned salaries that in no way reflected the contributions they made.</p>
				<p><em>- Martin Heggestad, Mann Library</em></p>
				<p><a href="/docs/hearth/retail.pdf" aria-label="Retail and consumer studies bibliography">Bibliography (PDF, 18kb)</a> | <a href="/collections/hearth/subjects">Back to Subjects</a></p>
			</div>
			<div class="sidebar">
				<%= image_tag "collections/hearth/retail.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
			
		</div>
	</div>
</div>