<h1>Browse Collections</h1>
<div class="browse-list">
	<div class="collection">
		<div class="col-sm-4">
			<a href="/?f%5Bcollection_tesim%5D%5B%5D=Huntington+Free+Library+Native+American+Collection">
        		<%= image_tag "thumbs/6790930.jpg" , alt: "", class: "img-responsive" %>
		    </a>
		</div>
		<div class="col-sm-8">
		    <h2><a href="/?f%5Bcollection_tesim%5D%5B%5D=Huntington+Free+Library+Native+American+Collection">Huntington Free Library Native American Collection</a></h2>
		</div>
	</div>
	<div class="collection">
		<div class="col-sm-4">
			<a href="/collection/bastides">
	        	<%= image_tag "thumbs/9225346.jpg" , alt: "", class: "img-responsive" %>
	        </a>
		</div>
		<div class="col-sm-8">
		    <h2><a href="/collection/bastides">John Reps Collection - Bastides</a></h2>
		</div>
	</div>
	<div class="collection">
		<div class="col-sm-4">
			<a href="/collection/persuasivemaps">
        		<%= image_tag "thumbs/8890000.jpg" , alt: "", class: "img-responsive" %>
        	</a>
		</div>
		<div class="col-sm-8">
		    <h2><a href="/collection/persuasivemaps">Persuasive Maps: PJ Mode Collection</a></h2>
		</div>
	</div>
</div>