<% content_for :page_title, 'Ezra Cornell Papers' %>
<div class="collection-banner collection-banner-ezra">
	<div class="container">
		<h2>Ezra Cornell Papers</h2>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Ezra+Cornell+Papers&view=list">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Ezra Cornell Papers"}  %>
			</div>
			<%= image_tag "collections/ezra/oldEzra.jpg", alt: "", class: "img-responsive" %>
			<p class="caption">
				 Ezra Cornell
			</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4 ezra-layout">
			<p>This collection consists of selected letters, notebooks and other materials pertaining to Cornell University's founder, Ezra Cornell. The materials come from the <a href="https://newcatalog.library.cornell.edu/catalog/2083900">Ezra Cornell papers</a>, collection # 1-1-1- in the Division of Rare and Manuscript Collections.</p>
			<p>The digitization for this collection was completed in the mid 1990s. The materials represented here are not exhaustive and in some cases physical material has since been added to the boxes and folders within the Ezra Cornell collection and is not included here.</p>
			<p>Ezra Cornell referred to himself as a farmer and mechanic who had spent some time working in the telegraph industry. His ambition and imagination, however, were not so prosaic. Skillful work, uncommon tenacity, and fortuitous circumstances resulted in his amassing a fortune. As soon as it became clear that it was a fortune, he promptly rejected conventional practice and sage advice, and directed that those riches be used to found a unique university: a comprehensive and practical institution dedicated to all forms of intellectual endeavor.</p>
			<p>Ezra Cornell spent much of his time far from home, walking through the ante-bellum south, selling plows in Maine, supervising the construction and operation of lines for the telegraph industry, and serving as a New York State legislator in Albany. Throughout these endeavors, he wrote detailed and descriptive letters to many members of a large family. Both he and they were careful to archive those letters, as well as many other documents related to his various enterprises. Similarly, as Cornell and Andrew Dickson White conceived, planned, and founded Cornell University, their correspondence closely noted the evolution of their dreams and their preparations for the University's opening and operation. These letters and documents show a practical but visionary man whose life both exemplified and shaped 19th century America. His close observations provide a contemporary account of the country's cultural development, the profound effects of industrialization and the Civil War, and his own role in engineering the century's principal communication technology and its most innovative educational experiment.</p>
			<p>The Cornell papers have for the most part been presented to the University by the Cornell family. Some material has been held by the Cornell University Library since the beginning of the University. Upon the establishment of the Collection of Regional History in 1942 and the University Archives in 1951, material has been held there and in its successor organizations, Cornell University Library's Department of Manuscripts and University Archives, and the Division of Rare and Manuscript Collections. Additional material was transferred to the University Archives from the DeWitt Historical Society of Ithaca, New York.</p>
			<p>For more information on Ezra Cornell and related materials housed within the University Archives see the following webpages:</p>
			<ul>
				<li><a href="http://resolver.library.cornell.edu/cgi-bin/EADresolver?id=RMA00001">Guide to the Ezra Cornell Papers, 1746-1888</a></li>
				<li><a href="http://rmc.library.cornell.edu/Ezra/exhibition/introduction/index.html">"I Would Found an Institution": The Ezra Cornell Bicentennial exhibition</a></li>
				<li><a href="http://rmc.library.cornell.edu/Ezra-exhibit/entrance.html">Ezra Cornell's Life and Times exhibition</a></li>
				<li><a href="https://newcatalog.library.cornell.edu/catalog/1560587">Genealogy of the Cornell Family</a> by John Cornell (published in 1902)</li>
			</ul>
		</div>
	</div>
</div>