<div class="header-collection">
	<div class="container">
		<div class="collection-brand">
			<h1 class="collection-title"><a href="/aerialny">New York State Aerial Photographs</a></h1>
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			  	<span class="fa fa-bars"></span>
			    <span class="hidden-xs">Menu</span>
			  </button>
			  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			    	<li><a href="/aerialny">Home</a></li>
					<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=New+York+State+Aerial+Photographs">Browse collection</a></li>
					<li><a href="/aerialny/using">Using the collection</a></li>
					<li><a href="/aerialny/about">About the project</a></li>
					<li><a href="/aerialny/contact">Contact</a></li>
			  </ul>
			</div>
		</div>
	</div>
</div>