<div class="header-collection">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="collection-title">New York Aerial Photographs</h1>
			</div>
			<div class="col-sm-6">
				<a class="btn btn-collection visible-xs" role="button" data-toggle="collapse" href="#collection-menu" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"><span class="sr-only">Collection menu</span></i></a>
				<div class="navbar collapse in" id="collection-menu">
					<ul class="nav nav-pills nav-collection">
						<li><a href="/aerialny">Home</a></li>
						<li><a href="/aerialny/collection?q=&search_field=all_fields">Browse collection</a></li>
						<li><a href="/aerialny/using">Using the collection</a></li>
						<li><a href="/aerialny/about">About the project</a></li>
						<li><a href="/aerialny/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>