<%= render :partial => 'shared/header_navbar' %>
<div id="main-container">
	<%= render partial: 'pages/aerialny/header' %>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div id="sidebar">
					<%#= render 'catalog/facets' %>
					[Facets go here]
				</div>
			</div>
			<div class="col-sm-8">
				<h2>Contact</h2>
				<p>For questions regarding content and usage of this collection, please contact:</p>
				<p><strong>Cornell Institute for Resource Information Sciences (IRIS)</strong><br>
				Cornell University<br>
				302 Rice Hall<br>
				Ithaca, NY 14853<br>
				Web site: <a href="http://iris.css.cornell.edu/">http://iris.css.cornell.edu/</a><br>
				Email: <a href="mailto:iris@cornell.edu">iris@cornell.edu</a><p>
				<p>For technical questions related to this web site, please contact:</p>
				<p><strong>Digital Consulting and Production Services (DCAPS)</strong><br>
				Cornell University Library<br>
				218 Olin Library<br>
				Ithaca, NY 14853<br>
				Web site: <a href="http://dcaps.library.cornell.edu/">http://dcaps.library.cornell.edu/</a><br>
				Email: <a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a></p>
			</div>
		</div>
	</div>
</div>