<div id="main-container">
	<div class="header-collection">
		<div class="container">
			<h1 class="collection-title">New York Aerial Photographs</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div id="sidebar">
					<%#= render 'catalog/facets' %>
					[Facets go here]
					<div class="collection-nav">
						<ul class="nav">
							<li><a href="#">About the project</a></li>
							<li><a href="#">Data description</a></li>
							<li><a href="#">County data</a></li>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Terms of use</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<p class="lead">This site presents a series of historical aerial photographs of the state of New York. It was produced under a Cornell University Library Faculty Grant to Eugenia M. Barnaba, Program Leader, Resource Inventory Cornell Institute for Resource Information Sciences.</p>
				<p><a class="btn btn-info" href="/aerialny/collection?q=&search_field=all_fields">Browse the New York Aerial Photographs Collection</a></p>
			</div>
		</div>
	</div>
</div>