<div id="main-container">
	<%= render partial: 'pages/aerialny/header' %>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div id="sidebar">
					<%#= render 'catalog/facets' %>
					[Facets go here]
				</div>
			</div>
			<div class="col-sm-9">
				<div class="well">
					<p class="lead">This collection presents a series of historical aerial photographs of the state of New York. It was produced under a Cornell University Library Faculty Grant to Eugenia M. Barnaba, Program Leader, Resource Inventory <a href="http://www.css.cornell.edu/iris/">Cornell Institute for Resource Information Sciences</a>.</p>
					<ul>
						<li><a href="/?f%5Bcollection_tesim%5D%5B%5D=New+York+State+Aerial+Photographs&view=maps">Browse the collection</a></li>
						<li><a href="/aerialny/using">Using the collection</a></li>
						<li><a href="/aerialny/about">About the project</a></li>
						<li><a href="/aerialny/contact">Contact</a></li>
					</ul>
				</div>
					<!-- <a class="btn btn-info btn-lg btn-browse" href="/?f%5Bcollection_tesim%5D%5B%5D=New+York+State+Aerial+Photographs">Browse the New York Aerial Photographs Collection</a> -->
				<%= image_tag "sets/aerialny/nycounty.jpg" , alt: "", class: "img-thumbnail img-responsive center-block" %>
			</div>
		</div>
	</div>
</div>