<div id="main-container">
	<%= render partial: 'pages/aerialny/header' %>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div id="sidebar">
					<%#= render 'catalog/facets' %>
					[Facets go here]
				</div>
			</div>
			<div class="col-sm-8">
				<p class="lead">This site presents a series of historical aerial photographs of the state of New York. It was produced under a Cornell University Library Faculty Grant to Eugenia M. Barnaba, Program Leader, Resource Inventory Cornell Institute for Resource Information Sciences.</p>
				<p><a class="btn btn-info" href="/aerialny/collection?q=&search_field=all_fields&view=maps">Browse the New York Aerial Photographs Collection</a></p>
			</div>
		</div>
	</div>
</div>