<div id="main-container">
	<%= render partial: 'pages/aerialny/header' %>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div id="sidebar">
					<%#= render 'catalog/facets' %>
					[Facets go here]
				</div>
			</div>
			<div class="col-sm-9">
				<h2>Terms of Use</h2>
				<h2>NOTICE</h2>

				<h3>WARNING CONCERNING COPYRIGHT RESTRICTIONS</h3>
				<p>The copyright law of the United States (title 17, United States Code) governs the making of reproductions of copyrighted material. Under certain conditions specified in the law, libraries and archives are authorized to furnish reproductions of materials they hold. One of the specified conditions is that the reproduction is not to be used "for any purpose other than private study, scholarship or research."</p>

				<p>Users of the collections are expected to abide by all copyright laws. Digital reproductions available through the Luna Insight browser from the New York State Aerial Photographs Collection may be copied and used freely for the purposes of private study, scholarship or research without written permission. If a user makes a request for, or later uses, a reproduction for purposes in excess of the conditions of "fair use" described above, that user may be liable for copyright infringement.</p>

				<h3>PERMISSIONS TO PUBLISH AND FOR OTHER USES</h3>
				<p>Reproductions of materials from the New York State Aerial Photographs Collection for purposes other than private study, scholarship, or research (including publication, either in print or on the Internet) requires one, and possibly two, permissions. First, if the underlying work is not in the public domain, then the permission of the copyright owner is required.</p>

				<p>In addition, permission from Cornell University, the owner of the digital file, is always required, regardless of the copyright status of the work. Requests should be made in writing to the Copyright Services Office, Cornell University Library. Permission requests should include: Luna image ID number, title of publication, expected date of publication, type of publication (scholarly, general, etc.) and expected print run or distribution. We will then review the request and respond regarding the permission and publication fee.</p>

				<p>Address correspondence to:</p>

				<p>Copyright Services Office<br>
				Cornell University Library<br>
				218 Olin Library<br>
				Cornell University<br>
				Ithaca, New York 14853</p>

				<p>Fax: (607) 254-5419<br>
				email: <a href="mailto:copyright@cornell.edu">copyright@cornell.edu</a></p>

				<p>The Copyright Services Office, Cornell University Library reserves the right to refuse a reproduction request if, in its judgment, fulfillment of the request would involve violation of copyright law.</p>			
			</div>
		</div>
	</div>
</div>