<div id="main-container">
	<%= render partial: 'pages/aerialny/header' %>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div id="sidebar">
					<%#= render 'catalog/facets' %>
					[Facets go here]
				</div>
			</div>
			<div class="col-sm-8">
				<h2>Using the collection</h2>
				<p>The aerial photographs in this collection may be accessed by browsing or searching. For copyright information, please see our <a href="/aerialny/terms">Terms of Use</a>.</p>
				<h3>Data description</h3>
				<p>All of the aerial photographs in this collection are black and white, direct contact prints. That is, printed directly negative to paper; no enlargement or reduction. The images are vertical aerial photographs taken by aerial mapping cameras mounted in aircraft flown along flight lines.</p>
				<p>In the respective county collections, the photographs have been acquired in a north/south or south/north direction of flight. The date of acquisition (month/day/year) is often found in the upper left hand corner of the photograph.</p>
				<p>Other identifiers are found in the upper right hand corner. In the case of aerial photographs acquired by the U.S. Dept. of Agriculture can be found the symbol identifying either the county or project, roll and exposure number.</p>
				<p>For example:</p>
				<blockquote>
					<p>ARW = Cayuga<br>
						ASK = Cortland<br>
						ARU = Tompkins<br>
						ARO = Wayne<br>
						AJ = A Regional Project that encompasses multiple counties
					</p>
				</blockquote>
				<p>Other acquisitions may simply identify the roll or strip number and exposure number in the upper right hand corner.</p>
				<h3>County data</h3>
				<p>At the time of original acquisition of the aerial photographs in this collection, the imagery was acquired with stereoscopic coverage for the entire county. For purposes of this project, however, only monoscopic coverage, or every other frame, is shown. In the selecting of photographic coverage, however, every effort has been made to provide complete county cover.</p>
				<p>Variations in the number of photographs that cover each county can be attributed to size of the original contact print, scale of the imagery and the total land area of each county. For example:</p>
				<blockquote>
					<p>Cayuga County = 693.3 square miles in size (443,712 acres);<br>
						Cortland = 499.7 square miles (319,808 acres);<br>
						Tompkins = 476.1 square miles (304,704 acres); and<br>
						Wayne = 604.2 square miles (386,688 acres).
					</p>
				</blockquote>
				<p>This collection is comprised of:</p>
				<h4>Cayuga County</h4>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>Year</th>
							<th># Photographs</th>
							<th>Scale</th>
							<th>Collected by</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1938</td>
							<td>255</td>
							<td>1:20,000</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
						<tr>
							<td>1954</td>
							<td>228</td>
							<td>1:20,000</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
						<tr>
							<td>1963</td>
							<td>204</td>
							<td>1:20,000</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
					</tbody>
				</table>
				<h4>Cortland County</h4>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>Year</th>
							<th># Photographs</th>
							<th>Scale</th>
							<th>Collected by</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1936/37</td>
							<td>199/44</td>
							<td>1:15,840</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
						<tr>
							<td>1955</td>
							<td>146</td>
							<td>1:20,000</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
						<tr>
							<td>1965/66</td>
							<td>20/116</td>
							<td>1:20,000</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
					</tbody>
				</table>
				<h4>Tompkins County</h4>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>Year</th>
							<th># Photographs</th>
							<th>Scale</th>
							<th>Collected by</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1936P</td>
							<td>50</td>
							<td>1:15,840</td>
							<td>Robinson Aerial Surveys</td>
						</tr>
						<tr>
							<td>1938P</td>
							<td>131</td>
							<td>1:20,000</td>
							<td>Robinson Aerial Surveys</td>
						</tr>
						<tr>
							<td>1954</td>
							<td>130</td>
							<td>1:20,000</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
						<tr>
							<td>1964</td>
							<td>134</td>
							<td>1:20,000</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
						<tr>
							<td>1980</td>
							<td>79</td>
							<td>1:24,000</td>
							<td>AeroGraphics Corp.</td>
						</tr>
						<tr>
							<td>1991</td>
							<td>94</td>
							<td>1:24,000</td>
							<td>Kucera International</td>
						</tr>
					</tbody>
				</table>
				<h4>Wayne County</h4>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>Year</th>
							<th># Photographs</th>
							<th>Scale</th>
							<th>Collected by</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1938</td>
							<td>208</td>
							<td>1:20,000</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
						<tr>
							<td>1954</td>
							<td>167</td>
							<td>1:20,000</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
						<tr>
							<td>1963</td>
							<td>159</td>
							<td>1:20,000</td>
							<td>U.S. Dept. of Agriculture</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>